<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:olive;" ><b>Sales Contract/ Subscription Management and Recurring Invoice</b></h2>
        <p style="color:purple; font-size: 17px;"> <b>This module allow you to create product for warranty/maintenance/subscription 
        and based on that product on Sales order line it will create sales contract for that customer 
        automatically on confirmation of sales order. It is also allowing you to create recurring 
        invoice from contract based on period configured on contract. It also support in future if 
        you sale some more service on same contract then you can select that contract on quote/sales 
        order and it will append that line on contract.</p>
        <p style="color:CRIMSON; font-size: 17px;"><b>
            Main Features:
        </p>
        <p style="color:olive; font-size: 17px;">
        <ul style="font-size: 17px;">
            <li style="color:olive;">
                Allow you to create a product for subscription so products which are set as subscription products then system will automatically create contract/subscription when sales order of that product is confirmed.
            </li>
            <li style="color:olive;">
                Allow your sales team and accounting team to work on Subscription/Contract created from Sales order.
            </li>
            <li style="color:olive;">
                Details of Sales order and Sales order lines will be available on Subscription/Contract form.
            </li>
            <li style="color:olive;"> 
                Subscription lines will be available on Subscription form which are created from Sales order.
            </li>
            <li style="color:olive;">
                Allow you to set up recurring periods on Subscription and invoice based on that.
            </li>
            <li style="color:olive;">
                Quick generate customer invoice from Subscription(s) form.
            </li>
            <li style="color:olive;"> 
                Cron Job to automate invoice creation process by system until Subscription reached its end date.
            </li>
            <li style="color:olive;"> 
                Mass customer invoice generation facility for Subscription(s).
            </li>
            <li style="color:olive;">
                Manual Process to Generate Invoice directly from Contract menu and Generate Invoice Button.
            </li>
            <li style="color:olive;">
                Manual Process to Generate Recurring Invoices wizard in single click.
            </li>
            <li style="color:olive;">
                Automatic create Recurring Customer Invoice/Bill using cron job for Subscription/Contract.
            </li>
            <li style="color:olive;"> 
                Print Subscription/Contract in PDF format.
            </li>
            <li style="color:olive;"> 
                If Subscription / Contract on Sales order then system will just append new Subscription lines inside that and will not create new Subscription for that sales order.
            </li>
            <li style="color:olive;"> 
                for more details please see below screenshots and watch the video.
            </li>
            <li style="color:red; font-size: 22px;"><h4>ONLY FOR ODOO COMMUNITY EDITION.</h4></li>
        </ul>
        </p>

        <p style="color:crimson; font-size: 17px;">
            <h4 style="color:crimson; font-size: 17px;"><strong>Available Menus:</strong></h4>
            <ul style="color:olive; font-size: 17px;">
                    <li style="color:olive;">Sales/Sales/Contracts</li>
                    <li style="color:olive;">Sales/To Invoice/Generate Recurring Invoice</li>
            </ul> 
        </p>
        <p style="color:CRIMSON; font-size: 20px;"><b>
            Process Options of Sales Contract/ Subscription Management and Recurring Invoice:
        </p>
        <p style="color:crimson;">
            <h3 style="color:crimson;">Configuration:</h3>
                <li style="color:olive;font-size: 19px;">Configure product as Contract/Warranty/Subscription Product under Products menu.</li>
                <li style="color:olive;font-size: 19px;">Configure Quotation Template and Template Lines under Configuration/Quotation Template Menu.</li>
                <br/>
            <h3 style="color:crimson;">Process:</h3>
                <li style="color:olive;font-size: 19px;">There are two process of Contract recurring invoice analytic. 
                    <br/>
                        <p style="color:Crimson;font-size: 19px;">
                            Option 1. Create New Contract/Subscription from Quote / Sale Order
                            <br/>
                            Option 2. Update Existing Contract/Subscription from Quote / Sale Order
                        </p>
                </li>
                <h4 style="color:#ff8000;">Option 1. Create New Contract/Subscription from Quote / Sale Order:</h4>
                    <li style="color:olive;font-size: 19px;">Allow you to create new contract once sales order will be confirmed.</li>
                    <li style="color:olive;font-size: 19px;">Created Contract will appear in Contract menu.</li>
                    <li style="color:olive;font-size: 19px;">Workflow on Contract Form.</li>
                    <li style="color:olive;font-size: 19px;">Contract will show contract lines and sales line.</li>
                    <br/>
                <h4 style="color:#ff8000;">Option 2. Update Existing Contract/Subscription from Quote / Sale Order</h4>

                <li style="color:olive;font-size: 19px;">Allow you to update existing contract which have been selected on sales order during confirm so all subscription product and its update will be recorded on existing contract/subscription lines and if there is new product in this sales order it will be added as new contract lines.</li>
                <li style="color:olive;font-size: 19px;">Workflow on Contract Form.</li>
                <li style="color:olive;font-size: 19px;">Contract will show contract lines and sales line.</li>
            <br/>
            <h3 style="color:crimson;">Process (Options) of Generate Invoice:</h3>
                <li style="color:olive;font-size: 19px;">Option 1. Manually Generate invoice from Generate invoice button on contract/subscription form.</li>
                <li style="color:olive;font-size: 19px;">Option 2. Automatic Create Customer Recurring Invoice/Bill using Cron Job.</li>
                <li style="color:olive;font-size: 19px;">Option 3. Manual Process to Generate Recurring Invoices using wizard for multiple contracts/subscriptions.</li>
                <br/>
            <h3 style="color:crimson;">Reports:</h3>
                <li style="color:olive;font-size: 19px;">Print Contract/Subscription PDF Report.</li>
            <br/>
        </p>

        <p style="color:blue; font-size: 17px;">
            For more features/apps you can also see full bundle: https://apps.odoo.com/apps/modules/14.0/subscription_recurring_contract_bundle/ 
        </p>
    </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                    </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">  Only  Community</span>
              </center>
            </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Product Configuration</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;" >
                Create product as Contract/Warranty/Subscription product and set Recurring Period.
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="1.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Quotation Template</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;" >
                Create your custom quotation template using contract/subscription product this will allow you to select on sale order and auto set contract/subscription line on sales order.<br/>
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Case 1 - Sales Quote / Sale Order</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;" >
                Create Quote by selecting Quotation template and that will set contract/warranty line on sale order lines along with selling product lines.<br/> We have to select recurring period on sales order which will be used during recurring invoice creation from contract.<br/>
            <p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="3.1.png">
            <img src="3.2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Sale Order Confirmation</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;" >
                If you have not selected Analytic Account / Contract on Sales order then it will create new Contract / Analytic Account for that customer.<br/>               Module also support like if you have selected existing Contract/ Analytic Account then it will append Subscription/Contract line into existing contract. (For new subscription product it will append in contract but for existing subscription product it will increase qty in contract.)
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="4.1.png">
            <img src="4.12.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Contract from Sale Order Confirmation</h2>
        <h4>
            <p style="color:green; font-size: 17px;" >
                We have separated Contract/Subscription lines and Sellable Product lines.<br/>
                You can find new fields on contract/analytic account as below which will allow you to manage customer contract and recurrning invoice.
                <ul style="color:green;  font-size: 17px;"  class="list-unstyled">
                    <li style="color:green; " >Recurring Period: Invoice creation period.</li>
                    <li style="color:green;" >Contract Expiration Days: Set contract stage set to "Expires Soon" before end date.</li>
                    <li style="color:green;" >Date Of Next Invoice: Next invoice will create on this date.</li>
                    <li style="color:green;" >Order/Invoice Currency: Invoice will create in this currency and this currency is fetch from Sale Order</li>
                    <li style="color:green;" >Stage: Contract Status (New->Running->Expires Soon->Expired->Locked)</li>
                <ul>
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="5.1.png">
            <img src="5.2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Selling Product On Contract</b></h2>
        <p style="color:green; font-size: 17px;"> Using selling product you can have idea for this contract which product originally sold with qty sold and pricing details. And it can be used in future.
        <div class="oe_demo oe_screenshot">
            <img src="5.1.png">
            <img src="6.2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Recurring Invoice from Contract</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                Create Recurring Invoice from Contract using Generate Invoice button on contract form. And Invoice will be created with only contract/warranty/subscription product lines in contract currency.
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="7.1.png">
            <img src="7.2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Case 2 - Existing Contract On Sale Order</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                If we have selected contract on Sale Order then it will merge/append contract/subcription product lines to contract subscription lines.<br/>
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="8.1.png">
            <img src="8.2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Added Contract/Subcription Lines on Contract</b></h2>
        <h4>
            <!-- <p style="color:green; font-size: 17px;">
                If we have same warranty/contract/subcription line on selected contract then it will increase product quantity otherwise it will create new contract/subscription lines.<br/>
            </p> -->
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="10.1.png">
            <img src="new.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Updated Contract/Subcription Lines on Contract</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                If we have same warranty/contract/subcription line on selected contract then it will increase product quantity otherwise it will create new contract/subscription lines
               <br/>
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="11.png">
            <img src="new12.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Updated (Without Contract/Subcription Product) Sale Order Lines on Contract</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                If we added Selling Product line on selected contract then it will updated or added product in Sale Order Lines.<br/>
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="11.png">
            <img src="12.2.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Automatic Create Customer Invoice/Bill using Cron Job</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                Cron will search for all contract/subscriptions which has "Date of Next Invoice" is equal to Today date and create invoice for that contract.<br/>
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="13.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Manual Process to Generate Recurring Invoices Wizard in Single Click</h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                This wizard will search for all Contracts / Subscriptions which has "Date of Next Invoice" is equal to Start date on wizard.
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="14.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Print Contract Report</b></h2>
        <div class="oe_demo oe_screenshot">
            <img src="15.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson;"><b>Contract PDF Report</b></h2>
        <h4>
            <p style="color:green; font-size: 17px;">
                Customized report of contract with full details and you can send to you customer. :)
            </p>
        </h4>
        <div class="oe_demo oe_screenshot">
            <img src="re1.png">
            <img src="re2.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
       </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
       <div class="mt32 oe_span6">
          <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
