<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Approval Workflow</b></h2>
        <h2 class="oe_slogan" style="color:olive;"><b>Equipment Maintenance Request Approval Workflow in Odoo</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 21px;">
            This app add approval workflow and allowed users on stage form of maitenance request form.
        </p><br/>

   <b style="color:crimson;font-size:21px;"> Main Features : </b><br>
            <ul style="font-size: 20px;">
                <li style="color:olive;">Allow Users configuration on the stage of maintenance request.</li>
                <li style="color:olive;">Only allowed users on stage can move request to that stage.</li>
                <li style="color:olive;">For more details please watch the video and check below screenshots.</li>
            </ul>
    </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                  </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Enterprise</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Odoo.sh</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Community</span>
              </center>
              <br/>
       </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
         <h2 class="oe_slogan" style="color:crimson;"><b>Maintenance Stage List View (Odoo Standard)</b></h2>
        <br/>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="1_main.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Stage First Approval Form View With Allow users</b></h2>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="2_main_stage_form.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Stage Second Approval Form View With Allow users</b></h2>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="3_main_stage_form.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Stage In Progress Form View With Allow users</b></h2>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="4_main_stage_form.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With First Approval</b></h2>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="5_main_form_not.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With Warning Message</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 15px;">
            If login user is not in allowed users then they will get the warning message.  
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="6_main_form_error.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With First Approval</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 15px;">
            If login user is in allow users then they can change the maintenance stage.  
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="7_main_form_allow.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With Second Approval</b></h2>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="8_main_form_not.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With warning Message</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 15px;">
            If login user is not in allowed users then they will get the warning message.  
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="9_main_form_error.png">
            </div>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With Second Approval</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 15px;">
            If login user is allow user so he/she can change the maintenance stage.  
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="10_main_form_allow.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With In Progress</b></h2>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="11_main_form_not.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With Warning Message</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 15px;">
            If login user is not in allowed users then they will get the warning message.  
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="12_main_form_error.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:CRIMSON;"><b>Maintenance Request Form View With In Progress</b></h2>
        <p class="oe_mt32" style="color:CRIMSON;font-size: 15px;">
            If login user is allow user so he/she can change the maintenance stage.  
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="13_main_form_allow.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 oe_span6">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
