<section class="oe_container" >
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color: #006699;">
       <b> PDF Reports Creator </b> 
     </h2>
     <h3 class="oe_slogan" style="color: #0099e6;">
       <b>
        This module allows user to create report templates from the GUI , 
        <br>
        <center>
          with 20 report templates in 
        </center>
        mail , hr , hr contract , account , sale , purchase , stock , point of sale 
      </b> 
    </h3>
  </div>
</div>
</section>

<section class="oe_container oe_dark">
  <center><h3 style="color: #2929a3;font-size: 24px;"> Create Report Template </h3></center>
  <div class="oe_row oe_spaced">
    <div class="oe_span6">
      <div class="oe_row_img oe_centered">
       <img src="man_index_1.png" style="box-shadow: 5px 5px #ccccb3;width: 500px;height: 250px;border: 2px solid #999966;border-radius: 10px;">
     </div>
   </div>
   <div class="oe_span6">
    <p class="oe_mt32">
     <br>
     Form this page you can create new template for one or more object on your system 
     <br>
     To create template you have to write the template name , select the object that you want to read it's data , check apply to models if you want to create this template for more than one model , check use as sample it you want to use this template as sample template inorder to use it agine for many models , and then design your template in the text editor area 
   </p>
 </div>
</div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <div class="oe_span6" style="width: 400px;">
      <p class="oe_mt32">
       <h3 style="color: #2929a3;"> Using the text editor </h3>
       <br>
       To design report formate we have to use the test editor in odoo which give us many option to desing text and upload images and more , and also we can read data of one field from the object that we selected by typing 
       <br>
       <b>
        S{object.field_name}
      </b>
      <br>
      EG : say we selected the employee name and we want to read the age of the employee which is stored in afield by name "emp_age" , so we can do it as 
      <b>
        S{object.emp_age}
      </b>
      <br>
    </p>
  </div>
  <div class="oe_span6">
    <div class="oe_row_img oe_centered">
     <img src="man_index_3.png" style="box-shadow: 5px 5px #ccccb3;width: 640px;height: 250px;border: 2px solid #999966;border-radius: 10px;">
   </div>
 </div>
</div>
<div class="oe_row oe_spaced">
  <div class="oe_span6" style="width: 400px;">
    <p class="oe_mt32">
     <h3 style="color: #2929a3;"> Paper Format </h3>
     <br>
     In the template creation page you can fine paper formate page which allows you to define the paper marigns , size and  orientation
     <br>
   </p>
 </div>
 <div class="oe_span6">
  <div class="oe_row_img oe_centered">
   <img src="man7.png" style="box-shadow: 5px 5px #ccccb3;width: 640px;height: 250px;border: 2px solid #999966;border-radius: 10px;">
 </div>
</div>
</div>

<div class="oe_row oe_spaced">
  <div class="oe_span6" style="width: 400px;">
    <p class="oe_mt32">
     <h3 style="color: #2929a3;"> Available Fields </h3>
     <br>
     In this page you can find all available fields from the models you selected which you can read data stored in any one of them 
     <br>
   </p>
 </div>
 <div class="oe_span6">
  <div class="oe_row_img oe_centered">
   <img src="man8.png" style="box-shadow: 5px 5px #ccccb3;width: 640px;height: 250px;border: 2px solid #999966;border-radius: 10px;">
 </div>
</div>
</div>
<div class="oe_row oe_spaced">
  <div class="oe_span6" style="width: 400px;">
    <p class="oe_mt32">
     <h3 style="color: #2929a3;"> Samples </h3>
     <br>
     In this page you can find all available sample templates that you had already created and defined them as sample templates , and after selecting one of them it's text area content will be written in the current text area and then you can edit as you want 
     <br>
   </p>
 </div>
 <div class="oe_span6">
  <div class="oe_row_img oe_centered">
   <img src="man9.png" style="box-shadow: 5px 5px #ccccb3;width: 640px;height: 250px;border: 2px solid #999966;border-radius: 10px;">
 </div>
</div>
</div>
</section>

<section class="oe_container oe_dark">
  <center><h3 style="color: #2929a3;font-size: 24px;"> Print Report </h3></center>
  <div class="oe_row oe_spaced">
    <div class="oe_span6">
      <div class="oe_row_img oe_centered">
       <img src="man_index_1.png" style="box-shadow: 5px 5px #ccccb3;width: 500px;height: 250px;border: 2px solid #999966;border-radius: 10px;">
     </div>
   </div>
   <div class="oe_span6">
    <p class="oe_mt32">
     <br>
     Form create new report page you can create and print new report for one record from one model by using template that you had already created 
     <br>
   </p>
 </div>
</div>
</section>

<br><br>

<section class="oe_container oe_dark">
  <center>
    <h3 style="color: #2929a3;font-size: 24px;">
     Created Templates
   </h3>
 </center>
 <br>
   <b>
     With this module you can fined 20 templates for many models that we had already created
   </b>
   <br><br>
   <n>
     1- Customer Invoice Classic Template
     <br>
     2- Customer Invoice Modern Template (1)
     <br>
     3- Customer Invoice Modern Template (2)
     <br>
     4- Customer Invoice Modern Template (3)
     <br>
     5- Arabic Employee Contract
     <br>
     6- English Employee Contract
     <br>
     7- Arabic English Employee Contract
     <br>
     8- Classic Employee Data Template
     <br>
     9- Employee Experience Certificatee
     <br>
     10- Employee ID Card Template (front side)
     <br>
     11- Employee ID Card Template (back side)
     <br>
     12- Partner Calssical Template
     <br>
     13- Partner Modern Template
     <br>
     14- POS Products Pricelist (Restaurant)
     <br>
     15- Purchase O/Q Classic Template
     <br>
     16- Purchase O/Q Modern Template (1)
     <br>
     17- Purchase O/Q Modern Template (2)
     <br>
     18- Sale O/Q Classic Template
     <br>
     19- Sale O/Q Modern Template (1)
     <br>
     20- Sale O/Q Modern Template (2)
     <br>
   </n>
</section>

<br><br>

<section class="oe_container oe_dark">
  <center>
    <h3 style="color: #2929a3;font-size: 24px;">
      Demo 
    </h3>
  </center>
  <div style="margin-left: 3%;">
    <img src="demo_1.gif" style="box-shadow: 5px 5px #ccccb3;width: 94%;height: 550px;border: 2px solid #999966;border-radius: 10px;">
  </div>
</section>
<br><br><br><br>

<section class="oe_container oe_dark">
  <center>
    <h3 style="color: #2929a3;font-size: 24px;">
      The 20 report templates review 
    </h3>
  </center>
  <div style="margin-left: 3%;">
    <img src="demo_2.gif" style="box-shadow: 5px 5px #ccccb3;width: 90%;height: 750px;border: 2px solid #999966;border-radius: 10px;">
  </div>
</section>

