<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan"><b style="color:crimson;">Maintenance Request from Website by Customer</b></h2>
        <h2 class="oe_slogan"><b style="color:purple;">Customer Website Maintenance Request Form</b></h2>
         <h2 class="oe_slogan"><b style="color:green;">Equipment Maintenance Request Website Form Odoo App</b></h2>
        <p class="oe_mt32"  style="color:crimson;">
        <p style="color:green;font-size: 20px;">This app allows your customer / contact to make equipment maintenance requests from your website.</p>
        <p><b style="color:crimson;font-size: 20px;">Main Features:</b></p>
          <ul>
                 <li style="color:olive;font-size: 20px;">This module allows Customer/portal users/Servicemen/Contractors/Partners/Agents/Contacts to send equipment maintenance requests from the website.</li>
                 <li style="color: olive;font-size: 20px;">Website form with maintenance details with attachments can be submitted from website request form.</li>
                 <li style="color: olive;font-size: 20px;">They will receive acknowledgement mail after submitting a request.</li>
                <li style="color: olive;font-size: 20px;">After submitting the maintenance request system will create maintenance requests in the backend menu of Odoo.</li>
                <li style="color: olive;font-size: 20px;">For more details please check below screenshots.</li>
                 <!--<li style="color: olive;font-size: 20px;">More videos:<a href="https://youtu.be/dbxpZg0WxHU" target="new">https://youtu.be/dbxpZg0WxHU</a><br><a href="https://youtu.be/dbxpZg0WxHU" target="new">https://youtu.be/dbxpZg0WxHU</a> </li>-->
          </ul>
    </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                  </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Enterprise</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Odoo.sh</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Community</span>
              </center>
              <br/>
       </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Maintenance Request Page Website</b></h2>
            <div class="oe_demo oe_screenshot">
                <img src="main1.png">
            </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Submit Equipment Maintenance Request Form</b></h2>
            <div class="oe_demo oe_screenshot">
                <img src="main2.png">
            </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Page on Website For Maintenance Request</b></h2>
        <div class="oe_demo oe_screenshot">
            <img src="main3.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Thank You Message on Submittion</b></h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="main4.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Maintenance Menu (Odoo Standard)</b></h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="main5.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Maintenance Requests Menu (Odoo Standard)</b></h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="main6.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Created Maintenance Request in Backend (Odoo Standard)</b></h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="main7.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Maintenance Request in Backend Attachments (Odoo Standard)</b></h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="main8.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan"><b style="color:crimson;">Confirmation Email to User/Customer on Receiving Request from Website</b></h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="main9.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container" >
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
       </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
       <div class="mt32 oe_span6">
          <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
