
         <div class="oe_styling_v8">
            <section class="oe_container">
               <div class="oe_row oe_spaced">
                  <div class="container mt32">
                     <div class="oe_span12 text-center">
                        <div style="text-align: center; margin-top:30px; margin-bottom:30px;"><a href="https://www.appjetty.com/odoo-development.htm" style="display: inline-block; margin:auto; background:#03aee4; color: #fff; font-weight: bold; font-size: 18px; padding: 0 33px; line-height: 45px; border-radius: 5px;">Get Free Odoo Consultancy</a></div>
                        <h1 class="" style="margin-bottom: 20px; font-size: 36px; color: #03aee4;"><strong>Smarten Up Your E-Store Reports with Professionally Designed Reports for Invoices, S.O, P.O, Delivery Notes, R.F.Q, and Picking Operation List</strong></h1>
                        <p class="text-muted lead">Handle and customize multiple reports for your Odoo store seamlessly with the Clever All in One Report Templates app by AppJetty. You get 8 templates for Invoices, Sales Orders, Purchase Orders, Request for Quotation, Delivery notes and picking Operation list that will give a professional look to your reports. Now leave a last first as well as last impression with your customers using our Clever All in One Report.
                           Be it setting template base or text color, adding product images in invoices or a watermark logo, or more, you can do it all with this all-in-one report template app. The cherry on the top: these templates are fully customizable which you can tailor any time as per your requirement.  
                        </p>
                        <p style="font-size: 22px; font-weight: bold; margin-top: 40px; margin-bottom: 10px; border-radius: 5px;"><span style="background: #03aee4; border-radius: 5px; padding: 10px 30px; color: #fff; display: inline-block;">Latest Version :- 13.0.1.0.2</span></p>
                     </div>
                  </div>
               </div>
            </section>
            <section>
               <div class="container mt32">
                  <div class="row">
                     <div class="col-md-12 mb32">
                        <h2 class="oe_slogan" style="margin-top:0; margin-bottom: 20px; text-align: center; color: #03aee4;"><span class="label label-warning orders_label_text_align"> <span class="fa fa-file-text-o" style="font-size: 30px; padding-right: 10px;"></span >Types of Templates </span></h2>
                        <div class="template-type">
                           <div class="template-description">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6 text-center">
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align:center; font-size: 1.35416667rem; margin-bottom: 10px;">
                                          Customize templates further in terms of font size, font color, company logo, and many other features. Also, you can generate the preview of the final report to get the idea of how it looks before sending it to your customers.
                                       </p>
                                       <p style="text-align: center; font-size: 1.35416667rem;">
                                          You can set default templates on the individual level based on the customers or types of reports as well as on the global level. And if you have set a default template on the individual level, then that template style will be given priority.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="text-left">
                              <div class="dt-iconboxes layout-6 text-left">
                                 <div class="dt-iconboxes-text">
                                    <p style="text-align: left;"></p>
                                    <ul style="list-style: none; padding: 0;">
                                       <div class="row" style="-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center">
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width:100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="contemporary.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Contemporary Template</span>
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="elegant.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Elegant Template</span>
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="creative.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Creative Template</span>
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="professional.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Professional Template</span>
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="advanced.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Advanced Template</span>
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="exclusive.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;"> Exclusive Template</span>
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="incredible.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Incredible Template</span> 
                                          </li>
                                          <li class="col-lg-3 col-md-6" style="text-align: center; margin: 20px 0;">
                                             <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="innovative.jpg" alt="">
                                             <span class="image-desc" style="display: block; font-size: 18px; margin-top: 20px; font-weight: 600;">Innovative Template</span> 
                                          </li>
                                       </div>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section style="margin-top: 30px;">
               <div class="container mt32">
                  <h2 class="oe_slogan" style="text-align: center; margin-bottom: 20px; color: #03aee4;"><span class="label label-success orders_label_text_align"> <span style = "padding-right: 10px; font-style: 30px;" class="fa fa-star-o"></span>Watermark Your Reports</span></h2>
                  <div class="text-center">
                     <div class="dt-iconboxes layout-6 text-center">
                        <div class="dt-iconboxes-text">
                           <p style="text-align: center; font-size: 1.35416667rem;">
                              Give a professional touch by adding a watermark to your reports. Print anything like a simple expression, timestamp, your company logo, details, user details as a watermark on your report with our all-in-one report app.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="text-center">
                     <ul style="list-style: none; padding: 0;">
                        <div class="row" style="-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;">
                           <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                              <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="water-mark-1.jpg" alt="">
                           </li>
                           <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                              <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="water-mark-2.jpg" alt="">
                           </li>
                           <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                              <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="water-mark-3.jpg" alt="">
                           </li>
                        </div>
                     </ul>
                  </div>
               </div>
            </section>
            <section style="margin-top: 30px;">
               <div class="container mt32">
                  <h2 class="oe_slogan" style="margin-bottom: 20px; text-align: center; color: #03aee4;">Append Your Extra Content to Reports</h2>
                  <div class="text-center">
                     <div class="dt-iconboxes layout-6 text-center">
                        <div class="dt-iconboxes-text">
                           <p style="text-align: center; font-size: 1.35416667rem;">
                              Have any extra content like terms and conditions, brochures, advertisements, etc. to add to your reports? Simply upload these details in PDF format and the app will append it to your printed report.Add limitless content as PDF documents to your reports to form a one-page document ready to send to your final customer or supplier. 
                           </p>
                        </div>
                     </div>
                  </div>
                  <ul style="list-style: none; padding: 0;">
                     <div class="row" style="-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;">
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="report-with-img.jpg" alt="">
                        </li>
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="report-with-pdf.jpg" alt="">
                        </li>
                        <!-- <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                        </li> -->
                     </div>
                  </ul>
               </div>
            </section>
            <section class="oe_container oe_dark" style="margin-top: 30px;">
               <div class="container">
                  <div style="padding:10px 20px;">
                     <h2 class="text-center" style="font-size: 39px; margin-bottom: 30px; color: #03aee4;"><strong> Building Blocks</strong></h2>
                     <div class="blocks-details">
                        <div class="row" style="-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;">
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6 text-center">
                                    <i class="fa fa-sliders fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px; ">Manage Styles of All Report Fields</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Admin can choose template configurations for numerous report fields ranging from water mark to company name & color</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6 text-center">
                                    <i class="fa fa-file-text-o fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Numerous Report Templates Styles</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Admin will be able to choose printing styles of various report form from 8 different types of attractive template styles
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-tasks fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Manage Various Report Types</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Admin will be able to choose and print various reports of odoo system from Invoices to Picking / Delivery list 
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-cogs fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Configurable Report Templates</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Admin will be able to configure each and every of the eight report templates which are provided with Clever All in One Report Templates</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-users fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Configurable Report Styles for Each Customers</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Admin will be able to set default template style for every store customer</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-sort fa-4x" style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Default Template for Every Report</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Admin can opt for default template setting for every report and print reports in that style
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-language fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Print Reports in Various Languages</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Print reports in various languages like French (Francis), German (Deutsch), Arabic, Dutch / Nederlands and many more...
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-thumbs-o-up fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">One Time Setup</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Just set up this odoo report customization app once in your odoo back end and you are ready to go
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                 <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-life-ring fa-4x"  style="margin: 20px 0px; font-size: 48px;"></i>
                                    <p style="font-size: 18px; font-weight: bold; margin-bottom: 0; min-height: 50px;">Quick Support</p>
                                    <div class="dt-iconboxes-text">
                                       <p style="text-align: center;">Get quick and reliable support for any issues you face while using this app. Our support team works day in and day out to fix all possible bugs and serve you in the best way possible. </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section style="margin-top: 30px;">
               <div class="container mt32">
                  <div>
                     <h2 class="oe_slogan" style="margin-bottom: 20px; text-align: center; color: #03aee4;">Display Product Images on Reports</h2>
                     <div class="text-center">
                        <div class="dt-iconboxes layout-6 text-center">
                           <div class="dt-iconboxes-text">
                              <p style="text-align: center; font-size: 1.35416667rem;">
                                 Add all the required information in reports to give a full picture to your customers and vendors using our all-in-one report app. Display product images on documents including Invoices, Sales Orders, Quotations, Delivery Note, Packing Slips and more. 
                              </p>
                           </div>
                        </div>
                     </div>
                     <ul style="list-style: none; padding: 0;">
                        <div class="row" style="-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;">
                           <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                              <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="product-image.jpg" alt="">
                           </li>
                           <!-- <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                              <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                           </li>
                           <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                              <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                           </li> -->
                        </div>
                     </ul>
                  </div>
               </div>
            </section>
            <section style="margin-top: 30px;">
               <div class="container mt32">
                  <h2 class="oe_slogan" style="margin-bottom: 20px; text-align: center; color:#03aee4;">Amount in Words</h2>
                  <div class="text-center">
                     <div class="dt-iconboxes layout-6 text-center">
                        <div class="dt-iconboxes-text">
                           <p style="text-align: center; font-size: 1.35416667rem;">
                              Display amount in words on all documents with the automatic 'amount to words' conversion feature. Choose from multiple languages including:. 
                           </p>
                        </div>
                     </div>
                  </div>
                  <ul style="list-style: none; padding: 0;">
                     <div class="row" style="-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;">
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="amount-word.jpg" alt="">
                        </li>
                        <!-- <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                        </li>
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                        </li> -->
                     </div>
                  </ul>
               </div>
            </section>
            <section style="margin-top: 30px;">
               <div class="container mt32">
                  <h2 class="oe_slogan" style="margin-bottom: 20px; text-align: center; color: #03aee4;">Multiple Footer Options, Font Size, Font Family and Signature</h2>
                  <div class="text-center">
                     <div class="dt-iconboxes layout-6 text-center">
                        <div class="dt-iconboxes-text">
                           <p style="text-align: center; font-size: 1.35416667rem;">
                              Add more details like full company address, VAT number, bank details, contacts, company tagline and more at the end of the report using multiple footers. Use the 'Signature' feature to add a representative signature of your company on all your documents. Do away with the need for manually signing each and every document every time.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- <ul style="list-style: none; padding: 0;">
                     <div class="row" style="-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;">
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                        </li>
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                        </li>
                        <li class="col-lg-4 col-md-6" style="text-align: center; margin: 20px 0;">
                           <img style="display:inline-block; max-width: 100%; -webkit-box-shadow: 0 0 7px 2px #ddd;box-shadow: 0 0 7px 2px #ddd;" class="oe_picture oe_screenshot" src="https://www.odoo.com/apps/modules/13.0/general_template/quotation.gif" alt="">
                        </li>
                     </div>
                  </ul> -->
               </div>
            </section>
         </div>
         <div class="oe_row section-content" style="margin-top: 30px;">
            <div class="oe_row oe_spaced">
               <h2 class="oe_slogan oe_dark" style="margin-bottom: 20px; text-align: center; color:#03aee4;">How to install external python library?</h2>
               <div class="installation__step">
                  <h3 class="oe_slogan" style="color: #5a5a5a; font-size: 22px; margin-bottom: 20px; text-align: center;">img2pdf</h3>
                  <div class="row">
                     <div class="col-md-6" style="margin: 0 auto;">
                        <pre style="white-space: nowrap; text-align: center; background: #dad8d8; padding: 20px 0;">
                        sudo apt-get install python3-img2pdf <br>
                                    OR <br>
                        sudo pip3 install img2pdf
                    </pre>
                     </div>
                  </div>
               </div>
               <div class="installation__step" style="margin-top: 20px;">
                  <h3 class="oe_slogan" style="color: #5a5a5a; font-size: 22px; margin-bottom: 20px; text-align: center;">fpdf</h3>
                  <div class="row">
                     <div class="col-md-6" style="margin: 0 auto;">
                        <pre style="white-space: nowrap; text-align: center; background: #dad8d8; padding: 20px 0;">
                        sudo apt-get install python3-fpdf <br>
                                    OR <br>
                        sudo pip3 install fpdf
                    </pre>
                     </div>
                  </div>
               </div>
               <p style="color: #fff; margin-top: 20px; background: rgba(255, 0, 0, 0.7); text-align: center; font-weight: 600;  padding: 10px 5px;">NOTE: In convert text to pdf feature - Chinese character and some special symbols do not worked. Symbols: ૱ ꠸ ┯ ┰ ┱ ┲ ❗ ► ◄</p>
            </div>
         </div>
         <section class="text-center">
            <div class="mb32">
               <a href="https://www.appjetty.com/contacts/" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 30px;">Contact us</a>
            </div>
         </section>
         <section class="tech-help-suport" style="margin-top: 30px;">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <img src="tech-help-support.png" class="img-fluid" alt=""/>
                  </div>
                  <div class="col-md-9">
                     <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-top: 0;">Technical Help &amp; Support</h3>
                     <p style="font-size: 16px; font-weight: 400; color: #21272b; margin: 40px 0 15px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support service is the parameter defining the success of our business and earning us the brand name. Please feel free to contact us</p>
                     <div class="tech-suport-inner" style="background: #f1f1f1; padding:20px">
                        <div class="row">
                           <div class="col-md-6">
                              <a href="mailto:support@appjetty.com" style="display: block; position: relative; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none; margin-bottom: 10px;"><i class="fa fa-envelope"  style=" left: 0; font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px;"></i>support@appjetty.com</a>
                              <a href="skype:support.biztech" style="display: block; padding-left: 35px; position: relative; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;"><i class="fa fa-skype"  style=" font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px; left: 0;"></i>support.biztech</a>
                           </div>
                           <div class="col-md-6">
                              <a href="tel:14083299693" style="display: block; padding-left: 35px; position: relative; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;"><i class="fa fa-phone"  style=" font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px; left: 0;"></i>US : +1 (408) 329-9693</a>
                              <a href="tel:442038932693" style="display: block; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;">UK : +44 20 3893 2693</a>
                              <a href="tel:919106747559" style="display: block; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;">India : +91-91067 47559</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="e-odoo-theme text-center" style="padding:50px 20px; max-width: 1170px; background: #f1f1f1; margin: auto; margin-top: 50px;">
            <div class="container">
               <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 40px; margin-top: 0;">Our Odoo eCommerce Themes</h3>
               <div class="row">
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/themes/11.0/theme_crafito" target="_blank"><img src="crafito-theme.jpg" class="img-fluid" alt="Crafito theme" style="margin: auto;"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Crafito</h4>
                  </div>
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/themes/11.0/kingfisher_pro" target="_blank"><img src="kingfisher-theme.jpg" class="img-fluid" style="margin: auto;" alt="Kingfisher theme"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Kingfisher<br/>Pro Fashion</h4>
                  </div>
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/themes/11.0/falcon_material_backend_theme/" target="_blank"><img src="falcon-theme.jpg" class="img-fluid" style="margin: auto;" alt="Falcon theme"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Falcon Material<br/>Backend Theme</h4>
                  </div>
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/themes/11.0/theme_mobicraft" target="_blank"><img src="crafito-lite-theme.jpg" class="img-fluid" style="margin: auto;" alt=" Crafito lite theme"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">MobiCraft</h4>
                  </div>
               </div>
               <div class="view-more-link">
                  <a href="https://apps.odoo.com/apps/themes/browse?author=AppJetty" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;background-color: #24366b;">View More</a>
               </div>
            </div>
         </section>
         <section class="e-odoo-apps text-center" style="max-width: 1170px; margin: auto; margin-top: 50px; margin-bottom: 50px;">
            <div class="container">
               <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 40px; margin-top: 0;">Our Odoo eCommerce Apps</h3>
               <div class="row">
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/modules/11.0/biztech_website_megamenu" target="_blank"><img src="mega-menu-app.png" class="img-fluid" style="margin: auto;" alt="Mega Menu App"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Mega Menu</h4>
                  </div>
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/modules/11.0/seo_data_manager" target="_blank"><img src="seo-suit-app.png" class="img-fluid" style="margin: auto;" alt="SEO suit app"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">SEO Suite</h4>
                  </div>
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/modules/11.0/general_template" target="_blank"><img src="clever-a-o-report.png" class="img-fluid" style="margin: auto;" alt="Clever all in one report app"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Clever All In One<br/>Report Templates</h4>
                  </div>
                  <div class="col-md-3">
                     <a href="https://apps.odoo.com/apps/modules/11.0/biztech_report_template" target="_blank"><img src="clever-in-mul-templet.png" class="img-fluid" style="margin: auto;" alt="Clever all in one report app"/></a>
                     <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Clever Multiple<br/>Invoice Template</h4>
                  </div>
               </div>
               <div class="view-more-link">
                  <a href="https://apps.odoo.com/apps/modules/browse?author=AppJetty" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;background-color: #24366b;">View More</a>
               </div>
            </div>
         </section>
         <section class="odoo-footer text-center" style="max-width: 1170px; margin: auto; background: #f1f1f1; padding: 50px 15px; margin-bottom: 50px;">
            <div class="container">
               <div class="row top-row">
                  <div class="col-md-6" style=" border-right: 1px solid #e2e2e2;">
                     <img src="brand-logo.png" class="img-fluid" alt="Appjetty and biztech logo" style="display:inline-block;vertical-align: top;"/>
                  </div>
                  <div class="col-md-6 img-partner">
                     <img src="odoo-ready-partner.png" class="img-fluid" alt="Odoo partner logo" style="display:inline-block;vertical-align: top;"/>
                     <a href="https://clutch.co/profile/biztech-consulting-solutions" target="_blank" style="padding-left: 50px; display:inline-block; vertical-align: top;"><img src="clutch-review.png" class="img-fluid" alt="Clutch review"/></a>
                  </div>
               </div>
               <div class="bottom-row" style="margin-top: 30px;">
                  <hr style="border-top:1px solid #e2e2e2;" />
               </div>
               <div class="row footer-heading">
                  <h3 class="center-contain" style=" font-size: 32px; font-weight: 700; color: #21272b; margin: auto; padding: 0 0 20px; ">Our Services</h3>
               </div>
               <div class="row footer-services toprow" style="text-align: left;">
                  <div class="col-md-4">
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Website Development</h5>
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo App Development</h5>
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Implementation</h5>
                  </div>
                  <div class="col-md-4 foot-second-row">
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Customization</h5>
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Store Development</h5>
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Theme Development</h5>
                  </div>
                  <div class="col-md-4">
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Module Development</h5>
                     <h5><i class="fa fa-check"  style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Integration</h5>
                  </div>
               </div>
               <div class="bottom-row" style="margin-top: 30px;">
                  <hr style="border-top:1px solid #e2e2e2;"/>
               </div>
               <div class="row footer-services lastrow" style="text-align: left;">
                  <div class="col-md-4">
                     <div class="why-biz-ratio" style=" background: #03ade3; padding: 25px;  margin-top: 10px;">
                        <h3 style="margin-top: 0; font-size: 28px; font-weight: 700; color: #fff; margin-bottom: 20px;">Over 90% Retention Ratio for Clients</h3>
                        <p style="color: #ffffff; margin-bottom: 0;">We have successfully built and managed Odoo applications for over a decade. Our team of 155+ professionals and 30+ Odoo developers are committed to add value to your team.</p>
                     </div>
                  </div>
                  <div class="col-md-4 foot-second-row">
                     <h3 class="footer-heading" style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 35px;  margin-top: 10px;">Why Biztech?</h3>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>11+ Years of Experience</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Certified team of Odoo Developers</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>155+ Skilled Developers</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>100% Confidentiality (Strict NDA Terms)</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Ecommerce Experts</h5>
                  </div>
                  <div class="col-md-4">
                     <h3 class="footer-heading" style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 35px;  margin-top: 10px;">Odoo Benefits</h3>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Flexible Approach</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Customized Odoo Products</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Lower Set-up Costs</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Source Code Authorization</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Complete Control Over the Resources</h5>
                     <h5><i class="fa fa-check"  style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Security and IP Protection</h5>
                  </div>
               </div>
               <div class="view-more-link">
                  <a href="https://www.biztechcs.com/odoo-development" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;"> Here to Help You!</a>
               </div>
            </div>
         </section>
