
<section class="oe_container">
   <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson"><b>Asset MRO - Equipment Maintenance Management </b></h2>
            <h2 class="oe_slogan" style="color:crimson"><b>MRO - Equipment and Maintenance Request Management - Odoo Module</b></h2>

            <p  style="color:green; font-size:20px;" class="oe_mt32"> <b>This app allows you to create "Material Requisition" and "Job Order/Work Order" from the maintenance request form. It also allows you to configure Planning of materials and Checklists on Equipment which are going to be used while creating "Maintenance Request" of Equipment.</p>
            <h2  style="color:CRIMSON;">Main Features:</h2>
            <p>
                <ul style="color:olive; font-size:20px;">
                    <li style="color:olive">Allow Equipment/Maintenance Manager to create a checklist(s) in Equipment configuration and checklists will be used during Maintenance requests and process.<br/>
                    <li style="color:olive">Allow you to configure Materials/Items which are going to be used in Maintenance Request on Equipment form.<br/>
                    <li style="color:olive">Allow you to configure the checklist(s) which will be used in Maintenance requests on the Equipment form.<br/>
                    <li style="color:olive">Auto populate checklist(s) and Planned  Material(s) on Maintenance request.<br/>
                    <li style="color:olive">Allow you to create a Job Order from Maintenance Request. Please see the <a href="https://apps.odoo.com/apps/modules/14.0/website_job_workorder_request" target="_blank">https://apps.odoo.com/apps/modules/14.0/website_job_workorder_request</a> app for more details.<br/>
                    <li style="color:olive">Allow you to create material requisition requests. For more details about <a href="https://apps.odoo.com/apps/modules/14.0/material_purchase_requisitions" target="_blank">https://apps.odoo.com/apps/modules/14.0/material_purchase_requisitions</a>  app for more details.<br/>
                    <li style="color:olive">Adapt odoo Maintenance PDF report to show Checklist(s) and planned material(s).<br/>
                    <li style="color:olive">For more details please watch the video and check below screenshots.<br/>
                    <li style="color:olive;">Old Version Video Link : <a href='https://youtu.be/lxZ8XApXqHg' target="_blank">https://youtu.be/lxZ8XApXqHg</a></li>
                    <li style="color:olive;">New Version Video Link : <a href='https://youtu.be/_igMWOu1haA' target="_blank">https://youtu.be/_igMWOu1haA</a></li>
                </ul>
            </p>
   </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                  </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Enterprise</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Odoo.sh</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Community</span>
              </center>
              <br/>
       </div>
   </div>
</section>


<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Checklists List Configuration</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m1.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Checklists Form View</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m2.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Equipment Odoo Standard Form</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m3.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Equipment's Plan Material Tab</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m4.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Equipment's Checklist Tab</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m5.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>View Maintenance Request - Plan Materials</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m6.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
       <div class="oe_demo oe_screenshot">
           <img src="m7.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
    <p style="color:Tomato; font-size:20px;"><b>
When you select Equipment on Maintenance request form system will default set all Planned material you have configured on Equipment form.
        </p>
       <div class="oe_demo oe_screenshot">
           <img src="m8.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request -  Checklist</b></h2>
<p style="color:Tomato; font-size:20px;"><b>When you select Equipment on Maintenance request form system will default set all checklists you have configured on Equipment form.
       <div class="oe_demo oe_screenshot">
           <img src="m9.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request -> Job Order Created</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m10.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
       <div class="oe_demo oe_screenshot">
           <img src="m11.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request -> Material Requisition Created</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="m12.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
       <div class="oe_demo oe_screenshot">
           <img src="m13.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Print Maintenance Request Report</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="r1.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request PDF Report</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="r21.png">
           <img src="r22.png">
       </div>
   </div>
</section>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 oe_span6">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
