
.awesome_header {

    position: fixed;
    background-color: #fff;
    
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;

    @include awesome-flex;
    @include awesome-align-items-center;
    @include awesome-justify-content-between;

    height: 60px;
    margin-left: 300px;
    border-bottom: 1px solid #dee2e6;
    padding: 0 0 0 1.8rem;

    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);

    .navigation-toggler {

        @include border-radius(0.5rem);

        margin-right: 1rem;
        border: 1px solid #dfdfdf;
        
        &.mobile-toggler {
            display: none;
        }

        a {
            color: #000;
            padding: 8px 12px;
        }
    }

    .navigation-logo {
        .logo {
            display: flex;
            max-height: 50px;
        }
        .logo-small {
            display: none;
        }
    }

    .navbar-nav {
        a {
            color: #828282;
        }
    }

    .awesome_hook_hide {
        display: flex !important;
    }

    .awesome_search_bar {

        input {
            min-width: 100px;
        }

        .awesome_search_bar {
            .dropdown-menu {
                padding: 5px;
            }
        }
        
        [for="o_favorite_share_all_users_0"] {
            i {
                margin-left: 5px;
            }
        }
    }

    .awesome_search_options {
        position: absolute;
        left: auto;
        top: calc(100% + 10px);
        height: auto;
        z-index: 999;
        display: flex;
        padding: 10px;
        width: auto;
        max-width: 500px;
        min-width: 300px;
        border: 1px #d9d9d9 solid;
    }

    .o_searchview {
        padding-left: 26px;
        padding: 3px 25px 6px 35px;
        border-radius: 99px;

        .o_searchview_icon {
            position: absolute;
            bottom: auto;
            top: 9px;
            left: 12px;

            &.search_icon_right {
                right: 12px;
                left: auto;
                &:after {
                    display: none
                }
            }
        }

        .search_option_dropdown_toggler {
            right: auto;
            &:hover {
                color: #1c1c1c;
                cursor: pointer;
            }
        }

        .awesome_search_option_dropdown {
            padding: 1rem;
            .dropdown-item:focus {
                outline: none;
            }
            .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                background-color: #007bff;
            }
        }
    }  

    ul{
        &.navbar-nav {

            @include awesome-flex-row;
            @include awesome-align-items-center;

            li.nav-item {
                a.nav-link {
                    line-height: 100%;
                    padding: 8px 12px;
                    
                    @include awesome-flex;
                    @include awesome-align-items-center;
                    @include awesome-justify-content-center;

                    svg{
                        width: 18px;
                        height: 18px
                    }

                    &:focus, &:hover {
                        outline: 0;
                    }
                }
            }

            .dropdown-menu {
                position: absolute;
            }
        }
    }

    .dropdown-item-text {
        button {
            margin: 0px 5px 5px 0px;
        }
    }

    .o_filter_menu, .o_favorite_menu, .o_group_by_menu {
        margin-left: 5px;
        & > button {
            & > span {
                display: none
            }

            & > .fa-chevron-right,  & > .fa-chevron-down {
                display: none;
            }
        }
    }

    element.style {
        padding: 10px;
        width: 100%;
        height: auto;
    }

    
    .awesome_theme_systray {
        position: relative;
    }

    .awesome_theme_systray > li {
        margin: 0px 10px;
        position: relative;
    }

    .o_user_menu {
        display: none;
    }

    .o_MessagingMenu {
        .o_MessagingMenu_counter {
            position: relative;
            transform: inherit;
            margin-right: -10px;
            margin-top: -0.8rem; 
            margin-right: 0;
            margin-left: -0.6rem;
            background: #00A09D;
            color: white;
            vertical-align: super;
            font-size: 0.7em;
        }
    }
}


@include media-breakpoint-down(sm) {
    
    .awesome_header {
        height: auto !important;
        .awesome_hook_hide {
            display: flex !important;
        }
    }

    .awesome_header_left_part {
        padding: 6px 5px 6px 5px;
        width: 100%;
     }

    .o_action_manager {
        margin-top: 45px;
    }

    .o_debug_manager {
        .o_debug_dropdown {
            &.show {
                max-height: 500px;
                overflow-y: scroll;
            }
        }
    }
}

$o-navbar-height: 11px;
@mixin full-screen-dropdown {
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$o-navbar-height});
    position: fixed;
    margin: 0;
    width: 100vw;
    z-index: 100;
    // Inline style will override our `top`, so we need !important here
    top: $o-navbar-height !important;
    transform: none !important;
}

@include media-breakpoint-down(sm) {

    .awesome_header {
        .header_right_part {
            width: calc(100% + 2rem);
            padding: 10px 0px;
            border-top: 1px solid #e7e7e7;
            margin-top: 5px;
            margin: 3px -1rem 0px -1rem;
            
            // just let the left part fixed, if is full screen
            .dropdown-menu {
                position: fixed !important;
            }
        }

        .awesome_search_bar {
            .dropdown-menu {
               top: 40px !important;
               right: 10px !important;
            }
        }

        .navigation-logo {
            .logo {
                display: none;
            }
            .logo-small {
                display: flex;
                height: 32px;
            }
        }
    }

    // Custom fullscreen layout for systray items
    .o_mail_systray_dropdown {
        margin-top: 11px;

        &.show {
            position: fixed;
            left: 0px;
            
            @include full-screen-dropdown();
    
            // Fix stretchy images
            .o_mail_preview_image {
                align-items: center;
                display: flex;
                flex-direction: row;
    
                img {
                    display: block;
                    height: auto;
                }
            }
        }
    }

    .o_MessagingMenu_dropdownMenu.o-mobile {
        top: 85px !important;
    }
}
