.complementarynotepopup {
	header{
		color: red !important;
		font-size: 18px;
		font-weight: 500;
	}
	.parent_cl{
		padding: 10px;
		width: 100%;
		float: left;
		text-align: -webkit-left;

		.label_cl{
			width: 25%;
			margin-top: 10px;
			float: left;
			label {
				color: red;
				font-weight: 400;
			}
		}

		.input_cl{
			width: 60%;
			margin-top: 10px;
			float: left;
			
			input:focus{
				box-shadow: none !important;
				border: 1px solid gray;
			}

			select{
				width: 100%;
			    height: 45px;
			    border: 1px solid #d6d6d6;
			    background: no-repeat;
			}
		}

	}
}