.cancel_item_state{
	color: red;
}
.pos .pos_combo_configure_popuo_cart_item .product_remove_button{
	position: absolute;
    top: 2px;
    left: 5px;
    font-size: 13px;
    border-radius: 2px;
    background-color: red;
    color: white;
    padding: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pos .leftpane{
    border-right: none !important;   
}
.pos .rightpane{
    border-left: 1px solid;
    background: unset;
}
.oo_order_devider{
    width: 100%;
    border: 1px solid #c4c0c0;
    margin: 2rem 0rem !important;
}
.pos .pos_combo_configure_popuo_cart_item .product-img{
	margin: 0 auto;
}
.pos .pos_combo_configure_popuo_cart_item .product{
	width: 16em;
    height: 16em;
    
}
.pos .pos_combo_configure_popuo_cart_item .product .product-name{
		bottom: 23px;
	    line-height: 13px;
}
.pos .modal-dialog.pos_combo_configure_popup .popup .product{
	border-color: lightgrey;
}
.pos .pos_combo_configure_popuo_cart_item .product .product_price{
	    display: block;
    line-height: 20px;
    position: absolute;
    bottom: 2px;
    text-align: center;
    left: 0;
    right: 0;
        color: black;
        font-weight: bold;
}
.pos .modal-dialog.pos_combo_configure_popup .popup .product.pselected{
	border-color: green;
    box-shadow: 0 1px 3px rgb(40 177 57 / 12%), 0 1px 2px rgb(98 171 80 / 24%);
}
.pos .modal-dialog.pos_combo_configure_popup .popup .product .product_remove_button{
    display: none;
}
.pos .modal-dialog.pos_combo_configure_popup .popup .product.pselected .product_remove_button{
    display: block;
    z-index: 5;
}
@media screen and (max-width: 1200px){
    .pos .pos_combo_configure_popup .product .product-img img {
        max-height: 70px;
        max-width: 70px;
    }
    .pos .pos_combo_configure_popup .popup .product{
            height: 13em !important;
            width: 13em !important;
    }
}
.table_res_main_cl{
    width: 100%;
}
.pos .popup .table_res_main_cl input{
    width: 208px;
    float: left;
}
.pos .popup .table_res_main_cl td{
        padding-bottom: 5px;
    padding-top: 5px
}
.pos .popup .table_res_main_cl td .date_reserve_cl_main{
    float: left;
}