<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 95%;">
        <div class="oe_span12">
            <h2 class="oe_slogan">Capacity of Stock Location</h2>
            <div class="" style=" margin: 30px auto 0; padding: 0 15px 0 0; border:none; width: 96%;">
                <p>This moduld allows user to manager Capacity of Stock Location. </p>
                <h3>Lastest update: v12.19.1.6</h3>
                <div class="oe_span12 oe_spaced">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                1. Add Capacity manage for stock location.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                2. Capacity by quantity and certain order. set location for every sale order
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 95%;">
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Capacity manage for stock location.</h2>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="demo1.jpg" style="border:1px solid black"/>
            <p></p>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="demo2.jpg" style="border:1px solid black"/>
            <p></p>
        </div>
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Capacity by quantity and certain order.</h2>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="demo3.jpg" style="border:1px solid black"/>
            <p></p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us
                </h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883
                </h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <p><h4>
                Visit our website for more support.
                </h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="http://www.hashmicro.com" target="_blank"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-web"></i>http://www.hashmicro.com</a>
            </div>
        </div>
    </div>
</section>

