.parent_menu_select {
    width: 150px;
    position: absolute;
    left: 500px;
    top: 10px;
}

.o_form_view .o_group .o_td_label .o_form_label {
    color: #2c2929 !important;
    font-size: 14px;
}

.o_form_view .o_group.o_inner_group>tbody>tr>td {
    padding: 0px 36px 2px 0px !important;
}

.o_control_panel .app-search-panel {
    display: block;
    margin-top: 3px !important;
}

h1 {
    color: #2c2929 !important;
}

.o_view_controller .o_kanban_view.o_kanban_ungrouped .oe_kanban_global_click .o_kanban_record_title span,
.o_form_view .o_group .o_td_label .o_form_label,
.o_form_view .o_group .o_td_label .o_form_label b,
.o_kanban_view strong {
    font-weight: 600 !important;
}

.o_content .o_kanban_view .o_kanban_record,
.o_content .o_kanban_view .o_kanban_quick_create {
    transition: none !important;
}

.o_input {
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-radius: 7px !important;
}

.parent_menu_autocomplete {
    border: 0 !important;
}

.hide_menu {
    display: none !important;
}

.close_sidebar {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 17px;
    left: 270px;
    cursor: pointer;
}

.menu_image {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 295px;
    top: 10px;
}

.o_form_editable {
    .o_required_modifier {
        &.o_field_widget:not(.o_readonly_modifier) {
            background-color: #ededf1 !important;
            border-radius: 7px !important;
            border: none !important;
            margin-left: 1px;
        }
    }
    span.o_required_modifier {
        &.o_field_widget:not(.o_readonly_modifier) {
            background-color: unset !important;
        }
    }
}

.o_list_table {
    .o_data_row {
        .o_data_cell {
            padding: 1.1rem 0.00rem !important;
            .o_field_widget {
                height: 32.6px !important;
                padding: 5px !important;
            }
        }
    }
}

.parent_menu_autocomplete_dropdown {
    /* width: 250px; */
    position: absolute;
    left: 325px;
    top: 10px;
    .search_dropdown {
        position: absolute;
        /* left: 150px; */
        top: 9px;
    }
}

.parent_menu_autocomplete_ui {
    height: 200px;
    overflow-y: auto;
}

.sh_backmate_theme_appmenu_div {
    .o_company_autocomplete {
        width: 200px;
        position: relative;
        left: 30px;
    }
    .search-container {
        background-color: #4a5b6a;
        position: relative;
        border: 1px solid black;
        border-radius: 30px;
        right: 0px;
        padding: 0px 0px 0px 10px;
        top: 20px;
        left: 25px;
        width: 80%;
        /* z-index: 9999; */
        padding: 5px 20px;
        .search-box {
            background-color: transparent;
            outline: none;
            height: 35px;
            font-size: 15px;
            border: 0;
            width: 100%;
            color: #fff;
            padding-left: 25px;
        }
        .search-box::placeholder {
            color: #fff;
            opacity: 1;
        }
        .search-box:-ms-input-placeholder {
            color: #fff;
        }
        .search-box::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #fff;
        }
        .search-button {
            position: absolute;
            left: 15px;
            top: 12px;
            border-radius: 50%;
            border: 0;
            color: #fff;
            outline: 0;
            font-size: 20px;
        }
    }
}

.o_action_manager {
    .o_view_controller {
        .o_control_panel {
            min-height: 135px;
            .o_cp_top {
                .o_cp_top_right {
                    .o_cp_searchview {
                        width: 40%;
                        position: relative;
                        left: 159px;
                        top: 38px;
                    }
                }
            }
            .o_cp_bottom {
                .o_cp_bottom_left {
                    .app-search-panel {
                        position: absolute;
                        top: 135px;
                    }
                    .o_cp_action_menus {
                        position: absolute;
                        left: 750px;
                        top: 100px;
                    }
                }
                .o_cp_bottom_right {
                    .o_search_options {
                        position: absolute !important;
                        right: 140px;
                        top: 145px;
                    }
                    .o_cp_switch_buttons {
                        position: absolute;
                        right: 10px;
                        top: 100px;
                    }
                    .o_cp_pager {
                        position: absolute;
                        top: 145px;
                        right: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .mobile_dropdown {
        left: 0;
    }
    .close_sidebar {
        display: none;
    }
}

.o_web_client {
    .o_action_manager:not(.o_theme_manager) {
        margin-left: 260px !important;
    }
    .o_theme_manager {
        margin-left: 0px !important;
    }
}

.switch_company {
    text-align: center;
}

.switch_company .btn-secondary {
    border-color: transparent !important;
    background: transparent !important;
    color: #fff !important;
    box-shadow: none !important;
}

.switch_company .dropdown-menu.show {
    margin-left: 5px;
    height: 60px;
    overflow-y: auto;
}

.switch_company .dropdown-item {
    cursor: pointer;
}

.switch_company .dropdown-item:hover {
    color: #fff;
    background: #4a5b6a;
}

.o_calendar_buttons {
    position: absolute;
}

.measure-button {
    position: absolute;
}

.measure-settings-button {
    left: 105px;
    top: 2px;
}

.chart-graph-button {
    top: 2px;
    left: 114px;
}

.stacked-graph-button {
    top: 2px;
    left: 113px;
}

.sort-graph-button {
    top: 2px;
    left: 114px;
}

.o_user_menu {
    .dropdown-menu {
        a[data-menu="documentation_dev"] {
            display: none;
        }
        a[data-menu="documentation"] {
            display: none;
        }
        a[data-menu="support"] {
            display: none;
        }
    }
}

@media (max-width: 1515px) {
    .o_control_panel .o_cp_top_left,
    .o_control_panel .o_cp_bottom_left {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .o_cp_pager .btn-secondary {
        color: black !important;
    }
    .o_cp_pager .btn-secondary:hover {
        color: white !important;
    }
}

// Override
@media (max-width: 576px) {
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_list_export_xlsx,
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_list_selection_box,
    .o_cp_bottom_left .o_cp_buttons .btn.o_button_generate_leads {
        display: block !important;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left div[aria-label="Sort graph"] {
        display: block !important;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons {
        display: flex;
        flex-direction: row;
    }
    .chart-graph-button,
    .stacked-graph-button,
    .sort-graph-button {
        left: 0px;
        top: 36px;
        width: fit-content;
    }
}

// Override
// Override
@media only screen and (max-width: 992px) {
    .parent_menu_autocomplete_dropdown {
        top: 0px !important;
    }
    nav.o_main_navbar .o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div .logo {
        background: transparent !important;
    }
    .dropdown-menu.sh_backmate_theme_appmenu_div .logo {
        display: flex !important;
    }
}

@media (max-width: 1074px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        left: unset;
        right: 180px !important;
    }
}

@media only screen and (max-width: 1330px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        width: unset !important;
        position: unset !important;
    }
}

@media only screen and (max-width: 767px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options {
        position: unset !important;
    }
}

@media (max-width: 575px) {
    .measure-settings-button {
        position: absolute;
        left: 0px;
        top: 36px;
    }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: unset;
        right: 5px !important;
    }
}

// Order-date Search Bar
@media (max-width: 575px) {
    .measure-settings-button {
        position: absolute;
        left: 10px;
        top: 90px;
    }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: unset;
    }
}

@media (max-width: 992px) {
    .o_control_panel .app-search-panel {
        display: block !important;
    }
}

.o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .app-search-panel {
    position: absolute;
    top: 135px;
}

@media (max-width: 745px) {
    .o_control_panel {
        height: 180px !important;
        position: relative;
    }
    .o_control_panel .app-search-panel {
        position: absolute;
        top: unset !important;
        bottom: 0px;
    }
}

@media (max-width: 477px) {
    /* .o_control_panel .app-search-panel{
    /* width: 50% !important;
    overflow: hidden;
    } */
    select.app_select_field_date {
        width: 20% !important;
    }
    div.o_datepicker {
        width: 30% !important;
    }
}

@media (max-width: 745px) {
    .o_control_panel .o_cp_bottom .o_cp_bottom_left {
        margin-top: 26px;
    }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager {
        position: unset;
        top: 145px;
        right: 5px;
    }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons {
        position: unset;
        right: 10px;
        top: 100px;
    }
    .o_control_panel {
        height: 140px !important;
        position: relative;
    }
    .o_action_manager .o_view_controller .o_control_panel {
        min-height: unset;
    }
    //   Hide Search Bar mobile responsive
    .app-search-range-date-container {
        display: none;
    }
    .app-search-btn {
        display: none;
    }
}

@media (max-width: 576px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: unset;
        bottom: 5px;
        right: 15px !important;
    }
    /* .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: 60px;
        left: 20px;
    } */
    .o_cp_bottom_right {
        margin-bottom: 40px !important;
    }
    .o_control_panel {
        height: 130px !important;
        position: relative;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left {
        margin-top: 0px;
    }
    .o_cp_action_menus .o_dropdown:first-child ul {
        left: -125px !important;
    }
    .o_cp_action_menus .o_dropdown:last-child ul {
        left: -175px !important;
    }
}

.o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
    left: 350px !important;
}

@media (max-width: 2100px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 375px !important;
    }
}

@media (max-width: 1920px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 330px !important;
    }
}

@media (max-width: 1800px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 270px !important;
    }
}

@media (max-width: 1643px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 220px !important;
    }
}

@media (max-width: 1504px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 150px !important;
    }
}

@media (max-width: 992px) {
    .parent_menu_autocomplete_dropdown {
        margin-left: 80px;
    }
    .menu_image {
        left: unset;
        margin-left: 54px;
    }
}

@media (max-width: 1400px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 120px !important;
        width: 45%;
    }
}

@media (max-width: 1330px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons {
        top: unset !important;
    }
}

.o_searchview_input_container button {
    background: none !important;
    border: unset !important;
    box-shadow: unset !important;
}

@media (max-width: 992px) {
    .o_searchview_input_container button {
        margin-right: 20px !important;
    }
}

.o_switch_company_menu a.dropdown-toggle {
    display: none !important;
}

.modal.o_legacy_dialog.o_technical_modal.show {
    z-index: 2000;
}

.o_searchview_input_container button {
    background: none !important;
    border: unset !important;
    box-shadow: unset !important;
}

.o_searchview_input_container button:hover {
    border: unset !important;
}

@media screen and (min-width:577px) and (max-width:767px) {
    .o_control_panel .o_cp_searchview .o_searchview:hover {
        border: 1px solid #2C3782 !important;
    }
}

.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active,
.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:hover {
    background: #484848 !important;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: #484848 !important;
}

.o_menu_systray .badge {
    background-color: #484848;
}

.o_menu_apps .hover_menuitem .sh_backmate_theme_appmenu_div .logo {
    background-color: #262628;
}

.sh_backmate_theme_appmenu_div {
    background-color: #262628 !important;
}

.sh_backmate_theme_appmenu_div .search-container {
    background-color: #767676 !important;
}

.action-menu:hover {
    background-color: #484848 !important;
}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div ul.dropdown-menu a:hover {
    background-color: #767676 !important;
}

.app-search-btn .btn.btn-primary,
.btn-primary {
    background-color: #edc928 !important;
    border: 1.5px solid #edc928 !important;
    color: #262628 !important;
}

.app-search-btn .btn.btn-primary:hover,
.btn-primary:hover,
.o_cp_buttons .btn.btn-primary:hover {
    background-color: #c29a06 !important;
    border: 1.5px solid #c29a06 !important;
    color: #fcfcfc !important;
}

button.o_dropdown_toggler_btn.btn.btn-secondary:hover {
    background-color: #484848 !important;
}

.btn-secondary.fa:hover {
    background-color: #484848 !important;
}

.ui-state-active {
    background-color: #262628 !important;
}

.o_cp_searchview .o_searchview_input_container .btn-secondary:hover {
    background-color: #484848 !important;
}

#js_bar_toggle_btn_mobile {
    background-color: #484848 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: #262628 !important;
}

.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover {
    background-color: #484848 !important;
}

.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary {
    border: 1px solid #484848 !important;
}

.o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .o_DiscussSidebarItem:hover {
    background-color: #767676!important;
}

.o_DiscussSidebarItem_activeIndicator.o-item-active {
    background-color: #767676 !important;
}

.o_cp_buttons .btn.btn-primary {
    border: 1.5px solid #edc928 !important;
    background-color: #edc928 !important;
    color: #262628 !important;
}

.o_cp_buttons .btn.btn-primary:hover {
    border: 1.5px solid #c29a06 !important;
    background-color: #c29a06 !important;
    color: #fcfcfc !important;
}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active {
    background-color: #fcfcfc!important;
    color: black !important;
    box-shadow: unset !important;
}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active span {
    color: black !important;
}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active:hover {
    background-color: #767676 !important;
}

.btn-secondary.active:not(:disabled):not(.disabled):hover {
    background-color: #fcfcfc!important;
    color: #262628 !important;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background-color: #262628 !important;
}

.switch_company .dropdown-item:hover {
    background: #767676 !important;
}

.show>.btn-secondary.dropdown-toggle {
    background-color: #484848 !important;
    border: 1px solid #484848 !important;
}

.show>.btn-secondary.dropdown-toggle:hover {
    background-color: #767676 !important;
    border: 1px solid #767676 !important;
}

.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonSendMessage,
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonLogNote,
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonScheduleActivity {
    background-color: #484848 !important;
    color: #fcfcfc;
    border: 1px solid #484848 !important;
}

.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonSendMessage:hover,
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonLogNote:hover,
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonScheduleActivity:hover {
    background-color: #fcfcfc !important;
    color: #262628;
    border: 1px solid #484848 !important;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled:before,
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled:after {
    border-left-color: #484848 !important;
}

.o_form_statusbar>.o_statusbar_buttons button.btn.btn-secondary:hover {
    background-color: #484848 !important;
    border: 1px solid #484848 !important;
}

.o_form_statusbar>.o_statusbar_buttons .btn.btn-primary {
    background-color: #edc928 !important;
    border: 1px solid #edc928 !important;
    color: #262628 !important;
}

.o_form_statusbar>.o_statusbar_buttons .btn.btn-primary:hover {
    background-color: #c29a06 !important;
    border: 1px solid #c29a06 !important;
    color: #fcfcfc !important;
}

#js_id_sh_sale_barcode_mobile_start_btn {
    background-color: #edc928 !important;
    border: 1px solid #edc928 !important;
    color: #262628 !important;
}

#js_id_sh_sale_barcode_mobile_start_btn:hover {
    background-color: #c29a06 !important;
    border: 1px solid #c29a06 !important;
    color: #fcfcfc !important;
}

#js_id_sh_product_barcode_mobile_start_btn {
    background-color: #edc928 !important;
    border: 1px solid #edc928 !important;
    color: #262628 !important;
}

#js_id_sh_product_barcode_mobile_start_btn:hover {
    background-color: #c29a06 !important;
    border: 1px solid #c29a06 !important;
    color: #fcfcfc !important;
}

.o_field_x2many_list_row_add a {
    background-color: #edc928 !important;
    border: 1px solid #edc928 !important;
    color: #262628 !important;
}

.o_field_x2many_list_row_add a:hover {
    background-color: #c29a06 !important;
    border: 1px solid #c29a06 !important;
    color: #fcfcfc !important;
}

.o_form_view .o_form_statusbar>.o_statusbar_buttons .btn.btn-secondary {
    background: #fcfcfcfc !important;
    border: 1px solid #262628 !important;
}

.o_base_settings .o_setting_container .settings_tab .selected {
    background-color: #262628 !important;
    box-shadow: inset 3px 0 0 #edc928 !important;
    color: #484848 !important;
}

.parent_menu_autocomplete_dropdown {
    color: #262628;
}

#ui-id-1.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 100% !important;
    max-width: 605px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

#ui-id-1.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    flex: 0 1 33.33%;
    transition: 0.3s !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 8px !important;
}

#ui-id-1.ui-menu .ui-menu-item:hover {
    background: #edc928 !important;
}

#ui-id-1.ui-menu .ui-menu-item:hover div {
    text-shadow: -0.25px -0.25px 0 #262628, 0.25px -0.25px 0 #262628, -0.25px 0.25px 0 #262628, 0.25px 0.25px 0 #262628;
}


/* .ui-menu .ui-menu-item a:before{
    content: " ";
    display: inline-block;
    height: 25px !important;
    transform: translateY(8px);
    width: 25px !important;
    background-image: url("https://i.pinimg.com/originals/b5/3c/54/b53c54112aecb87f5ee59862af1fbc93.png") !important;
    background:red url("http://www.gentleface.com/i/free_toolbar_icons_16x16_black.png%22") no-repeat -30px -50px fixed;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
} */

#ui-id-1.ui-menu .ui-menu-item a {
    padding: 16px 5px 15px 5px;
    // border-bottom: 1px solid #282826;
    transition: 0.3s !important;
}

#ui-id-1.ui-menu .ui-menu-item a:hover {
    border-bottom: 1px solid transparent;
}

#ui-id-1.ui-widget.ui-widget-content {
    border-radius: 15px;
    padding: 20px 0 20px 0 !important;
    background: #f6f6f5;
}

#ui-id-1.ui-widget.ui-widget-content .ui-state-active {
    background: unset !important;
    color: #282826 !important;
    border-bottom: unset !important;
}

.parent_menu_autocomplete_dropdown .o_input:focus {
    background-image: linear-gradient(#262628, #262628)!important
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option a:hover,
.ui-autocomplete .ui-menu-item.o_m2o_start_typing a:hover {
    color: white !important;
}

.o_content .o_form_view .o_statusbar_buttons_dropdown.btn-secondary:hover,
.o_form_statusbar>.o_statusbar_buttons button.btn.btn-secondary.dropdown-toggle:hover {
    background: #262628 !important;
    border: 1.5px solid #262628 !important;
}

.o_content .o_form_view .o_statusbar_buttons_dropdown {
    background: #ffffff !important;
}

.o_statusbar_buttons.dropdown-menu.show .btn.btn-secondary {
    background: #fcfcfc !important;
    transition: 0.3s !important;
}

.o_statusbar_buttons.dropdown-menu.show .btn.btn-secondary:hover {
    background: #c29a06 !important;
    color: #fcfcfc !important;
    border: hidden !important;
    border-bottom: 1px solid #c29a06 !important;
}

@media (max-width: 767px) {
    .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:active,
    .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active,
    .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:focus,
    .o_cp_switch_buttons .btn-sm {
        background: #484848 !important;
    }
    .o_cp_switch_buttons button.btn.btn-sm:hover {
        background-color: white !important;
        color: #262628 !important;
    }
}

@media only screen and (max-width: 576px) {
    .modal-header {
        background: #262628 !important;
    }
}

.o_cp_buttons .btn.btn-primary:hover.o-kanban-button-new:before,
.o_cp_buttons .btn.btn-primary:hover.o_form_button_save:before {
    color: #edc928 !important;
    transition: 0.3s !important;
}

@media screen and (max-width:767px) {
    #ui-id-1.ui-widget.ui-widget-content {
        max-width: 390px !important;
    }
    #ui-id-1.ui-menu .ui-menu-item {
        flex: 0 1 50% !important;
    }
}

@media (max-width: 480px) {
    #ui-id-1.ui-menu .ui-menu-item {
        flex: 1 1 100% !important;
    }
    #ui-id-1.ui-widget.ui-widget-content {
        max-width: 200px !important;
        max-height: 450px !important;
        overflow-y: scroll !important;
        padding-top: 0 !important;
    }
}

@media (max-width: 992px) {
    .parent_menu_image {
        left: unset;
        margin-left: 54px;
    }
}

.parent_menu_image {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
}

@media (max-width: 524px) {
    .parent_menu_image {
        display: none !important;
    }
    .o_input.parent_menu_autocomplete.ui-autocomplete-input {
        width: 200px !important;
        padding-right: 20px
    }
    .parent_menu_autocomplete_dropdown {
        margin-left: 35px !important;
    }
}

@media (max-width: 427px) {
    .parent_menu_image {
        display: none !important;
    }
    .o_input.parent_menu_autocomplete.ui-autocomplete-input {
        width: 150px !important;
        padding-right: 20px
    }
    .parent_menu_autocomplete_dropdown {
        margin-left: 30px !important;
    }
    nav.o_main_navbar ul.o_menu_systray li.o_mail_systray_item.switch_pos {
        display: none !important;
    }
}

@media (max-width: 367px) {
    .parent_menu_image {
        display: none !important;
    }
    .o_input.parent_menu_autocomplete.ui-autocomplete-input {
        width: 100% !important;
        padding-right: 20px
    }
    .parent_menu_autocomplete_dropdown {
        margin-left: 30px !important;
    }
}

#ui-id-1.ui-widget.ui-widget-content .ui-state-active {
    background: unset !important;
    color: #282826 !important;
    border-right: transparent !important;
    border-top: transparent !important;
    border-left: transparent !important;
    margin: 0 !important;
}

.o_view_controller .o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.disabled.btn-primary {
    background: #484848 !important;
    color: white !important;
}

#ui-id-1.ui-widget.ui-widget-content .ui-state-active {
    border-bottom: unset !important;
}

#ui-id-1.ui-menu .ui-menu-item div {
    border-bottom: none !important;
    transition: 0.3s !important;
}

#ui-id-1.ui-menu .ui-menu-item:hover div {
    text-shadow: -0.25px -0.25px 0 #262628, 0.25px -0.25px 0 #262628, -0.25px 0.25px 0 #262628, 0.25px 0.25px 0 #262628;
}

.ui-menu-item-wrapper img {
    width: 30px;
    margin-right: 5px;
}

.ui-menu .ui-menu-item-wrapper {
    padding: unset;
}

#ui-id-1.ui-menu .ui-menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn,
a {
    transition: 0.3s !important;
}

.oe_right .btn-secondary,
.o_kanban_primary_left .btn-secondary:hover {
    background: #484848 !important;
    color: #fcfcfc !important;
}

.oe_right .btn-secondary:hover,
.o_kanban_primary_left .btn-secondary {
    color: #262628 !important;
    background: #fcfcfc !important;
    border-color: #262628 !important;
}


/* Tue, 29 Mar 2022 */

.o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
    left: unset !important;
    right: 0 !important;
    width: 100%
}

div.o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options {
    right: unset !important;
}

@media (max-width: 1075px) {
    .o_control_panel .o_cp_top_right,
    .o_control_panel .o_cp_bottom_right {
        width: 95% !important;
    }
}

@media (max-width: 991px) {
    .o_control_panel .o_cp_top_right,
    .o_control_panel .o_cp_bottom_right {
        width: 69% !important;
    }
}

.bootstrap-datetimepicker-widget {
    z-index: 9051 !important;
}

@media screen and (max-width:350px) {
    header nav.o_main_navbar {
        flex-direction: column !important;
    }
    div.o_input_dropdown.parent_menu_autocomplete_dropdown.mobile_dropdown {
        width: 140px !important;
        position: relative !important;
    }
    nav.o_main_navbar {
        height: 70px !important;
    }
    nav.o_main_navbar>ul.o_menu_systray>li .dropdown-menu {
        top: 90px !important;
    }
}

@media (min-width:768px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        position: absolute !important;
        left: 485px !important;
        top: 145px !important;
        right: unset !important
    }
}

@media (min-width:992px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        position: absolute !important;
        left: 750px !important;
        top: 145px !important;
        right: unset !important
    }
}
/* Mon, 4 Apr 2022 */

.o_control_panel .o_cp_searchview .o_searchview {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.o_search_recs.fa.fa-ellipsis-v.dropdown-toggle.hidden {
    flex: 1 0 auto;
    text-align: center;
}

.o_searchview .o_searchview_input_container {
    flex: 1 0 90%
}

@media (max-width: 992px) {
    .o_web_client .o_action_manager:not(.o_theme_manager) {
        margin-left: 0px !important;
    }

    .o_touch_device .o_control_panel .o_cp_searchview .o_searchview {
        padding-right: 25px !important;
    }

    .o_searchview_input_container button {
        margin-right: 0px !important;
    }
}

div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::before, 
div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::after{
 left: 0 !important 
}


.o_list_view table.o_list_table td.o_data_cell{
 padding-left: 10px !important;
}

.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector).o_list_number_th{
 text-align: center;
}

.o_field_boolean.o_boolean_toggle.o_field_widget.custom-control.custom-checkbox{
 width: 44px;
}
.modal-content .o_view_controller > div {
    overflow: unset !important;
    min-height: 100px !important;
}
div.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header .sh_icon_text span{
    line-height: normal !important;
}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after{
    color: white !important;
}
.dropdown-header.o_menu_header_lvl_2 ul{
    padding-left: 1rem !important;
}
div.dropdown-header{
    white-space: unset !important;
}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a{
    line-height: normal !important;
    display: flex !important;
    align-items:center !important;
}
html .o_web_client > .o_action_manager.o_theme_manager{
    margin-left: 0px !important;
}