/* top menu select */
.sh_backmate_theme_appmenu_div .action_menu .fa {display:none}
.fa-circle-thin{display: none !important;}
.o_input:focus, .o_input:focus-within{background-image:linear-gradient(#2e3d52, #2e3d52), linear-gradient(#475972, #475972) !important;}
.o_required_modifier.o_input, .o_required_modifier .o_input, .o_field_number.o_input, .o_field_number .o_input{background-image:unset !important}
.o_search_options{height: 30px;}
.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn.btn-secondary, .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary{background-color: transparent !important;border: 1px solid #2e3d52 !important;box-shadow: 0 0 0 transparent !important;}
.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover{background-color:#475972 !important}
.o_cp_bottom_left .o_cp_buttons .btn,.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn,.o_cp_bottom_left .o_cp_buttons .btn{border-radius:10px !important}
.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary.fa {border: 0px !important;}
.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn.btn-secondary, .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary{background-color: transparent !important;border: 1px solid #2e3d52 !important;box-shadow: 0 0 0 transparent !important;}
.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover{background-color:#475972 !important}
.o_cp_bottom_left .o_cp_buttons .btn,.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn,.o_cp_bottom_left .o_cp_buttons .btn{border-radius:10px !important}
button.o_dropdown_toggler_btn.btn.btn-secondary {
    background-color: transparent !important;
    border: 0 !important;
}
#company_name_logo{
    display:none!important;
}
#company_logo{
    width:100% !important;
    height: auto !important;
    margin: 15px 0 0 0 !important;
    display: block !important;
    max-width:500px!important;
}
.sh_backmate_theme_appmenu_div .o_company_autocomplete{
    display:none !important;
}
.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector) {
    white-space: unset !important;
    overflow: unset !important;
    text-overflow: unset !important;
}
button.o_dropdown_toggler_btn.btn.btn-secondary:hover{background-color: #475972 !important;}
.o_cp_action_menus
a{color:#2e3d52}
.o_searchview_input_container .o_menu_item a{background-color:transparent !important;color:#2e3d52 }
.o_searchview .o_searchview_autocomplete li.o_selection_focus {background-color: #2e3d52 !important;}
.o_searchview .o_searchview_autocomplete li.o_selection_Focus a{color:#fff !important;}
 .parent_menu_select {
     width: 150px;
     position: absolute;
     left: 300px;
     top: 10px;
}
/* sidebar styling */
 .sh_backmate_theme_appmenu_div {
     background-color: #2e3d52 !important;
}
 .sh_backmate_theme_appmenu_div ul.dropdown-menu a.active {
     background-color: #fcfcfc;
}
.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active{background-color: #475972 ;}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active,
 .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div ul.dropdown-menu a {
     border-radius: 20px 0 0 20px !important;
}
 .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div ul.dropdown-menu a:hover,
 .sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-item.o_menu_header_lvl_1 a:hover,
 .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active:hover {
     background-color: #475972 !important;
     color: #fff !important;
}
.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div ul.dropdown-menu a:hover span,
 .sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-item.o_menu_header_lvl_1 a:hover span,
 .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active:hover span{
     color: #fff !important;
}
 .sh_backmate_theme_appmenu_div ul.dropdown-menu a.active span {
     color: #2e3d52;
}
 .sh_backmate_theme_appmenu_div ul.dropdown-menu a span {
     color: #fff;
}
 .sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span {
     color: #fff;
     font-weight:700;
}
 .o_main_navbar .o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu {
     margin: 5px 0px 0px 10px;
}
 .o_menu_apps .hover_menuitem .sh_backmate_theme_appmenu_div .logo {
     background-color: #2e3d52;
}
 .dropdown-menu.sh_backmate_theme_appmenu_div {
     box-shadow: 0 0 0 transparent !important;
}
/* Button styling */
 .btn-primary, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active, .o_form_statusbar > .o_statusbar_buttons .btn.btn-primary, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonSendMessage, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonLogNote, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonScheduleActivity {
     background-color: #2e3d52 !important;
     border-color: #475972 !important;
}
 .o_field_x2many_list_row_add a {
     background-color: #2e3d52 !important;
}
 .o_field_widget.o_field_many2one .fa.fa-external-link.o_external_button {
     color: #2e3d52 !important;
}
 .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle, .btn-secondary.active:not(:disabled):not(.disabled), .show > .btn-secondary.dropdown-toggle {
     background-color: #2e3d52 !important;
}
 [type='radio']:checked + label:after {
     background-color: #2e3d52 !important;
     border-color: #2e3d52;
}
 .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button + button {
     background-color: transparent !important;
     box-shadow: 0 0 0 transparent !important;
     margin: 0 3px !important;
     padding: 10px !important;
}
.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button{position:relative}
.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button + button:after{
    content: '';
    display: block;
    width:1px;
    height: calc(100% + 5px);
    left:-3px;
    top:-3px;
    position:absolute;
    background: lightgrey;}
 .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:hover {
}
.o_search_options .o_dropdown .o_dropdown_toggler_btn{background-color: transparent !important; border-color: transparent !important;box-shadow: 0 0 0 0 transparent !important;}
.o_search_options .o_dropdown .o_dropdown_toggler_btn:hover{background-color:#475972 !important}
.btn-secondary.fa{background-color: transparent !important;border-color: transparent !important;box-shadow: 0 0 0 0 transparent !important;}
.btn-secondary.fa:hover{background-color:#475972 !important}
.o_cp_bottom_left .o_cp_buttons .btn, .o_cp_switch_buttons button{box-shadow: 0 0 0 0 transparent !important;}

/*Hover Button*/
 .o_cp_buttons .btn-secondary:hover, .o_statusbar_buttons .btn-secondary:hover, .modal-footer .btn-secondary:hover, .o_filters_menu .btn-secondary:hover, .backmate_theme_layout #color_list_id .btn.btn-secondary:hover {
     background-color: #475972 !important;
}
 .o_cp_buttons .btn-secondary:hover, .btn-primary:hover, .btn-secondary:hover, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:hover, .o_form_statusbar > .o_statusbar_buttons .btn.btn-primary:hover, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonSendMessage:hover, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonLogNote:hover, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonScheduleActivity:hover, .btn-secondary:hover, .o_form_statusbar > .o_statusbar_buttons button.btn.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active:hover, .show > .btn-secondary.dropdown-toggle:hover, .btn-secondary.active:not(:disabled):not(.disabled):hover, .show > .btn-secondary.dropdown-toggle:hover {
     background-color: #475972 !important;
     border-color: #475972 !important;
}
/* tab styling */
 .nav.nav-tabs .nav-link:before {
     background-color: #2e3d52;
}
/* TEXT Styling */
 .o_form_view .oe_button_box .oe_stat_button .o_button_icon, .nav.nav-tabs .nav-link:focus, .nav.nav-tabs .nav-link:active, .nav.nav-tabs .nav-link.active, .o_form_view .o_form_uri > span:first-child, .o_form_view .o_horizontal_separator, .ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
     color: #2e3d52 !important;
}
.o_view_controller .o_kanban_ungrouped .oe_kanban_global_click .o_kanban_record_title span{color: #2e3d52;}
.badge-primary{background-color: #2e3d52;}
/* Notification Styling */
 .o_mail_systray_item .o_notification_counter, .o_MessagingMenu_counter {
     background-color: #2e3d52;
}
nav.o_main_navbar .o_menu_systray li > a{
 background-color:transparent !important;
}
.o_main_navbar .o_menu_systray .o_MessagingMenu i.fa:hover, .o_main_navbar .o_menu_systray .sh_bookmark_menu_list span:hover{
 color:#2e3d52 !important;
}
 .btn-link, .o_NotificationGroup_date, .o_ThreadPreview_date {
     color: #2e3d52;
}
 .o_ChatWindowHeader {
     background-color: #2e3d52 !important;
}
/* Search Bar & Input Styling */
 .o_searchview .o_searchview_facet .o_searchview_facet_label {
     background-color: #2e3d52 !important;
}
 .o_control_panel .o_cp_searchview .o_searchview:hover {
     border-color: #475972 !important;
}
 .o_required_modifier.o_input, .o_required_modifier .o_input, .o_field_number.o_input, .o_field_number .o_input {
     border-color: #475972 !important;
}

/* calendar styling */
.o_activity_view .o_activity_summary_cell.overdue,
.o_activity_view .o_activity_summary_cell.planned{background-color:transparent !important}

.o_activity_view .o_activity_summary_cell.overdue >div {
    background-color: #dc3545;
    border-radius: 15px;
}
.o_activity_view .o_activity_summary_cell.planned >div {
    background-color: green;
    border-radius: 15px;
}
.o_mail_activity .o_activity_color_planned{
    color: #73D75A !important;
}
.o_calendar_container .o_calendar_view .o_calendar_widget .fc-widget-header{
    background-color: #fff !important;
    color: #2e3d52 !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header{
    background-color: #fff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header .ui-datepicker-title{
    color: #2e3d52 !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active{
    background-color: #2e3d52 !important;
}
.fc-row.fc-widget-header th{line-height: 30px}
.fa-circl
/* Other */
 .o_horizontal_separator:before {
     background-color: #2e3d52;
}
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-state-active {
     background-color: #2e3d52;
}

/*discussion*/
.o_DiscussSidebarItem_activeIndicator.o-item-active{background-color: #475972 !important;}
.o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .o_DiscussSidebarItem:hover{background-color: #475972 !important;}


.o_onboarding.o_onboarding_blue .o_onboarding_step.o_onboarding_done .o_onboarding_dot, .o_onboarding.o_onboarding_blue .o_onboarding_step.o_onboarding_done .o_onboarding_progress, .o_onboarding.o_onboarding_blue .o_onboarding_step .o_onboarding_done + .o_onboarding_done .o_onboarding_dot, .o_onboarding.o_onboarding_blue .o_onboarding_step .o_onboarding_done + .o_onboarding_done .o_onboarding_progress {
	background: #2a90e2 !important;
}


 .o_company_autocomplete {
	 color: #fff;
	 background-image: unset !important;
	 border-bottom: 0px;
	 margin-top:20px;
}

.o_company_autocomplete:after{

}

.parent_menu_autocomplete_dropdown{
    position:relative;
    font-size:16px;
    color:#2E3D52;
}
.parent_menu_autocomplete {
    border-color: transparent !important;
    font-weight:600 !important
}
.parent_menu_autocomplete_dropdown .fa-chevron-down{
    position:absolute;
    top:8px;
    right:0;
}
.parent_company_autocomplete {
    position: relative;
	.fa-chevron-down {
	    position: absolute;
	    color: #fff;
	    top: 8px;
	    right: 30px;
	}
}
/*
.o_onboarding.o_onboarding_blue .o_onboarding_wrap{
    background-image:linear-gradient(to bottom, rgb(239 163 80 / 50%), #b9553c) !important;
}
*/
@media only screen and (max-width: 992px){
    nav.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .dropdown-menu .dropdown-header .active span{
        color:#181F4C !important;
    }
    nav.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .dropdown-menu .dropdown-header span{
        color:#fff !important;
    }
    .parent_menu_autocomplete_dropdown{
        position: unset;
        display: inline-block;
        margin-left: 42px;
        margin-top: 8px;
    }
}

.ui-autocomplete {
    z-index: 9051 !important;
    max-width: 600px !important;
}
