.o_sale_order_sequence{
    .table-responsive{
        table.o_list_table{
            overflow-x: auto;
            table-layout: unset !important;
            thead{
                overflow-x: auto;
                tr{
                    th[data-name="sequence"]{
                        width: 20px !important;
                    }
                    th[data-name="sale_line_sequence"]{
                        width: 5% !important;
                        max-width: 60px !important;
                    }
                    th[data-name="tick"]{
                        width: 160px !important;
                        max-width: 160px !important;
                    }
                    th[data-name="product_id"]{
                        width: 160px !important;
                    }
                    th[data-name="product_template_id"]{
                        width: 80px !important;
                    }
                    th[data-name="name"]{
                        width: 120px !important;
                    }
                    th[data-name="location_id"]{
                        width: 110px !important;
                    }
                    th[data-name="analytic_tag_ids"]{
                        width: 160px !important;
                    }
                    th[data-name="product_uom_qty"]{
                        width: 100px !important;
                    }
                    th[data-name="product_uom"]{
                        width: 60px !important;
                    }
                    th[data-name="customer_lead"]{
                        width: 100px !important;
                    }
                    th[data-name="price_unit"]{
                        width: 80px !important;
                    }
                    th[data-name="purchase_price"]{
                        width: 60px !important;
                    }
                    th[data-name="margin"]{
                        width: 100px !important;
                    }
                    th[data-name="margin_percent"]{
                        width: 100px !important;
                    }
                    th[data-name="tax_id"]{
                        width: 60px !important;
                    }
                    th[data-name="account_tag_ids"]{
                        width: 120px !important;
                    }
                    th[data-name="last_sale_price"]{
                        width: 80px !important;
                    }
                    th[data-name="last_customer_sale_price"]{
                        width: 80px !important;
                    }
                    th[data-name="price_subtotal"]{
                        width: 100px !important;
                    }
                }
            }
        }
    }
}

.class_container_approver_matrix{
    .table-responsive{
        table{
            thead{
                tr{
                    th[data-name="sequence2"]{
                        width: 80px;
                    }
                }
            }
        }
    }
}
