<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Journal Voucher for V.12</h2>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Allow to add Negative and Positive Amount</h3>
        </div>
        <div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="1.png">
		  </div>
		</div>
		<div class="oe_span12">
            <h3 class="oe_slogan">Journal Entries</h3>
        </div>
		<div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="2.png">
		  </div>
		</div>
    </div>
</section>

