<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h3 class="oe_slogan">Product Image and sequence on Purchase Reports.</h3><h4><br/>In many cases we need to print product image in purchase order for more clarification or to make report more attractive and clear.<br/>For Purchase RFQ and purchase order changes are available.</h4>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.almightycs.com/blog/blogs-1/post/product-image-and-line-sequence-on-purchase-reports-48" target="_blank">
                <img src="purchase_print_image_configuration_almightycs.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Option to print image on report.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92 mb92">
            <a href="http://www.almightycs.com/blog/blogs-1/post/product-image-and-line-sequence-on-purchase-reports-48" target="_blank">
                <img src="purchase_report_print_image_small_almightycs.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Purchase order report with small image.</div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot mb92">
            <a href="http://www.almightycs.com/blog/blogs-1/post/product-image-and-line-sequence-on-purchase-reports-48" target="_blank">
                <img src="purchase_report_print_image_medium_almightycs.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Purchase order report with medium image.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92 mb92">
            <a href="http://www.almightycs.com/blog/blogs-1/post/product-image-and-line-sequence-on-purchase-reports-48" target="_blank">
                <img src="purchase_report_print_image_big_almightycs.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Purchase order report with large image.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92">
            <a href="http://www.almightycs.com/blog/blogs-1/post/product-image-and-line-sequence-on-purchase-reports-48" target="_blank">
                <img src="purchase_rfq_report_print_image_almightycs.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Purchase RFQ order report with small image.</div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Other Configuration</h3>
            <p class="oe_slogan">To use this module no technical knowledge is required even no configuration is needed. Just install module and functionality is ready to use. For more customization and help contactus.</p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.almightycs.com" target="_blank">
                    <img src="acs.png" width="200" height="auto">
                </a>
                <div class="oe_demo_footer oe_centeralign">Meet Us</div>
            </div>
        </div>
        <div class="oe_span6">
            <br/><br/>
            <h2 class="oe_slogan">Do you need help?</h2>
            <h3 class="oe_slogan">
                Let's offer you the best services!
            </h3>
            <p class="oe_mt32 text-center">
                Contact us through our official channels.
            </p>
            <p class="oe_mt32 text-center">
                Skype: turkesh4friends 
            </p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://www.linkedin.com/organization-guest/company/almighty-consulting-services" Target="_blank"><i class="fa fa-linkedin-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/AlmightyCS.ERP" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tpa-odoo" Target="_blank"><i class="fa fa-github-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="mailto:info@almightycs.com" Target="_blank"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/_AlmightyCS" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>

                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="https://www.almightycs.com/contactus"><i class="fa fa-globe fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="oe_container">

    <div data-toggle="collapse" href="#contactus-floating" role="button" aria-expanded="true" aria-controls="contactus-floating" style="
            width: 70px;
            height: 70px;
            background: linear-gradient(106deg,#918c8c 0%,#2d9f9d 100%);
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            bottom: 10px;
            right: 20px;
            z-index: 1000;
            box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.3), -5px 7px 12px rgba(0, 0, 0, 0.22);
            cursor: pointer;">
        <span class="fa fa-2x fa-handshake-o"></span>
    </div>
    
    <div class="collapse show" id="contactus-floating" style="z-index: 1006; position: fixed; bottom: 10px; right: 20px;">
        <div style="width:246px; overflow: hidden;">
            <div class="text-center acs-contactus-close" data-toggle="collapse" href="#contactus-floating" role="button" aria-expanded="true" aria-controls="contactus-floating" style="
                    width: 25px;
                    height: 25px;
                    margin-bottom: -25px;
                    display: flex;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1000;
                    cursor: pointer;">
                <i class="fa fa-times"></i>
            </div>
            <div class="acs-contactus-data" style="
                    margin-top: -17px;
                    background: linear-gradient(106deg,#918c8c 0%,#2d9f9d 100%);
                    border-radius: 10px 10px 10px 10px;
                    padding-bottom: 10px;
                    height: 106px;">
                <div class="text-center" style="text-decoration: none; font-size: 14px; padding-top: 10px;">
                    <span class="pt-2 text-white font-weight-bold" style="">Contact AlmightyCS</span>
                </div>
                <div class="acs-contactus-block" style="padding: 10px; font-size: 14px;">  
                    <a href="skype:turkesh4friends" target="_blank" class="oe_span5 flex-column align-items-center text-white font-weight-light">
                        <i class="fa fa-skype" style="font-size: 22px;"></i>
                        <span class="pt-2 font-weight-bold">Skype</span>
                    </a>
                    <a href="https://www.almightycs.com" target="_blank" class="oe_span7 flex-column align-items-center text-white font-weight-light">
                        <i class="fa fa-globe fa-spin" style="font-size: 22px;"></i>
                        <span class="pt-2 font-weight-bold">Website</span>
                    </a>
                </div>
                <div class="acs-contactus-block" style="padding: 10px; 
                    font-size: 14px; 
                    padding-bottom: 20px; 
                    padding-top: 22px;"> 
                    <a href="mailto:info@almightycs.com" target="_blank" class="oe_span5 flex-column align-items-center text-white font-weight-light">
                        <i class="fa fa-envelope" style="font-size: 19px;"></i>
                        <span class="pt-2 font-weight-bold">Email</span>
                    </a>
                    <a href="https://www.almightycs.com/contactus" target="_blank" class="oe_span7 flex-column align-items-center text-white font-weight-light">
                        <i class="fa fa-handshake-o" style="font-size: 20px;"></i>
                        <span class="pt-2 font-weight-bold">Contactus</span>
                    </a>
                </div>
            </div>
        </div>
    </div> 

</section>

