/*================ Customize CSS====================*/

.o_form_view .o_form_statusbar {flex-wrap: wrap!important;}

.o_form_sheet_bg {    background-color: #FFF!important;
    background-image: unset;}


.delivercontrol_section h5 span {}

.delivercontrol_section table {width:100%!important;}

.order-source {width: 108px;}