/* Mobile (Portrait) - design for a width of 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 320px >= width < 375px */
@media only screen and (min-width: 320px) and (max-width: 375px) {
	
	
.joblist_left {width:100%; margin-bottom: 10px; }

.joblist_right {width:100%; padding-left: 0px; margin-bottom: 10px;}
	
}


@media only screen and (min-width: 320px) and (max-width: 667px) {
    
    .delivercontrol_section h5 span {font-size: 20px;} 
    .viewjoblist_mainsection h5 span {font-size: 20px;}
    .pagination {justify-content: start; }
    
    .btn-filter {margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    width: 78px;}
}



@media only screen and (max-width: 479px) and (min-width: 376px){
	.joblist_left {width:100%; margin-bottom: 10px; }

.joblist_right {width:100%; padding-left: 0px; margin-bottom: 10px;}
	
}




@media only screen and (max-width: 639px) and (min-width: 480px) {
	
	.joblist_left {width:100%; margin-bottom: 10px; }

.joblist_right {width:100%; padding-left: 0px; margin-bottom: 10px;}
	
	
}






@media only screen and (max-width: 767px) and (min-width: 667px){
	
	
	
}
	
	
/*@media only screen and (max-width: 959px) and (min-width: 768px) {*/	

@media only screen and (max-width: 990px) and (min-width: 768px) {
		
}
	
	
/* 320px >= width 991px  Mobile To Tablet Css  */
@media only screen and (min-width: 320px) and (max-width: 991px) {
	
	
}


@media only screen and (max-width: 1199px) and (min-width: 1024px){
	
	
}


@media only screen and (max-width: 2100px) and (min-width: 1200px){
	
	
}



