<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
      <div class="row">
           <div class="sh_span12 col-12" style="padding: 40px">
               <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Quick Sale Order To Purchase Order</b></center>
               <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
               <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">
             Wasting your important time to make a similar purchase order of your sale order? This module is useful to create quickly purchase orders from the sale order. We will help you to make this procedure quick, just on one click, it will be easy to create a purchase order from quotation or sale order.
           </div> 
        </div>
    </div>   
</section>


<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
    <div class="sh_spaced">

      <h2 align="center">
         <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/ngqUO39nrvc" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? Click here to watch video</a>
      </h2>

         </div>
        </div>
</section>

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
 <div class="container">
  <div class="sh_spaced">
   <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Related Module</b>
   </h2>
   <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
   <p class="sh_mb32" align="center" style="color: green; font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
      <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
      <a href="https://apps.odoo.com/apps/modules/14.0/sh_po_so/"><b>Quick Purchase Order to Sale Order</b></a> (Alternate Module)
  </p>
</div>
</div>
</section>
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
   <div class="container">
      <div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          
             
                 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 You don't need to press the edit button for tick/untick, without edit press, you can quick tick/untick using the button to speed your work. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span>
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               You can tick/untick products from the sale order lines tree view. 
         </p>
         <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               You can select products from the sale order lines form view. 
         </p>
            <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               Easy to create a purchase order from the sale order.
         </p>
          <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
              Easy to change fields.
         </p>
          <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 No special configuration required just install it and cheers!
               </p>
                <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 This module saves your important time.

</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 This module fluently work with multiple companies

</p>

   <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

It reduces human efforts.

</p>
          
         </div>
        </div>
    </div>
    </div>
</section>


<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
                <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.5 (6<sup>th</sup> October 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Added Separate Configurations For Quotation & Sale Order To Create Purchase Order From Sale Order.
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.4 (14<sup>th</sup> August 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                   <span class="badge badge-warning" style="background: #FF9800;
padding: 5px 10px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Update</span> In Quotation Draft State Form View Only Tick/Untick Button Comes.
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.3 (30<sup>th</sup> June 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Tick/Untick Button Added In Sale Order Lines Tree View.
                  </li>
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Product Selection Feature In Sale Order Lines  Form View.
                  </li>
               </ul>
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.2 (23<sup>rd</sup> November 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Small Bug Fixed.
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.1 (14<sup>th</sup> October 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release.
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
Configuration for create a quotation to purchase order and sale order to purchase order.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="1.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
"Create Purchase Order" button in the quotation/sale Order form view, Using the tick/untick button you can tick or untick products.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="2.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
In the wizard, choose the vendor and choose order selection, RFQ or the purchase order, if you choose the purchase order then it will automatically confirm the purchase order after that press 'Create Purchase Order' button.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="3.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
RFQ created.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="4.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
"Create Purchase Order" button in the quotation/sale Order form view, Using the tick/untick button you can tick or untick products.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="5.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
In the wizard, choose the vendor and choose order selection, RFQ or the purchase order, if you choose the purchase order then it will automatically confirm the purchase order after that press 'Create Purchase Order' button.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="6.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
PO created.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="7.png" style="width:100%;">
      </div>
   </div>
</section>
  
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
Quotation/Sale Order form view has a smart button which indicates the number of purchase orders from the active sale order.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="8.png" style="width:100%;">
      </div>
   </div>
</section>
  
<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>
<section id="sh_like_module" style="margin: 50px 0;">
        <div class="container">
            <div class="sh_center text-center">
                <h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">You May Also Like</h4>
                <hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />
            </div>

            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_html_notes/">    
                                <img src="sh_so_html_notes.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_filters/">   
                                <img src="sh_so_filters.jpg" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_img/">
                                <img src="sh_so_img.jpg" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_img_quote/">    
                                <img src="sh_so_img_quote.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_imgs/">   
                                <img src="sh_so_imgs.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_quick_mrp/">
                                <img src="sh_so_quick_mrp.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_status/">    
                                <img src="sh_so_status.jpg" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_task/">   
                                <img src="sh_so_task.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_so_tnc/">
                                <img src="sh_so_tnc.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <section class="oe_container oe_dark">
     <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free 90 days support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center"> 
       <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); padding: 10px 60px; position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
   </div>
</div>
</section>  