<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Inventory Freeze While Inventory Adjustment Process</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="images/freeze_status.png">
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="images/warning_product_location.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Contact</h2>
        <h3 class="oe_slogan" style="color:#FF0000;">me@miftahussalam.com</h3>
        <h3 class="oe_slogan" style="color:#FF0000;"><a href="https://blog.miftahussalam.com/" target="_blank">https://blog.miftahussalam.com/</a></h3>
    </div>
</section>

<section class="oe_container oe_separator">
</section>