<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
    	<div class="row">
	        <div class="sh_span12" style="padding: 40px">
	            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Purchase Shipment And Bill Status</b></center>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
	            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">
					This module is useful to get the status of shipment and bill of purchase orders. Easily filters purchase orders with fully shipped, partial shipped, paid, partially paid. 
				</p> 
	        </div> 
        </div>
    </div>   
</section>


<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">

	<h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/vt5961j1DBg" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? Click here to watch video</a>
    </h2>

			</div>
        </div>
</section>



<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
	<div class="container">
		<div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to find fully shipped, partial shipped shipments and fully paid or partially paid bills.

			</p>
			 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

               Easy to filter fully shipped purchase orders.

			</p>
			 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

               Easy to filter partial shipped purchase orders.

			</p>
			 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

               Easy to filter fully paid bills of purchase orders.

			</p>
			 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

               Easy to filter partially paid bills of purchase orders.

			</p>
      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

              This app is compatible with Odoo's Multi-Company Feature.

      </p>

			</div>
        </div>
    </div>
    </div>
</section>
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.1 (21<sup>st</sup> October 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section> 

 

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">fully shipped, partial shipped, fully paid, partially paid fields in purchase order tree view and filters.</h4>
        <div>
            <img class="img-responsive" src="1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">fully shipped, partial shipped, fully paid, partially paid fields in purchase order form view.</h4>
        <div>
            <img class="img-responsive" src="2.png">
        </div>
    </div>
</section>

<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>


<section id="sh_like_module" style="margin: 50px 0;">
        <div class="container">
            <div class="sh_center text-center">
                <h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">You May Also Like</h4>
                <hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />
            </div>

            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_bill_percent/">    
                                <img src="sh_po_bill_percent.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_bills_picking_quick_open/">   
                                <img src="sh_po_bills_picking_quick_open.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_default_note/">
                                <img src="sh_po_default_note.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_formate_email/">    
                                <img src="sh_po_formate_email.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_html_notes/">   
                                <img src="sh_po_html_notes.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_img/">
                                <img src="sh_po_img.jpg" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_imgs/">    
                                <img src="sh_po_imgs.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_quick_product_search/">   
                                <img src="sh_po_quick_product_search.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_so/">
                                <img src="sh_po_so.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_status/">    
                                <img src="sh_po_status.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_task/">   
                                <img src="sh_po_task.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tender_management/">
                                <img src="sh_po_tender_management.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tender_portal/">    
                                <img src="sh_po_tender_portal.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tnc/">   
                                <img src="sh_po_tnc.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_vendor_code/">
                                <img src="sh_po_vendor_code.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="oe_container oe_dark">
     <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free 90 days support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center"> 
       <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); padding: 10px 60px; position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
   </div>
</div>
</section>  
