
.o_gantt_view {
    $iterations: 5;
    $colors: (
        0: hsl(41, 77%, 81%),
        1: hsl(0, 0%, 100%),
        2: hsl(309, 20%, 87%),
        3: hsl(56, 53%, 84%),
        4: hsl(62, 62%, 69%),
        5: hsl(168, 32%, 75%),
        6: hsl(186, 51%, 82%),
        7: hsl(41, 77%, 81%),
        8: hsl(304, 12%, 44%),
        9: hsl(309, 20%, 81%),
        10: hsl(135, 50%, 52%),
        green: hsl(120, 100%, 25%),
    );

    .gantt_container {
        @each $key, $value in $colors {
            @for $i from $iterations through 0 {
                .o_gantt_color#{$key}_#{$i} {
                    background-color: rgba($value, 1 - 0.1 * $i);
                    &.gantt_task_inline_color {
                        border-color: rgba($value, 1 - 0.1 * $i);
                    }
                }
            }
        }
        .o_gantt_color_transparent {
            background-color: "transparent";
        }
        .o_gantt_color_red {
            background-color: #CB1C1C;
        }

        .gantt_task_line{
            border: 0px;
            &.has_child .gantt_task_drag {
                &.task_right, &.task_left {
                    display: none;
                }
            }
            &.consolidation {
                &.has_child {
                    background-color: transparent;
                    height: 30px !important;
                    line-height: 30px !important;
                    border-radius: 0px;
                    border: none;
                    cursor: default;
                    pointer-events: none;
                    .inside_task_bar {
                        position: absolute;
                        text-align: left;
                        color: black;
                        height: 100%;
                        margin-top: -2px;
                        overflow: hidden;
                        &.exclude {
                            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwb2x5Z29uIG9wYWNpdHk9Ii44IiBmaWxsPSIjRDEyMDI3IiBwb2ludHM9IjAsOCA4LDAgNiwwIC0yLDgiLz48cG9seWdvbiBvcGFjaXR5PSIuOCIgZmlsbD0iI0QxMjAyNyIgcG9pbnRzPSI1LDExIDEzLDMgMTEsMyAzLDExIi8+PC9zdmc+');
                        }
                    }
                }
            }
            &.is_leaf {
                height: 20px !important;
                line-height: 20px !important;
                margin-top: 2px;
                border: 0px;
                .gantt_task_content {
                    color: black;
                    padding-left: 4px;
                    text-align: left;
                }
            }
            .gantt_task_content {
                overflow: visible !important;
            }
            .half_opacity {
                opacity: 0.5;
                pointer-events: none;
            }
            .gantt_task_progress {
                background: transparent;
            }
            &.gantt_dependent_task {
                display: noneTable
            }
        }
    }
    .today {
        background: #FAF989;
    }
    .gantt_task_row {
        .gantt_task_cell {
            cursor: cell;
        }
        &.level_0, &.level_0.odd{
            background-color: rgb(242, 242, 242);
            &.gantt_selected {
                background-color: #fff3a1;
            }
        }
        &.level_1, &.level_1.odd{
            background-color: rgb(249, 249, 249);
            &.gantt_selected {
                background-color: #fff3a1;
            }
        }
    }
}

.o_gantt_button_dates {
    display: inline-block;
}

@include media-breakpoint-down(sm) {
    .gantt_grid {
        width: 40% !important;
    }
    .gantt_task {
        width: 60% !important;
        overflow-x: scroll !important;
    }
    .gantt_hor_scroll {
        display: none !important;
    }
    .gantt_grid_scale, .gantt_grid_head_cell, .gantt_grid_data, .gantt_cell {
        width: 100% !important;
    }
    .dropdown_gantt_content {
        text-transform:uppercase;
    }
    .gantt_tree_content {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
    }
}
