.o_customer_degree_trust{
    .table-responsive{
        .o_list_table{
            thead{
                tr{
                    th.o_list_number_th {
                        text-align: center;
                    }   
                }
            }
            tbody {
                tr {
                    td.o_list_number {
                        text-align: center;
                    }
                }
            }
        }
      
    }
}