.main_card_group_cl .card_group_top_cl{
	display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
        padding-bottom: 7px;
}
.main_card_group_cl .card_group_top_cl .eq_card_group{
	width: 100px;
    display: inline-block;
    line-height: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    padding-bottom: 4px;
}
.main_card_group_cl .card_group_top_cl .eq_card_group.active{
	border-color: inherit;
}
.main_card_group_cl .card_group_top_cl .eq_card_group img{
	width: 78px;
    margin-left: auto;
    margin-right: auto;
}
.main_card_group_cl .card_group_top_cl .eq_card_group span{
	    font-size: 14px;
}
.main_card_group_cl .title_card_group{
	font-size: 15px;
    margin: 3px 5px;
}
.main_card_group_cl .title_card_payment{
	font-size: 15px;
    margin: 8px 5px;
    padding-top: 5px;
    border-top: 1px solid;
}

.main_card_group_cl .card_payment_top_cl{
	display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
        padding-bottom: 7px;
}
.main_card_group_cl .card_payment_top_cl .eq_card_payment{
	width: 100px;
    display: inline-block;
    line-height: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    padding-bottom: 4px;
}
.main_card_group_cl .card_payment_top_cl .eq_card_payment.active{
	border-color: inherit;
}
.main_card_group_cl .card_payment_top_cl .eq_card_payment img{
	width: 78px;
    margin-left: auto;
    margin-right: auto;
}
.main_card_group_cl .card_payment_top_cl .eq_card_payment span{
	    font-size: 14px;
}