.o_agreement_tender_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="group_of_product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="internal_category"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_variant"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="description"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        } 
                        th[data-name="quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="ordered_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }   
                        th[data-name="uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="destination_warehouse"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="analytic_tag_ids"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="schedule_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="reference_price"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="company_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }                  
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}