.o_agreement_tender_product_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="group_of_product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="internal_category"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_product_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_product_description"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        } 
                        th[data-name="sh_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_ordered_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }   
                        th[data-name="sh_product_uom_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="dest_warehouse_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="analytic_tag_ids"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="schedule_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_price_unit"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="company_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }                  
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}