<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Sale Product By Location</h2>
            <h3 class="oe_slogan">Allows to define a specific source location on each Sale Order line and sell the products from the different locations, that may not be children of the default location of the same SO picking type. 
            It will raise a warning when the same product with the same location already exists in the sales order line.
            When the SO is confirmed, it will generate one Outgoing Shipment per combination of source location.
            </h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Location in sale order line</h2> </p>
            <h3 class="oe_slogan">This image shows, the option to define a specific source location on each Sale Order Line.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sale_order_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Warning (Same product and location)</h2></p>
            <h3 class="oe_slogan">The system will raise a warning when a user tries to add the same product with the same location multiple times in order.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="warning_same_product_location_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Delivery Orders per source location</h2> </p>
            <h3 class="oe_slogan">When the SO is confirmed, it will generate one Outgoing Shipment per combination of source location.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sale_transfers_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">First Delivery Order (Form View)</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="stock_picking_1_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Second Delivery Order (Form View)</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="stock_picking_2_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Acceess Rights Settings</h2> </p>
            <h3 class="oe_slogan">If you wish to show the Source / Destination location in the delivery order, you have to enable the setting: <b>"Manage Multiple Stock Location"</b> from users.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="user_setting_multi_location_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <h3 class="oe_slogan">Get In Touch</h3>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" href="mailto:info@odooitnow.com">
            <i class="fa fa-envelope"></i> Email 
        </a> 
        <a class="btn btn-primary btn-lg mt8" href="http://www.odooitnow.com">
            <i class="fa fa-phone"></i> Contact Us
        </a>
        <a class="btn btn-primary btn-lg mt8" target="_blank"
            href="https://apps.odoo.com/apps/modules/browse?search=odoo+it+now">
            <i class="fa fa-plus"></i> More Apps
        </a>
    </div>
    <img src="odooitnow.png" style="width: 200px; margin-bottom: 20px;"
        class="center-block">
</section>