.o_mr_product_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="group_of_product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_variant"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="description"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="analytic_account_group_ids"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="progress_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="done_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_unit_measure"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="destination_warehouse_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="status"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="request_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                    }
                }
            }
        }
    }
}