.o_po_product_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_sec_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_sec_uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_unit_price"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="remining_budget_amount"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                    }
                }
            }
        }
    }
}