.o_pr_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="group_of_product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="description"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        } 
                        th[data-name="quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="analytic_group"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }   
                        th[data-name="uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="request_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="estimated_cost"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="company_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="destination_warehouse"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="purchased_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="purchase_status"]{
                            width: 200px !important;
                            max-width: 250px !important;
                        }                 
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_pr_variable_line {
    .o_list_view {
        .table-responsive{
            table{
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            width: 30px !important;
                            max-width: 30px !important;
                        }
                        th[data-name="project_scope"]{
                            width: 170px !important;
                            max-width: 170px !important;
                        }
                        th[data-name="section"]{
                            width: 170px !important;
                            max-width: 170px !important;
                        }
                        th[data-name="variable"]{
                            width: 170px !important;
                            max-width: 170px !important;
                        }
                        th[data-name="quantity"]{
                            width: 170px !important;
                            max-width: 170px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 170px !important;
                            max-width: 170px !important;
                        }
                        th[data-name="uom"]{
                            width: 170px !important;
                            max-width: 170px !important;
                        }   
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}