.o_pr_product_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="group_of_product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_variant"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="name"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        } 
                        th[data-name="product_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="analytic_account_group_ids"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }   
                        th[data-name="product_uom_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="date_required"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="estimated_cost"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="company_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="dest_loc_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="purchased_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="purchase_state"]{
                            width: 200px !important;
                            max-width: 250px !important;
                        }                 
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}