.o_rfq_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="internal_category"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="description"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="purchase_tender"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="receipt_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="destination_warehouse"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="analytic_group"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        } 
                        th[data-name="discount_method"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="discount_amount"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="note_comment"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }   
                        th[data-name="quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="secondary_quantity"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="secondary_uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="unit_price"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_unit_price"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="taxes"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="lpp"]{
                            width: 200px !important;
                            max-width: 250px !important;
                        }
                        th[data-name="lpp_of_vendor"]{
                            width: 250px !important;
                            max-width: 300px !important;
                        }
                        th[data-name="subtotal"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="remining_budget_amount"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }                   
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}