
        
        
        
        <section class="container" style="font-size:18px;">
            <div class="col-lg-12 col-md-12">
                
                    <div class="row">
                        
                
        <div class="col-lg-12 col-md-12 mt16" style="padding:0;">
            <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                <div class="panel-heading collapsed mb0 mt0" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;border:none;">
                    <strong>
                        
        <div style="background-color:#21B799 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
            <strong title="Click to observe details">
                <i class="fa fa-tags ml4"> </i>
                
                <span class="ml4">
                    198
                    <i class="fa fa-euro" style="font-size:14px;"> </i>
                </span>
                <i class="fa fa-angle-down ml4"> </i>
            </strong>
        </div>
    
                        
        
            
            
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Enterprise version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Enterprise
                </strong>
                
            </div>           
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Community version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Community
                </strong>
                
            </div>
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;;">
                <strong title="The tool might be installed to Odoo.sh if you have a linked private git repository" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Odoo.sh
                </strong>
            </div>
        
    
                    </strong>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="priceAccordeon_area" aria-expanded="false" style="padding:0;border:1px dotted #ddd;">
                    <div class="panel-body">
                        
        
    
                        
        <div class="col-12 mt8">
            <span>
                The tool does not require extra dependencies beside standard Odoo apps
            </span>
        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
                    </div>
                    <div class="row">
                        
        <div class="col-lg-12 col-md-12 mt8" style="padding:0;">
            <ul role="tablist" class="nav nav-tabs mb16 mt16 justify-content-center" data-tabs="tabs" style="background:unset !important;">
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#features" data-toggle="tab" class="nav-link active" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                        Features
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#config" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Guidelines
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#faq" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       FAQ
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#screenshots" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Screenshots
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#support_info" data-toggle="tab" class="nav-link" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Support
                       <span>
                       & Demo <sup><small style="color:#BA3C3D !important;"><i>free</i></small></sup>
                       </span>
                    </a>
                </li>
            </ul>
        </div>
    
                    </div>
                    <div class="row">
                        <div class="tab-content w-100">
                            <div id="features" class="tab-pane active">
                                
        
    
                                
        <div class="row">
            <div class="row col-lg-12 col-md-12 mt8 mb8">
                <div class="text-left mb16 col-lg-7 col-md-7 border-right">
                    <div><p>The app introduces KPI dashboard to manage company and personal targets. The tool helps to organize work as a set of periodical goals and to control those goals in any business or functional area.</p></div>
                    
                       
                </div>
                <div class="col-lg-5 col-md-5 mb16" style="padding-left: 16px;">
                    <div>
                        <small>
                            <i>Documentation:</i> 
                        </small>
                        <small class="bg-primary" style="border-radius:5px;padding:5px;">https://faotools.com/docs/1/kpi-balanced-scorecard-16</small>
                    </div>
                    
                </div>
            </div>
            
        </div>
    
                                
                                
                                

                                
        <div class="mt8">
            
                <div class="row mt8 mb16">
                    
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Set KPI targets by periods</h4>
        <p>Scorecard is not just a dashboard, but it is the tool to set and control <strong>measurable</strong> and <strong>time-constrained</strong> targets. Both company and individual</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Use any Odoo data to calculate KPIs</h4>
        <p>The app introduces a clear system to get any Odoo storable details: a count of records, a sum or an average of numeric fields, pure Python code</p>       
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:8px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Drag and Drop interface for KPI formulas</h4>
        <p>Construct advanced formulas to calculate derivative KPIs. Complexity of each scorecard is totally up to you!</p>     
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Managerial and self control</h4>
        <p>Share KPI targets with interested users to organize a transparent <strong>dashboard</strong> of goals: from global to very specific ones</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Structured hierarchically and by categories</h4>
        <p>Consider only those KPIs which are of interest: for example, only sales-related or of a definite user. Hierarchy allows to highlight targets with indicative padding for instant overview of sub-KPIs</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>KPIs are auto and regularly updated</h4>
        <p>Actual values are re-calculated by the special Odoo cron job. It is always possible to understand which KPIs require more attention in real time at a first glance</p>        
      </div>
    </div>
  </div>

</div>

</div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="KPI targets kanban view" src="kpis_overall.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Real-time control and historical trends</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>KPIs values are calculated for a specific period according to chosen date fields (e.g. quotations by 'order date')</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Plan KPI periods of any duration: annual, quarterly, monthly, weekly, 10-days-long, etc. KPI periods might intersect and might be different for various business areas</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>By default KPI targets of a current period are shown for an instant overview</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>For each KPI target you may observe <strong>trends</strong> by other periods. Define also tolerance to picture graph (e.g 2-days tolerance - for quarterly periods - 90-92 days, 3-days - for months - 28-31 days)</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="h-100" style="margin:0;">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Navigate between various KPI categories and KPI periods in a few clicks from the same Odoo dashboard</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Export scorecard to an <strong>Excel</strong> table if you need</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Copy or substitute KPI targets from other periods to simplify goals' setting</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Close KPI periods as it is done for fiscal and accounting purposes. It not only holds the Past values, but let speed calculations up</div> 
        </li>        
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>KPI periods and KPI targets are set up for each company individually (multi companies' environment)</div> 
        </li>
      </ul>
    </div>
  </div>
</div>



</div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Navigation by KPI categories" src="kpi_chosen_category.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="KPI targets' history" src="kpi_history.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Drag-and-drop formulas for KPIs</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>KPI construction is as simple as it is to write down a mathematical expression: just drag and drop the parts in a right order with correct operators</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Odoo would automatically retrieve data from a database according to a defined parts' order for a specified period</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Formula might be as complex as you require. Merely make sure the operators (subtraction, addition, multiplication, division, exponentiation, brackets, any float number) comply with basic Math rules.</div> 
        </li>        
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>For each KPI configure prefix and suffix to make results nice looking</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Define rounding rules from 0 to 4 decimal points (1 > 1.2 > 1.23 > 1.235 > 1.2346).</div> 
        </li>        
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>KPI variables</strong> indicate the rules of how to get data. For example, 'total number of sales orders' or 'number of quotations of sales team Europe'</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Other KPIs</strong> - the parts used for derivative calculation. For example, 'Opportunity to sales success ratio' based on KPIs 'Sales count' and 'Opportunities count'</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>KPI constants</strong> - the parts which are frozen globally or for a specific time frame. Needed for figures which can't be retrieved from modules and/or which should remain the same during a period</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>'Period Days'</strong> is an interval length in days. <strong>'Days Passed'</strong> is a length between period start and today (if today is before period end; otherwise period end). Those parameters let calculate per-time KPIs, such as, for example, 'Average sales per week'</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="KPI calculation formula parts" src="kpi_formula_overall.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="KPI configuration" src="kpi_formula_settings.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Shared KPIs and self-control</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Full rights for scorecards, all KPIs, targets, and settings belong to users with the right 'KPI Management - KPI manager'</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Categories of KPIs and/or individual KPI targets might be shared for specific users or user groups</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>It is possible to both grant read-only or editor rights</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Read-only access for a target let users only observe shared KPIs</div> 
        </li>        
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The section 'Edit rights' on category or KPI forms would also allow to set and change targets. The latter might be useful in case you ask your manager to manage goals within a department, for example</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The security settings are additive - not restrictive. KPI managers would have full rights for all KPIs disregarding the settings, while other users would have rights only to KPIs which settings (or category settings) allow them so</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The tool supports multi companies: so, make sure user company correlates with a KPI dashboard company.</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="User rights for KPI category" src="kpi_category_security.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Users and User groups for KPI" src="kpi_security.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>KPI settings to process Odoo data</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Any storable data</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Preparing basis for KPIs' calculation is not a simple task. The good news is that such job should be <strong>done only once, while results are used forever</strong></div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>KPI Settings assume 3 levels of precision: (1) basic measurements - (2) KPI variables and constants - (3) KPI drag and drop formulas</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>A basic measurement is the core object used for retrieving actual KPI value from Odoo database, while KPI variables specify those. For example, 'total number of sales orders' should be a basic measurement, while narrower 'number of quotations of the sales team Europe' is recommended to be a precision of that basic measurement</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Each basic measurement might have an unlimited number of linked KPI variables. KPI formulas might combine any number of variables, constants, and other KPIs with mathematical operators.</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Python code measurements</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>'Python code' is the special type of basic measurements. This type requires technical knowledge but let you compute any sort of figures based on any Odoo data without restrictions</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Such measurement might be any Python basic script with possibility of SQL queries (through using 'env.cr')</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>In calculations you may rely upon the special variables: 'period_start' (the first date of the period), 'period_end' (the last date of the period), 'period_company_id' - res.company object for which Odoo makes calculations at the moment (according to a KPI period under consideration)</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Correct Python code assumes saving the value into the special variable 'result'.</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Basic measurements</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Basic measurements are not used for formulas, but they define how Odoo data should be calculated: count of records, sum, average, pure Python code. Basic measurements assume a number of settings</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Model</strong> - an Odoo document type with which data set you work ('Sales Order', 'Task', etc.). Here you can rely on standard or custom objects (including created in the Odoo studio), Odoo reports</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Date fields</strong> - define whether a document relates to a KPI period. For example, for tasks you might use 'create date'. It is possible to apply a few date fields (e.g. 'Opportunities opened and won in January 2021') or no date fields at all for global calculations</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Filters</strong> - allow restrict set of records. Used for low-level filtering and then specified in KPI variables</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Measure field</strong> - is required for calculation types 'Average' and 'Sum'. It defines which figure you use for calculations. For example, 'total amount' of Sales Analysis Report or 'work hours of tasks'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Company field - would be used to restrict calculation for a KPI period target company. Take into account that records without company stated would be used for all companies' KPI calculations.</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>KPI variables and constants</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The key idea to distinct KPI variables from basic measurements is to simplify data preparation. You define 'total sales' once, and then unlimitedly use it for 'sales Europe', 'sales John Brown', 'website sales', etc.</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Specify basic measurements through the Odoo built-in domain constructor, which let filter by any storable attributes. For instance, filter sale orders by state (only 'done'), sales person ('John Brown or Mike Green'), sales team, etc.</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>KPI constants are the special type of KPI variables used when data can not be retrieved from modules and/or when figures remain the same during the whole period. For example, 'total investments' or 'number of employees' are often frozen for a specific period</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>In a multi company environment KPI variables are applied globally or for each company. In the former case that variable is available for any company KPI formulas, while in the latter - only for specific one</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Basic measurements of the type 'Execute Python code' can't be any more specified, since they do not relate to any records. Such measurements should have a single KPI variable linked.</div> 
        </li>
      </ul>
    </div>
  </div>
</div>

</div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Basic low-level measurements for calculations" src="kpi_basic_measurement.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="KPI variable - precision of basic measurement" src="kpi_variable.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Python code basic measurement" src="kpi_python_code_measurement.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
        </div>
    
                            </div>
                            <div id="config" class="tab-pane">
                                    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row ml0 mr0">
                    <div class="col-lg-12 col-md-12 mb16">
                        <section>
                            <div class="s_faq">
                                <div id="app_conf_accordion" class="panel-group" role="tablist">
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_conf_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_307_conf">
                                                        <span>Scheduled jobs</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_307_conf">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p>To change the frequency of KPI targets' recalculation:</p>
<ol> 
<li>Turn on the debug mode</li>
<li>Go to the menu KPI > Configuration > Settings</li> 
<li>Find the button 'Configure cron job'</li>
<li>Feel free to update the settings 'Execute Every' and 'Next Execution Date'. However, please do not make it too frequent (e.g. once in 5 minutes). Since the job is resource demanding, it require at least a few minutes to be fully and correctly finished.</li>
</ol> </div>
                                                        
                                                            
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Change frequency of KPIs re-calculatinon</h4>
            <img class="img img-fluid mx-auto" alt="Automatic Odoo crom job for KPI calculations" src="kpi_cron_job.png"/>
        </div>
    
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    
                            </div>
                            <div id="faq" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                <div class="row ml0 mr0">                   
                    
                    <div class="col-lg-12 col-md-12">
                        <section>
                            <div class="s_faq">
                                <div id="app_faq_accordion" class="panel-group" role="tablist">
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_518_faq">
                                                        <span>What is the difference between Basic Measurements and Measurements (Variables)?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_518_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin: 0px 0px 1rem;"><font face="-apple-system, HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif">Measurement (Variable) - is a specification of a basic measurement. The key idea is to simplify data preparation. You define 'Total Sales' once, and then unlimitedly use it for 'Sales Europe', 'Sales John Brown', 'Website Sales', etc by adding extra filters.</font><br></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_519_faq">
                                                        <span>I have created a Basic Measurement, but I can’t find it in the formula wizard.</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_519_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin: 0px 0px 1rem;"><font face="-apple-system, HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif">Basic Measurements are not used to create a formula by themselves. Even if you don’t want to add any more filters to the Basic Measurement, you should still create a Variable linked to it. Then, this Variable will appear in the list of available ones for creating a formula.</font><br></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_128_faq">
                                                        <span>What are the update policies of your tools?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_128_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0 1rem 0;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">According to the current Odoo Apps Store policies:</p><ul style="padding:0 0 0 40px;margin:0px 0 1rem 0;list-style-type:disc;"><li>every module bought for the version 12.0 and prior gives you an access to the all versions up to 12.0.</li><li>starting from the version 13.0, every version of the module should be purchased separately.</li><li>disregarding the version, purchasing a tool grants you a right for all updates and bug fixes within a major version.</li></ul><p style="margin:0px 0 1rem 0;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Take into account that faOtools team does not control those policies. By all questions please contact the Odoo Apps Store representatives<a href="https://www.odoo.com/contactus" style="text-decoration-thickness:initial;text-decoration:none;background-color:transparent;color:rgb(13, 103, 89);" contenteditable="true" data-original-title="" title="" aria-describedby="tooltip864258">&nbsp;directly</a>.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_124_faq">
                                                        <span>How can I install your app on Odoo.sh?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_124_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">The easiest approach is to use the Odoo store built-in workflow: </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">1. Open the module's page and click the button Deploy on odoo.sh </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">2. After that, you will be redirected to the GitHub page. Login to your account and click ‘Create a new repo’ or use the existing one. Please, make sure, that your repository is private. It is not permitted to publish the apps under the OPL-1 license. If necessary, create a new repo for your Odoo.sh project </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">3. Then, go to odoo.sh and click on the deploy button, submit the decision in the pop-up window and click ‘Continue’. The action will trigger the installation process. </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">These steps would install the app for your project production branch. If you wanted to deploy the apps for other branches or update the module, you should undertake the following actions: </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">1. Upload the source code for the app from the Odoo store </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">2. Commit the module to a required GitHub repository. Make sure that none of the app folders/files are ignored (included in the .gitignore of your repo). Repositories are automatically created by odoo.sh, which might add by default some crucial items there (e.g. /lib). You should upload all module directories, subdirectories, and files without exceptions </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">3. Deploy a target branch of the odoo.sh project or wait until it is automatically built if your settings assume that.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_125_faq">
                                                        <span>How should I install your app on my own server?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_125_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>    <ol style="padding:0 0 0 40px;list-style-type:decimal;margin:0px 0 10px 0;"><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Unzip source code of purchased tools in one of your Odoo add-ons directory</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Re-start the Odoo server</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Turn on the developer mode (technical settings)</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Update the apps' list (the apps' menu)</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Find the app and push the button 'Install'</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Follow the guidelines on the app's page if those exist.</p></li></ol></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_127_faq">
                                                        <span>I noticed that your app has extra add-ons. May I purchase them afterwards?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_127_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>    <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Yes, sure. Take into account that Odoo automatically adds all dependencies to a cart. You should exclude previously purchased tools.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_123_faq">
                                                        <span>May I buy your app from your company directly?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_123_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">No, we distribute the tools only through the<a href="https://apps.odoo.com/apps" style="text-decoration-thickness:initial;text-decoration:none;background-color:transparent;color:rgb(13, 103, 89);" data-original-title="" title="" aria-describedby="tooltip276944">&nbsp;official Odoo apps store</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_129_faq">
                                                        <span>I would like to get a discount</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_129_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>        <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Regretfully, we do not have a technical possibility to provide individual prices.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_153_faq">
                                                        <span>May I install the app on my Odoo Online (SaaS) database?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_153_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0px 10px 0px;">No, third party apps can not be used on Odoo Online.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_126_faq">
                                                        <span>Your tool has dependencies on other app(s). Should I purchase those?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_126_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Yes, all modules marked in dependencies are absolutely required for a correct work of our tool. Take into account that price marked on the app page already includes all necessary dependencies.&nbsp;&nbsp;</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_218_faq">
                                                        <span>I deployed your app on Odoo.sh and see warning / error in tests</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_218_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0px 10px 0px;">Red / orange warning itself does not influence features of the app. Regretfully, sometimes our modules do not pass standard automatic tests, since the latter assumes behavior which is in conflict with our apps goals. For example, we change price calculation, while standard Odoo module tests compare final price to standard algorithm.</p><p style="margin:0px 0px 10px 0px;">So, first of all, please check deployed database features. Does everything work correctly?</p><p style="margin:0px 0px 10px 0px;">If you still assume that warning influences real features, please contact us and forward full installation logs and the full lists of deployed modules (including core and third party ones).</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    
                            </div>
                            <div id="screenshots" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI balanced scorecard interface</h4>
            <img class="img img-fluid mx-auto" alt="KPI targets kanban view" src="kpis_overall.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI targets by tags</h4>
            <img class="img img-fluid mx-auto" alt="Navigation by KPI categories" src="kpi_chosen_category.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Export Odoo KPIs to an electronic table</h4>
            <img class="img img-fluid mx-auto" alt="KPI targets xlsx" src="kpi_scorecard_xls.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI formula: overview</h4>
            <img class="img img-fluid mx-auto" alt="KPI formula example" src="kpi_formula_relative.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Drag and Drop to define KPI formula</h4>
            <img class="img img-fluid mx-auto" alt="KPI calculation formula parts" src="kpi_formula_overall.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI targets by periods</h4>
            <img class="img img-fluid mx-auto" alt="Odoo KPI scorecard: choose period" src="kpi_choose_period.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI trends and history</h4>
            <img class="img img-fluid mx-auto" alt="KPI targets' history" src="kpi_history.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI formula: settings and apperance</h4>
            <img class="img img-fluid mx-auto" alt="KPI configuration" src="kpi_formula_settings.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI basic measurements: Odoo data</h4>
            <img class="img img-fluid mx-auto" alt="Basic low-level measurements for calculations" src="kpi_basic_measurement.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">KPI variable / KPI measurement: specify basic measurement</h4>
            <img class="img img-fluid mx-auto" alt="KPI variable - precision of basic measurement" src="kpi_variable.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Constants for KPI calculation</h4>
            <img class="img img-fluid mx-auto" alt="KPI constants" src="kpi_constant.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Open new KPI period</h4>
            <img class="img img-fluid mx-auto" alt="Create new period to set KPI targets" src="kpi_open_new_period.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Set new Odoo KPI targets</h4>
            <img class="img img-fluid mx-auto" alt="Setting up a new Odoo target" src="set_kpi_target.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Copy targets of another period</h4>
            <img class="img img-fluid mx-auto" alt="Substitute targets with KPI targets of another period" src="odoo_kpi_copy_targets.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Execute Python code to calculate KPI actual value</h4>
            <img class="img img-fluid mx-auto" alt="Python code basic measurement" src="kpi_python_code_measurement.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Odoo list of KPIs</h4>
            <img class="img img-fluid mx-auto" alt="Tree view of Odoo KPIs" src="list_of_kpis.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Share all KPIs of this category</h4>
            <img class="img img-fluid mx-auto" alt="User rights for KPI category" src="kpi_category_security.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Own KPI security settings</h4>
            <img class="img img-fluid mx-auto" alt="Users and User groups for KPI" src="kpi_security.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Odoo KPIs configuration</h4>
            <img class="img img-fluid mx-auto" alt="KPI configuration page" src="odoo_kpi_configuration.png"/>
        </div>
    
                    </div>
                
            </div>
        </div>
    
                            </div>
                            <div id="support_info" class="tab-pane">
                                
        <div class="row mt8">
            <div class="col-md-12">
                <div class="mb32">
                    <h3>Odoo demonstration databases (live previews)</h3>
                    <p>For this app we might provide a <i>free</i> personalized demo database.</p>
                    <p>To demand such database: press the button "Live Preview" on the top of this page or copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/90cuiy</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>By your request we will prepare an individual live preview database, where you would be able to apply any tests and to check assumptions during 14 days.</p>
                </div>
                <div class="mb16">
                    <h3>Bug reporting</h3>
                    <p>In case you have faced any bugs or inconsistent behavior, do not hesitate to contact us. We guarantee to provide fixes during 60 days after a purchase, while even after this period we are strongly interested to improve our tools.</p>
                    <p>To send us a bug report: press the "Website" link on the top of this page and push the button "Bug Report" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/oo7puz</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>Please include in your request as many details as possible: screen shots, Odoo server logs, full description of how to re-produce your problem, and so on. Usually it takes a few business days to prepare a working plan by an issue (if a bug is confirmed) or provide you with guidelines what should be done (otherwise).</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Public features request and module ideas (free development)</h3>
                    <p>We are strongly motivated to improve our tools and would be grateful for any sort of feedback. In case your requirements are of public use and might be efficiently implemented, the team would include those into our to-do list.</p>
                    <p>Such to-do list is processed on a regular basis and does not assume extra fees. Altough we cannot promise deadlines and final design, it might be a good way to get desired features without investments and risks.</p>
                    <p>To share ideas: press the "Website" link on the top of this page and push the button "Share Features Ideas" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/umtpqo</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>New features and extra Odoo services (individual development)</h3>
                    <p>Each of our apps might be customized and extended to suit your specific requirements.</p>
                    <p>Our customization team (itlibertas.com) fulfills not only such jobs but it also provides a full range of Odoo services. From simple modifications and consultations to complex enterprise projects. The team has completed over 100 implementations since 2012, and might help with any technical or business needs.</p>
                    <p>To contact us for details and conditions: press the "Website" link on the top of this page and push the button "Request Individual Customization" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/qbxbu2</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Questions and misc issues</h3>
                    <p>Feel free to contact us by any other concerns, doubts, or questions: press the "Website" link on the top of this page and push the button "Raise Question" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/fxte1r</span></p>
                </div>
                <div class="mt16 mb16">
                    <h3>About the team</h3>
                    <p>faOtools (faotools.com, former odootools.com) is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed. We are open for new ideas and challenges to create the best Odoo apps for business needs all over the world.</p>
                </div>
                
            </div>
        </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
        
        <div class="col-md-12 col-lg-12 mt16 mb16">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb8">
                    <h3>You may like the tools</h3>
                </div>
            </div>
            <div class="row">            
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    <img class="img img-fluid" src="app_icon_1.png" alt="KnowSystem: Knowledge Base System"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    KnowSystem: Knowledge Base System
                                </a>
                                <p class="mb0">The tool to build deep and structured knowledge base for internal and external use. Knowledge System. KMS</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            298<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    <img class="img img-fluid" src="app_icon_2.png" alt="Universal Appointments and Time Reservations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    Universal Appointments and Time Reservations
                                </a>
                                <p class="mb0">The tool for time-based service management from booking appointment to sale and reviews</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            399<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    <img class="img img-fluid" src="app_icon_3.png" alt="Password Manager"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    Password Manager
                                </a>
                                <p class="mb0">The tool to safely keep passwords in Odoo for shared use</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                188<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            165<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    <img class="img img-fluid" src="app_icon_4.png" alt="Odoo Documentation Builder"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    Odoo Documentation Builder
                                </a>
                                <p class="mb0">The tool to create website documentation based on your knowledge base</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            437<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/joint_calendar">
                                    <img class="img img-fluid" src="app_icon_5.png" alt="Joint Calendar"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/joint_calendar">
                                    Joint Calendar
                                </a>
                                <p class="mb0">The tool to combine different Odoo events in a few configurable super calendars. Shared calendar. Common calendar.</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            74<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/smart_warnings">
                                    <img class="img img-fluid" src="app_icon_6.png" alt="Smart Alerts"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/smart_warnings">
                                    Smart Alerts
                                </a>
                                <p class="mb0">The tool to draw users' attention to important document warnings and details</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            44<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/cloud_base">
                                    <img class="img img-fluid" src="app_icon_7.png" alt="Cloud Storage Solutions"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/cloud_base">
                                    Cloud Storage Solutions
                                </a>
                                <p class="mb0">The technical core to synchronize your cloud storage solution with Odoo</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            245<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    <img class="img img-fluid" src="app_icon_8.png" alt="Google Drive Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    Google Drive Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    <img class="img img-fluid" src="app_icon_9.png" alt="OwnCloud / NextCloud Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    OwnCloud / NextCloud Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with OwnCloud / NextCloud files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <div style="background-color:#0D6759 !important;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=faOtools" style="color:white !important;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More Apps by faOtools
                </a>
            </div>
        </div>
    
                    </div>
                
            </div>
        </section>
    