.o_job_estimates_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            min-width: 165px !important;
                            width: 165px !important;
                            max-width: 165px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        } 
                        th[data-name="analytic_idz"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="current_quantity"]{
                            min-width: 160px !important;
                            width: 160px !important;
                            max-width: 160px !important;
                            text-align: center;
                        } 
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        } 
                        th[data-name="unit_price"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_job_estimates_subcon {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        } 
                        th[data-name="analytic_idz"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="current_quantity"]{
                            min-width: 155px !important;
                            width: 155px !important;
                            max-width: 155px !important;
                            text-align: center;
                        } 
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        } 
                        th[data-name="unit_price"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_job_estimates_scope {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width: 400px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 500px !important;
                            width: 500px !important;
                            max-width: 500px !important;
                            text-align: center;
                        } 
                        th[data-name="subtotal"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_job_estimates_section {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width: 400px !important;
                            text-align: center;
                        } 
                        th[data-name="subtotal"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_job_estimates_variable {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 230px !important;
                            width: 230px !important;
                            max-width: 230px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 230px !important;
                            width: 230px !important;
                            max-width: 230px !important;
                            text-align: center;
                        }
                        th[data-name="variable_name"]{
                            min-width: 230px !important;
                            width: 230px !important;
                            max-width: 230px !important;
                            text-align: center;
                        }
                        th[data-name="variable_quantity"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="variable_uom"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_sale_order_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="type"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            min-width: 165px !important;
                            width: 165px !important;
                            max-width: 165px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        } 
                        th[data-name="analytic_idz"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        } 
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        } 
                        th[data-name="unit_price"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="line_tax_id"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_method_line"]{
                            min-width: 175px !important;
                            width: 175px !important;
                            max-width: 175px !important;
                            text-align: center;
                        }     
                        th[data-name="adjustment_amount_line"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        } 
                        th[data-name="adjustment_line"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="discount_method_line"]{
                            min-width: 160px !important;
                            width: 160px !important;
                            max-width: 160px !important;
                            text-align: center;
                        }     
                        th[data-name="discount_amount_line"]{
                            min-width: 160px !important;
                            width: 160px !important;
                            max-width: 160px !important;
                            text-align: center;
                        }
                        th[data-name="discount_line"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }      
                        th[data-name="amount_line"]{
                            min-width: 170px !important;
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }    
                        th[data-name="amount_tax_line"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="total_amount"]{
                            min-width: 135px !important;
                            width: 135px !important;
                            max-width: 135px !important;
                            text-align: center;
                        }    
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_sale_approval_matrix_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="user_name_ids"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="approval_type"]{
                            min-width: 135px !important;
                            width: 135px !important;
                            max-width: 135px !important;
                            text-align: center;
                        }
                        th[data-name="minimum_approver"]{
                            min-width: 165px !important;
                            width: 165px !important;
                            max-width: 165px !important;
                            text-align: center;
                        }
                        th[data-name="state_char"]{
                            min-width: 155px !important;
                            width: 155px !important;
                            max-width: 155px !important;
                            text-align: center;
                        }
                        th[data-name="time_stamp"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }
                        th[data-name="signature"]{
                            min-width: 245px !important;
                            width: 245px !important;
                            max-width: 245px !important;
                            text-align: center;
                        }
                        th[data-name="feedback"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        } 
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_scope_section {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_amount"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_method_scope"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_amount_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_subtotal_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="discount_method_scope"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="discount_amount_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="discount_subtotal_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_method_section"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_amount_section"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_subtotal_section"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="discount_method_section"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="discount_amount_section"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="discount_subtotal_section"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

