<?xml version="1.0" encoding="utf-8"?>
<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#875A7B;"><b>Odoo Face Recognition</b></h2>
    </div>
</section>

<div class="oe_centeralign oe_websiteonly">
                <a href="https://www.youtube.com/watch?v=4ka0Zh_ebRg" target="_blank" title="Odoo face recognition" style="background: #eb8136;" class="oe_button oe_big oe_tacky btn_watch">Watch the video</a>
</div>

<section class="oe_container col-md-4 col-lg-4">
    <div class="oe_row">
        <h3 class="oe_slogan" style="color: #875A7B; text-align: left; font-size: 30px; opacity: 1;  margin: 20px 0px;">Odoo Support</h3>
            <div class="oe_span12 list_attr" style="font-size: large; margin: 0px; padding: 0px;">
                <ul style="margin: 0px; padding: 0px; list-style: none;">
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Odoo Community.</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Odoo Enterprise.</span>
                    </li>

                </ul>
            </div>
        </div>
    </section>
<section class="oe_container col-md-4 col-lg-4">
    <div class="oe_row">
        <h3 class="oe_slogan" style="color: #875A7B; text-align: left; font-size: 30px; opacity: 1;  margin: 20px 0px;">Platforms tested</h3>
            <div class="oe_span12 list_attr" style="font-size: large; margin: 0px; padding: 0px;">
                <ul style="margin: 0px; padding: 0px; list-style: none;">
                     <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>iOS 13.3.1</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Android 10</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Windows 10</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Linux Ubuntu 16.04/18.04/20.04</span>
                    </li>

                </ul>
            </div>
        </div>
</section>
<section class="oe_container col-md-4 col-lg-4" >
    <div class="oe_row">
        <h3 class="oe_slogan" style="color: #875A7B; text-align: left; font-size: 30px; opacity: 1;  margin: 20px 0px;">Browsers tested</h3>
            <div class="oe_span12 list_attr" style="font-size: large; margin: 0px; padding: 0px;">
                <ul style="margin: 0px; padding: 0px; list-style: none;">
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Mobile Safari 13.0.5</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Chrome 81.0.4044.138</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Firefox 75.0</span>
                    </li>
                    <li>
                        <i class="fa fa-check" style="color: #cd2d47; font-size: 15px;"></i> <span>Yandex 20.3.5.90.00</span>
                    </li>
                 </ul>
            </div>
        </div>
</section>

<section class="s_images_row" data-name="Images row">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg" style="background-image: url(https://apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/ios.png);
                        background-size: cover;
                            background-position: center;
                            height:400px">
              <div class="bg-white s_images_row_body">
                <i class="fa fa-1x fa-apple mr-2 text-alpha"></i>
                <b>iOS&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</b>
              </div>
                            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/ios.png" alt="Slide image" data-index="0">
            </div>

            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg" style="background-image: url(https://apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/android.png);
                        background-size: cover;
                            background-position: center;
                            height:400px">
              <div class="s_images_row_body bg-white"><i class="fa fa-1x fa-android text-alpha mr-2"></i><b>Android</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
                            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/android.png" alt="Slide image" data-index="0">
            </div>

            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg" style="background-image: url(https://apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/windows.png);
                        background-size: cover;
                            background-position: center;
                            height:400px">
              <div class="s_images_row_body bg-white">
                <i class="fa fa-1x fa-desktop text-alpha mr-2"></i>
                <b>Webcam</b>
              </div>
                            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/windows.png" alt="Slide image" data-index="0">
            </div>

            <div class="col-lg-3 s_images_row_overlay oe_img_bg oe_custom_bg"  style="background-image: url(https://apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/setting.png);
                        background-size: cover;
                        height:400px">
              <div class="s_images_row_body bg-white"><i class="fa fa-1x fa-navicon text-alpha mr-2"></i><b>Settings user photos</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
                            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/setting.png" alt="Slide image" data-index="0">
            </div>
        </div>
    </div>
</section>
<section class="s_process_steps pt24 pb24 o_colored_level" data-snippet="s_process_steps" data-name="Steps" style="">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-3 s_process_step pt24 pb24 o_colored_level">
          <div class="s_process_step_icon">
            <span>
              <i class="fa fa-shopping-basket fa-2x mx-auto rounded-circle bg-primary" data-original-title="" title="" aria-describedby="tooltip283586"></i>
            </span>
          </div>
          <div class="s_process_step_content text-center">
            <h2>Installed module</h2>
            <p>Buy, download and installed module as usually.</p>
          </div>
        </div>
        <div class="col-lg-3 s_process_step pt24 pb24 o_colored_level">
          <div class="s_process_step_icon">
            <span>
              <i class="fa fa-2x mx-auto rounded-circle bg-o-color-5 fa-user" data-original-title="" title="" aria-describedby="tooltip950765"></i>
            </span>
          </div>
          <div class="s_process_step_content text-center">
            <h2>Add face images</h2>
            <p>Add face of your users or entrust the staff to upload their photos. </p>
            <p>
              <a href="https://www.youtube.com/watch?v=xLVnpMpc1ms" target="_blank">See tutorial.</a>
            </p>
          </div>
        </div>
        <div class="col-lg-3 s_process_step pt24 pb24 o_colored_level">
          <div class="s_process_step_icon">
            <span>
              <i class="fa fa-2x mx-auto rounded-circle bg-secondary fa-gear" data-original-title="" title="" aria-describedby="tooltip839788"></i>
            </span>
          </div>
          <div class="s_process_step_content text-center">
            <h2>Enable module</h2>
            <p>Enable/disable face recognition in attendance module configuration.</p>
          </div>
        </div>
        <div class="col-lg-3 s_process_step pt24 pb24 o_colored_level">
          <div class="s_process_step_icon">
            <span>
              <i class="fa fa-2x mx-auto rounded-circle bg-o-color-3 fa-check-square-o"></i>
            </span>
          </div>
          <div class="s_process_step_content text-center">
            <h2>Check result</h2>
            <p>Now all users will be able to check in/out only after the system recognizes them.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="container-fluid" style="margin-top: 50px">
            <div class="row">
               <div class="col-md oe_centeralign oe_websiteonly">
                 <b>Check in with default settings (any emotion,age,gender) on iOS</b>
                 <br><br>
                 <video width="100%" height="auto" autoplay="autoplay" controls="controls" loop="loop">
                         <source src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/check.MP4" type="video/mp4">
                         Your browser does not support the video tag.
                       </video>
                  <br>
                    <br>
                <div class="oe_centeralign oe_websiteonly">
                <a href="https://www.youtube.com/watch?v=ddIJswfS37I" target="_blank" title="Odoo face recognition" style="background: #eb8136;" class="oe_button oe_big oe_tacky btn_watch">Watch the video youtube</a>
               </div>
           </div>
               <div class="col-md oe_centeralign oe_websiteonly">
                  <b>Check out with happy(smile) emotion required (age,gender any) on iOS</b>
                  <br><br>
                     <video width="100%" height="auto" autoplay="autoplay" controls="controls" loop="loop">
                             <source src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/check_happy.MP4" type="video/mp4">
                             Your browser does not support the video tag.
                           </video>
                  <br><br>
                  <div class="oe_centeralign oe_websiteonly">
                <a href="https://www.youtube.com/watch?v=YmbJCc8Zn4A" target="_blank" title="Odoo face recognition" style="background: #eb8136;" class="oe_button oe_big oe_tacky btn_watch">Watch the video youtube</a>

               </div>
           </div>
                <div class="col-md oe_centeralign oe_websiteonly">

                  <b>Quick user setting recognition on iOS platform</b>
                  <br><br>
                     <video width="100%" height="auto" autoplay="autoplay" controls="controls" loop="loop">
                             <source src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_face_recognition/settings_user.MP4" type="video/mp4">
                             Your browser does not support the video tag.
                           </video>
                  <br><br>
                                  
                  <div class="oe_centeralign oe_websiteonly">
                    <a href="https://www.youtube.com/watch?v=Wz660k-OppQ" target="_blank" title="Odoo face recognition" style="background: #eb8136;" class="oe_button oe_big oe_tacky btn_watch">Watch the video youtube</a>

               </div>
            </div>
         </div>
     </div>



<h3 class="oe_slogan" style="text-align:center">Similar modules</h3>
<section class="o_gallery s_image_gallery o_fake_not_editable o_masonry o_spc-medium" style="background-color: #875A7B !important;color:white" data-columns="3" style="overflow: hidden;" data-name="Image Gallery">
<div class="container">
  <div class="row">
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance IP-address access control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_ip/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_ip/min_info.png" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance Token-device access control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_token/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_token/form.png" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance Geolocation-device access control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_geo_html/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/hr_attendance_geo_html/all_info.png" alt="Slide image" data-index="0">
        </a>
    </div>
  </div>
</div>
</section>

<h3 class="oe_slogan" style="text-align:center">Our best-selling modules</h3>
<section class="o_gallery s_image_gallery o_fake_not_editable o_masonry o_spc-medium" style="background-color: #875A7B !important;color:white" data-columns="3" style="overflow: hidden;" data-name="Image Gallery">
<div class="container">
  <div class="row">
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">Professional attachment manager</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/attachments_manager/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/attachments_manager/preview.png" alt="Slide image" data-index="1">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">Professional image  editor for Odoo images</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/field_image_editor/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/field_image_editor/img1.png" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">Professional Docx-Odoo templating</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/docx_report/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="//apps.odoocdn.com/apps/assets/13.0/docx_report/template.png" alt="Slide image" data-index="0">
        </a>
    </div>
  </div>
</div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:shurshilov.a@yandex.ru">email</a> </a></p>
            <ul>
                <li><a href="mailto:shurshilov.a@yandex.ru">shurshilov.a@yandex.ru <i class="fa fa-envelope-o"></i></a></li>
            </ul>
            <h2>Official OCA contributor</h2>
            <img class="s_tooltip_tabs_tooltip_image" src="logo.png">
        </div>
    </div>
</section>