
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
    	<div class="row">
	        <div class="sh_span12" style="padding: 40px">
	            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>All in one secondary unit - Sales, Purchase, Accounting and Inventory</b></center>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
	            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">
					Do you have more than one unit of measure in the product? Yes! So, You are at the right place, We have created a beautiful module to manage a secondary unit of product in sales, purchase, inventory operations and accounting. It will help you to get easily secondary unit value. so you don't need to waste your time to calculate that value. You can also show that value in PDF Reports, so your Customer/Vendor also easily understand that.
				</p> 
	        </div> 
        </div>
    </div>   
</section>

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
 <div class="container">
  <div class="sh_spaced">
   <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Related Module</b>
   </h2>
   <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
   <p class="sh_mb32" align="center" style="color: green; font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
      <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
      <a href="https://apps.odoo.com/apps/modules/14.0/sh_product_secondary/"><b>Product - Secondary Unit of Measure</b></a> (Included Dependency)
  </p>

     <p class="sh_mb32" align="center" style="color: green; font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
      <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
      <a href="https://apps.odoo.com/apps/modules/14.0/sh_sale_secondary/"><b>Sale - Secondary Unit of Measure</b></a> (Included Dependency)
  </p>

     <p class="sh_mb32" align="center" style="color: green; font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
      <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
      <a href="https://apps.odoo.com/apps/modules/14.0/sh_stock_secondary/"><b>Stock - Secondary Unit of Measure</b></a> (Included Dependency)
  </p>

     <p class="sh_mb32" align="center" style="color: green; font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
      <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
      <a href="https://apps.odoo.com/apps/modules/14.0/sh_account_secondary/"><b>Account - Secondary Unit of Measure</b></a> (Included Dependency)
  </p>

</div>
</div>
</section>



<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">

	<h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://www.youtube.com/watch?v=KrX_zvlWRdI&feature=youtu.be" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? Click here to watch video</a>
    </h2>

			</div>
        </div>
</section>



<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
	<div class="container">
		<div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 Easy to convert product value in the Primary unit to Secondary unit.

			</p>


	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 You can use the secondary unit in Sale, Purchase, Accounting, and Inventory.
 
			</p>


		<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 Easily convert from secondary to primary and primary to secondary.
 
      </p>

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 
If you input the secondary unit of measure than it will auto change the primary unit of measure value and if you change the primary unit of measure auto change value of the secondary unit of measure.
 
      </p>

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Users can see stock (onhand, outgoing, incoming) in the secondary unit of measure.
			</p>			

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
It will also show in PDF Reports.  
			</p>

        <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
it will help to save your important time.
            </p>

        <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
No special configuration required, install it, use it.
            </p>                        

			</div>
        </div>
    </div>
    </div>
</section>


<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.3 (16<sup>th</sup> August 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     <span class="badge badge-warning" style="background: #FF9800;
padding: 5px 10px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Update</span> Xpath changed.
                  </li>
               </ul>
                 <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.2 (7<sup>th</sup> July 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     <span class="badge badge-info" style="background: #2196F3;
padding: 5px 15px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Fixed</span> Minor Bug Fixed
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.1 (10<sup>th</sup> October 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
    	            <div class="oe_spaced">
        	            <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
        	            	Tik Right on related group.
        	            </h2>
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
	                    <div  style="margin:5px auto;">
    	               		<img class="img-responsive" src="1.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
    	            <div class="oe_spaced">
        	            <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
        	            	Select the right secondary unit for primary unit in product
        	            </h2>
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
	                    <div  style="margin:5px auto;">
    	               		<img class="img-responsive" src="2.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            You Can see secondary unit with secondary qty in quotation order line.
                        </h2>
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="3.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in Picking order line.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="4.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in Operation Confirm.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="5.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary done qty in Delivery Picking operation line.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="6.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in Invoice line.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="9.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in customer Invoice pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="invoice.png" style="width:100%;">
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in customer Credit Note pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="cust_creditnote.png" style="width:100%;">
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in Vendor bill pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="vendor bill.png" style="width:100%;"> 
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit with secondary qty in Vendor credit note pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="vendo_refund.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary Qty in Sales Analysis pivot view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="10.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM in Sales Analysis pivot view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="11.png" style="width:100%;">
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM in Sale Quotation pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="sale report.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit and Qty in RFQ product line.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="12.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit and Qty in product Receipt.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="13.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary unit and Qty in Vendor Bill.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="15.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary Qty in Purchase Pivot view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="16.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM in Purchase Pivot view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="17.png" style="width:100%;">
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM in Request for Quotaion Pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="purchase rfq.png" style="width:100%;">
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM in Purchase order confirm pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="purchase order confirm.png" style="width:100%;">
                        </div>
                    </div>
                </section>


                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM and Qty in Inventory tree view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="18.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary UOM and Qty in Inventory Product moves tree view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="19.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary Qty in Scap Order form view.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="20.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary Qty in Delivery slip pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="21.png" style="width:100%;">
                        </div>
                    </div>
                </section>

                <section class=" text-center oe_container" style="background-color:#f2f2f200">
                    <div class="oe_spaced">
                        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                            Secondary Qty in Picking order pdf report.
                        </h2>   
                        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
                        <div  style="margin:5px auto;">
                            <img class="img-responsive" src="22.png" style="width:100%;">
                        </div>
                    </div>
                </section>



<section class="oe_container oe_dark" style="background: #efefef00;"> 
   <div class="oe_row oe_spaced"> 
        <h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;    margin-bottom: 10px;"/>
        <div class="row">
            <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_hide_desc">
                    <img src="image1.png" alt="All In One Hide Description" width="100%">
                </a>
               
            </div>
            <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_bundle/">
                    <img src="image2.png" alt="All in One Product Bundle" width="100%">
                </a>
             
            </div>
            
            <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_default_followers/">
                    <img src="image3.png" alt="All in One Default Followers" width="100%">
                </a>
              
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_multi_followers/">
                    <img src="image4.png" alt="All in One Multi Followers" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_disable_followers/">
                    <img src="image5.png" alt="All in One Disable Followers" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_html_notes/">
                    <img src="image6.png" alt="All In One HTML Notes" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_hide_feature/">
                    <img src="image7.png" alt="All In One Hide Feature" width="100%">
                </a>
             
            </div> <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_views/">
                    <img src="image8.png" alt="All In One Line Views" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_stock_detail/">
                    <img src="image9.png" alt="All In One Stock Detail" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_in_one_margin/">
                    <img src="image10.png" alt="All In One Margin" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_priority/">
                    <img src="image11.png" alt="All in One Priority - Sale, Purchase, Account, Inventory" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_unique_products/">
                    <img src="image12.png" alt="All In One Unique Products" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_report_duplicate_watermark/">
                    <img src="image13.png" alt="All In One Duplicate Watermark" width="100%">
                </a>
             
            </div> <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_mass_confirm/">
                    <img src="image14.jpeg" alt="All in one mass confirm" width="100%">
                </a>
             
            </div>
             <div class="col-md-4" align="center"  style="margin-top: 1rem;"> 
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_all_summary">
                    <img src="image15.png" alt="All in one summary in partner" width="100%">
                </a>
             
            </div>
            
     </div>
   </div> 
</section>
<br>
<section class="oe_container oe_dark">
   <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free support for 90 days and assistance in case of any issues

</h3>
      <br/>
      <div class="text-center"> 
         <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
        
      </div>
   </div>
</section>







