<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> Product Bundle-Dynamic Bundle choice on Sale Order Odoo apps </b>
			</h2>
			<p class="oe_slogan">
				Dynamic Choice of Product bundle Pack Odoo apps is offering several products for sale as one combined product which you can able to sell as combo product kit easily from sales order here you will get choice to select product pack when select bundle on sales order, and able to deliver all products pack of kit in delivery orders. It is a common feature in many imperfectly competitive product markets where price plays important roles, using these odoo module you can act set competitive price for same or different products and variants to increase your sales graph.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/prod1.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>User can add product and variants in bundle</b></h4>
					  <span class="oe_slogan"> This app allows user to add multiple products in one go and different price for different product pack.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/prod6.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> User can add products in product bundle. </b></h4>
						<span class="oe_slogan"> Have dynamic choice for create/edit bundle in sales order.  </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/prod4.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Changes applies easily </b></h4>
					  <span class="oe_slogan"> Effected changes easily applied on sales and bundle pack and quickly make sales for product pack or service pack.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/prod2.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Bundle multiple instances of the same product. </b></h4>
						<span class="oe_slogan"> Boost users up-selling performance by offering kit versions of popular products paired with one or more related items and offers bulk discounts.  </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Product Bundle-Dynamic Bundle choice on Sale Order Odoo apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/LcQQyQ-xm3A" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> How to use Dynamic Product Bundle </p>
			<p class="oe_slogan"> Once you install module you can see product pack menu under products in Sales application, Now you can create product bundle by selecting products and variants. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack1.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">How to create product Bundle</p>
			<p class="oe_slogan">While you create product bundle you have to enter bundle details and relevant pack products details under it.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Wizard for adding Product bundle in sales order</p>
			<p class="oe_slogan"> When Creating Sale order if you want to add bundles you have to click on "Add Bundle" button. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack3.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">After clicking button a wizard will open in which you have to select bundle and product related to that bundle also displayed.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack4.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Adding product bundle</p>
			<p class="oe_slogan">After selecting product bundle products under that pack included in that sales order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack5.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Updating product pack details</p>
        	<p class="oe_slogan">Whatever Changes you done from the wizard of the product bundle on sales order line will be also applied on sales order lines and product bundle.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack6.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack7.png">

			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pack8.png">
		</div>
	</div>
</section>



<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_product_price_history/">
					<img class="img img-responsive" src="related/1.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_sales_delivery_notes/">
					<img class="img img-responsive" src="related/2.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sku_report/">
					<img class="img img-responsive" src="related/3.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_sale_tripple_approval/">
					<img class="img img-responsive" src="related/4.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sale_price_history/">
					<img class="img img-responsive" src="related/5.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_automated_sale_order/">
					<img class="img img-responsive" src="related/6.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/generic_excel_report/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Product Bundle-Dynamic Bundle choice on Sale Order Odoo apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Product Bundle-Dynamic Bundle choice on Sale Order Odoo apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>
