<div class="oe_styling_v8">
    <section style="background-color: white;margin-bottom: 20px;">
        <div class="row justify-content-center">
            <div class="text-center">
                <h3 style="font-size: 40px;padding-top: 5px;color: #07386f;font-weight: 700;">
                    Company Public Holiday
                </h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center">
                <i class="  fa fa-arrow-down" style="font-size:20px;color: #07386f;">
                </i></div>
        </div>
    </section>
    <section class="pt16" style="background-color: #f8f9fa;margin-bottom: 35px;">
        <div class="text-center">
            <h6 class="mb-0 mt-2" style="font-size: 14px;">Supported Editions</h6>
            <div class="row justify-content-center">
                <h6 class="mb-0 mt-2 mr4" style="font-size: 14px;min-width: 90px;"><span class="badge badge-pill badge-light" style="color: #ffffff;background-color: #7c7bad;border-radius: 0.4rem;padding: 1.00em 0.4em;padding-right: 2em;padding-left: 2em;"> Community </span></h6>
                <h6 class="mb-0 mt-2 text-right" style="font-size: 14px;min-width:90px"><span class="badge badge-pill badge-light" style="color: #ffffff;background-color: #007a77;border-radius: 0.4rem;padding: 1.00em 0.4em;padding-right: 2em;padding-left: 2em;"> Enterprise </span></h6>
            </div>
        </div>
        <div class="col-md-10 mx-auto pt16 pb16">
            <div class="text-center">
                <p style="font-size: 21px;color: #113246;border: 1px solid;border-color: #dee2e6;background-color: #ffffff;" class="px-sm-4 p-2 pt-4"><b>Company Public Holiday</b> module allows to add company holiday in <b>odoo</b>.
                </p>
            </div>
        </div>
    </section>
    <section style="background-color: #ffffff;margin-bottom: 18px;">
        <div class="row">
            <h2 class="text-center mx-auto" style="font-size: 30px;font-weight: 700;border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;padding: 12px;width: 283px;"><span style="color: #09436d;">Key</span><span style="color: #f90829;"> Features</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 mt32">
                <p style="font-size: 16px;color: #113246;border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;padding: 4px;"><i class="fa fa-circle" style="font-size: 11px;color: #cfd2d4;"></i>
                    Add Company Public Holiday in Odoo.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 mt32">
                <p style="font-size: 16px;color: #113246;border: 1px solid;border-color: #dee2e6;background-color: #ffffff;padding: 4px;"><i class="fa fa-circle" style="font-size: 11px;color: #cfd2d4;"></i>
                    Company Holiday List can be Send all Employee via Email.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 mt30">
                <p style="font-size: 16px;color: #113246;border: 1px solid;border-color: #dee2e6;background-color: #ffffff;padding: 4px;"><i class="fa fa-circle" style="font-size: 11px;color: #cfd2d4;"></i>
                    Holiday List will be Automatically Update on Global Time Off.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 mt30">
                <p style="font-size: 16px;color: #113246;border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;padding: 4px;"><i class="fa fa-circle" style="font-size: 11px;color: #cfd2d4;"></i>
                    You can also Update Holiday list on Calendar.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 mt30">
                <p style="font-size: 16px;color: #113246;border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;padding: 4px;"><i class="fa fa-circle" style="font-size: 11px;color: #cfd2d4;"></i>
                    You can also print public holiday report.
                </p>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <div style="padding: 15px 0px;" id="loempia_tabs">
            <ul role="tablist" class="nav nav-pills justify-content-center" data-tabs="tabs" id="pills-tab" style="background: transparent;">
                <li class="nav-item col-12 col-sm-6 col-md-4" style="padding-right: 1em;">
                    <a id="pills-config-tab" data-toggle="pill" href="#pills-config" role="tab" aria-controls="pills-config" aria-selected="true" class="nav-link show active mb-sm-2 mb-md-0 mb-lg-0" style="background-color: #f3452b;color: ivory;margin-bottom: 0.5rem;">Configuration &amp; Setup</a>
                </li>
                <li class="nav-item col-12 col-sm-6 col-md-3">
                    <a id="pills-release-tab" data-toggle="pill" href="#pills-release" role="tab" aria-controls="pills-release" aria-selected="false" class="nav-link mb-sm-2 mb-md-0 mb-lg-0" style="background-color: #f37e2b;color: ivory;margin-bottom: 0.5rem;">Release Notes</a>
                </li>
                <li class="nav-item col-12 col-sm-6 col-md-3" style="padding-left:1em;">
                    <a id="pills-demo-tab" data-toggle="pill" href="#pills-demo" role="tab" aria-controls="pills-demo" aria-selected="false" class="nav-link mb-sm-2 mb-md-0 mb-lg-0" style="background-color: #0870b9;color: ivory;margin-bottom: 0.5rem;">Demo</a>
                </li>
                <li class="nav-item col-12 col-sm-6 col-md-2" style="padding-left:1em;">
                    <a style="background-color: #48a03dab;color: ivory;margin-bottom: 0.5rem;" class="nav-link mb-sm-2 mb-md-0 mb-lg-0" aria-selected="false" aria-controls="pills-faq" role="tab" href="#pills-faq" data-toggle="pill" id="pills-faq-tab">FAQ'S</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="px-3 pt-1 tab-pane fade active show" id="pills-config" role="tabpanel" aria-labelledby="pills-config-tab"><br>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Multi Company</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                    <ul class="list-unstyled" style="font-size:17px;border-radius: 9px;padding-top: 4px;">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">multi company allow to use public holiday.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="multi_company.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <section>
                        <div class="col-md-12 pl-0 pr-0 mx-auto mb16 d-block">
                            <div>
                                <div class="p-3" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Company Public Holiday</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                    <ul class="list-unstyled" style="font-size:17px;border-radius: 9px;padding-top: 4px;">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">Navigate to Leaves and click on Company Public Holiday menu.</span>
                                        </li>
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">Create holiday list.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="create_holiday.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <section>
                        <div class="">
                            <div class="">
                                <div class="p-3 mt32" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Global Time Off</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                    <ul class="list-unstyled" style="font-size:17px;border-radius: 9px;padding-top: 4px;">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">Navigate to technical menu and click on working times.</span>
                                        </li>
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">Now, open global time off tab, public holiday auto update in list.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="globel_leave.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <section>
                        <div class="mt32">
                            <div class="">
                                <div class="p-3" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Holiday list send by email</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                    <ul class="list-unstyled" style="font-size:17px;border-radius: 9px;padding-top: 4px;">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">Send holiday list to all employees, click on send by email button.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="click_email.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <section>
                        <div class="mt32">
                            <div class="">
                                <div class="p-3" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Holiday list</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="mail.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <section>
                        <div class="mt32">
                            <div class="">
                                <div class="p-3" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Update calendar</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                    <ul class="list-unstyled" style="font-size:17px;border-radius: 9px;padding-top: 4px;">
                                        <li class="d-flex align-items-baseline mb-2">
                                            <i class="fa fa-circle" style="font-size:15px;color: #113246;padding-right: 9px;"></i><span style="padding-bottom: 3px;">Now, update holiday list in calendar by the clicking on Update Holiday Calendar button.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="upcal_button.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <br />
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="calendar.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <section>
                        <div class="mt32">
                            <div class="">
                                <div class="p-3" style="border: 1px solid;border-color: #dee2e6;background-color: #f8f9fa;">
                                    <span class="oe_slogan" style="color:#113246;font-size: 35px;font-weight: 800;">Public Holiday Report</span>
                                    <p style="border-bottom: 2px solid black;width:1cm;border-color:red;display: inline-flex;margin-left: 14px;position: relative;vertical-align: -webkit-baseline-middle;"></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="get_holiday_report.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                    <br />
                    <section>
                        <div class="p-3 p-sm-5 mt32" style="border: 1px solid #dee2e6;background-color: #f8f9fa;">
                            <img src="holiday_report.png" style="width: 99%;margin-bottom:inherit;" class="oe_screenshot oe_centered">
                        </div>
                    </section>
                </div>
                <div class="px-3 pt-1 tab-pane fade" id="pills-release" role="tabpanel" aria-labelledby="pills-release-tab"><br>
                    <section class="card mb-5" style="border:none">
                        <div class="card-body pb-5">
                            <div class="row justify-content-center">
                                <div class="pr-0 pl-0 col-sm-12 col-md-8 col-xl-6 mx-auto">
                                    <span style="background-color:#203038;width: 4px;height: 100%;height: 99%;"></span>
                                    <div class="pb-3">
                                        <div class="" style="background-color: #05386e;padding: 9px;text-align: center;color:#fff;border-radius: 10px 10px 10px 10px;">
                                            <span style="font-size:20px; font-weight:700; display:block">22nd</span>
                                            <span style="display:block;font-size: 1.0em;text-transform:uppercase;">January, 2020 </span>
                                        </div>
                                        <div style="padding:1.5rem 2rem; border-top-right-radius:10px; background-color:#fff; border-bottom-right-radius:10px">
                                            <div class="timeline__content">
                                                <h3 style="font-weight:400;margin-bottom: 6px;">Latest Release 1.0</h3>
                                                <p style="color:#666; margin-bottom:10px"><span style="font-size:17px"><i class="fa fa-hand-o-right"></i>
                                                        First version to release.</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="px-3 pt-1 tab-pane fade" id="pills-demo" role="tabpanel" aria-labelledby="pills-demo-tab"><br>
                    <h2 style="font-weight:600;font-size: 2.5rem;color: #06386e;margin-top: 4px;margin-bottom: 31px;text-align: center;">Here See Demo Video:-</h2>
                    <div class="oe_centeralign oe_websiteonly" style="margin-bottom: 30px;">
                        <a href="https://www.youtube.com/watch?v=vx1Vdo6kVTc&amp;feature=youtu.be" target="new" style="background-color:#06416b;font-size: 20px;">Demo Video</a>
                    </div>
                </div>
                <div class="px-3 pt-1 tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab"><br>
                    <section>
                        <div class="card-body p-0">
                            <div class="text-center pb-5">
                                <h2 style="color: #06386e;font-weight:600;font-size: 2.5rem;">Frequently Asked Question:-</h2>
                            </div>
                            <div class="s_faq mx-2 mx-md-5 mb-5" style="background-color: #fefefe;">
                                <div id="accordion">
                                    <div class="card shadow mb-4" style="border:none">
                                        <div class="card-header py-4 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none;">
                                            <div class="pr-5" style="font-size: 1.4rem;font-weight:600;color: #05376d;">Is this app compatible with Odoo Enterprise?
                                            </div>
                                            <a class="card-link collapsed" data-toggle="collapse" href="#faqOne" style="width:48px;height:40px;line-height:11px;background-color: rgba(5, 55, 109, 0);border-radius:2px;padding:0;font-size: 23px;" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqOne" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size: 1.2rem;color: #0b3b52a1;">
                                                    Yes, our app works with Odoo Enterprise as well as Community.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="s_faq mx-2 mx-md-5 mb-5" style="background-color: #fefefe;">
                                <div id="accordion">
                                    <div class="card shadow mb-4" style="border:none">
                                        <div class="card-header py-4 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none;">
                                            <div class="pr-5" style="font-size: 1.4rem;font-weight:600;color: #05376d;">Is this app compatible with Windows or Ubuntu?
                                            </div>
                                            <a class="card-link collapsed" data-toggle="collapse" href="#faqOne" style="width:48px;height:40px;line-height:11px;background-color: rgba(5, 55, 109, 0);border-radius:2px;padding:0;font-size: 23px;" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqOne" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size: 1.2rem;color: #0b3b52a1;">
                                                    Yes, our app works with Windows or Ununtu operating system.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="s_faq mx-2 mx-md-5 mb-5" style="background-color: #fefefe;">
                                <div id="accordion">
                                    <div class="card shadow mb-4" style="border:none">
                                        <div class="card-header py-4 pl-4 pr-5 bg-white position-relative d-flex justify-content-between" style="border:none;">
                                            <div class="pr-5" style="font-size: 1.4rem;font-weight:600;color: #05376d;">Is this app required any additional configuration?
                                            </div>
                                            <a class="card-link collapsed" data-toggle="collapse" href="#faqOne" style="width:48px;height:40px;line-height:11px;background-color: rgba(5, 55, 109, 0);border-radius:2px;padding:0;font-size: 23px;" aria-expanded="false"></a>
                                        </div>
                                        <div id="faqOne" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body pt-0 pl-4">
                                                <div style="font-size: 1.2rem;color: #0b3b52a1;">
                                                    No, install module and use this features.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="pt32" style="background-color: #f8f9fa;margin-bottom: 35px;">
        <div class="text-center mx-auto" style="border:1px solid;background-color: #9e9c9c4f;height: 69px;width: 318px;">
            <h2 class="mb-0 mt-2" style="font-size: 20px;font-weight: 900;border: 1px solid;margin-left: 8px;background-color: #06386e;color: white;padding: 12px;width: 300px;">FREE 3 MONTHS SUPPORT</h2>
        </div>
        <div class="">
            <div class="text-center">
                <p style="font-size: 21px;color: #686868;font-weight: 300;" class="px-sm-4 p-2 pt-4"> Kanak Infosystems will provide free 3 months support for bug fixes, any doubts or queries, installation, configuration support or any types of issues related to this module.<br></p>
                <p class="mx-auto" style="border-bottom:1px solid black;width:4cm;border-color:#dee2e6;"></p>
                <span style="color: #113246;font-size: 20px;font-weight: 600;">NOTE:</span> <span style="color: #686868;font-size: 21px;font-weight: 300;">This module do not required extra configuration.</span>
                <p></p>
            </div>
        </div>
        <div>
            <div class="row mx-0 justify-content-sm-between justify-content-center" style="margin-top: 23px;">
                <div class="mb-sm-0 mb-3 ml-0 ml-sm-5">
                    <i class="fa fa-envelope-o" style="margin-right: 10px;color:#05386e;font-size: 22px;"></i>
                    <span style="font-size: 20px;color: #686868;">sales@kanakinfosystems.com</span>
                </div>
                <div class="d-sm-block">
                    <i class="fa fa-skype" style="margin-right: 10px;color: #3a96cc;font-size: 27px;"></i>
                    <span style="font-size: 20px;color: #686868;">kanakinfosystems</span>
                </div>
                <div style="margin-right: 120px;">
                    <i class="fa fa-whatsapp" style="margin-right:10px;color: #29f311;font-size: 30px;"></i>
                    <span style="font-size: 20px;color: #686868;">+91 9818108884 </span>
                </div>
            </div>
        </div>
    </section>
    <section class="d-none d-sm-block" style="text-align:center;">
        <div style="width: 450px;height: 450px;background-color: #FFFFFF;border-radius: 50%;border: 1px dotted grey;display: inline-block; margin-top: 65px;margin-bottom: 65px;display: inline-flex;">
            <div style="display:inline-block;margin-left: 165px;margin-top:-65px;">
                <a href="https://apps.odoo.com/apps/modules/13.0/payment_atom/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #f98133;">
                    <div>
                        <img src="Atom-Payment-Gateway.png" width="46px">
                    </div>
                    <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Atom Payment Gateway</span>
                </a>
            </div>
            <div style="display:inline-block;margin-left: -337px;margin-top:46px;">
                <a href="https://apps.odoo.com/apps/modules/10.0/payment_authorize_cim_kanak/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #7788fa;">
                    <div>
                        <img src="Authorize-Payment-gateway---CM.png" width="48px">
                    </div>
                    <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Authorize Payment Gateway - CIM</span>
                </a>
            </div>
            <div style="display:inline-block;margin-left: -172px;margin-top:254px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/email_paypal_payment/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #57c96a;">
                    <div>
                        <img src="Email-paypal.png" width="58px">
                    </div>
                    <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Email Paypal Payment</span>
                </a>
            </div>
            <div style="display:inline-block;margin-left: 54px;margin-top:356px;">
                <a href="https://apps.odoo.com/apps/modules/13.0/paypal_adaptive_payment/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #1e72be;">
                    <div>
                        <img src="Paypal-Adaptive-Payment.png" width="61px">
                    </div>
                    <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">PayPal Adaptive Payment</span>
                </a>
            </div>
            <div style="display:inline-block;margin-left: 37px;margin-top:253px;">
                <a href="https://apps.odoo.com/apps/modules/13.0/payment_paytrail/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #ffcd58;">
                    <div>
                        <img src="Paytrail-Payment-Acquirer.png" width="68px">
                    </div>
                    <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Paytrail Payment Acquirer</span>
                </a>
            </div>
            <div style="display:inline-block;margin-left: -150px;margin-top:46px;">
                <a href="https://apps.odoo.com/apps/modules/12.0/payment_payvalida/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #7fca5a;">
                    <div>
                        <img src="Payvalida-Payment.png" width="64px">
                    </div>
                    <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Payvalida Payment</span>
                </a>
            </div>
            <div style="display:inline-block;margin-left: -357px;margin-top: 146px;">
                <div style="width: 184px;">
                    <span style="color: #03426a;font-weight: bold;font-size: 26px;text-align: center;display: inline-block;line-height: 33px;">SUGGESTED APPS</span>
                    <i class="fa fa-arrow-down" style="display: block;text-align: center;color: #3ca89b;height: 40px;font-size: 24px;margin-top: 4px;"></i>
                    <a href="https://apps.odoo.com/apps/modules/browse?author=Kanak%20Infosystems%20LLP." target="_blank" style="padding: 10px 46px;color: white;background-color: #3ca89b;font-size: 20px;">App Link</a>
                </div>
            </div>
        </div>
    </section>
    <section class="d-block d-sm-none" style="text-align:center;">
        <div class="row mt16">
            <div class="col-12 mx-auto">
                <div style="display:inline-block;">
                    <div style="width: 184px;">
                        <span style="color: #03426a;font-weight: bold;font-size: 26px;text-align: center;display: inline-block;line-height: 33px;">SUGGESTED APPS</span>
                        <i class="fa fa-arrow-down" style="display: block;text-align: center;color: #3ca89b;height: 40px;font-size: 24px;margin-top: 4px;"></i>
                        <a href="https://apps.odoo.com/apps/modules/browse?author=Kanak%20Infosystems%20LLP." target="_blank" style="padding: 10px 46px;color: white;background-color: #3ca89b;font-size: 20px;">App Link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt32">
            <div class="col-6 mx-auto">
                <div style="display:inline-block;">
                    <a href="https://apps.odoo.com/apps/modules/13.0/payment_atom/" target="_blank" style="width:150px;height: 150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #f98133;">
                        <div>
                            <img src="Atom-Payment-Gateway.png" width="43px">
                        </div>
                        <span style="font-size: 13px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Atom Payment Gateway</span>
                    </a>
                </div>
            </div>
            <div class="col-6 mx-auto">
                <div style="display:inline-block;">
                    <a href="https://apps.odoo.com/apps/modules/10.0/payment_authorize_cim_kanak/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #7788fa;">
                        <div>
                            <img src="Authorize-Payment-gateway---CM.png" width="48px">
                        </div>
                        <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Authorize Payment Gateway - CIM</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt32">
            <div class="col-6 mx-auto">
                <div style="display:inline-block;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/email_paypal_payment/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #57c96a;">
                        <div>
                            <img src="Email-paypal.png" width="58px">
                        </div>
                        <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Email Paypal Payment</span>
                    </a>
                </div>
            </div>
            <div class="col-6 mx-auto">
                <div style="display:inline-block;">
                    <a href="https://apps.odoo.com/apps/modules/13.0/paypal_adaptive_payment/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #1e72be;">
                        <div>
                            <img src="Paypal-Adaptive-Payment.png" width="61px">
                        </div>
                        <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">PayPal Adaptive Payment</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt32 mb32">
            <div class="col-6 mx-auto">
                <div style="display:inline-block;">
                    <a href="https://apps.odoo.com/apps/modules/13.0/payment_paytrail/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #ffcd58;">
                        <div>
                            <img src="Paytrail-Payment-Acquirer.png" width="68px">
                        </div>
                        <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Paytrail Payment Acquirer</span>
                    </a>
                </div>
            </div>
            <div class="col-6 mx-auto">
                <div style="display:inline-block;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/payment_payvalida/" target="_blank" style="width:150px;height:150px;display:inline-block;border-radius:50%;text-align:center;padding:30px;background-color: #7fca5a;">
                        <div>
                            <img src="Payvalida-Payment.png" width="64px">
                        </div>
                        <span style="font-size: 14px;color: white;padding-top: 10px;display: block;font-weight: normal;line-height: 16px;">Payvalida Payment</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color:white">
        <div class="row pb-sm-1 px-4 text-center">
            <div class="col-12">
                <h2 class="text-center my-3 mx-auto" style="font-weight:800;color:#05386e;font-size:xx-large;border:1px solid #dee2e6;border-radius:5px;background-color:#f8f9fa;padding:10px;width: 310px !important;">OUR SERVICES</h2>
            </div>
            <div style="margin-bottom:20px;" class="col-md-3">
                <div class="text-center" style="min-height: 90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Hire-Odoo-Developer.jpg" alt="Developer" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px;font-weight:400;margin-top: -37px;margin-left: 30px;">Hire Odoo Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Customization.jpg" alt="custom" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;margin-top: -37px;margin-left: 30px;">Odoo Customization</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Development.jpg" alt="Develop" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;margin-top: -37px;margin-left: 30px;">Odoo Development</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Installation.jpg" alt="Install" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;margin-top: -37px;margin-left: 30px;">Odoo Installation</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Integration.jpg" alt="Integ" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;margin-top: -37px;margin-left: 30px;">Odoo Integration</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Resources.jpg" alt="Resource" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;margin-top: -37px;margin-left: 30px;">Odoo Resources</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Themes.jpg" alt="Themes" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;margin-top: -37px;margin-left: 30px;">Odoo Themes</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="text-center" style="min-height:90px;border-style: none;display: inline-block;box-shadow: none !important;">
                    <div class="pt-4">
                        <img src="Odoo-Training.jpg" alt="Training" style="width: 273px;">
                    </div>
                    <div>
                        <h5 class="card-title text-white" style="font-size:19px; font-weight:400;;margin-top: -37px;margin-left: 30px;">Odoo Training</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>