<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Performance Evaluation</h2>
        <h4 class="oe_slogan">This Module works on both community and enterprise editions</h4>
        <h3 class="oe_slogan">This module allows you to appraise employees in your organization in an effective and simple way. You can design pre-defined templates for key performance areas (KPAs) as well as competencies, and you can link it to job positions.  that means you no longer need to define targets for individual employees but rather for large group of employees, the appraisal will be sent to the employee first for self-evaluation and then to the manager for final evaluation.</h3>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Template configuration</h2>
        <h3 class="oe_slogan"><b>Key Performance Template:</b>
In this configuration form, you will be able to create a key performance template to be used across the company,
            these are the key performance areas that are grouped by category, for example Skills, quality of work, technical objectives…etc.
:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep001.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><b>Competencies Template:</b>
In this configuration form you can create competencies to
            be used for evaluating employees key competency areas, for example: Planning and organization, Leadership and others.:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep002.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><b>Job position:</b>
In the job position record, you can link it with the performance template and competencies template,
            that means all employees of a specific job position will receive the same evaluation forms.
            <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep003.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><b>The Work Flow:</b>
Create a new evaluation form like below, and select the employee, once the employee is selected the corresponding templates
            will be automatically pulled out based on job position, fill in the details such as period and deadline. After that click Send to Employee.</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep004.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Create a portal user to the employee, after he/she logs in to the front end, the below will show.</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep006.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">click on appraisals to see your own appraisals, and on team appraisals to appraise your team.</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep007.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">By clicking the edit button he can edit and submit the self-assessment rating and remarks.</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep008.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">the employee can not edit the manager rating nor competencies records(only manager can do that).:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep009.png" style="width: 103%;margin-left: -18px;">
        </div>
        <h3 class="oe_slogan">Fill in self-review form and click on submit.</h3>
         <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep010.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Now that we captured the employee self rating, the data will be
            viewable to the HR manager at the backend, the HR manager can click on send to manager to request the manager’s review.:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep011.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">After sending to the manager, manager can able to see all
            of his team records under the name of Team performance evaluation menu, and portal also:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep012.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Manager is allowed to edit the manager rating and manager remarks columns only; Manager can not change employee filled values.:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep013.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">From the website  manager can fill his team member’s appraisals,
            manager can see the edit button only if the form was in "send to manager" state.</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep014.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">by clicking that edit button, manager can fill his team members remarks and competencies:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep015.png" style="width: 103%;margin-left: -18px;">
        </div>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep016.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">After clicking the submit button you will receive
            message like below, and the manager rating will store in the corresponding record.</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep017.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Then HR Manager can move this to done state by clicking mark as done button:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep018.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">After done stage no one can not edit the record. All data will go to read-only mode:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep019.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><b>Batch Performance Evaluation:</b>
In Generate performance evaluation menu, HR manager can create performance evaluation records in batch mode, you can add the employees by department, job position, manager, tags and many more options.
            You will select the period of evaluation.
            It will automatically bring the start date and end date based upon the configuration.:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep020.png" style="width: 103%;margin-left: -18px;">
        </div>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep021.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
After adding the employees, you just need to click the add employees button then
        it will generate the performance evaluation record for all selected employees:</h3>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><b>Reporting:</b>Key performance report:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep022.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><b></b>Competencies Report:</h3>
        <div class="oe_row oe_spaced" style="width: 103%;margin-left: -18px;">
            <img src="ep023.png" style="width: 103%;margin-left: -18px;">
        </div>
    </div>
</section><br/>

<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <h2 class="text-center"><a>Commited to innovation</a></h2>
        </div>
            <span>
                <a class="btn btn-primary btn-lg mt8" style="border-radius: 0px; color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="mailto:ali@inteslar.com"><i class="fa fa-envelope"></i> Email </a> <a class="btn btn-primary btn-lg mt8" style="border-radius: 0px; color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="http://inteslar.com/contact-us"><i class="fa fa-check-square"></i> Request Customization </a>
          </span>
        </div>
    </div>
</section>