@charset "UTF-8";

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_crm_lead {
    height: 140%;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_crm_lead .o_group {
    padding: 3px;
    height: 100%;
    width: 100%;
    overflow: auto;
}
