.bottom_jobs_3 {
	padding: 0 15%;
}

.c_title_jobs{
	font-size: 43px;
	line-height: 1.4;
}
.img_jobs_loc{
    width: 12px;
    position: relative;
    top: -10px;
    margin-right: 20px;
}
.div_location_jobs {
	display: flex;
}
.col-box-job-recruit .div_location_jobs {
	align-items: center;
    justify-content: center;
}
a.button_job_join_now {
    background: #b9341e;
    color: white;
    padding: 14px 38px;
    font-weight: bold;
    border-radius: 100px;
}
.row.bottom_jobs_2 {
    padding: 25px 0px;
}
button.slick-arrow:before {
	color: #d43318;
    font-size: 50px;
    opacity: 1;
}
button.slick-arrow{
	z-index: 9;
}
.slick-next {
    right: 45px;
}
.slick-prev {
    left: 15px;
}
.slick-dots li button::before {
    color: white !important;
    opacity: unset !important;
	width: 50px !important; 
    height: 50px !important; 
    font-size: 18px;
}
.slick-dots li.slick-active button::before {
    color: #b9341e !important;
}
.slick_testimoni_jobs .slick-slide {
      margin: 0px 20px;
    }

.slick_testimoni_jobs .slick-slide .box_testimoni_jobs {
    width: 100%;
    border-radius: 20px;
    padding: 35px 11%;
    opacity: 0.6;
    margin-bottom: 25px;
}
.slick_testimoni_jobs .slick-active.slick-slide .box_testimoni_jobs {
    opacity: 1;
}
.slick-slide[aria-hidden="true"],.slick-slide[aria-hidden="1"] {
    display: block !important;
}
.header1jobs {
	background-image: url("/equip3_hr_recruitment_extend/static/src/img/bg section 1.png");
	padding: 168px 0;
    background-size: 100%;
}
.header1jobs p {
    font-size: 43px;
    line-height: 1.4;
    font-weight: bold;
    color: white;
}
.header1jobs p span {
    font-size: 65px;
}
.job_header_flex {
	display: -webkit-inline-box;
}
.job_header_flex div {
    padding: 0 15px;
}


.job_header_flex .job_header1_flex_button {
    background: orange;
    color: white;
    padding: 11px 30px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 19px;
    position: relative;
    top: 6px;
}


#job_view_all_role {
    font-weight: bold;
    color: white;
    text-decoration: revert;
}
.job_header_flex .select2-container .select2-choice .select2-arrow {
    border-left: unset;
    background: unset;
    width: 23px;
    top: 9px;
}
.job_header_flex .select2-container{
	border-radius: 20px;
	    
    text-align: left;
}
.job_header_flex .div_job_select_role .select2-container{
	width: 272px;

}
.job_header_flex .div_job_select_location .select2-container, .job_header_flex .div_job_select_departement .select2-container{
	width: 170px;

}
.job_header_flex a.select2-choice{
	padding: 10px;
    border-radius: 20px;
    height: unset;
    background: white;

}

.job_header_flex .select2-container .select2-choice > .select2-chosen {
    margin-left: 8px;
    color: #000000a1;
}
.header3jobs {
	background: #424242;
	/*background-image: url("/equip3_hr_recruitment_extend/static/src/img/bg section 4.png");
    background-size: 100%;*/
    padding: 40px 0;
}
.header3jobs p {
    color: white;
}
.col-box-job-recruit-c {
    background: #2A2A30;
    border-radius: 30px;
    padding: 16px;
}
.col-box-job-recruit {
    padding-bottom: 35px;
}

.button_register_jobs {
    background: orange;
    color: white !important;
    width: 50%;
    position: relative;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 13px;
}
.div_place_jobs {
    padding: 0 10%;
}
.div_place_jobs .job_address {
	font-size: 14px;
	font-weight: bolder;
}
.title_job_position {
	font-size: 21px;
}
.button_see_jobs {
        background: gray;
    color: white !important;
    width: 50%;
    position: relative;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.div_place_jobs .job_address .img_jobs_loc {
        margin-right: 3px;
    margin-left: 3px;
}
a.bottom_job_see_more {
    position: absolute;
    color: black !important;
    background: white;
    border: 1px solid black;
    padding: 10px 36px;
    font-size: 14px;
    border-radius: 26px;
    font-weight: bold;
    top: -20px;

}
.slick_testimoni_jobs .name_testimoni_job {
	font-size: 20px;
}
.box_testimoni_jobs_title{
	font-size: 28px;
}
.footer1jobs .minititle{
	font-size: 23px;
}
.div_place_jobs .minititle{
	font-size: 23px;
}

.header2jobs .col-md-7 {
    padding-left: 28px;
}
.header1jobs .minittile{
	    padding-bottom: 25px;
	    margin-top: 20px;
}
.job_aboutus{
    padding: 0 20%;
    text-align: center;
}
.div_job_select_role input{
    height: 47px;
    border-radius: 30px;
    width: 300px;
}
.o_survey_question_error {
    margin-top: 10px;
}
#table_past_experience_table {
	    margin-bottom: unset;
}
table.table-bordered td,table.table-bordered th{
    /*border-collapse: separate;
    border-spacing: 5px 0;*/
        padding: 0 5px !important;
}

/*/////////////////////////////////////////////////////////RESPONSIVE////////////////////////////////////////////////////*/
@media(max-width: 1187px){
	.bottom_jobs_3 {
	    padding: 0 10%;
	}
	
}
@media(max-width: 1155px){
	.bottom_jobs_3 {
	    padding: 0 5%;
	}
	
}
@media(max-width: 991px){
	#top_menu_container button {
		display: none;
	}
}
@media(max-width: 923px){
	.bottom_jobs_3 {
	    padding: 0 2%;
	    margin: unset;
	}
}

@media(max-width: 865px){
	p.c_title_jobs {
	    font-size: 35px;
	
	}
	.job_aboutus {
    padding: 0 5%;
}
.job_header_flex {
		display: unset;
	}
		
}

@media(max-width: 716px){
	.footer1jobs p.minititle,.div_place_jobs .minititle{
		font-size: 16px;
	}
	.jobs_content_div p {
	    font-size: 11px;
	}
	p.c_title_jobs {
	    font-size: 21px;
	    margin-bottom: -12px;
	}
	.box_testimoni_jobs_title {
	    font-size: 19px !important;
	}
	.slick_testimoni_jobs .name_testimoni_job {
	    font-size: 17px;
	}
	a.button_job_join_now {
	    padding: 11px 14px;
	    font-size: 12px;
	}
	#gotojoinposition {
		margin-top: 20px !important;
	}
	.header3jobs {
	    padding: 15px 0;
	}
	
}
@media(max-width: 689px){
	
	.div_job_select_location{
		margin-top: 20px;
	}
	.div_job_select_departement{
		margin-top: 20px;
	}
	.header1jobs {
		padding: 20px 0;
		padding-top: 100px;
	}
	.header1jobs .minittile{
	    font-size: 25px;
	}
	.header1jobs .minittile span{
		font-size: 35px;
	}
}
@media(max-width: 570px){
	a.bottom_job_see_more {
	    padding: 4px 19px;
	    font-size: 10px;
	    top: -12px;
	}
}	
@media(max-width: 470px){
	.jobs_content_div p {
	    font-size: 10px;
	}
	.footer1jobs p.minititle,.div_place_jobs .minititle{
		font-size: 16px;
	}
    p.c_title_jobs {
	    font-size: 18px;
	}
	.bottom_jobs_3 .justify-content-center.align-self-center {
	    padding-right: unset !important;
	}
	.slick_testimoni_jobs .slick-slide .box_testimoni_jobs {
	    padding: 35px 4%;
	   }
}
@media(max-width: 358px){
	.header1jobs .minittile {
	    font-size: 20px;
	}
	.header1jobs .minittile span {
	    font-size: 30px;
	}
}
@media(max-width: 350px){
	.slick_testimoni_jobs .name_testimoni_job {
	    font-size: 13px;
	}
}
@media(max-width: 343px){
	.jobs_content_div p {
	    font-size: 8px;
	}
	.footer1jobs p.minititle,.div_place_jobs .minititle{
		font-size: 13px;
	}
	p.c_title_jobs {
	    font-size: 15px;
	}
}