.class_container_approver_matrix {
    div {
        .o_list_table {
            thead {
                tr {
                    th[data-name="minimum_approver"]{
                        width: 200px !important;
                    }
                }
            }
        }
    }
}

#location_full_info {
    display: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 330px;
    height: 225px;
    overflow: auto;
    text-align: left;
}

#location_name {
    font-size: 12px;
    font-weight: bold;
}
.occupied {
    font-size: 9px;
    font-weight: bold;
}

#occupied_percent {
    font-size: 10px;
}

#products_stock_data {
    .current_stock {
        font-size: 9px;
        font-weight: bold;
    }
    .product_location_data {
        .product_name {
            font-size: 10px;
        }
        .product_qty {
            font-size: 10px;
            font-weight: bold;
        }
        .uom_name {
            font-size: 10px;
        }
    }
}

.o_location_removal_priority_container {
	display: flex;
	width: 50%;
}

.o_location_removal_priority_table {
	width: 100%;
	display: inline-table;
	margin: 10px;
}

.o_form_removal_priority_label {
	font-weight: bold;
	margin-right: 15px;
}

.o_removal_priority_warehouse_input, .o_removal_priority_location_input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 4px;
	width: 100%;
}

.o_removal_priority_warehouse_input:focus, .o_removal_priority_location_input:focus {
	outline: none;
}

.reset_removal_priority_btn {
    padding: 2px 10px;
}