<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Dynamic Color in Tree View widget, set Background Color in Tree view List view</h2>
            <div class="oe_row">
                <div class="oe_demo">
            <img class="oe_demo  oe_screenshot" src="banner.gif">
                </div>
                <div class="oe_span12 oe_spaced">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                Lastest update: v13.19.04.28
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                Dynamic background color widget, set Background Color in Tree view List view.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                Easy to setup in xml
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                Support 6 color according bootstrap class.
                            </li>
                            <li>
                                <span class="badge badge-danger">bg-danger</span>
                                <span class="badge badge-info">bg-info</span>
                                <span class="badge badge-muted">bg-muted</span>
                                <span class="badge badge-primary">bg-primary</span>
                                <span class="badge badge-success">bg-success</span>
                                <span class="badge badge-warning">bg-warning</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                With sale order sample.
                            </li>
                        </ul>
                    </div>

                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-hand-o-right"></i><b>Buy relate Demo </b>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-link text-primary"></i>
                                <a href="http://www.odoo.com/apps/modules/13.0/app_sale_date_alert/" target="_blank" class="text-danger">Date Alert in Sale
                                    Order, Color remind.</a>
                            </li>
                            <li>
                                <i class="fa fa-link text-primary"></i>
                                <a href="http://www.odoo.com/apps/modules/13.0/app_purchase_date_alert/" target="_blank" class="text-danger">Date Alert in
                                    Purchase Order, Color remind.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h2 class="oe_slogan">With app installed</h2>
                <h2 class="oe_slogan">Dynamic color by 'Validity' Field in Quotations, 5 days in red, 10 days in yellow.</h2>
                <div class="oe_demo">
            <img class="oe_demo  oe_screenshot" src="demo1.jpg">
                </div>
                <h2 class="oe_slogan">Dynamic color by 'Commitment Date' Field in Sale Order, 5 days in red, 10 days in yellow.</h2>
                <div class="oe_demo">
            <img class="oe_demo  oe_screenshot" src="demo1.jpg">
                </div>

        <h2 class="mt32 oe_slogan">================== How to use ===================</h2>
                <h2 class="mt32 oe_slogan text-danger">!! Remember to Restart odoo to take affect after app installed.  </h2>
                <h2 class="oe_slogan">To enable sale order view alert. you must enable delivery date option.</h2>
                <div class="oe_demo  oe_screenshot">
                    <img  src="sale_set.jpg"/>
                </div>
                <h2 class="oe_slogan">Customize please follow this sample in "views/sale_order_views.xml" and "models/__init__.py"</h2>
                <div class="oe_demo  oe_screenshot">
                    <img  src="howto.jpg"/>
                </div>
                <h2 class="oe_slogan">It is the same usage as odoo origin 'decoration', you can get sample in sale app like</h2>
                <div class="oe_demo  oe_screenshot">
                    <p>
                        tree string="Sales Orders" decoration-bf="message_needaction==True" decoration-muted="state=='cancel'"
                    </p>
                    <p>
                        Use bg color as
                    </p>
                    <p>
                        tree string="Sales Orders" bg-muted="state=='cancel'" bg-danger="state=='draft'"
                    </p>
                </div>
                <h2 class="oe_slogan">U need to commented in __manifest__.py and models/__init__.py if you don't need the feature in sale.</h2>
            </div>
        </div>
    </div>
</section>

<section class="oe_container mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">============ The follow apps is not include in this module =============</h2>
        <h2 class="oe_slogan">Date Alert in Sale Order, Color remind.</h2>
        <h4 class="oe_slogan">
            <a href="http://www.odoo.com/apps/modules/13.0/app_sale_date_alert/" target="_blank" class="text-danger">Click here to Buy it.</a>
        </h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="sale1.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container mt32">
    <div class="oe_row oe_spaced">
            <h2 class="oe_slogan">Date Alert in Purchase Order, Color remind.</h2>
        <h4 class="oe_slogan">
            <a href="http://www.odoo.com/apps/modules/13.0/app_purchase_date_alert/" target="_blank" class="text-danger">Click here to Buy it.</a>
        </h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="purchase1.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883 (App user would not get QQ or any other IM support. Only for odoo project customize.)</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <h4>
                Visit our website for more support.</h4>
<h3>https://www.sunpop.cn</h3>
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced text-center">
        <h1>More Powerful addons, Make your odoo very easy to use, easy customize:
            <a class="btn btn-primary mb16" href="http://www.odoo.com/apps/modules/browse?author=Sunpop.cn">Supop.cn Odoo Addons</a>
        </h1>
    </div>
</section>

