<section class="oe_container">
   <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:CRIMSON;"><b>Employee Loan Request Management</b></h2>
            <h2 class="oe_slogan" style="color:olive;"><b>Employee Loan Request and Loan Disbursement and Installment</b></h2>
            <h2 class="oe_slogan" style="color:blue;"><b>Request for Employee Loan Management Odoo App</b></h2>
           <p style="color:green;font-size: 20px;">This app allows your employee(s) to create loan requests in Odoo backend and allow the Loan Department (Loan Officer /  Loan Manager) to view all the loan requests from employees and approve / reject it and after approval the accounting department can disburse the loan to the employee as shown below.</p><br/>
           <p style="color:CRIMSON;font-size: 20px;"><b>Main Features:</b>
            <ul>
              <li style="color:olive;font-size: 20px;">Allow employees to create loan requests and Loan Officer/Manager to Approve / Reject loan requests from employees. </li>
              <li style="color:olive;font-size: 20px;">Allow the accounting department to disburse loan amounts to employees after approval from the loan manager.</li>
              <li style="color:olive;font-size: 20px;">Allow users to print a PDF Loan Request Report as shown in the sample.</li>
              <li style="color:olive;font-size: 20px;">Allow loan managers to create and manage Loan Proofs under configuration.</li>
              <li style="color:olive;font-size: 20px;">Allow loan managers to create and manage Loan Types under configuration.</li>
              <li style="color:olive;font-size: 20px;">Allow loan managers to create and manage Loan Policy under configuration.</li>
             <!--  <li style="color:olive;">Repayment of Loan by Payroll - Intergrated with Payroll System</li> -->
              <li style="color:olive;font-size: 20px;">Repayment of loan installment by Cash / Bank method only available in the app.</li>
              <li style="color:olive;font-size: 20px;">Loan disbursement using Cash / Bank method only available in the app.</li>
              <li style="color:orange;font-size: 20px;">Note: Only company currency loans are supported by the app so loans must be in company currency and installments are also in company currency only.</li>
              <li style="color:olive;font-size: 20px;">App generate Loan Installments, Booking Interest and Booking entry for repayment method = Cash / Bank Journals.</li>
              <li style="color:olive;font-size: 20px;">For more details please see below screenshots and watch the video.</li>
            <li style="color:olive;font-size: 20px;">Note: If you are using odoo enterprise edition or odoo.sh and if you want to have payroll as repayment method also on loan type then you can check app and buy it separately <a  target='new' href="https://apps.odoo.com/apps/modules/14.0/employee_loan_payroll_enterprise/">https://apps.odoo.com/apps/modules/14.0/employee_loan_payroll_enterprise/</a>and if you are ok with that you can buy it also separately.</li>

            </ul>
            </p>
           <b style="color:CRIMSON;font-size: 20px;">Menus:</b><br>
            <ul>
                 <li style="color:olive;font-size: 20px;">Loans</li>
                 <ul>
                    <li style="color:olive;font-size: 20px;">Loans</li>
                      <ul>
                          <li style="color:olive;font-size: 20px;">Loan Requests</li>
                          <li style="color:olive;font-size: 20px;">Loan Requests to Approve</li>
                          <li style="color:olive;font-size: 20px;">Loan Installments</li>
                      </ul>
                 </ul>
                 <ul>
                    <li style="color:olive;font-size: 20px;">Accounting</li>
                      <ul>
                          <li style="color:olive;font-size: 20px;">Loans to Disburse</li>
                      </ul>
                 </ul>
                 <ul>
                    <li style="color:olive;font-size: 20px;">Configuration</li>
                      <ul>
                          <li style="color:olive;font-size: 20px;">Loan Proofs</li>
                          <li style="color:olive;font-size: 20px;">Loan Types</li>
                          <li style="color:olive;font-size: 20px;">Loan Policies</li>
                      </ul>
                 </ul>
            </ul>
        </p>
        </p>
        <b style="color:CRIMSON;font-size: 20px;">
        Sample Testing Users</b>
            </p><ul><i>
              <li style="color:olive;font-size: 20px;">Employee ==> Pieter Parker</li>
              <li style="color:olive;font-size: 20px;">Loan User/Officer ===> Mitchell Admin</li>
              <li style="color:olive;font-size: 20px;">Manager/Account Department ===> Mitchell Admin</li>
              </i>
             </ul>
        <p>
        </p>
      </b>
   </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                  </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Enterprise</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Odoo.sh</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Community</span>
              </center>
              <br/>
       </div>
   </div>
</section>
<h2 class="oe_slogan"><b style="color:green;text-decoration: underline;">Configuration Section</b></h2>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Proofs Configuration</b></h2>
       <p style="color:olive;font-size: 20px;"><b> This loan proof menu allows the HR manager to create and configure all loan proofs that will be required to approve the loan and process it. These loan proofs will be selected on loan types and then it will be visible on the loan request form.</p></b>
       <div class="oe_demo oe_screenshot">
           <img src="1.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Types List View Configuration</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Types Form View</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="Personal4.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Types Form View</b></h2>
       <p style="color:olive;font-size: 20px;"><b>These loan types allow HR managers to create different types of loans for employees. Also this loan type allows the user to configure whether the loan given to the employee will be interest payable or not. Also it will allow you to configure that loan type repayment method will be from only one direct cash/bank cheque from the Employee at time of installment payment. This also allows the disburse method to be only by cash/bank. (Disbursement can be done when a loan request is approved.)<br/><br/>
       Here the HR manager can list out Employee categories and employees which can request for this type of loan from the company..... For example if Employee A is not eligible and does not come under the category selected in loan types then the system will not allow him/her to submit a loan request. Loan proof is also configured here so that we can state that these proofs will be needed to process loan requests for employees.</p></b>
       <!-- <div class="oe_demo oe_screenshot"> -->
           <!-- <img src="3_emploantype.png">
           <img src="4_emploan.png"> -->
          <!-- <img src="3.2.png">-->
       <!-- </div> -->
       <div class="oe_demo oe_screenshot">
           <img src="Personal1.png">
           <img src="Personal3.png">
           <img src="Personal2.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Policies List View Configuration</b></h2>
      <p style="color:olive;font-size: 20px;"> <b>HR managers can configure policies or rules for loan requests and based on those rules it will check before approving a loan that if an employee fully fulfills that policy or not. </p></b>
       <div class="oe_demo oe_screenshot">
           <img src="4.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Policies Form View</b></h2>
       <p style="color:olive;font-size: 20px;"><b>Policy types: 1. Max loan amount 2. Gap between two loans 3. Qualifying Period</p></b>
       <div class="oe_demo oe_screenshot">
           <img src="5.1.png">
           <img src="5.2.png">
       </div>
   </div>
</section>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<h2 class="oe_slogan"><b style="color:green;text-decoration: underline;">Loan Request  Section</b></h2>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Request Form</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="6.1.png">
           <img src="6.2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Request to Approve</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="7.1.png">
           <img src="7.2.png">
       </div>
   </div>
</section>
<h2 class="oe_slogan"><b style="color:green;text-decoration: underline;">Loan Disburse  Section</b></h2>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan to Disburse by Accountant</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="8.1.png">
           <img src="8.2.png">
           <img src="8.3.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Disbursed Accounting Journal Entry</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="9.png">
       </div>
   </div>
</section>
<h2 class="oe_slogan"><b style="color:green;text-decoration: underline;">Loan Installments  Section</b></h2>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Installments</b></h2>
       <p style="color:olive;font-size: 20px;"><b>All installments of loan will be listed here.</p></b>
       <div class="oe_demo oe_screenshot">
           <img src="15.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Installments</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="10.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">After Clicking Book Interest Generate Interest Accounting Entry</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="11.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Approve Payment Button on Loan Installment</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="12.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Pay the Loan Installment Button on Installament</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="13.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">After Pay the Loan Installment Generate Accounting Entry Automatically</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="14.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Odoo Payment Screen under Account [Odoo Standard]</b></h2>
       <p style="color:olive;font-size: 20px;"><b>If a loan has a repayment method by cash/bank then Odoo payment form has a new field which allows the accountant to select the installment and after validating that payment that installment will be paid. </p></b>
       <div class="oe_demo oe_screenshot">
           <img src="16.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Installment Accounting Entry</b></h2>
       <p style="color:olive;font-size: 20px;"><b>If you are not using Odoo payment screen to get installment payment from an employee then you can use the button on installment which will generate this journal entry.
       </p></b>
       <div class="oe_demo oe_screenshot">
           <img src="17.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan Interest Accounting Entry</b></h2>
        <p style="color:olive;font-size: 20px;"><b>There is a button on the installment called "Book interest" that will raise this journal entry in the system for interest for that installment.
        </p></b>
       <div class="oe_demo oe_screenshot">
           <!--<img src="18.png">-->
           <img src="14emp_loaninterest.png">
       </div>
   </div>
</section>
<h2 class="oe_slogan"><b style="color:green;text-decoration: underline;">Employee Configuration  Section</b></h2>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Some Other Configuration on Employee Form</b></h2>
        <p style="color:olive;font-size: 20px;"><b> Loan details and loan policy will come automatically on employee form. </p></b>
       <div class="oe_demo oe_screenshot">
           <img src="19.png">
           <img src="20.png">
           <img src="21.png">
       </div>
   </div>
</section>
<!-- <section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Payroll - Salary Rules for Installment</b></h2>
        <p style="color:CRIMSON;"> We have created two salary rules in payroll 1. Salary rule for installment deduction 2. Salary rule for interest deduction from payroll of employee. 
        </p>
       <div class="oe_demo oe_screenshot">
           <img src="22.png">
       </div>
   </div>
</section> -->
<!-- <section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Payroll - Salary Rules for Interest</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="23.png">
       </div>
   </div>
</section> -->
<!-- <section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Salary Structure</b></h2>
        <p style="color:CRIMSON;">  You have to manually add both salary rules on your employee salary strucuture which will allow integration between loan and payroll using salary rules. 
        </p>
       <div class="oe_demo oe_screenshot">
           <img src="24.png">
       </div>
   </div>
</section> -->
<!-- <section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Employee Payslip With Deductions of Installment and Interest</b></h2>
        <p style="color:CRIMSON;"> Please note that if you are using payroll as repayment of loan from employee then you have to use hr_payroll_account module and set debit/credit accounts which will create journal entry using hr_payroll_account module. 
        </p>
       <div class="oe_demo oe_screenshot">
           <img src="12emp_payslip.png">
       </div>
   </div>
</section> -->
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Print Loan Request PDF Sample</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="26.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Loan PDF Report</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="27.png">
           <img src="27.1.png">
           <img src="27.2.png">
       </div>
   </div>
</section>
<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 oe_span6">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
