
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
   <div class="container">
      <div class="row">
         <div class="sh_span12 col-12" style="padding: 40px">
            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Invoice Order Recurring</b></center> <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">You can make a recurring order for your regular customers using this module. For example, a consumer could set up an order to have particular goods in every three months. you can make recurring orders using this module would let this invoice happen automatically on a regular schedule. The invoice user can give access rights to the customer that he/she can approve recurring orders by signature and other information and after approving recurring orders go to the running stage. You can also make recurring orders manually from recurring orders. You can set the scheduled time. You can communicate using chatter with each other.  </p>
         </div>
      </div>
   </div>
</section>
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
    <div class="container">
        <div class="sh_spaced">
            <h2 align="center">
                <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/tcJZmLFwtQ0?list=PL-zDV7_rrd2o1o-d06GOVk9_iXc6SlRev" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How Invoice Order Recurring Works? Watch Video</a>
            </h2>
<br/>
             <h2 align="center">
                <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/FEu7j7g0ynM?list=PL-zDV7_rrd2o1o-d06GOVk9_iXc6SlRev" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>Added New Fields In Recurring Order Lines Video<img src="neww.png" style="max-width: 100%;padding-left: 10px;height: 20px;width: auto;vertical-align: text-bottom;" /></a>
            </h2>
        </div>
    </div>
</section>
<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
   <div class="container">
      <div class="row">
         <div class="sh_spaced" style="width: 100%;">
            <div class="sh_span12 " style="padding: 0px 15px!important;">
               <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
               </h2>
               <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
                <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
We have added default product account, tax, UOM fields in recurring order lines. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> 



</p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can communicate using the chatter. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> 



</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can see invoices/bills from the recurring order view. 



</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Customers can approve their recurring orders by signature. 



</p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                Easy to make recurring orders.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 Also, make recurring orders manually.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                Easy to set an Interval date for automatically make invoices after the interval is over.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 Easy to set recurring due time in day/week/month/year. After due time over that recurring order, you can set the stage in renew or expire.  
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                Easy to know the ending date of recurring after set recurring due time in day/week/month/year.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                Easy to set schedule time to execute them all recurring orders scheduled. 
               </p>
               
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 Easy to filter recurring order list with Active, Inactive, New, Running, To Renew, Expired, Cancel, Start/End Date.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               Easy to group by the list of recurring orders using customer, start date, end date and also status.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 No special configuration required just install it and cheers!
               </p>
                <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	     <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  This module saves your important time.
			         </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                   <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  This app is compatible with Odoo's Multi-Company Feature.
               </p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

It reduces human efforts.

			</p>

            </div>
         </div>
      </div>
   </div>
</section>
<!-- version -->

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.4 (7<sup>th</sup> December 2021)
               <ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                  <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Account, Tax & UOM Fields Added In Recurring Order Lines.</li>
<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                  <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Default Product Account Added In Order Lines.</li>

               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.3 (18<sup>th</sup> November 2021)
               <ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                 

 <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                 <span class="badge badge-warning" style="background: #FF9800;
padding: 5px 10px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Update</span> When Invoice Recurring Order Type Is Journal Entry, It Creates New Journal Entry.
                  </li>
               </ul>
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.2 (1<sup>st</sup> January 2021)
               <ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                  <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Chatter added.</li>
<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                  <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Smart button added to see invoices/bills from the recurring order.</li>


 <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                   <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Signature field added for approving recurring orders by customers. 
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
             v14.0.1 (21<sup>st</sup> October 2020)
               <ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.4</b>
            </h2>


<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
     Order lines with default product account, tax, UOM fields.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="n1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
    Invoice form view.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="n2.png" style="width:100%;">
      </div>
   </div>
</section>

<h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.3</b>
            </h2>


<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
     When type is journal entry create new record(journal entry) for that.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="sss1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
     Also added smart button in recuuring view for entry.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="sss2.png" style="width:100%;"><br/><br/>
          <img src="sss3.png" style="width:100%;">
      </div>
   </div>
</section>


<h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.2</b>
            </h2>


<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
     If you check "Invoice Recurring Online Signature" then customers can approve their recurring orders by signature.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="s3.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
       Invoice recurring order with the signature and the "Other Info" tab.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="s4.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         After approving the recurring order our stage is running and you can see invoices/bills from the smart button.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="s1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
        You can communicate using the chatter.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="s2.png" style="width:100%;">
      </div>
   </div>
</section>
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.1</b>
            </h2>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         Invoice Recurring Order Tree view.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
        Invoice Recurring Order Filter. 
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="2.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
       Invoice Recurring Order Group By.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="3.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
        Invoice Recurring Order Form View.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="4.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
		Invoice lines created from recurring order looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="5.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
      Recurring order and order date field in invoice.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="6.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
      Invoice Recurring Order Cron.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="7.png" style="width:100%;">
      </div>
   </div>
</section>

<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español, French / Français, Chinese) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="chinese.png" title="Chinese" alt="chinese" style="object-fit: cover;margin: 10px 10px;" />
<img src="french.png" title="French" alt="french " style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="Spanish " style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>

<!--you may also like-->
<section class="oe_container oe_dark" style="background: #efefef00;">
<div class="oe_row oe_spaced">
<h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px; margin-bottom: 10px;"/>
<div class="row">
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_purchase_order_recurring/">
<img src="image1.png" alt="Purchase Order Recurring" width="100%">
</a>

</div>

<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_sale_order_recurring/">
<img src="image3.png" alt="Sale Order Recurring" width="100%">
</a>

</div>
<div class="row">
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_sale_order_recurring_portal/">
<img src="image4.png" alt="Sale Recurring Order Portal" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_purchase_order_recurring_portal/">
<img src="image5.png" alt="Purchase Recurring Order Portal" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_invoice_recurring_portal/">
<img src="image6.png" alt="Invoice Recurring Portal" width="100%">
</a>

</div>
</div>



</div>
</div>
</section>
<!-- end you may also like-->
<section class="oe_container oe_dark">
   <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free 90 days support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center"> 
         <a style="padding:10px 60px;background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
      </div>
   </div>
</section>