.o_xf_purchase_dashboard {
  height: 100%;
  overflow: auto;

  .o_xf_purchase_dashboard_widget_container {
    padding: 16px;
    margin: 16px 0 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);
    background: #FFFFFF;
    border-radius: 2px;


    .o_xf_purchase_dashboard_widget_header {
      height: 64px;
      margin-bottom: 16px;

      .o_xf_purchase_dashboard_widget_header_title {
        float: left;
        height: 64px;
        line-height: 64px;
        margin: 0 0 0 16px;
      }

      .o_xf_purchase_dashboard_widget_header_image {
        float: left;
        width: 64px;
        height: 64px;

        img {
          width: 100%;
        }
      }
    }

    .o_xf_purchase_dashboard_widget_line {
      cursor: pointer;
    }
  }


}