
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
    	<div class="row">
	        <div class="sh_span12 col-12" style="padding: 40px">
	            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Purchase Tender Management</b></center>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
	            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Nowadays in a competitive market, several vendors sell the same products and everyone has their price so it will difficult to manage multiple tenders at a time even in odoo there is no kind of feature where you can manage multiple tenders in a single list. Our this module will provide a platform where you can manage multiple tenders RFQs. Using this module you can easily confirm, cancel tender RFQs in one list. This module provides many stages for manage tender like Draft, Confirm, Bid Selection, Close, Cancel, etc. Using this module you can make a purchase order of multiple RFQs in a single click If you have more than one tender RFQ from the same partner so it will merge in one purchase order. You can easily send a tender pdf report to your partner's email. You can print  "Purchase Tender" & "Analyze Quotations" PDF report.

</p> 
	        </div> 
        </div>
    </div>   
</section>


<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    	<div class="sh_spaced">
			<h2 align="center">
	      		<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/U11c99oX-m0" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>Purchase Tender Management video</a>
      		</h2><br>
      		<h2 align="center">
	      		<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/u8BxpjrEeRY" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>Purchase Tender Management-Advance video</a>
      		</h2><br>
      		<h2 align="center">
	      		<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://youtu.be/KhuNcSyOCGg?list=PL-zDV7_rrd2oYQkMJur21ZFOEtc3jtl3I" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>Purchase Tender- Document Management<img src="neww.png" style="max-width: 100%;padding-left: 10px;height: 20px;width: auto;vertical-align: text-bottom;" /></a>
      		</h2>
		</div>
    </div>
</section>

<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
	<div class="container">
		<div class="row">
		    <div class="sh_spaced" style="width: 100%;">
		        <div class="sh_span12 " style="padding: 0px 15px!important;">
		            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
		            </h2>
		            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
		             <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	You can manage documents in the purchase tender. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span>

					</p>
		            <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	You can add vendors as followers in a tender when you validate the tender. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span>

					</p>
					 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	 You can add vendors as followers in a tender when you send the tender using the "send by email" button. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span>

					</p>
					 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	 You can create portal users(vendors) when you validate the tender. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span>
					</p>
				    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	We have made 2 access groups for tender management,<br>
						1) Manager (Who can confirm tender).<br>
						2) User (Who can create, update, delete tender except confirm).
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	<b>You can print "Purchase Tender" & "Analyze Quotations" PDF report.</b>
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	<b>You can choose multiple vendors in a single tender.</b>


					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	
<b>You can create a quotation for a vendor that not exist in the selected tender.</b>

					</p>
				    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to manage multiple tenders in a single list.

					</p>
					
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to make the tender type.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to update product qty in purchase tender form tender line.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to create purchase orders of multiple tenders from tender lines.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to group purchase order by a partner while you make a purchase order from the tender line.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to make RFQ from the tender.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to track and see the number of RFQs/Purchase Orders from the tender in 'RFQs/Orders' smart button in purchase tender form view. 
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to confirm and cancel tender from the tender list.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to manage tender in various states like Draft, Confirm, Bid Selection, Close and Cancel.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to filter canceled tender from the list using filter 'Hide Cancelled Lines'.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to group tender lines by product so it will save important time for selection particular product tender.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to filter purchase order by 'Tender' in RFQs and Purchase Order list view.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to share purchase tender to your partner via emails.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	Easy to install and use it, no more configuration required.
					</p>
					<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;"><i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
				    	It will reduce human effort and save important time.
					</p>        
				</div>
        	</div>
    	</div>
    </div>
</section>


<!-- version -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
	    <div class="sh_spaced">
	        <div class="sh_span12 " style="padding: 0px!important;">
	            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
	            </h2>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
	            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;"> 
	            	 <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>v 14.0.5 (25<sup>th</sup>June 2021)
					<ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
		            	
		            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i> 
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Tender document management feature added.
		            	</li>
		            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i> 
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Separate access-group added for manage purchase tender documents. 
		            	</li>
	                </ul> 
	            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.4 (22<sup>th</sup> June 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     <span class="badge badge-warning" style="background: #FF9800;
padding: 5px 10px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Update</span> Minor updates in multiple line analyze part.
                  </li>
               </ul>
	             <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.3 (10<sup>th</sup> February 2021)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                    <span class="badge badge-info" style="background: #2196F3;
padding: 5px 15px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Fixed</span> Small bug fixed.
                  </li>
               </ul> 
	             <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>v 14.0.2 (8<sup>th</sup>February 2021)
					<ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
		            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i> 
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Add vendors as followers in a tender when validate the tender.

		            	</li>
		            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i> 
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Add vendors as followers in a tender send the tender using the "send by email" button.
		            	</li>
		            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i> 
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Create portal users(vendors) based on the configuration when validate the tender.  
		            	</li>
	                </ul> 	           
	            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>v 14.0.1 (10<sup>th</sup> October 2020)
					<ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
		            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>Initial Release</li>
	                </ul>
				</div>
			</div>
		</div>
    </div>
</section>


<!-- screenshots -->
 <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.2</b>
	            </h2>
	            <section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Configuration to add vendors as followers and create portal users(vendors).
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s1.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Currently, users(vendors) are not added as followers.
 
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s2.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Now validate the tender.

 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s3.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After validating the tender, vendors are added as followers.

 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s4.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Now we send the tender by email so press the "send by email" button.
 
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s5.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			You can see recipients/vendors names.

 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s6.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
		After sending the tender by email, vendors are added as followers. 
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s7.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			The portal users(vendors) created based on the configuration when validate the tender. 

 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s8.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			The vendors receive one email and link when creating vendors as a portal (users).
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s9.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			The vendors email with link for portal access.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="s10.png" style="width:100%;">
		</div>
	</div>
</section>
	            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.1</b>
	            </h2>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Goto User setting and select a group of purchase tender manager or user.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="1.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			In the configuration, there is a menu for tender type where you can define a type of tenders.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="2.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			'Purchase Tender Type' form view.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="3.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			'Purchase Tender' menu and tree view.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="4.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Group purchases tender by using Purchase tender number, type, representative, deadline, order date, delivery date, and vendor also status.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="04.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Purchase tender form view where you can create purchase tender and click 'confirm'.<br>
			You can choose multiple vendors and selected vendors can see that tender if you have not selected any vendors then anyone can see the tender. 
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="5.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After confirming tender you can make the new quotation for that tender, and you can track all RFQ/PO from the smart button 'Received Quotation'.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="6.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After click 'New Quotation' this form will appear. Where purchase tender automatically set in RFQ.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="7.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After creating RFQ in the smart button where you can see the number of RFQ/Purchase Order. And click 'Validate' to validate this purchase tender.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="8.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After click validates button purchase tender set in 'Bid Selection' state and 'Analyze RFQ' button will appear.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="9.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Tender lines list view.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="f1.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Tender lines kanban view.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="f2.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After click 'Analyze RFQ' 'Tender Lines' tree view appears, where you can see three-button in lines,<br>
			1) Cart: Update Order Qty in RFQ. 2) Correct Mark(✔): To Confirm RFQ, after clicking this mark that line will become 'Green'. 3) False(✗): To cancel RFQ, after clicking this mark that line will become red.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="10.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
  <div class="oe_spaced" style="margin: 0;">
    <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
      Tender lines detailed kanban view.
    </h2>
    <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
    <div style="margin:5px auto;">
      <img src="f3.png" style="width:100%;">
    </div>
  </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
After clicking on the cart icon, this wizard will popup where you can change product quantity in the tender.		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="11.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			RFQ product quantity is updated.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="12.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Select confirm RFQ and click 'Generate Purchase Order' to generate a purchase order.
		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="13.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After click on 'Generate Purchase Order' from the action, this wizard will popup where you can group by partner, select RFQ/ purchase order & cancel old RFQ's.

 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="14.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
		After clicking the 'Generate Purchase Order' purchase order will create with the group by the customer.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="15.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			The same vendor's RFQ automatically merge.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="16.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Unique vendor's RFQ will create a separate purchase order.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="17.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Filter RFQ by using 'Selected Orders' (that order which is selected in tender lines and make that purchase order).
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="18.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Group RFQ by using 'Tender'.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="19.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Group RFQ by using 'Selected Orders' (that order which is selected in tender lines and make that purchase order).
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="19_1.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Two smart buttons in purchase tender 1) REceived Quotation 2) Selected Order.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="20.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			After 'Analyze RFQ' and make a final purchase order as you can see the product line will come green. If you want to close that purchase tender so click 'Close'.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="22.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
		You want to Cancel that purchase tender so click 'Cancel'.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="23.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
		After clicking the 'cancel' button that purchases tender will set in 'Cancelled' state, if you want to set back to 'Draft' so click 'Set to Draft'.

 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="24.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			You can analyze purchase tenders from the 'Analyze Multiple Tender' menus.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="25.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Filter Tender Lines by using 'Hide Cancel Line' to hide cancel lines from the list.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="26.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
'Send By Email' to send purchase tender to your partner's email directly. After click 'Sent By Email' this wizard will popup. 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="27.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Tender pdf automatically attached to the email.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="28.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Email send to partners.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="29.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			For print Purchase tender PDF report. 
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="32.png" style="width:100%;">
		</div>
	</div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			Purchase Tender PDF Report.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<center><img src="33.png"></center>
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			For print "Analyze Quotations" PDF report.
 
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<img src="aq.png" style="width:100%;">
		</div>
	</div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
	<div class="oe_spaced" style="margin: 0;">
		<h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
			"Analyze Quotations" PDF Report.
 		</h2>
		<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
		<div style="margin:5px auto;">
			<center><img src="report.png"></center>
		</div>
	</div>
</section>

<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>
<!--you may also like-->
<section id="sh_like_module" style="margin: 50px 0;">
        <div class="container">
            <div class="sh_center text-center">
                <h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">You May Also Like</h4>
                <hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />
            </div>

            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_bill_percent/">    
                                <img src="sh_po_bill_percent.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_bills_picking_quick_open/">   
                                <img src="sh_po_bills_picking_quick_open.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_default_note/">
                                <img src="sh_po_default_note.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_formate_email/">    
                                <img src="sh_po_formate_email.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_html_notes/">   
                                <img src="sh_po_html_notes.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_img/">
                                <img src="sh_po_img.jpg" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_imgs/">    
                                <img src="sh_po_imgs.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_quick_product_search/">   
                                <img src="sh_po_quick_product_search.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_so/">
                                <img src="sh_po_so.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_status/">    
                                <img src="sh_po_status.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_task/">   
                                <img src="sh_po_task.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tender_management/">
                                <img src="sh_po_tender_management.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tender_portal/">    
                                <img src="sh_po_tender_portal.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tnc/">   
                                <img src="sh_po_tnc.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_vendor_code/">
                                <img src="sh_po_vendor_code.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="oe_container oe_dark">
     <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free 90 days support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center"> 
       <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); padding: 10px 60px; position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
   </div>
</div>
</section>  
