.app-search-range-date-container .o_datepicker {
    display: inline-block;
    width: 100px;
}

select.app_select_field_date  {
    width: auto!important;
}
select.app_select_field_number  {
    width: auto!important;
}

.o_control_panel .app-search-panel {
    display: block;
}
/*//只有大屏，>992px时才显示*/
@media (max-width: 992px) {
    .o_control_panel .app-search-panel {
        display: none!important;
    }
}