div.o_boolean_toggle.custom-control.custom-checkbox > input.custom-control-input:checked + label.custom-control-label::before {
    -webkit-transform: rotate( 0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.o_kanban_view .o_kanban_card_header_title .o_primary.col-12 {
        width: 90% !important;
}

.o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options{
    right: 260px !important;
    top: unset !important;
}

.o_kanban_view .o_kanban_record.o_currently_dragged {
    -webkit-transform: rotate( 0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;

}


.o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
    top: unset !important;

}

.o_list_view table.o_list_table td.o_data_cell, .o_list_view table.o_list_table th.o_date_cell{
    padding-right: 10px !important;
}
.o_list_view table.o_list_table {
    table-layout: unset !important;
}


.modal.o_technical_modal .modal-dialog .modal-content.o_AttachmentDeleteConfirmDialog {
    top: 40%;
}