<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_span12">
            <h2 class="oe_slogan">App Search By Date or Number Range</h2>
            <div class="oe_demo oe_screenshot">
                <img src="banner.png">
            </div>
            <div class="oe_demo" style=" margin: 30px auto 0; padding: 0 15px 0 0; border:none; width: 96%;">
                <p>This moduld allows user to Search by date or number range in List view and Pivot view. </p>
                <br>
                <ul>
                    <li>1.List all the date/datetime field to select range.</li>
                    <li>2.List all the integer/float/Monetary field to select range.</li>
                    <li>3.Support List, Kanban, Pivot, Graph View.</li>
                    <li>4.Auto get user timezone, global Timezone supported.</li>
                    <li>5.Easy admin to enable/disable the search.</li>
                    <li>6.Hide in mobile view, Show only when width > 992px</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_span12">
            <div class="oe_demo oe_screenshot">
                <img src="banner_cn.png">
            </div>
            <div class="oe_demo" style=" margin: 30px auto 0; padding: 0 15px 0 0; border:none; width: 96%;">                <br>
                <div class="oe_demo oe_screenshot">
                    <img src="readme_cn.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Date range</h2>
        <div class="oe_demo oe_screenshot">
            <img src="date_range.jpg">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Number range</h2>
        <div class="oe_demo oe_screenshot">
            <img src="number_range.jpg">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Kanban View</h2>
        <div class="oe_demo oe_screenshot">
            <img src="kanban_view.jpg">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Pivot View</h2>
        <div class="oe_demo oe_screenshot">
            <img src="pivot_view.jpg">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Graph View</h2>
        <div class="oe_demo oe_screenshot">
            <img src="graph_view.jpg">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">How to setup</h2>
        <p>Go to Menu: Settings->Technical->Parameters->System Parameters</p>
        <p>You can find "app_search_range_date_show" and "app_search_range_number_show"</p>
        <p>Set the Value to "False" if you do not want to show the search. And set "True" to show.</p>
        <p>Default: app_search_range_date_show=True, app_search_range_number_show="False"</p>
        <div class="oe_demo oe_screenshot">
            <img src="setup.jpg">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883 (App user would not get QQ or any other IM support. Only for odoo project customize.)</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <h4>
                Visit our website for more support.</h4>
<h4>https://www.sunpop.cn</h4>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>