/*  ********* The leftpane contains the order, numpad and paypad ********* */

/*  ********* The product list  ********* */
.pos .product-list-grid-container .product-tree{
    font-size: 13px;
    width: 100%;
    line-height: 40px;
}
.pos .product-list-grid-container .product-tree th{
	padding: 0px 8px;
}
.pos .product-list-grid-container .product-tree td {
    padding: 0px 8px;
}
.pos .product-list-grid-container .product-tree tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .product-list-grid-container .product-tree thead > tr,
.pos .product-list-grid-container .product-tree tbody > tr:nth-child(even) {
    background: rgb(247,247,247);
}