.o_claim_history_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="claim_for"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="claim_name"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="progressline"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="gross_amount"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="dp_deduction"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_deduction"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="amount_deduction"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="paid_invoice"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="amount_untaxed"]{
                            min-width: 155px !important;
                            width: 155px !important;
                            max-width: 155px !important;
                            text-align: center;
                        }                       
                        th[data-name="tax_amount"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="amount_invoice"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="invoice_status"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="payment_status"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_claim_request {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="request_for"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }       
                        th[data-name="request_id"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="partner_request_id"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="created_by"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="creation_date"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="requested_progress"]{
                            min-width: 175px !important;
                            width: 175px !important;
                            max-width: 175px !important;
                            text-align: center;
                        }
                        th[data-name="approved_progress"]{
                            min-width: 175px !important;
                            width: 175px !important;
                            max-width: 175px !important;
                            text-align: center;
                        }
                        th[data-name="request_status"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }      
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_request_line_wiz {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="work_order"]{
                            min-width: 210px !important;
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="stage"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="assigned_to"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="completion_date"]{
                            min-width: 160px !important;
                            width: 160px !important;
                            max-width: 160px !important;
                            text-align: center;
                        }
                        th[data-name="stage_weightage"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="work_weightage"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                            text-align: center;
                        }
                        th[data-name="work_progress"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                            text-align: center;
                        }
                        th[data-name="progress"]{
                            min-width: 185px !important;
                            width: 185px !important;
                            max-width: 185px !important;
                            text-align: center;
                        }  
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_account_move {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="account_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="analytic_tag_ids"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="product_uom_id"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="price_unit"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="progress"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="dp_deduction"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_deduction"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_line"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="discount_line"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="tax_ids"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="price_tax"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="price_subtotal"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }  
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}
