.class_container_approver_matrix{
    .table-responsive{
        table{
            thead{
                tr{
                    th[data-name="sequence2"]{
                        width: 80px;
                    }
                }
            }
        }
    }
}
