<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> Odoo Machine and Equipment Rental Management Odoo App </b>
			</h2>
			<p class="oe_slogan">
				Machine and Equipment Rental Odoo apps general functions which can be utilised for any rental business is quite well spread across many industry so it has many name like Hire industry, Equipment rental, Plant hire, is a service industry providing machinery, equipment and tools of all kinds and sizes for a limited period of time to final users. 
				This odoo apps helps user to rent machine and Equipment products based on initial terms like hours, days, weeks and months and bill according that,user can extend rental order also can replace rental product, also recurring invoice and delivery order will generated based on subscription, An email remainder also send to user and customer for rental order expiry.
				<br/>
				Odoo system has been popular across world, we thought module like this can be helpful to many people in hire tenure, rental contract and lease business. 
			</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Multi Language Translation Available</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> We have added Translation using google translate for English (US), Arabic, French / Français, Spanish / Español and Dutch / Nederlands, if you want to change translation terms or add new translation provide us translation, we will add that without any cost.
			</p>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="Language" style="text-align:center">
               <img title="English" alt="English" style="margin:10px 10px" src="languages/English.png">
               <img title="Arabic" alt="Arabic" style="margin:10px 10px" src="languages/Arabic.png">
               <img title="French" alt="French" style="margin:10px 10px" src="languages/French.png">
               <img title="Spanish" alt="Spanish" style="margin:10px 10px" src="languages/Spanish.png">
               <img title="Dutch" alt="Dutch" style="margin:10px 10px" src="languages/Dutch.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/1fet.jpeg"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Rent product based on serial number. </b></h4>
					  <span class="oe_slogan"> Allow to product rent on serial number. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/4fet.jpeg"/>
					</div>
					<div class="col-md-9">
						<h4><b> Confirm rental order will generated delivery order an invoice. </b></h4>
						<span class="oe_slogan"> On confirming renal order generate delivery and invoice order. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/2fet.jpeg"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Recurring invoice has been created based on subscription. </b></h4>
					  <span class="oe_slogan"> Creation invoice based on the subscription. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/5fet.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> You can extend or renew rental order. </b></h4>
						<span class="oe_slogan"> Have facility to extend or renew rental order. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/3fet.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Replace product is available. </b></h4>
					  <span class="oe_slogan"> Have option to replace product,same product is not allowed to rent twice on same period. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/6fet.jpeg"/>
					</div>
					<div class="col-md-9">
						<h4><b> Configure automatically email remainder. </b></h4>
						<span class="oe_slogan"> Scheduler for automatic mail about expiry and expiry reminder. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/period.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Rental Initial Terms Period</b></h4>
					  <span class="oe_slogan">User can rent for initial term of period like hours, days, week and month and invoice will generated based on that.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/report.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Rental Order PDF Report</b></h4>
						<span class="oe_slogan">User can print rental order report in pdf format.</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Odoo Machine and Equipment Rental Management Odoo App" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/3Feb4HZ_dkU" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Rental Configuration </p>
			<p class="oe_slogan"> In email configuration you need to enter days for send email reminder to client. </p>
			<p class="oe_slogan"> In order to add saleable product to rental order enable" Add saleable product in rental order". </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Rental Product </p>
			<p class="oe_slogan"> Under Sales > Rental > Rental Product menu user can create and configure rental product with Monthly Rental and Replacement Value as shown on following image. User can rent a product based on unique serial number. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_rental_product.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Rental Order Menu</p>
			<p class="oe_slogan"> Under Sales > Rental > Rental Orders menu user can create rental orders, User can enter Customer Information, Rental Start Date, Rental End Date and Warehouse, define Initial Terms(Months) for rental order, Rental bill of frequency will be used for a recurring invoice generation. Now user can add rental product as well as saleable product to rental order, Based on rental bill of frequency(hours,days, weeks,month) next invoice will be automatically set as per recurring subscription has been generated. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_rental_order_tree.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create Rental Order</p>
			<p class="oe_slogan"> Based on initial term rental order start date and end date will be automatically set.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_rental_order_form.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_rental_order_form.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_rental_order_form.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Confirming Rental Order </p>
			<p class="oe_slogan"> User confirm rental order by pressing "Confirm Rental" button. it will generate validated invoice and delivery order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_confirm_button.png">
			<p class="oe_slogan"> After confirm rental order recurring subscription has been generated and based on date of next invoice has been sent. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_confirmed_rental.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Delivery Order created from Rental Order </p>
			<p class="oe_slogan"> User can see created two delivery orders for rental order of both rental and saleable products. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_delivery_tree.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_delivery1.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_delivery2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Invoice created from Rental Order </p>
			<p class="oe_slogan"> User can see created single invoice for both rental and saleable products.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_invoice.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Replace Rental Product </p>
			<p class="oe_slogan"> User can replace rental product by clicking "Replace Product" button on rental order. <br/> In replace product wizard existing product is displayed and in other section user have to enter details about same product with different serial number.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_replace_rentalproduct.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_replace_wizard.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> In order to replace the products delivery order must be in done state if it is not in done state it will display warning. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="warning1.png">
			<p class="oe_slogan"> After rented product there might be a posibility that problem or damage found on product so in this case we can replace same product with different serial number. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="warning2.png">
			<p class="oe_slogan"> In order to replace the products you have to select same product with different serial number, If product is same it will display warning. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="warning3.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			
			<p class="oe_slogan"> User can see new product is replaced with existing product. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_replaced_rental.png">
			<p class="oe_slogan"> New delivery order will be generated for the replacement, So old product will came in warehouse and new serial number of product will be delivered to customer as rented product and old order is cancelled automatically. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_delivery_tree.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Rental Email Reminder </p>
			<p class="oe_slogan"> According to remainder days entered in configuration an email will be sent. </p>
			<p class="oe_slogan"> 1) Reminder to Customer : Customer get notify and get idea that product has about to expired so they can renew or extend rental order. </p>
			<p class="oe_slogan"> 2) Reminder to Expired Rental : Sales person get notify that the rental contract has been expired so they can renew or extend rental order. </p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Reminder To Customer </p>
			<p class="oe_slogan"> Reminder Email before selecting days that your rental order is about to expire. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_customer_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Reminder To Sales Person </p>
			<p class="oe_slogan"> Reminder Email after expire your rental order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_user_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Extend Rental Order </p>
			<p class="oe_slogan"> We have a feature that rental order can be easily renew or extend using "Extend/Renew Rental" button. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_extend_button.png">
			<p class="oe_slogan"> In extend rental order wizard user can select "Initial Terms" as hours, days, week and month and enter based on that "Rental Start Date" will automatically set.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_extend_wizard.png">
			<p class="oe_slogan"> Extended rental date is added to rental order. </p>
			<p class="oe_slogan"> Extended rental date will also effected on generated subscription and recurring invoice. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_extend_rental.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Rental Order Report </p>
			<p class="oe_slogan"> User can also print rental order report. </p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="22_report_menu.png">
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="23_rental_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Close Rental Order </p>
			<p class="oe_slogan"> When rental period is completed you can close rental order via close rental button. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_close_rental.png">
			<p class="oe_slogan"> User can see closed rental order and created new delivery order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="25_closed_rental.png">
			<p class="oe_slogan"> Which use can processed and rental product will arrive in your warehouse. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="26_transfer.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Rental Order History </p>
			<p class="oe_slogan"> user can see rental order history on serial number. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="27_lot.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_invoice_double_approval/">
					<img class="img img-responsive" src="related/1.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_cs_multiple_payment/">
					<img class="img img-responsive" src="related/2.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_website_account_statement/">
					<img class="img img-responsive" src="related/3.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_invoice_tripple_approval/">
					<img class="img img-responsive" src="related/4.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/outstanding_report/">
					<img class="img img-responsive" src="related/5.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_mass_cancel_invoice/">
					<img class="img img-responsive" src="related/6.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Odoo Machine and Equipment Rental Management Odoo App" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Odoo Machine and Equipment Rental Management Odoo App" target="_blank"> Support Request </a>
		</div>
	</div>
</section>
