<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Scrap Order Report.</h2>
        </div>
        <div class="oe_row oe_spaced">
            <h4><p style="margin-left: 42px;  font-size:20px;">Key Features:</p></h4>
            <ul>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    Allows you to generate Scrap Order PDF/XLS Report.
                </li>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    Support with Multi Company.
                </li>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    Works with Lot/serial number.
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h4 class="oe_slogan">Overview</h4>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">
            Select start date, end date and generate PDF or XLS report as per below image.
            </li>
            <div class="oe_demo oe_screenshot">
                <img src="1.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">
                PDF Report with selected date range in wizard.
            </li>
            <div class="oe_demo oe_screenshot">
                <img src="main_screenshot.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">
                PDF Report support with lot/serial column if any tracking product scraped in given date range.
            </li>
            <div class="oe_demo oe_screenshot">
                <img src="3.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">
                XLS report with selected date range in wizard.
            </li>
            <div class="oe_demo oe_screenshot">
                <img src="4.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">
                XLS Report support with lot/serial column if any tracking product scraped in given date range.
            </li>
            <div class="oe_demo oe_screenshot">
                <img src="5.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #191970;">
    <div class="oe_row ">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <span class="text-center" style="color:#FFF; font-size:20px;">Contact us for Support, Customization, Implementation</span>
            </div>
            <span class="text-center" style="color:#FFF; font-size:20px;">
                You will get 45 Days free support in case of Bugs/Issue exclude data recovery.
            </span>
            <br/>
        </div>
        <div class="oe_row ">
            <div class="text-center">
                <span class="text-center" style="color:#FFF; font-size:20px;">Email : equickerp@gmail.com</span><br/>
                <span class="text-center" style="color:#FFF; font-size:20px;">Skype : equickerp</span><br/>
            </div>
        </div>
    </div>
</section>