<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h2 class="oe_slogan">Persistent and propagated view cache</h2>
			<p class="oe_mt32">
				This module will reduce Odoo worker recovery time from cache
				depletion about 25%.<br /> In another words: you will get speed
				improvements at certain moments <br /> If you see "Invalidating all
				model caches after database signaling" frequently in your log files
				then this module is for you.
			</p>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h4 class="oe_slogan">Installation</h4>
		</div>

		<div class="oe_span12">
			<div class="oe_row oe_centered">
				<p class="oe_mt32">Simply locate the module and click install.
					No other dependencies required.</p>
				<p>If you have installed test module - please remove it. It will
					not show accurate data and simply slow down overall system.</p>
			</div>
		</div>

	</div>
</section>


<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h4 class="oe_slogan">Testing</h4>
		</div>

		<div class="oe_span12">
			<div class="oe_row oe_centered">
				<p class="oe_mt32">
					You can test to see if real module can have benefits for you. <br />
					For testing please refer to testing module <a
						href="https://apps.odoo.com/apps/modules/13.0/ir_ui_view_cache_test/">over
						here.</a>
				</p>
			</div>
		</div>

	</div>
</section>



<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h4 class="oe_slogan">But why, when and how?</h4>
		</div>

		<div class="oe_span12">
			<div class="oe_row oe_centered">
				<p class="oe_mt32">
					<b>Why?</b><br /> <br /> Each request to the server Odoo uses
					lots of data to perform response to the request.<br /> Most of the
					data is cached (ormcache) or will be cached (therefore the slower
					request).<br /> <br /> <br />



				</p>

				<p class="oe_mt32">
					<b>When?</b><br /> <br /> Each time<br /> <span>
						<ul>
							<li>Odoo server is restarted</li>
							<li>Worker reaches to the end of request limit</li>
							<li>Worker hits the soft/hard memory limit</li>
							<li>Cache needs to be flushed to obtain consistency (product
								attribute changed, etc)</li>
						</ul>
					</span>
				</p>

				<p class="oe_mt32">
					<b>How?</b><br /> <br /> If Odoo compiles a view - this module
					will save the result (hence persistent)<br /> If other worker
					needs to compile the same view (and it does at some point) it can
					fetch already compiled view (hence propagated)

				</p>

				<p>
					<br /> <br />If you need support: contact us at
					support@advancedaccountancy.org
				</p>
			</div>
		</div>

	</div>
</section>