.o_kitchen_container {
	display: flex;
	width: 50%;
}

.o_list_view table.o_kitchen_table {
	width: 100%;
	display: inline-table;
	margin: 10px;
}

.o_list_view table.o_kitchen_table tr td {
    padding: .75rem !important;
}

.o_form_kitchen_label {
	font-weight: bold;
	margin-right: 15px;
}

.o_kitchen_input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 4px;
	width: 100%;
}

.o_kitchen_input:focus {
	outline: none;
}