
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Purchase Multi Picking.</h2>
        </div>
        <div class="oe_row oe_spaced">
            <h4><p style="margin-left: 42px;  font-size:20px;">Key Features:</p></h4>
            <ul>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    Allows user to select different Deliver to (Operation Type) on Purchase order line.
                </li>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    Generate Incoming shipment based on the operation type selected.
                </li>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    User can see the selected operation type on Purchase Order pdf report.
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h4 class="oe_slogan">Overview</h4>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">As shown in below image, In Purchase order line user have option to select Deliver to (operation type).</li>
            <div class="oe_demo oe_screenshot">
                <img src="main_screenshot.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">Incoming shipment created based on the Operation type selected in Purchase order line.</li>
            <div class="oe_demo oe_screenshot">
                <img src="2_deliver_to_wise_incoming_shipment.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">Display selected Deliver To on Pdf report.</li>
            <div class="oe_demo oe_screenshot">
                <img src="3_pdf_report.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #191970;">
    <div class="oe_row ">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <span class="text-center" style="color:#FFF; font-size:20px;">Contact us for Support, Customization, Implementation</span>
            </div>
            <span class="text-center" style="color:#FFF; font-size:20px;">
                You will get 45 Days free support in case of Bugs/Issue exclude data recovery.
            </span>
            <br/>
        </div>
        <div class="oe_row ">
            <div class="text-center">
                <span class="text-center" style="color:#FFF; font-size:20px;">Email : equickerp@gmail.com</span><br/>
                <span class="text-center" style="color:#FFF; font-size:20px;">Skype : equickerp</span><br/>
            </div>
        </div>
    </div>
</section>