.oe_sequence{
    .table-responsive{
        .table{
            thead{
               tr{
                   th[data-name="move_line_sequence"]{
                    width: 60px !important;
                   }
               }
            }
        }
    }
}
