.o_stock_reports_page {
    .o_stock_reports_table {
        table {
            tbody {
                tr{
                    td{
                       span{
                            a {
                                color: #4c4c4c !important;
                            }
                       } 
                    }
                }  
            }
        }
    }
}
