<section class="oe_container oe_spaced">
    <h2 class="oe_slogan" style="color:#004a81;">Venue Booking</h2>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>This Application allows create venues, amenities, and bookings for venues</h4>
        <h4>Select Booking From Menu</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; padding-right: 2%;"
                     src="venue_dashboard_v14.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Go to Settings under Configuration and configure values for Venues, Amenities, Additional Charge </h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking2.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Create Venue Type from Venue Type menu under configuration.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking3.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Create Amenities</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking4.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Venue Creation</h4>
        <h4> Select Venue from Venue Menu</h4>
        <h4> Add all essential details like venue name, capacity, Venue charge and additional charge based on days and
            hours.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking5.png">
            </div>
        </div>
    </div>
</section>
<!--<section class="oe_container">-->
<!--    <div class="oe_row oe_spaced">-->
<!--        <h4> To add amenities to the venue select the Amenities tab and add amenities.</h4>-->
<!--        <div class="oe_span12">-->
<!--            <h4 style="padding-left: 80px"></h4>-->
<!--            <div class="oe_demo oe_picture oe_screenshot">-->
<!--                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"-->
<!--                     src="booking6.png">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> While adding amenities we can select type for amenities and fix price for amenities on daily and hourly
            basis</h4>
        <h4> If the type of amenitiy is inclusive cost of amenity will not be calculated.</h4>
        <h4> If the amenity type is additional, cost of amenity will calculated.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking7.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Booking Creation</h4>
        <h4> Select the Booking Enquiries or Confirmed bookings menu under Booking Main menu</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking8.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking9.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Enter the details for booking.</h4>
        <h4> If the customer is already in our customer list, select the customer</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking10.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> If the booking is from a prospective customer, Add the customer details in the Customer info Tab</h4>
        <h4>At the time of booking confirmation the customer will be added to our customer list automatically.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking11.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Select the venue.</h4>
        <h4>Enter the Booking From and To dates</h4>
        <h4>If the To date is leeser than from date warning will be generated.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking11.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking38.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>We can select the booking type.</h4>
        <h4>If the booking type is day venue and additional charge based on day will be displayed.</h4>
        <h4>If the booking type is hourly venue and additional charge based on hours will be displayed.</h4>
        <h4>Total venue and additional charge will be calculated based on the duration of booking and values based on
            booking type</h4>

        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking12.png">
            </div>
        </div>
    </div>
</section>
<!--<section class="oe_container">-->
<!--    <div class="oe_row oe_spaced">-->
<!--        <h4>Booking Charges based on hours</h4>-->
<!--        <div class="oe_span12">-->
<!--            <h4 style="padding-left: 80px"></h4>-->
<!--            <div class="oe_demo oe_picture oe_screenshot">-->
<!--                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"-->
<!--                     src="booking13.png">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<section class="oe_container">-->
<!--    <div class="oe_row oe_spaced">-->
<!--        <h4>The amenities we set as inclusive for the venue is already included in the venue price package</h4>-->
<!--        <h4>Select the extra amenities from the amenities tab</h4>-->
<!--        <h4>We can select only those amenities provided for the venue at the time of venue creation from the extra-->
<!--            amenities tab. </h4>-->
<!--        <h4>If the amenities we are selecting is not available for the venue an error will be displayed</h4>-->
<!--        <div class="oe_span12">-->
<!--            <h4 style="padding-left: 80px"></h4>-->
<!--            <div class="oe_demo oe_picture oe_screenshot">-->
<!--                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"-->
<!--                     src="booking14.png">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>If the amenities we selected is inclusive in the venue package an error will be displayed</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking15.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>The unit price for the amenity will be will be based on the booking type.</h4>
        <h4>Select the amenities and save the booking.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking17.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Currently status of booking is Enquiry.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking18.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the Confirm booking button.</h4>
        <h4>In the pop up, there will be 2 options.</h4>
        <h4>Select the link to an existing customer option, if the prospective customer is linked to any of our existing
            customers.</h4>
        <h4>In the customer tab, Select the existing customer.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking19.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the Create new customer option if we want to add the prospective customer to the customer list.</h4>

    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Once the booking is confirmed, our prospective customer will change to new customer.</h4>
        <h4>Booking status will be changed and some new buttons will appear.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking20.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the print button to get the pdf report of booking order.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking21.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the booking confirmation button to send the mail regarding confirmation to the customer.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking22.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the create invoice button to generate invoice for the booking.</h4>
        <h4>In the pop up generated there is an option to add Downpayment either based on percentage or based on
            amount.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking23.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the create invoice button</h4>
        <h4>If we want to view the invoice, select the create and view the Invoice</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking24.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>The Downpayment amount generated will be updated in the payment received field and amount due will be
            updated based on that.</h4>
        <h4>Invoice count button will be generated in the Booking Order Form</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking26.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>The entire invoice option will generate the whole invoice</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking27.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking28.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Check Availability</h4>
        <h4>Click on Check Availability button to check venue avialabilty</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking48.png">
            </div>
        </div>
        <h4>Search by Venue</h4>
        <h4>If venue selected, return calendar view of booking of selected venue</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking49.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking50.png">
            </div>
        </div>
        <h4>If venue and date selected, show message available or not available</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking51.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking52.png">
            </div>
        </div>
        <h4>Search by Others</h4>
        <h4>If only amenity selected without date, show calendar view of booking with available venue.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking53.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking54.png">
            </div>
        </div>
        <h4>If amenity and date selected, show message venue available or not available. </h4>
        <h4>Also you can search by other filters like location, budget, seating etc,. </h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking55.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking56.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Reporting</h4>
        <h4>Analysis Report</h4>
        <h4>Select the Booking analysis menu from the reporting menu.</h4>
        <h4>Analysis can be made on different measures like Total amount, amount due, advance received, customer, venue,
            Booking Reference </h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking30.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking31.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking32.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking33.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>XML and PDF Reports</h4>
        <h4>Select the Venue Booking Report menu from the reporting menu.</h4>
        <h4>In the Pop up window, add the required details. </h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking39.png">
            </div>

        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Select the Print PDF Button, to get the PDF report</h4>
        <h4>Select the Export button to get the report in XML format</h4>

        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking35.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking36.png">
            </div>

        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Booking Gantt View</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking37.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Booking Kanban View View</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:400px; padding-right: 2%;"
                     src="booking37.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Booking Portal</h4>
        <h4> Login to your portal account, here you can see all your bookings</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking40.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking41.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:440px; padding-right: 2%;"
                     src="booking42.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4> Booking Online Booking</h4>
        <h4> Goto Website home page, from here you can see a menu "Booking" on the right top.</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking43.png">
            </div>
            <h4>Then you can see all venues listed down, by clicking on the venue image you can navigate to the next
                page which shows full details about the venue and you can also see an option to chech the availability of venues</h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking44.png">
            </div>
            <h4>Check availability based on specific venue</h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking44.1.png">
            </div>
            <h4>Check availability based on specific location</h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="location.png">
            </div>
            <h4>Check availability based on other filters like Budget, Capacity, Amenities etc</h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking44.2.png">
            </div>
            <h4>From here user can request booking of the venue online by clicking on the button "Request a booking".</h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:440px; padding-right: 2%;"
                     src="booking45.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4>Online Booking Form</h4>
        <h4> From here user can give all the booking informations and click on "Book Now" button</h4>
        <div class="oe_span12">
            <h4 style="padding-left: 80px"></h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking46.png">
            </div>
            <h4>When the venue is booked successfully user will be informed with booking ID and payment details</h4>
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="padding-top: 2%; padding-bottom: 5%; padding-left: 2%; height:420px; padding-right: 2%;"
                     src="booking47.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan" style="color:#004a81;">Help and Support</h3>
        <h4 class="oe_slogan" style="color:#004a81;">For support, new features and customizations.</h4>
        <div class="oe_row">
            <!--<div class="col-md-4"></div>-->
            <div class="col-md-4">
                <a href="http://www.technaureus.com" class="logo" style="margin-left:120%;"><img
                        src="http://www.technaureus.com/wp-content/themes/technaureus/img/logo.png"/></a>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="oe_slogan">
            <a class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;background-color: #004a81;" href="http://www.technaureus.com/"
               target="_blank">
                <i class="fa fa-globe"></i> Website </a>
            <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;background-color: #004a81;"
               href="mailto:support@technaureus.com" target="_top">
                <i class="fa fa-envelope"></i> Contact Us </a>
            <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;background-color: #004a81;"
               href="skype:technaureus?call"><i
                    class="fa fa-skype"></i> Skype </a>
            <br/>
            <br/>

            <h2 class="oe_mt16" style="text-align: center;">
                <a href="https://apps.odoo.com/apps/modules/browse?search=technaureus" target="_blank"
                   style="color: #004a81; font-weight: bold; margin-top: 16px;">
                    <i class="fa fa-star fa-spin"></i> Click here for Technaureus Odoo Apps <i
                        class="fa fa-star fa-spin"></i></a>
            </h2>
        </div>
    </div>
</section>