body
{
   background-color: #e6ecf0;
}
.breadcrumb
{
background:transparent;
}
.scroll{
position: absolute;
width: 100%;
z-index: 100;
}
#pieChartDemo1 {
    width: none !important;
    height: auto !important;
}
#pieChartDemo {
    width: none !important;
    height: auto !important;
}
.main-head
{
    background-color:#0b4d70;
    padding: 2%;
    color: white;
}
.second-head
{
    margin-top: -3%;
}
h6{
    margin-top: 10%;
}
h3.main-head
{
    text-align: center;
}
.card-body1
{ 
    flex: 1 1 auto;
    min-height: 1px; 
    background: #fff;
    color: #089653; 
    padding: 14px;
    border-bottom: 4px solid #008801;
    text-align: center;
}
.card-body2
{
    flex: 1 1 auto;
    min-height: 1px;  
    background: #fff;
    color: #b428b2; 
    border-bottom: 4px solid #a1069e;
    padding: 14px;
    text-align: center;
}
.card-body3
{
    flex: 1 1 auto;
    min-height: 1px; 
    background: #fff;
    color: #8b0524; 
    border-bottom: 4px solid #8b0524;
    text-align: center;
    padding: 14px;
}
.card-body4
{
    flex: 1 1 auto;
    min-height: 1px; 
    background: #fff;
    color: #0b97c2; 
    border-bottom: 4px solid #0b97c2;
    padding: 14px;
    text-align: center;
}
.p-1
{
    border-bottom: 4px solid #008801;
    padding: 12px;
}

span.special{
    color:#b5b0b0;
}
.one{
    width: 10%;
    padding: 12%;
    background-color: white;
    margin-right: 10px;
}
.two{
    width: 10%;
    padding: 12%;
    background-color: white;
    margin-right: 10px;
}
a.canvasjs-chart-credit {
    display: none;
}
.titles {
    position: relative;
    background: #0b4d70;
    padding: 20px;
}

.title-chart {
    position: relative;
    background: #fff;
    padding: 20px;
}

.head-cust
{
    color: white !important;
    text-align: center;
    font-size: 15px;
}
.card-body
{
        padding: 0rem;
}
.title-1
{
    position: relative;
    background: #fff;
  padding-top: 15px;
  margin-top: 50px;
}
.head-cust1
{
    color: black;
    text-align: left;
    font-size: 15px; 
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video
{
width:auto;
}
@media (min-width: 1440px) 
{
    /*.title-1{
        height: 390px;
    }*/
}
@media (min-width: 1024px)
{
.head-cust {
    color: white;
    text-align: center;
    font-size: 12px;
}
}
   @media (max-width: 812px)
{
    .col-md-4 {
    flex: auto !important;
    max-width:100% !important;
    margin-top: 3%;
}
}
   @media (max-width: 800px)
{
    .col-md-4 {
    flex: auto !important;
    max-width:100% !important;
    margin-top: 3%;
}
}
@media (max-width: 770px)
{
    .title{
        margin-top: 3%;
    }
    .col-md-4 {
    flex: auto !important;
    max-width:100% !important;
    margin-top: 3%;
}
}
@media (max-width: 667px) 
{
.title-1{
    height: auto;
}
.title{
    
    margin-top: 4%;
}
}
@media (max-width: 465px) 
{
.title-1{
    height: auto;
}
.title{
    
    margin-top: 4%;
}
}
@media (max-width: 320px) 
{
.title-1{
    height: auto;
}
.title{
    
    margin-top: 4%;
}
}