<section class="oe_container">
   <div class="oe_row oe_spaced">
          <h2 class="oe_slogan" style="color:CRIMSON;"><b>Website Job/Work Order Form and Portal in Odoo</b></h2>
          <h2 class="oe_slogan" style="color:crimson;"><b>Job Order Request from Website</b></h2>
          <h2 class="oe_slogan" style="color:blue;"><b>Work Order Request from Website</b></h2>
          <h2 class="oe_slogan" style="color:green;"><b>Job Order / Work Order My Account Portal on Website</b></h2>
          <h2 class="oe_slogan" style="color:red;"><b>Project Job Orders Request from Website</b></h2>
          <p class="oe_mt32" style="color:CRIMSON;font-size:21px;">
			       This app allows your customer / visitor of your website to create a job order or work order request from your website as shown.
          </p><br/>
      	  <b style="color:CRIMSON;font-size:21px;">
      			Main Features:
      	  </b><br>
	      <ul style="font-size:20px;">
	          <li style="color:olive;">Anyone (Customers / Visitors) can create a job order or work order request from your website by filling the request form as shown.</li>
	          <li style="color:olive;">Allow customers to have a portal in My Account to view a list of job orders and print job orders.</li>
	          <li style="color:olive;">Job orders / Work orders linked with Project so if customers fill Project code [optional] while submitting a request from the website then the created job order will be linked to specific Project in Odoo.</li>
	          <li style="color:olive;">Instance email notification to customer by email when job order will be created.</li>
	          <li style="color:olive;">Print Job Order PDF from backend as well by your internal team as sample shown.</li>
            <li style="color:olive;">Allow you to configure the job category in the backend and allow your customer to select from the request form.</li>
            <li style="color:olive;">Allow your team to send by email to your customer from the backend and attach a report of job order in the backend.</li>
            <li style="color:olive;">Integrated with Material Requisitions by Employees/Users so you can check material_purchase_requisitions app for more details about its features. Please click here: <a href="https://www.odoo.com/apps/modules/14.0/material_purchase_requisitions/" target="new">https://www.odoo.com/apps/modules/14.0/material_purchase_requisitions/</a>.</li>
            <li style="color:olive;">For more details please watch the video and check below screenshots.</li>
	      </ul>
	      <p style="color:CRIMSON;font-size:21px;"><b>
	           Menus Available:</b>
	            <ul style="color:olive;font-size:20px;">
	                <li>Job Order
	                    <ul>
	                        <li>Job Orders
	                            <ul>
	                                <li>Job Orders</li>
	                            </ul>
	                        </li>
	                         <li>Purchase Requisitions
	                            <ul>
	                                <li>Purchase Requisitions</li>
	                            </ul>
	                        </li>
	                         <li>Configuration
	                            <ul>
	                                <li>Projects</li>
	                                <li>Stages</li>
	                                <li>Job Order Category</li>
	                            </ul>
	                        </li>
	                    </ul>
	                </li>
	             </ul>
	      </p>
          <p style="color:CRIMSON;font-size:21px;"><b>Pages Available at Website</b>
            <ul style="color:olive;font-size:20px;"><i>
              <li>Job Work Order
                <ul>
                    <li>Create Workorder</li>
                    <li>My Job Orders</li>
                </ul>
              </li>
             </ul>
          </p>
   </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                  </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Enterprise</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Odoo.sh</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Community</span>
              </center>
              <br/>
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Customer / Portal / Visitor Create Job order from Website</b></h2>
       <div class="oe_demo oe_screenshot">  
          <img src="1wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Order created Successfully Message</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="2wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">My Job Orders</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="3wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Orders List View</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="4wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">My Account Open Job Order View</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="17wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">PDF Report Job Order</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="19wr.jpg">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Orders Kanban View</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="5wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Order Form View</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="6wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:CRIMSON;"><b>Job Order with Website Details</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="7wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Orders with Purchase Requisitions Tab and Purchase Requisitions Smart Button</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="8wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Open Purchase Requisitions from Job Order</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="9wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Purchase Requisitions with Job Order and Project</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="10wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Purchase Requisitions List View</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="11wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Stages List View </b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="12wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Project with Customer Reference</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="13wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Order with Send by Email </b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="14wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Order Sent Email on Chatter</b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="15wr.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Order Category </b></h2>
       <div class="oe_demo oe_screenshot">  
           <img src="16wr.png">
       </div>
   </div>
</section>


<!-- <section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:green;">Material Requisition Feature Details - https://www.odoo.com/apps/modules/13.0/material_purchase_requisitions/</b></h2>
   </div>
</section> -->
<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
       <div class="mt32 oe_span6">
          <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
          <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
          </h3>
          <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></li></a>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></li></a>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></li></a>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></li></a>
          </ul>
       </div>
   </div>
</section>
