
        
        
        
        <section class="container" style="font-size:18px;">
            <div class="col-lg-12 col-md-12">
                
                    <div class="row">
                        
                
        <div class="col-lg-12 col-md-12 mt16" style="padding:0;">
            <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                <div class="panel-heading collapsed mb0 mt0" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;border:none;">
                    <strong>
                        
        <div style="background-color:#21B799 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
            <strong title="Click to observe details">
                <i class="fa fa-tags ml4"> </i>
                
                <span class="ml4">
                    74
                    <i class="fa fa-euro" style="font-size:14px;"> </i>
                </span>
                <i class="fa fa-angle-down ml4"> </i>
            </strong>
        </div>
    
                        
        
            
            
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Enterprise version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Enterprise
                </strong>
                
            </div>           
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Community version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Community
                </strong>
                
            </div>
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;;">
                <strong title="The tool might be installed to Odoo.sh if you have a linked private git repository" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Odoo.sh
                </strong>
            </div>
        
    
                    </strong>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="priceAccordeon_area" aria-expanded="false" style="padding:0;border:1px dotted #ddd;">
                    <div class="panel-body">
                        
        
    
                        
        <div class="col-12 mt8">
            <span>
                The tool does not require extra dependencies beside standard Odoo apps
            </span>
        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
                    </div>
                    <div class="row">
                        
        <div class="col-lg-12 col-md-12 mt8" style="padding:0;">
            <ul role="tablist" class="nav nav-tabs mb16 mt16 justify-content-center" data-tabs="tabs" style="background:unset !important;">
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#features" data-toggle="tab" class="nav-link active" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                        Features
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#config" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Guidelines
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#faq" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       FAQ
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#screenshots" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Screenshots
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#support_info" data-toggle="tab" class="nav-link" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Support
                       <span>
                       & Demo <sup><small style="color:#BA3C3D !important;"><i>free</i></small></sup>
                       </span>
                    </a>
                </li>
            </ul>
        </div>
    
                    </div>
                    <div class="row">
                        <div class="tab-content w-100">
                            <div id="features" class="tab-pane active">
                                
        
    
                                
        <div class="row">
            <div class="row col-lg-12 col-md-12 mt8 mb8">
                <div class="text-left mb16 col-lg-7 col-md-7 border-right">
                    <div><p>
Odoo users often need to keep in mind a lot of details spread out among numerous interfaces. Switching between those is not comfortable and error-prone for planning. This tool solves the problem. The app let configure rules to join and share various document types on a <strong>single</strong> super calendar view but with <strong>easy-reachable</strong> source objects.
</p></div>
                    
                       
                </div>
                <div class="col-lg-5 col-md-5 mb16" style="padding-left: 16px;">
                    <div>
                        <small>
                            <i>Documentation:</i> 
                        </small>
                        <small class="bg-primary" style="border-radius:5px;padding:5px;">https://faotools.com/docs/joint-calendar-23</small>
                    </div>
                    <div class="mt8">
                        <ul class="list-unstyled"> 
                            
                                <li>
                                    <a target="blank" href="https://youtu.be/5TRXB0nwBos ">
                                        <i class="fa fa-youtube"> </i>
                                        <span>Joint Calendar overview</span>
                                    </a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    
                                
                                
                                <div class="row">
                                    
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo super calendar events" src="joint_main.png"/>
                </div>
            
        </div>
                               
                                </div>

                                
        <div class="mt8">
            
                <div class="row mt8 mb16">
                    
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb16" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Any Odoo documents on the same calendar</h4>
        <p>The tool might merge any Odoo document types on the same view: opportunities, meetings, phone calls, activities, sale or purchase orders, shipments and deliveries, tasks and tickets, time offs, ...</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Flexible merging rules</h4>
        <p>Define by your own what to consider a joint event title, start or stop date, who are target attendees, etc. Have even the same document twice on the same calendar just with a different start</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Instant access to source details</h4>
        <p>Joint events and their source documents are interrelated. Update the former and the latter would be changed immediately. A reverse operation would be applied with the next cron</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Comfortable navigation</h4>
        <p>Shared calendars are especially suitable for team interactions. Users might switch between document types and participants in a single click</p>       
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:8px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Unlimited number of super calendars</h4>
        <p>Configure as many calendars as you need: for various functional areas or for different user groups. Each joint calendar has an own menu item</p>     
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Reminders for any Odoo documents</h4>
        <p>Calendar configuration let assign default popup and email alarms. Thus, it is possible to have notification of any Odoo event or activity</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Simple user rights administration</h4>
        <p>Regulate joint calendar accesses right on its form. Make it public or share it only for chosen user groups</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Automatic shared calendar updates</h4>
        <p>Joint events are updated regularly by the cron job. It is fast, especially if you apply time frames. Refreshing is also available from the calendar interface</p>        
      </div>
    </div>
  </div>
</div>

</div>
                        
                        
        
    
                        
                            <div class="col-lg-12 col-md-12 mt8 mb8">
                                <div class="row ml0 mr0">
                                    
                                        <div class="col-lg-6 col-md-6 mt8">
                                            
        <blockquote>
            <i class="fa fa-1x fa-quote-left rounded-0" style="color:#21B799 !important;background-color"> 
            </i>
            <h4>Excellent responsive team of programmers</h4>
            <p>Joint Calendar is the perfect addition to the standard Calendaring system that Odoo offers. It makes the job of setting up specific departmental calendars filled with any objects you wish very easy and Alex and the team provides fantastic after-sales support, responding in most cases within 24 hours to requests for help. Thanks for a great module.</p>
            <footer class="text-right">
                <span>-- <span>Bill Ennals</span> 
                </span>
            </footer>
        </blockquote> 
    
                                        </div>
                                    
                                        <div class="col-lg-6 col-md-6 mt8">
                                            
        <blockquote>
            <i class="fa fa-1x fa-quote-left rounded-0" style="color:#21B799 !important;background-color"> 
            </i>
            <h4>Essential to have Activities, Tasks, Meetings etc all in one calendar and shared.</h4>
            <p>Great service support very quick and were right on with fixing the issue... I think the ability to see everything on one shared calendar is such an essential part of coordination and time management. Great product once you sort out the rules you need!</p>
            <footer class="text-right">
                <span>-- <span>Saul</span> 
                </span>
            </footer>
        </blockquote> 
    
                                        </div>
                                    
                                        <div class="col-lg-6 col-md-6 mt8">
                                            
        <blockquote>
            <i class="fa fa-1x fa-quote-left rounded-0" style="color:#21B799 !important;background-color"> 
            </i>
            <h4>This makes the Event Calendar so much more useful !</h4>
            <p>We bought this to combine certain project tasks with the schedules of our maintenance engineers. We now have a better overview which moments are overlapping the schedules of other events. The joining of multiple events in 1 event calendar is super easy, it should be a standard option in ODOO.</p>
            <footer class="text-right">
                <span>-- <span>Sander Galestien</span> 
                </span>
            </footer>
        </blockquote> 
    
                                        </div>
                                    
                                        <div class="col-lg-6 col-md-6 mt8">
                                            
        <blockquote>
            <i class="fa fa-1x fa-quote-left rounded-0" style="color:#21B799 !important;background-color"> 
            </i>
            <h4>Better then expected</h4>
            <p>The app does exactly what was needed. Combine all tasks from all calendars to one. And allows to manages all activities from all modules in one place.</p>
            <footer class="text-right">
                <span>-- <span>Arseniy</span> 
                </span>
            </footer>
        </blockquote> 
    
                                        </div>
                                    
                                </div>
                            </div>
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Super calendars for any business area</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mt8">
    <p>Use joint calendars for any functional area: CRM, project management, sales, HRM, MRP, inventory management, so and so on. Find just a few examples of rules below</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Tasks on a joint calendar</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a model use 'Task'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a name use 'Title'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a start date field use 'Deadline'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As attendees fields use 'Assigned to'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a domain optionally you can set definite projects</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Sale orders on a shared calendar</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a model use 'Sales order'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a name use 'Order Reference'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a start date field use 'Order Date'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As attendees' fields use 'Salesperson'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a contact link use customer</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a domain optionally restrict quotations by sales teams.</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Opportunities on a super calendar</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a model use 'Lead / Opportunity'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a name use 'Opportunity'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a start date field use 'Expecting Closing'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As attendees' fields use 'Salesperson'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a contact link use customer</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a domain optionally restrict opportunities by sales teams.</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Share employees time offs and leaves</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a model use 'Time Off'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a name use 'Description'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a start date field use 'Start Date'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As attendees fields use 'User'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a stop date field use 'End Date'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a domain filter by status: show only approved leaves.</div> 
        </li>
      </ul>
    </div>
  </div>  
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Activities by all objects</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a model use 'Activity'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a name use 'Display Name'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a start date field use 'Due Date'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As attendees fields use 'Assigned to'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a domain apply 'Summary is set'</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="h-100 shadow" style="margin:0;border-radius:20px; padding:16px 16px; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <h3>Odoo meetings to joint calendar</h3>
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a model use 'Calendar Event'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a name use 'Meeting Subject'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a start date field use 'Start'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a stop date field use 'Stop'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As attendees fields use 'Attendees'</div> 
        </li>
        <li class="mb8" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>As a whole day field 'All Day'</div> 
        </li>
      </ul>
    </div>
  </div>

</div>

</div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo tasks shared calendar" src="tasks.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo sales orders joint calendar" src="sale_orders.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo CRM super calendar" src="opportunities.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="HR leaves / holidays merged calendar" src="hr_leave_rule.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Flexible rules to merge Odoo documents</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <p>To add a new document type for a shared interface you should set up a joint calendar rule. This rule defines which Odoo objects should create events, which fields of that object should be shown, and whether any filtering should take place</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Model</strong> - which objects to scan: opportunities, tasks, orders, meetings, activities, and so on. You can choose your custom document type (including created in Odoo Studio) as well</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Name</strong> - what to use as a joint event name (also used as calendar event title). Usually it is 'name', 'subject' or 'reference'</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Start date</strong> -  when an event starts. For example, 'expecting closing' for opportunities or 'order date' for quotations. It may be any date or date with time field of a source Odoo object</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Stop date</strong> - when an even is shown as finished on a calendar</div> 
        </li>        
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Attendees</strong> - who are participants (responsible persons, event owners). Usually, it is a field 'assigned to', 'a sales person' or 'attendees'. You may use even document 'followers', since it's possible to apply both users and partners</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Description</strong> - are there any notes important for joint events? Usually the fields like 'internal notes' or 'comments' are used</div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="h-100" style="margin:0;">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Always Whole Day</strong> - means that all generated events would last the whole day disregarding whether start or stop are defined with hours and minutes. Such an event would be shown at a special place on a calendar (above the time line)</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Whole Day</strong> - a special boolean field of source object which indicates that a related joint event may lasts the whole day. This setting is usually applied to standard Odoo calendar events which both might have definite time indicated or might be planned for a whole day</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Contact Link</strong> - is this event linked to a specific partner? Usually the fields like 'customer' or 'vendor' are used</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Domain</strong> - the Odoo filters' constructor to include only topical documents into a joint calendar. You might apply any storable attribute. For example, show only quotations without sales orders, or show opportunities only of this sales team</div> 
        </li>        
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><strong>Action</strong> - defines which form view should be shown when you open a source document from a joint event. It is a technical field which in the most cases should not be changed in comparison to a default value.</div> 
        </li>
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo events joint calendar" src="meetings.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Activities shard on single Odoo interface" src="activities_joint.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
        </div>
    
                            </div>
                            <div id="config" class="tab-pane">
                                    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row ml0 mr0">
                    <div class="col-lg-12 col-md-12 mb16">
                        <section>
                            <div class="s_faq">
                                <div id="app_conf_accordion" class="panel-group" role="tablist">
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_conf_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_308_conf">
                                                        <span>Joint calendar scheduled jobs</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_308_conf">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p>The tool let you change the frequency of joint calendar refreshing and emails reminders' checks:</p>
<ol>
<li>Turn on the debug mode</li>
<li>Go to technical settings > Automation > Scheduled jobs</li>
<li>Find the job 'Refresh Joint Events' to change the frequency of super calendars' update</li>
<li>Find the job 'Notify About Joint Event' to change the frequency of email alarms.</li>
</ol></div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    
                            </div>
                            <div id="faq" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                <div class="row ml0 mr0">                   
                    
                    <div class="col-lg-12 col-md-12">
                        <section>
                            <div class="s_faq">
                                <div id="app_faq_accordion" class="panel-group" role="tablist">
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_128_faq">
                                                        <span>What are the update policies of your tools?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_128_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0 1rem 0;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">According to the current Odoo Apps Store policies:</p><ul style="padding:0 0 0 40px;margin:0px 0 1rem 0;list-style-type:disc;"><li>every module bought for the version 12.0 and prior gives you an access to the all versions up to 12.0.</li><li>starting from the version 13.0, every version of the module should be purchased separately.</li><li>disregarding the version, purchasing a tool grants you a right for all updates and bug fixes within a major version.</li></ul><p style="margin:0px 0 1rem 0;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Take into account that faOtools team does not control those policies. By all questions please contact the Odoo Apps Store representatives<a href="https://www.odoo.com/contactus" style="text-decoration-thickness:initial;text-decoration:none;background-color:transparent;color:rgb(13, 103, 89);" contenteditable="true" data-original-title="" title="" aria-describedby="tooltip864258">&nbsp;directly</a>.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_124_faq">
                                                        <span>How can I install your app on Odoo.sh?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_124_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">The easiest approach is to use the Odoo store built-in workflow: </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">1. Open the module's page and click the button Deploy on odoo.sh </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">2. After that, you will be redirected to the GitHub page. Login to your account and click ‘Create a new repo’ or use the existing one. Please, make sure, that your repository is private. It is not permitted to publish the apps under the OPL-1 license. If necessary, create a new repo for your Odoo.sh project </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">3. Then, go to odoo.sh and click on the deploy button, submit the decision in the pop-up window and click ‘Continue’. The action will trigger the installation process. </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">These steps would install the app for your project production branch. If you wanted to deploy the apps for other branches or update the module, you should undertake the following actions: </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">1. Upload the source code for the app from the Odoo store </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">2. Commit the module to a required GitHub repository. Make sure that none of the app folders/files are ignored (included in the .gitignore of your repo). Repositories are automatically created by odoo.sh, which might add by default some crucial items there (e.g. /lib). You should upload all module directories, subdirectories, and files without exceptions </p>
<p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">3. Deploy a target branch of the odoo.sh project or wait until it is automatically built if your settings assume that.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_125_faq">
                                                        <span>How should I install your app on my own server?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_125_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>    <ol style="padding:0 0 0 40px;list-style-type:decimal;margin:0px 0 10px 0;"><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Unzip source code of purchased tools in one of your Odoo add-ons directory</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Re-start the Odoo server</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Turn on the developer mode (technical settings)</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Update the apps' list (the apps' menu)</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Find the app and push the button 'Install'</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Follow the guidelines on the app's page if those exist.</p></li></ol></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_127_faq">
                                                        <span>I noticed that your app has extra add-ons. May I purchase them afterwards?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_127_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>    <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Yes, sure. Take into account that Odoo automatically adds all dependencies to a cart. You should exclude previously purchased tools.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_123_faq">
                                                        <span>May I buy your app from your company directly?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_123_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">No, we distribute the tools only through the<a href="https://apps.odoo.com/apps" style="text-decoration-thickness:initial;text-decoration:none;background-color:transparent;color:rgb(13, 103, 89);" data-original-title="" title="" aria-describedby="tooltip276944">&nbsp;official Odoo apps store</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_129_faq">
                                                        <span>I would like to get a discount</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_129_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>        <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Regretfully, we do not have a technical possibility to provide individual prices.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_153_faq">
                                                        <span>May I install the app on my Odoo Online (SaaS) database?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_153_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0px 10px 0px;">No, third party apps can not be used on Odoo Online.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_126_faq">
                                                        <span>Your tool has dependencies on other app(s). Should I purchase those?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_126_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Yes, all modules marked in dependencies are absolutely required for a correct work of our tool. Take into account that price marked on the app page already includes all necessary dependencies.&nbsp;&nbsp;</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_218_faq">
                                                        <span>I deployed your app on Odoo.sh and see warning / error in tests</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_218_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0px 10px 0px;">Red / orange warning itself does not influence features of the app. Regretfully, sometimes our modules do not pass standard automatic tests, since the latter assumes behavior which is in conflict with our apps goals. For example, we change price calculation, while standard Odoo module tests compare final price to standard algorithm.</p><p style="margin:0px 0px 10px 0px;">So, first of all, please check deployed database features. Does everything work correctly?</p><p style="margin:0px 0px 10px 0px;">If you still assume that warning influences real features, please contact us and forward full installation logs and the full lists of deployed modules (including core and third party ones).</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    
                            </div>
                            <div id="screenshots" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Odoo various documents on the single calendar</h4>
            <img class="img img-fluid mx-auto" alt="Odoo super calendar events" src="joint_main.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Multiple rules to search documents by types</h4>
            <img class="img img-fluid mx-auto" alt="Shared calendar: combine various events" src="calendar_rules.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint calendar settings</h4>
            <img class="img img-fluid mx-auto" alt="Advanced settings of joint calendar" src="calendar_settings.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Configure reminders for any Odoo event</h4>
            <img class="img img-fluid mx-auto" alt="Popup and email alarms for Odoo objects" src="popupreminder.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event form: instant access to parent document</h4>
            <img class="img img-fluid mx-auto" alt="Parent object from Odoo joint event" src="joint_event_form.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event rule (example of tasks)</h4>
            <img class="img img-fluid mx-auto" alt="Odoo tasks shared calendar" src="tasks.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event rule (example of sale orders)</h4>
            <img class="img img-fluid mx-auto" alt="Odoo sales orders joint calendar" src="sale_orders.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event rule (example of opportunities)</h4>
            <img class="img img-fluid mx-auto" alt="Odoo CRM super calendar" src="opportunities.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event rule (example of Odoo time offs)</h4>
            <img class="img img-fluid mx-auto" alt="HR leaves / holidays merged calendar" src="hr_leave_rule.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event rule (example of meetings)</h4>
            <img class="img img-fluid mx-auto" alt="Odoo events joint calendar" src="meetings.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Joint event rule (example of activities)</h4>
            <img class="img img-fluid mx-auto" alt="Activities shard on single Odoo interface" src="activities_joint.png"/>
        </div>
    
                    </div>
                
            </div>
        </div>
    
                            </div>
                            <div id="support_info" class="tab-pane">
                                
        <div class="row mt8">
            <div class="col-md-12">
                <div class="mb32">
                    <h3>Odoo demonstration databases (live previews)</h3>
                    <p>For this app we might provide a <i>free</i> personalized demo database.</p>
                    <p>To demand such database: press the button "Live Preview" on the top of this page or copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/5bouvq</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>By your request we will prepare an individual live preview database, where you would be able to apply any tests and to check assumptions during 14 days.</p>
                </div>
                <div class="mb16">
                    <h3>Bug reporting</h3>
                    <p>In case you have faced any bugs or inconsistent behavior, do not hesitate to contact us. We guarantee to provide fixes during 60 days after a purchase, while even after this period we are strongly interested to improve our tools.</p>
                    <p>To send us a bug report: press the "Website" link on the top of this page and push the button "Bug Report" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/m8etyo</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>Please include in your request as many details as possible: screen shots, Odoo server logs, full description of how to re-produce your problem, and so on. Usually it takes a few business days to prepare a working plan by an issue (if a bug is confirmed) or provide you with guidelines what should be done (otherwise).</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Public features request and module ideas (free development)</h3>
                    <p>We are strongly motivated to improve our tools and would be grateful for any sort of feedback. In case your requirements are of public use and might be efficiently implemented, the team would include those into our to-do list.</p>
                    <p>Such to-do list is processed on a regular basis and does not assume extra fees. Altough we cannot promise deadlines and final design, it might be a good way to get desired features without investments and risks.</p>
                    <p>To share ideas: press the "Website" link on the top of this page and push the button "Share Features Ideas" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/3tdwnn</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>New features and extra Odoo services (individual development)</h3>
                    <p>Each of our apps might be customized and extended to suit your specific requirements.</p>
                    <p>Our customization team (itlibertas.com) fulfills not only such jobs but it also provides a full range of Odoo services. From simple modifications and consultations to complex enterprise projects. The team has completed over 100 implementations since 2012, and might help with any technical or business needs.</p>
                    <p>To contact us for details and conditions: press the "Website" link on the top of this page and push the button "Request Individual Customization" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/e7npd8</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Questions and misc issues</h3>
                    <p>Feel free to contact us by any other concerns, doubts, or questions: press the "Website" link on the top of this page and push the button "Raise Question" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/sr4zk9</span></p>
                </div>
                <div class="mt16 mb16">
                    <h3>About the team</h3>
                    <p>faOtools (faotools.com, former odootools.com) is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed. We are open for new ideas and challenges to create the best Odoo apps for business needs all over the world.</p>
                </div>
                
            </div>
        </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
        
        <div class="col-md-12 col-lg-12 mt16 mb16">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb8">
                    <h3>You may like the tools</h3>
                </div>
            </div>
            <div class="row">            
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    <img class="img img-fluid" src="app_icon_1.png" alt="KnowSystem: Knowledge Base System"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    KnowSystem: Knowledge Base System
                                </a>
                                <p class="mb0">The tool to build deep and structured knowledge base for internal and external use. Knowledge System. KMS</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            298<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    <img class="img img-fluid" src="app_icon_2.png" alt="Universal Appointments and Time Reservations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    Universal Appointments and Time Reservations
                                </a>
                                <p class="mb0">The tool for time-based service management from booking appointment to sale and reviews</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            399<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    <img class="img img-fluid" src="app_icon_3.png" alt="Password Manager"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/odoo_password_manager">
                                    Password Manager
                                </a>
                                <p class="mb0">The tool to safely keep passwords in Odoo for shared use</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                188<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            165<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/kpi_scorecard">
                                    <img class="img img-fluid" src="app_icon_4.png" alt="KPI Balanced Scorecard"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/kpi_scorecard">
                                    KPI Balanced Scorecard
                                </a>
                                <p class="mb0">The tool to set up KPI targets and control their fulfillment by periods</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            198<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    <img class="img img-fluid" src="app_icon_5.png" alt="Odoo Documentation Builder"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/documentation_builder">
                                    Odoo Documentation Builder
                                </a>
                                <p class="mb0">The tool to create website documentation based on your knowledge base</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            437<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/smart_warnings">
                                    <img class="img img-fluid" src="app_icon_6.png" alt="Smart Alerts"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/smart_warnings">
                                    Smart Alerts
                                </a>
                                <p class="mb0">The tool to draw users' attention to important document warnings and details</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            44<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/cloud_base">
                                    <img class="img img-fluid" src="app_icon_7.png" alt="Cloud Storage Solutions"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/cloud_base">
                                    Cloud Storage Solutions
                                </a>
                                <p class="mb0">The technical core to synchronize your cloud storage solution with Odoo</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            245<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    <img class="img img-fluid" src="app_icon_8.png" alt="Google Drive Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    Google Drive Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    <img class="img img-fluid" src="app_icon_9.png" alt="OwnCloud / NextCloud Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/owncloud_odoo">
                                    OwnCloud / NextCloud Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with OwnCloud / NextCloud files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <div style="background-color:#0D6759 !important;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=faOtools" style="color:white !important;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More Apps by faOtools
                </a>
            </div>
        </div>
    
                    </div>
                
            </div>
        </section>
    