@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-Black.woff2') format('woff2'), url('Poppins-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-ExtraBold.woff2') format('woff2'), url('Poppins-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-Bold.woff2') format('woff2'), url('Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-ExtraLight.woff2') format('woff2'), url('Poppins-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-Regular.woff2') format('woff2'), url('Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-Light.woff2') format('woff2'), url('Poppins-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-Medium.woff2') format('woff2'), url('Poppins-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-SemiBold.woff2') format('woff2'), url('Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('Poppins-Thin.woff2') format('woff2'), url('Poppins-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
	font-family: 'Poppins', sans-serif;
}

.wrap {
	width: 100%;
	padding-right: 80px;
	padding-left: 80px;
	margin-right: auto;
	margin-left: auto;
}

button:focus {
	outline: none !important;
}


/* -------------------navbar start---------------------- */

a.navbar-brand img {
	width: 72%;
}

.nav-link {
	color: #000 !important;
}

.bg-light {
	background-color: #ffffff!important;
}

.nav-item.user span {
	font-weight: 400;
}

.dropdown-menu.js_usermenu.show li a {
	color: #000;
	text-decoration: none;
}


/* -------------------navbar end---------------------- */


/* ------------------banner section----------------- */

.banner {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 700px;
	opacity: 1;
	visibility: inherit;
	z-index: 20;
}


/* .banner_img{
      background-image: url(../images/watch_banner.png);
      height: 403px;
      background-position: right;
      background-repeat: no-repeat;
  } */

.banner_img h1 {
	font-size: 59px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.banner_img p {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}

.border-btn {
	border: 1px solid #fb1b26;
	color: #fff;
	background: none;
	border-radius: 5px;
	text-transform: capitalize;
	padding: 11px 34px;
	-moz-user-select: none;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 0;
	position: relative;
	transition: color 0.4s linear;
	position: relative;
	overflow: hidden;
	margin: 0;
	text-align: center;
	background-color: #fb1b26;
}

.border-btn:hover {
	background: none;
	transition-duration: 1s;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	.banner {
		height: 425px;
		background-position: right;
		/* position: relative; */
		background-repeat: no-repeat;
		padding-top: 1px;
	}
	.banner_img h1 {
		font-size: 51px !important;
	}
	.carousel-caption {
    top: 94px !important;
    width: auto !important;
}
}

@media only screen and (max-width: 767px) {
	.banner_img {
		background-image: none;
	}
	.banner_img h1 {
		font-size: 51px !important;
	}
}

@media only screen and (max-width: 500px) {
	.carousel-caption {
    top: 50px !important;
    width: auto !important;
}
}

@media only screen and (max-width: 320px) {}


/* ------------------banner section end----------------- */


/* ------------------form section start----------------- */


/*.forms_search {
    background-color: #fff;
    height: auto;
    padding: 21px 13px;
    box-shadow: 0 8px 21px -6px #d6d5d55c;
}*/

.forms_search {
	background-color: #fff;
	height: auto;
	padding: 21px 13px;
	box-shadow: 0 5px 28px -6px #1919194a;
	margin-top: -56px;
	border-radius: 13px;
	z-index: 100;
    position: relative;
}

.forms_search h5 {
	font-size: 14px;
	font-weight: 300;
	color: #fb1b26;
	margin-top: 13px;
}

.forms_search img {
	position: absolute;
	top: 17px;
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

.select-dropdown {
	position: relative;
	background: none;
	border-bottom: 1px solid #b2b2b2;
	;
}

.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
	width: 100%;
	padding: 8px 24px 8px 0px;
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #b2b2b2;
}

.select-dropdown select:active,
.select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}

.select-dropdown input {
	font-size: 1rem;
	font-weight: normal;
	width: 100%;
	padding: 8px 24px 8px 0px;
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #b2b2b2;
}

.select-dropdown input:active,
.select-dropdown input:focus {
	outline: none;
	box-shadow: none;
}

.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	display: none;
}

.btn_main {
	height: 63px;
	width: 100%;
	border: none;
	background: #fb1b26;
	color: #fff;
	border-radius: 8px;
}


/*    @media (max-width: 1440px) {
        .btn_main {
            font-size: 11px !important;
        }
    }*/

@media (max-width: 768.98px) {
	form.forms_search img {
		margin-left: 0 !important;
	}
	.btn_main {
		width: 100% !important;
	}
	.forms_search img {
		position: unset;
		top: 17px;
	}
}

@media (max-width: 991px) {
	.btn_main {
		width: 100% !important;
		height: 32px;
	}
	.sticky-top {
		position: unset;
	}
	.wrap {
		padding-right: 16px;
		padding-left: 16px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.btn_main {
		font-size: 10px;
	}
}


/* ------------------form section end----------------- */


/* ------------------rec section start----------------- */

button.btn_rec {
	width: 100%;
	height: 100%;
	border: 1px solid #fb1b26;
	background: none;
	border-radius: 8px;
	color: #fb1b26;
}

section.rec_spot .card {
	border: none;
	box-shadow: 0 0 30px 0 #cccccc40;
}

.rec_content button {
	border: none;
	padding: 13px 42px;
	background: #fb1b26;
	color: #fff;
	position: absolute;
    right: 0;
    bottom: 19px;
    left: 0;
    right: 0;
    margin: auto;
}

.rec_content p {
	color: #6b6b6b;
	font-size: 13px;
}

.rec_content h2 {
	color: #fb1b26;
	padding-bottom: 10px;
	font-size: 28px;
	font-weight: 600;
}

.rec_spot.mt-5.mb-5 img {
	height: 200px;
}

.rec_content {
	padding: 0px 23px;
}

@media (max-width: 767px) {
	section.rec_spot h3 {
		text-align: center !important;
	}
}

.rec_spot.mt-5.mb-5 a {
	text-decoration: none;
}

.owl-item a {
	color: #000;
	text-decoration: none;
}


/* ------------------rec section end----------------- */


/* ---------------------------footer start---------------------- */

footer {
	background-color: #fff;
	height: auto;
	padding-bottom: 20px;
	color: #232323;
}

#footer h4 {
	color: #000;
}

#footer p {
	color: #000;
	font-size: 13px;
	margin-top: 21px;
	text-align: justify;
}

ul.ftr-icon {
	list-style-type: none;
	display: flex;
	padding: 0;
	justify-content: center;
}

ul.ftr-icon li i {
	padding-right: 9px;
	font-size: 26px;
	color: #989898;
}

footer#footer img {
	width: 64%;
}

footer#footer h4 {
	margin-top: 20px;
}

ul.dprtnt {
	list-style-type: none;
	padding: 0;
	margin-top: 25px;
}

ul.dprtnt li {
	line-height: 2;
}

ul.dprtnt_tym {
	list-style-type: none;
	padding: 0;
	margin-top: 25px;
}

ul.dprtnt_tym li {
	line-height: 2;
	word-spacing: 70px;
}

.row.pt-5.ftr {
	border-bottom: 1px solid #80808059;
}

.company p {
	color: #232323;
	text-align: center !important;
}

.company p a {
	color: #232323;
	text-align: center;
	text-decoration: none;
}

@media (max-width: 768.98px) {
	ul.ftr-icon {
		justify-content: left;
	}
	ul.dprtnt {
		text-align: left;
	}
	.ftr_center {
		text-align: left !important;
	}
}

.o_footer {
	background-color: #FFF !important;
}

.company.text-center a {
	color: #000;
}

.company.text-center a:hover {
	color: #000;
}


/* ---------------------------footer end---------------------- */


/* ---------------------------inner page 1st start---------------------- */

.banner_dtl {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-image: url(../images/bnr_dtl.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	opacity: 1;
	visibility: inherit;
	z-index: 20;
}

.banner_img_dtl h1 {
	font-size: 59px;
	padding-top: 113px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.banner_img_dtl p {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}


/* ---------------------------inner page 1st end---------------------- */


/* ------------------inner page section end----------------- */

.price {
	border: 1px solid #ccc;
	padding: 13px;
	/* margin-top: 57px !important;*/
	color: #1d1d1d;
}

.price p {
	font-size: 13px;
}

.price button {
	border: none;
	background: no-repeat;
	font-weight: 500;
}

.filter-price {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}

.price-title {
	position: relative;
	color: #fff;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
}

.price-field {
	position: relative;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background: rgba(248, 247, 244, 0.2);
	padding-top: 15px;
	/* padding-left: 16px; */
	border-radius: 3px;
}

.price-field input[type=range] {
	position: absolute;
}


/* Reset style for input range */

.price-field input[type=range] {
	width: 100%;
	height: 6px;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-radius: 5px;
	pointer-events: none;
	background: #fb1b26;
	-webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
	outline: 0;
}

.price-field input[type=range]::-ms-track {
	width: 100%;
	height: 2px;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-radius: 5px;
	pointer-events: none;
	background: #000;
	border-color: #000;
	color: #000;
	border-radius: 5px;
}


/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
	/* WebKit/Blink */
	position: relative;
	-webkit-appearance: none;
	margin: 0;
	border: 0;
	outline: 0;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: -4px;
	background-color: #fb1b26;
	cursor: pointer;
	cursor: pointer;
	pointer-events: all;
	z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
	/* Firefox */
	position: relative;
	appearance: none;
	margin: 0;
	border: 0;
	outline: 0;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: -5px;
	background-color: #000;
	cursor: pointer;
	cursor: pointer;
	pointer-events: all;
	z-index: 100;
}

.price-field input[type=range]::-ms-thumb {
	/* IE */
	position: relative;
	appearance: none;
	margin: 0;
	border: 0;
	outline: 0;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: -5px;
	background-color: #000;
	cursor: pointer;
	cursor: pointer;
	pointer-events: all;
	z-index: 100;
}


/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track {
	/* WebKit/Blink */
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fb1b26;
	border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
	/* Firefox */
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fb1b26;
	border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
	/* IE */
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fb1b26;
	border-radius: 5px;
}


/* Style for input value block */

.price-wrap {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
	margin-bottom: 7px;
}

.price-wrap-1,
.price-wrap-2 {
	display: flex;
	background-color: red;
	padding: 10px;
}

.price-title {
	margin-right: 5px;
	background: #d58e32;
}

.price-wrap_line {
	margin: 0 10px;
}

.price-wrap #one,
.price-wrap #two {
	width: 30px;
	text-align: right;
	margin: 0;
	padding: 0;
	margin-right: 2px;
	background: 0;
	border: 0;
	outline: 0;
	color: #fff;
	font-family: 'Karla', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
}

.price-wrap #labal_1,
.price-wrap #labal_2 {
	width: 30px;
	text-align: right;
	margin: 0;
	padding: 0;
	margin-right: 2px;
	background: 0;
	border: 0;
	outline: 0;
	color: #fff;
	font-family: 'Karla', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
}

.price-wrap label {
	text-align: right;
}


/* Style for active state input */

input.form_range_left[type=range]::-webkit-slider-thumb {
	box-shadow: 0 0 8px 0 #27272752;
	transition-duration: 0.3s;
	width: 12px;
	height: 12px;
	border-right: 1px solid #9e040b;
	margin-top: -5px;
}

input.form_range_right[type=range]::-webkit-slider-thumb {
	box-shadow: 0 0 8px 0 #27272752;
	transition-duration: 0.3s;
	width: 12px;
	height: 12px;
	border-left: 1px solid #9e040b;
	margin-top: -5px;
}

.amenities {
	border: 1px solid #ccc;
	padding: 13px;
	margin-top: 57px !important;
	color: #1d1d1d;
}

.amenities p {
	font-size: 13px;
}

.custom-range::-moz-range-thumb {
	background-color: #fb1b26;
	box-shadow: 3px 0px 5px -2px #a80202;
}

.custom-range::-moz-range-track {
	background-color: #fb1b26;
}

.custom-range:focus::-moz-range-thumb {
	box-shadow: none !important;
}

.others_div label {
	font-size: 14px !important;
}

.amenities.mb-5 button {
	border: none;
	background: no-repeat;
	font-weight: 500;
}


/* ------------------inner page section end----------------- */

#category .product-active.owl-carousel .owl-nav div,
#category .blog-active.owl-carousel .owl-nav div {
	background: #f7f7f9 none repeat scroll 0 0;
	border: 3px solid #e1e1e1;
	border-radius: 100%;
	font-size: 18px;
	color: #9e9e9e;
	height: 50px;
	opacity: 0;
	position: absolute;
	line-height: 46px;
	text-align: center;
	top: 50%;
	width: 50px;
	transform: translateY(-50%);
	transition: .3s;
}

#category .product-active.owl-carousel .owl-nav div.owl-next,
#category .blog-active.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 0;
}

#category .product-active.owl-carousel .owl-nav div:hover,
#category .blog-active.owl-carousel .owl-nav div:hover {
	background: #292929 none repeat scroll 0 0;
	border-color: #292929;
	color: #fff;
}

#category .product-active:hover.owl-carousel .owl-nav div,
#category .blog-active:hover.owl-carousel .owl-nav div {
	opacity: 1;
}

.brands.mt-5.mb-5 img {
	width: 40% !important;
	height: 70px;
}

#category .owl-nav {
	text-align: center;
	margin-top: 39px;
}

#category .owl-prev {
	border: 1px solid;
	background: none;
	color: red;
	width: 41px;
	font-size: 24px;
	margin-right: 24px;
}

#category .owl-next {
	border: 1px solid;
	background: none;
	color: red;
	width: 41px;
	font-size: 24px;
	margin-left: 24px;
}


/* ---------------------------form page start----------------------------------- */

.form_card {
	margin-top: 50px;
}

.form_card .card {
	padding: 50px;
	border: none;
	box-shadow: 0 0 40px 0 #efefef;
	border-radius: 13px;
}

.frm_dtl_labal {
	display: block;
	width: 100%;
	margin: 25px auto 0;
	text-align: left;
	color: #a8a8a8;
}

.frm_dtl_labal span {
	font-size: 17px;
	color: #a8a8a8;
	font-weight: 600;
}

.frm_dtl_input {
	display: block;
	width: 100%;
	margin-top: 14px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid #a8a8a8 !important;
	text-align: left;
	border: none;
	color: #a8a8a8;
}

.frm_dtl_input:focus {
	outline: none;
}

.frm_dtl_input::placeholder {
	font-size: 16px;
	color: #a8a8a8;
}

.frm_dtl_labal select {
	width: 100%;
	margin-top: 15px;
	border: none;
	border-bottom: 1px solid #a8a8a8;
	padding-bottom: 6px;
	color: #a8a8a8;
}

.frm_dtl_labal select:focus {
	outline: none;
}

table.bkg_tbl {
	width: 100%;
	margin-top: 33px;
	border: 1px solid #d8d6d6;
}

table.bkg_tbl thead {
	background: #d8d6d6;
	border-radius: 10px;
}

table.bkg_tbl thead th {
	padding: 13px;
	font-weight: 500;
	font-size: 17px;
	color: #343434;
}

table.bkg_tbl thead th:first-child {
	/* border-top-left-radius: 10px; */
	border-bottom-left-radius: 10px;
}

table.bkg_tbl thead th:last-child {
	/* border-top-right-radius: 10px; */
	border-bottom-right-radius: 10px;
}

table.bkg_tbl tbody tr td {
	padding: 10px 17px;
	color: #a8a8a8;
}

table.bkg_tbl tbody tr td input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #d8d6d6;
}

table.bkg_tbl tbody tr td input:focus {
	outline: none;
}

.form_card button {
	border: none;
	padding: 13px 26px;
	background: #fb1b26;
	color: #fff;
	width: 174px;
	margin-top: 20px;
}


/* ---------------------------form page end----------------------------------- */

section.msg_bkn .card {
	border: none;
	box-shadow: 0 0 40px 0 #efefef;
}

.dropdown-menu.bootstrap-datetimepicker-widget.open {
	opacity: 1;
	transform: scale(1);
	top: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
	padding: 4px;
	width: 19em;
}

.owl-item p {
	margin-top: 12px;
	text-align: center;
	font-size: 14px;
}

.hero-banner__img img {
	width: 100%;
	height: 500px;
}


/* ---------------------------image detail page start----------------------------------- */

.card.address_card {
	padding: 46px 50px;
	border: none;
	box-shadow: 0 0 16px 0 #0000001f;
	margin-top: -93px !important;
	width: 92%;
	margin: auto;
	border-radius: 21px;
}

.icon_add img {
	width: 68%;
	margin: auto;
	display: block;
}

.add-para h1 {
	color: #f31c27;
	font-size: 32px;
	margin: 0;
}

.add-para img {
	width: 46%;
	margin: 6px 0px;
}

@media (max-width: 400px) {
	.d-flex {
		display: block !important;
	}
	.icon_add img {
		width: 27% !important;
	}
	.add-para h1 {
		font-size: 18px;
		text-align: center;
	}
	.add-para img {
		margin: auto;
		display: block;
		margin-top: 9px !important;
		margin-bottom: 6px !important;
	}
	.add-para p {
		text-align: center;
	}
}

@media (max-width: 550px) {
	.icon_add img {
		width: 100%;
	}
	.add-para .o_website_rating_static {
		font-size: 16px !important;
		text-align: center;
	}
	.add-para .o_website_rating_static i {
		font-size: 18px !important;
	}
	.d-flex {
		display: block !important;
	}
	.icon_add img {
		width: 27% !important;
	}
	.add-para h1 {
		font-size: 18px;
		text-align: center;
	}
	.add-para img {
		margin: auto;
		display: block;
		margin-top: 9px !important;
		margin-bottom: 6px !important;
	}
	.add-para p {
		text-align: center;
	}
	.add-para h3 {
		text-align: center;
	}
}

@media (max-width: 991px) {
	.add-para h1 {
		font-size: 20px;
	}
}

.add-para h3 {
	font-size: 15px;
	color: #212529;
	font-weight: 400;
}


/* ---------------------------image detail page end----------------------------------- */

#screen-slide .owl-nav {
	position: absolute;
	top: -45px;
	right: 0;
}

#screen-slide .owl-nav button.owl-prev {
	background: 16 16px;
	color: inherit;
	border: none;
	padding: 0!important;
	background: #f31c27;
	font: inherit;
	text-align: center;
	padding: 10px !important;
	border-radius: 56px;
	width: 43px;
	height: 43px;
	color: #fff;
	font-size: 16px;
	margin-right: 0;
}

#screen-slide .owl-nav button.owl-next {
	background: 16 16px;
	color: inherit;
	border: none;
	background: #ef9ea1;
	font: inherit;
	text-align: center;
	padding: 10px !important;
	border-radius: 56px;
	width: 43px;
	height: 43px;
	font-size: 16px;
	color: #fff;
	margin-left: 11px;
}

#screen-slide button.owl-next img,
#screen-slide button.owl-prev img {
	display: block;
	margin: auto;
	width: 16px;
}

#screen-slide img {
	margin-top: 16px;
	width: 100%;
	border-radius: 47px !important;
}

.card.card_img_sec {
	padding: 35px 26px;
	border: none;
	box-shadow: 0 0 16px 0 #0000001f;
	width: 92%;
	margin: auto;
	border-radius: 21px;
}

.card.card_img_sec h1 {
	font-size: 23px;
}

.card.card_img_sec p {
	margin-top: 5px;
	color: #6b6b6b;
	font-weight: 400;
	font-size: 14px;
}

.rating_review img {
	width: 28%;
	margin-top: 13px;
	margin-bottom: 14px;
}

.rating_review textarea {
	border: 1px solid #ababab;
	padding: 14px;
	border-radius: 12px;
}

.rating_review textarea::placeholder {
	color: #ababab;
}

.btn_review {
	width: 32%;
	border: none;
	background: #fb1b26;
	color: #fff;
	border-radius: 8px;
	padding: 10px;
	margin-top: 10px;
}

.btn_available {
	width: 100%;
	border: none;
	background: #fb1b26;
	color: #fff;
	border-radius: 8px;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}

p.para_available {
	margin-bottom: 6px;
}

.card.card_img_sec p img {
	width: 15px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	margin-bottom: 18px;
	margin-top: 16px;
}

.add-para .o_website_rating_static i {
	font-size: 27px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.add-para .o_website_rating_static {
	font-size: 25px;
}

.add-para p {
	font-size: 14px;
	margin-top: 7px;
}

.rating_review hr {
	display: none;
}

.rating_review .row.o_website_rating_card_container {
	display: none;
}

.rating_review .o_portal_chatter .o_portal_chatter_avatar {
	width: 65px;
	height: 65px;
	border-radius: 35px;
	margin-top: 0;
}

.rating_review .o_portal_chatter_composer_btn.btn.btn-primary {
	width: 32%;
	border: none;
	background: #fb1b26;
	color: #fff;
	border-radius: 8px;
	padding: 10px;
	margin-top: 10px;
}

.rating_review .o_portal_chatter_attachment_btn.btn.btn-secondary {
	width: auto;
	border: none;
	background: #fb1b26;
	color: #fff;
	border-radius: 8px;
	padding: 10px 23px;
	margin-top: 10px
}

.rating_review .float-right.o_portal_chatter_js_is_internal.o_portal_message_internal_off button {
	border: none;
	background: #fb1b26;
	color: #fff;
	border-radius: 8px;
	padding: 10px;
	margin-top: 10px;
}

.nav-item.user a {
	text-align: left !important;
}

.navbar-brand img {
	width: 200px !important;
}

figure {
    width: 100%;
    overflow: hidden;
    height: 500px;
}
/*
#select_venues{
    position: absolute;
    left: 0;
}*/
#select_venues {
    position: absolute;
    left: 0;
    top: 0;
}

.carousel-caption {
    top: 105px;
    width: 50%;
    margin: auto;
}
.amenity_name input{
    display:none;
}
.headings {
    color: black !important;
}