<section class="oe_container" style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans; font-weight: normal; max-width: 900px; margin: auto;">
    <div class="row">
        <div class="col-md-12 col-sm-12" style="color:#343a40; border-bottom:1px solid #e4e4e4; padding: 0px;">
            <div class="row">
                <div class="col-md-4 text-center" style="margin-top: 38px;">
                    <img src="acruxlab_50x180.png" title="AcruxLab-logo" alt="AcruxLab-logo">
                </div>
                <div class="col-md-8" style="padding: 16px;">
                    <p style="margin: 22px 0 0 16px;">
                        <span style="font-size: 18px;">CHAT-API version</span><br/>
                        <span style="font-size: 14px;">Required WhatsApp Official Partner? Send email for <b>Gupshup</b> version.</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 mt0 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-success mb0 text-center" style="padding: 16px; display: flow-root;">
                  <a class="btn btn-lg btn-success" href="https://www.odoo.com/apps/modules/browse?author=AcruxLab&search=ChatRoom+2.0">
                      Free download version, click here
                  </a>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <h2 class="oe_slogan mb16" style="color:#875A7B">Welcome to <b>ChatRoom</b></h2>
            <h4 class="oe_slogan mt0"><b>Real All in One</b> WhatsApp solution</h4>
        </div>
        <div class="col-md-12 col-sm-12 text-center mb32">
            <div style="max-width: 560px; margin: auto;">
                <a href="https://www.youtube.com/watch?v=e2z94ArqbQM" target="_blank">
                    <img class="shadow pb0"
                         src="youtube_2.png" alt="ChatRoom, Odoo WhatsApp Video" title="ChatRoom, Odoo WhatsApp Video"
                         style="max-width:100%; border: 1px solid darkgray;">
                </a>
            </div>
            <p class="mt8">Full version video</p>
        </div>

        <div class="col-md-6 col-sm-12 mt8 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-info mb0" style="padding: 16px; display: flow-root;">
                <div style="height: 74px;">
                  <b>Connected to Chat-API</b><br/>
                  <span style="font-size: 90%;">To use module user will need to have Chat API Account.</span>
                </div>
                <div class="pull-right">
                  <span class="btn-lg" style="vertical-align: middle; display: inline-block; background-color: aliceblue; font-size: 90%;">
                      https://chat-api.com
                  </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt8 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-info mb0" style="padding: 16px; display: flow-root;">
                <div style="height: 74px;">
                  <b>On-Premise Plans</b><br/>
                  <span style="font-size: 90%;">Get <b class="text-danger">Free</b> Chat-API Account and Support with our plans</span>
                </div>
                <div class="pull-right">
                  <span class="btn-lg" style="vertical-align: middle; display: inline-block; background-color: aliceblue; font-size: 90%;">
                      https://acruxlab.com
                  </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 mt0 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-info mb0" style="padding: 16px; display: flow-root;">
                <div class="pull-left">
                  <b>Test now - Direct access</b><br/>
                    <span style="font-size: 90%;">No sign up, no credit card, just your email</span>
                </div>
                <div class="pull-right">
                  <span class="btn-lg" style="vertical-align: middle; display: inline-block; background-color: aliceblue; font-size: 90%;">
                      https://chatroom.acruxlab.com/web/signup
                  </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 mt0 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-success mb0" style="padding: 16px; display: flow-root;">
                <div class="pull-left">
                  <b>Connect using Gupshup?</b><br/>
                    <span style="font-size: 90%;">Gupshup is WhatsApp Official Partner</span>
                </div>
                <div class="pull-right">
                  <span class="btn-lg" style="vertical-align: middle; display: inline-block; background-color: #f1ffeb; font-size: 90%;">
                      Send email to <b>info@acruxlab.com</b>
                  </span>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 mt32">
            <h2 class="oe_slogan mb8" style="color:#875A7B;">This is <b>ChatRoom</b></h2>
            <h4 class="oe_slogan mt0">Every you need <b>in one screen</b></h4>

            <div class="text-center">
                <img src="chat1.png" class="img img-responsive rounded shadow" style="border: 1px solid darkgray; max-width: 100%;" alt="ChatRoom, Odoo WhatsApp" title="ChatRoom, Odoo WhatsApp"/>
            </div>
        </div>

        <!-- + + + + + + + Features + + + + + + + -->
        <div class="col-md-12 col-sm-12 mt32" style="font-size: 16px;">
            <h2 class="oe_slogan mb8" style="color:#875A7B;"><b>Features</b></h2>
            <div style="border-bottom:1px solid #e4e4e4;"/>

            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left">
                  <img class="img img-responsive" src="agents_2.png" style="margin: 8px 0; max-width: 100%;" alt="ChatRoom, Odoo WhatsApp Multi Users" title="ChatRoom, Odoo WhatsApp Multi Users">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                    <b style="font-size:18px"> Multi Users</b>
                    <p class="mt8"><span class="fa fa-check text-primary"/> No matter where your employees are.</p>
                    <p><img class="img" src="agentn.png" style="width: 150px;" alt="ChatRoom, Multi Users" title="ChatRoom, Multi Users"/></p>
               </div>
            </div>
            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_1_en.png" alt="ChatRoom, Odoo WhatsApp Products" title="ChatRoom, Odoo WhatsApp Products">
               </div>
               <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">Drag & drop Products</b>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Sent with picture, description and price.</p>
               </div>
            </div>
            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_2.png" alt="ChatRoom, Odoo WhatsApp Customer history" title="ChatRoom, Odoo WhatsApp Customer history">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">Customer history</b>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Last sold products.</p>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Monthly Sales Volume.</p>
               </div>
            </div>

            <!-- + + + + + + + Pro version + + + + + + + -->
            <div class="col-md-12 col-sm-12 mt32">
                <h2 class="oe_slogan mb8" style="color:#875A7B;"><b>Advanced</b></h2>
                <h4 class="oe_slogan mt0 mb8"><b>Pro</b> version</h4>
            </div>

            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_4_en.png" alt="ChatRoom, Odoo WhatsApp Drag & drop Products" title="ChatRoom, Odoo WhatsApp Drag & drop Products">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">From ChatRoom</b>
                  <p class="mt8"><span class="fa fa-check text-primary"/> <b>Drag & drop Products</b> to Sale Order</p>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send <b>Sale Order</b> (PDF) with a single click!</p>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send <b>Invoice</b> (PDF) with a single click!</p>
               </div>
            </div>
            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_6_2.png" alt="ChatRoom, Odoo WhatsApp Direct Message" title="ChatRoom, Odoo WhatsApp Direct Message">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">Direct Message</b>
                  <div style="font-size:18px">From Sale, Invoice and Partner</div>
               </div>
            </div>
            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_7.png" alt="ChatRoom, Odoo WhatsApp Send Sale orders" title="ChatRoom, Odoo WhatsApp Send Sale orders">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">From Sale orders</b>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send <b>PDF</b> with a single click!</p>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send <b>PDF invoice</b> with a single click!</p>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send custom message.</p>
               </div>
            </div>
            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_5.png" alt="ChatRoom, Odoo WhatsApp Send Invoices" title="ChatRoom, Odoo WhatsApp Send Invoices">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">From Invoices</b>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send <b>PDF</b> with a single click!</p>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send custom message.</p>
               </div>
            </div>
            <div class="container mt32 shadow" style="border-radius:6px; padding: 0px; border: 1px solid darkgray; background-color: white; display: flow-root;">
               <div class="col-md-6 col-sm-12" style="float:left; padding: 0;">
                  <img class="img img-responsive" style="max-width: 100%;" src="accion_8.png" alt="ChatRoom, Odoo WhatsApp Send Direct Message" title="ChatRoom, Odoo WhatsApp Send Direct Message">
               </div>
                <div class="col-md-6 col-sm-12" style="padding:16px 8px 0 16px; float:left;">
                  <b style="font-size:18px">From Partners</b>
                  <p class="mt8"><span class="fa fa-check text-primary"/> Send custom message.</p>
               </div>
            </div>
        </div>
    </div>
</section>
