
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
    	<div class="row">
	        <div class="sh_span12 col-12" style="padding: 40px">
	            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Portal Picking</b></center>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
	            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Currently, in odoo, you can't manage the picking at the portal. Using this module you can see all picking order details from the website portal. You can sort by picking order by newest and name. We have provided a filter option so easy to filter the picking order by last month, last week, last year, this month, this quarter, today, this week & this year. You can easily group by the picking order by none, picking type, status, source document & responsible. Using a search bar you can search picking order details easily. This module helps users to chat, log note, email, message & share attachment inside the picking chatter with each other. Users can schedule activity inside chatter & You can download picking receipt. All changes automatically saved in the backend.</p> 
	        </div> 
        </div>
    </div>   
</section>





<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">

      <h2 align="center">
        <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/w3AUniYOiYQ" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? click here to watch video</a>
      </h2>
    

			</div>
        </div>
</section>



<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
	<div class="container">
		<div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to add chatter in the picking order at the portal. 
</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can manage long term history.


</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can scheduled activity inside the chatter.


</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can download picking order receipt.
</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can easily group by none, picking type, status, source document & responsible. 
</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to sort by picking order by newest and name.
</p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to filter the picking order by <b>last month, last week, last year, this month, this quarter, today, this week & this year at the portal.</b>
</p>

    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to search picking order details using the search bar.
			</p>
			
	
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 Website portal changes automatically saved in the backend. 
			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can communicate using log note, email, message & share attachment in the picking order chatter.


			</p>
		
	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 No special configuration required, install it, use it.

			</p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 This module saves your important time.

			</p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

It reduces human efforts.

			</p>


      
			</div>
        </div>
    </div>
    </div>
</section>


<!-- version -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">
        <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;"> 


            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

            	v14.0.1 (10<sup>th</sup> October 2020)
            	

<ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
	            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
Initial Release
</li>

                </ul>

			</div>
			</div>
			</div>
        </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
In my account(portal) go to "Picking Orders".

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="1.png" style="width:100%;">
        </div>
    </div>
</section>



<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
Easy to group by, filter & sort by picking orders using smart buttons.



</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="2.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can sort by picking orders by newest and name.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="3.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The sort by name picking orders looks like below.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="4.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can filter picking orders using any of the provided custom filter list.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="5.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "Last month" list view of the filter looks like below.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="6.png" style="width:100%;">
        </div>
    </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "Last week" list view of the filter looks like below.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="7.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "Last Year" list view of the filter looks like below.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="8.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "This Month" list view of the filter looks like below.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="9.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "This Quarter" list view of the filter looks like below.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="10.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "Today" list view of the filter looks like below.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="11.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The "This Week" list view of the filter looks like below.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="12.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">

The "This Year" list view of the filter looks like below.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="13.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can group by picking orders using any of the provided custom group by list.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="14.png" style="width:100%;">
        </div>
    </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">

The group by status looks like below.
</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="15.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The group by picking type looks like below.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="16.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">

The group by source document looks like below.


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="17.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The group by responsible looks like below. 


</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="18.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can search picking order by the search bar. 

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="19.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The picking order details list view of searched data.
 
</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="20.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
The picking order details form view looks like below, you can download the picking receipt from the download button.
</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="21.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
In the chatter, you can write comments, send messages and attach files, that automatically saved in backend.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="22.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
Backend view.
</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img src="23.png" style="width:100%;">
        </div>
    </div>
</section>


<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>
<!--you may also like-->

<section id="sh_like_module" style="margin: 50px 0;">
  <div class="container">
      <div class="sh_center text-center">
          <h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">You May Also Like</h4>
          <hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />
      </div>

      <div class="row" style="margin-top: 1rem;">

         <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_pos/">   
                          <img src="sh_portal_pos.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>


          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_payment/">    
                          <img src="sh_portal_payment.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

          <!-- <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_picking/">   
                          <img src="sh_portal_picking.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div> -->

          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_dashboard/">    
                          <img src="sh_portal_dashboard.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

      </div>

      <div class="row" style="margin-top: 1rem;">
          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_request_product/">    
                          <img src="sh_portal_request_product.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_products_history/">   
                          <img src="sh_portal_products_history.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_portal_user_from_partner/">
                          <img src="sh_portal_user_from_partner.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_rfq_portal/">    
                          <img src="sh_rfq_portal.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_rfq_portal_signature/">   
                          <img src="sh_rfq_portal_signature.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_event_portal/">
                          <img src="sh_event_portal.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_po_tender_portal/">    
                          <img src="sh_po_tender_portal.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>

          
          <div class="col-md-4">
              <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                  <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                      <a href="https://apps.odoo.com/apps/modules/12.0/sh_visitor_management_portal/">
                          <img src="sh_visitor_management_portal.png" style="width: 100%;object-fit: contain;"></img>
                      </a>
                  </div>
              </div>
          </div>
      </div>




  </div>
</section>

<!-- end you may also like-->
<section class="oe_container oe_dark">
   <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free 90 days support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center">
         <a style=" padding: 10px 60px; background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
      </div>
   </div>
</section>