.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    min-width: 300px;
    font-size: 23px;
    font-weight: bold;
}

.title span {
    display: block;
    text-align: center;
}

.bigTitle {
    font-size: 28px;
}

.customButtonsWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px 36px 10px 10px;
}

.customButton {
    padding: 10px 20px;
    color: white;
}

.customButton:hover {
    color: white;
    filter: brightness(.9);
}

.rejectButton {
    background: red;
}

.confirmRejectButton {
    background: rgb(28, 125, 215);
}

.acceptButton {
    background: green;
    margin-left: 10px;
}