<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                    <div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
                        <strong>
                        	<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;">
                                    Supported :
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> Job Work Estimation for Material Cost, Labour cost and Overheads Cost Odoo Apps </b>
			</h2>
			<p class="oe_slogan">
				This Odoo apps helps to calculate job cost and job work estimation for Material, Labour and Overheads Cost which easily send to your Customers as total estimation for the job work order.This odoo apps helps for Project/analytic account job order costing calculation for Material Cost, Labour cost and Overheads Cost. Based on this work order cost estimation user you can also able to create quotation and sales order also its linked with job estimation sheet.This odoo module also helps to manage Job order estimation approval workflow for manager and also send estimation to customer by email before approval to start work order.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/1fet.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Create Job Order Estimation Cost. </b></h4>
					  <span class="oe_slogan"> Send estimation to customer with material, labour and overhead cost after getting approval from customer,Quotation can be created for that estimation. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/2fet.jpeg"/>
					</div>
					<div class="col-md-9">
						<h4><b> Send job Estimation by mail, Print PDF Report. </b></h4>
						<span class="oe_slogan"> Send mail to customer and also have feature to print PDF report for job estimation. </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Job Work Estimation for Material Cost, Labour cost and Overheads Cost Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/f-3f4DwaOnM" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Job Estimation Menu </p>
			<p class="oe_slogan"> You can create job estimation from Sales -> Orders -> Job Estimates. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_estimation_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Job Estimation Form View </p>
			<p class="oe_slogan"> You can add specific details of job estimation. </p>
			<p class="oe_slogan"> Add material information for job estimation. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_estimation_form.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> Add labour information for job estimation. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_estimation_labour.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> Add overhead estimate information for job estimation. </p>
			<p class="oe_slogan"> You can confirm job estimation by clicking on "Confirm" button. </p>
			<p class="oe_slogan"> When you confirm job estimation state is changed from draft to confirm state. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_estimation_overhead.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> You can Approve or Reject job estimation </p>
			<p class="oe_slogan"> When you click on "Approve" button job estimation is approved and state is changed to Approved. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_approve_btn.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> After approving of job estimation you can create quotation for material, labour and overhead products by click on "Create Quotation"button.. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_create_btn.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> Quotation for job estimation is created. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_quote_link.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Created Sale Order </p>
			<p class="oe_slogan"> Here you can see quotation created from job estimation. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="sale_order.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> You can also reset to draft job estimation by clicking "Reset To Draft" button </p>
			<p class="oe_slogan"> Also job estimation state will be changed to draft state. </p>
			<p class="oe_slogan"> You can also send job estimation to client by applying "Send By Mail". </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="sale_order_draft.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Send By Mail </p>
			<p class="oe_slogan"> You can send job estimation to your client through email. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="send_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Job Estimation Report view </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_est_report_btn.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> You can also get report of job estimation. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_reprot_1.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_reprot_2.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="job_reprot_3.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_material_purchase_requisitions/">
					<img class="img img-responsive" src="related/bi_material_purchase_requisitions.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_odoo_mrp_multi_branch/">
					<img class="img img-responsive" src="related/bi_odoo_mrp_multi_branch.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_construction_contracting_change_order/">
					<img class="img img-responsive" src="related/bi_construction_contracting_change_order.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_mrp_production_cancel/">
					<img class="img img-responsive" src="related/bi_mrp_production_cancel.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_odoo_process_costing_manufacturing/">
					<img class="img img-responsive" src="related/bi_odoo_process_costing_manufacturing.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_odoo_job_costing_management/">
					<img class="img img-responsive" src="related/bi_odoo_job_costing_management.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Job Work Estimation for Material Cost, Labour cost and Overheads Cost Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Job Work Estimation for Material Cost, Labour cost and Overheads Cost Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>