
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
   <div class="container">
      <div class="row">
         <div class="sh_span12 col-12" style="padding: 40px">
            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Sale Order Multiple Pricelist</b></center> <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Currently, odoo does not provide any kind of feature for two different products with different price lists in the same order, so you can not set different pricelists in order line in the same order. That's why we made this module. Using this module you can set pricelist for different products into order line. No more effort required just click apply and select price list.</p>
         </div>
      </div>
   </div>
</section>
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
  <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-family: "Montserrat", sans-serif;>Videos</b></center>
  <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
   <div class="container">
      <div class="sh_spaced">
         <h2 align="center">
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/wHSTa-rQiJM" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? Click here to watch video</a>
         </h2>
      </div>
   </div>
</section> 
<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
   <div class="container">
      <div class="row">
         <div class="sh_spaced" style="width: 100%;">
            <div class="sh_span12 " style="padding: 0px 15px!important;">
               <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
               </h2>
               <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Easy to select pricelist for product into order line.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Easy to set pricelist separately for a different product in the same order.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Easy to manage different pricelists for a different product in the same order.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  Easy to update cost price, margin percentage and margin amount.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  No special configuration required, install it, use it.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 This module saves your important time.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  It reduces human efforts.
               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                  This app is compatible with Odoo's Multi-Company Feature.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- version -->

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
                <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.2 (12<sup>th</sup> November 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Small Bug Fixed.
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v14.0.1 (26<sup>th</sup> October 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release.
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
      'Apply' Button separate for each product in the order line. 
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img src="1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         After clicking the 'Apply' button one wizard will popup like this. Select Pricelist and save it.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="2.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
        Selected price list will apply for selected product only in order line.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="3.png" style="width:100%;">
      </div>
   </div>
</section>

<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>
<!--you may also like-->


<section class="oe_container oe_dark" style="background: #efefef00;"> 
   <div class="oe_row oe_spaced"> 
      <h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;    margin-bottom: 10px;">
      <div class="row" style="margin-top: 1rem;">
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_social_media/">
            <img src="sh_social_media.png" style="width: 100%;">
          </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_filters/">
               <img  src="sh_so_filters.jpg" style="width: 100%;"> 
            </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_html_notes/">
               <img  src="sh_so_html_notes.png" style="width: 100%;">
            </a>
         </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_img/">
            <img src="sh_so_img.jpg" style="width: 100%;">
          </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_img_quote/">
               <img  src="sh_so_img_quote.png" style="width: 100%;"> 
            </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_imgs/">
               <img  src="sh_so_imgs.png" style="width: 100%;">
            </a>
         </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_sol_views/">
            <img src="sh_sol_views.png" style="width: 100%;">
          </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_po/">
               <img  src="sh_so_po.jpg" style="width: 100%;"> 
            </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_quick_mrp/">
               <img  src="sh_so_quick_mrp.png" style="width: 100%;">
            </a>
         </div>
      </div> 
      <div class="row" style="margin-top: 1rem;">
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_status/">
            <img src="sh_so_status.jpg" style="width: 100%;">
          </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_task/">
               <img  src="sh_so_task.png" style="width: 100%;"> 
            </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_tnc/">
               <img  src="sh_so_tnc.png" style="width: 100%;">
            </a>
         </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_undelivered/">
            <img src="sh_so_undelivered.png" style="width: 100%;">
          </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_weight/">
               <img  src="sh_so_weight.png" style="width: 100%;"> 
            </a>
         </div> 
         <div class="col-md-4" align="center"> 
            <a href="https://www.odoo.com/apps/modules/12.0/sh_so_quick_prod_search/">
               <img  src="sh_so_quick_prod_search.jpg" style="width: 100%;">
            </a>
         </div>
      </div> 
   </div> 
</section>
<!-- end you may also like-->
<section class="oe_container oe_dark">
   <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center"> 
         <a style="padding:10px 60px; background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
      </div>
   </div>
</section>
