<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 95%;">
        <h2 class="oe_slogan" style="color:#875A7B;">Now Support odoo14. App Advance Search Sidebar with Hierarchy Parent Children Tree</h2>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <img class="oe_demo oe_screenshot" src="https://apps.odoocdn.com/apps/assets/14.0/app_web_superbar/superbar.gif">
        </div>
        <h3 class="oe_slogan">Advance Search, Advance Filter with Parent Children Tree.</h3>
        <h1 class="text-danger text-center">Buy
            <a href="https://www.odoo.com/apps/modules/14.0/app_web_superbar/">
            this 1 Advance Search Apps
            </a>
                in odoo Store. Get
            <a href="https://www.odoo.com/apps/modules/browse?search=ztree" target="_blank">
                free 20+ Free related apps.
            </a>
        </h1>
        <h3 class="oe_slogan">Also We provide pro version app_web_superbar_pro. Just pay extra $68 if you already buy [app_web_superbar]</h3>
        <h1 class="text-danger text-center">Buy
            <a href="https://www.odoo.com/apps/modules/14.0/app_web_superbar/">
            You can get more detail for the pro version.
            </a>
        </h1>
        <h3 class="oe_slogan">Visit to get [app_web_superbar_pro] Demo</h3>
        <h3>Easy to navigator and browse any data. Support Search more, list, kanban, pivot, graph view. </h3>
        <h2><span class="text-warning">What you see is what you get for [app_web_superbar_pro]. </span>
            Online demo <i class="fa fa-user text-primary"></i>  user/password: demo/demo
                        <a href="https://demo.erpapp.cn/web?#action=366&cids=1%2C2&menu_id=209&model=sale.order&view_type=list" target="_blank">
                        <i class="fa fa-arrow-right text-warning"></i>Click to get demo.
                        </a>
        </h2>
        <div class="oe_span12 oe_spaced">
            <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Update: v14.20.11.06, Release odoo 14 version 2.0
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Update: v13.019.12.20, fix icon show if set the section icon.
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Update: v13.019.12.08, add parameter support: searchpanel_domain_group_id.
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Update: v13.019.05.24, Support group, Support multi company in view(only for odoo12,13).
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Update: v13.019.05.23, Enhance UI. Add Pos Function.
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Easy to show parent children tree for tree, kanban, pivot, graph view.(Note that there would be little different in UI between odoo12,11,10)
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Filter product of any data in "Search More..." popup windows.
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Responsive UI.Only show when width > 992px;
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Product navigate by category or type is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_product_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Pos navigate by category or store is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_pos_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Account chart navigate by type is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_account_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Contacts navigate by company is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_contacts_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Sale order navigate by partner and channel is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_sale_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        CRM browse by stage and team is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_crm_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Purchase order navigate by partner is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_purchase_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Stock location navigate by parent, Picking by type is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_stock_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        HR employee navigate by department is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_hr_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        MRP manufacture order navigate by state workcenter is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_mrp_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Apps Navigator by Category, Module Navigator is ready.
                        <a href="http://www.odoo.com/apps/modules/14.0/app_module_superbar/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        It is so easy to customize, you can use it in anywhere in odoo(Extra pay for support).
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Extra bonus apps. This apps depend on [app_web_widget_ztree]<br/>
                        <a href="https://www.odoo.com/apps/modules/14.0/app_web_widget_ztree/" target="_blank">
                        click to get free apps Hierarchy Parent tree in m2o select.
                        </a>
                        you can get follow
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Stock Location Hierarchy Parent tree in m2o select
                        <a href="http://www.odoo.com/apps/modules/14.0/app_stock_ztree/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Product category Hierarchy Parent tree in m2o select
                        <a href="http://www.odoo.com/apps/modules/14.0/app_product_ztree/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Hr Department Parent tree in m2o select
                        <a href="http://www.odoo.com/apps/modules/14.0/app_hr_ztree/" target="_blank">
                        <i class="fa fa-download text-warning"></i>Click to download.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1>&nbsp;</h1>
        <h1 class="text-danger text-center">So Easy to navigator and search any data.</h1>
        <h4 class="oe_slogan">Product by category or type in kanban view</h4>
        <div class="oe_demo oe_screenshot">
            <img oe_demo oe_screenshot src="use.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
    </div>
    <div class="oe_row oe_spaced">
        <h1>&nbsp;</h1>
        <h4 class="oe_slogan">Filter product or any data in search more windows</h4>
        <div class="oe_demo oe_screenshot">
            <img oe_demo oe_screenshot src="searchmore.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Free to Use in product category.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="product1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Free to Use in POS point of sale.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="pos1.jpg">
        </div>
        <h4 class="oe_slogan">POS product and order.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="pos2.jpg">
        </div>
        <h4 class="oe_slogan">POS report.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="pos3.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in HR employee.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="hr2.gif">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in Account.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="account1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in Sale.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="sale1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in CRM.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="crm1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in purchase.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="purchase1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in MRP.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="mrp1.gif">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in stock.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="stock1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Use in contacts.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="contacts1.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Apps Navigator by Category, Module Navigator is ready.</h4>
        <div class="oe_demo oe_screenshot">
            <img src="demo_module1.jpg">
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="demo_module2.jpg">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">Buy this apps, get Extra bonus apps, App zTree widget, Hierarchy Parent tree in m2o select</h1>
        <h4 class="oe_slogan">Ready for product category Hierarchy Parent tree in m2o select</h4>
        <div class="oe_screenshot">
            <img src="z_product1.gif">
        </div>
        <h4 class="oe_slogan">Ready for Stock Location Hierarchy Parent tree in m2o select</h4>
        <div class="oe_screenshot">
            <img src="z_stock1.gif">
        </div>
        <h4 class="oe_slogan">Ready for Hr Department Hierarchy Parent tree in m2o select</h4>
        <div class="oe_screenshot">
            <img src="z_hr1.gif">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1>&nbsp;</h1>
        <h1 class="text-danger text-center">How to use! This app do need extra module. The price already included</h1>
        <div class="oe_span12">
            <h4 class="oe_slogan oe_spaced">1. Buy and Install zTree widget.
                <a href="http://www.odoo.com/apps/modules/14.0/app_web_widget_ztree/" target="_blank">
                    <i class="fa fa-download text-warning"></i>Click to download.
                </a>
            </h4>
        </div>
        <div class="oe_span12">
            <h4 class="oe_slogan oe_spaced">2. Buy and Install <a href="http://www.odoo.com/apps/modules/14.0/app_web_superbar/" target="_blank">app_web_superbar. </a><span class="text-warning">Important! Reboot odoo after installed.</span>
            </h4>
        </div>
        <div class="oe_span12">
            <h4 class="oe_slogan oe_spaced">3. Easy use of superbar</h4>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Show superbar in list view.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use7.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Show superbar in kanban view.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use8.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Show superbar in pivot view.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use9.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Show superbar in graph view.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="usea.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Click switch to show or hide superbar.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use1.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Click checkbox to set whether to show child nodes data.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use2.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Press Ctrl(Windows) / Cmd(Mac) to Select Multi Nodes</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use3.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Set multi field to search or filter</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use4.jpg">
                </div>
            </div>
            <div class="oe_span12 oe_spaced">
                <h4 class="oe_slogan">Set super bar position, left or right.</h4>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="use5.jpg">
                </div>
            </div>
        </div>
        <div class="oe_span12">
            <h4 class="oe_slogan oe_spaced">4. If you want to customize, Use follow param to setup widget(Extra pay for support):</h4>
            <div class="oe_span12">
                <div class="oe_demo oe_screenshot">
                    <img src="superbar_use.gif">
                </div>
                <h4 class="oe_slogan oe_spaced">Attribute of superbar</h4>
                <ul class="oe_spaced" style="padding:8px;font-weight: 300; font-size: 20px;">
                    <li>In search view xml, Write the &lt;searchpanel&gt; tag,</li>
                    <li>position: [left, right]</li>
                    <li>view_mode: [kanban,tree,pivot,graph]</li>
                    <li>field: like normal field define</li>
                </ul>
                <h4 class="oe_slogan oe_spaced">Attribute of field define</h4>
                <ul class="oe_spaced" style="padding:8px;font-weight: 300; font-size: 20px;">
                    <li>parent_key: key field name of parent child relation. leave blank would auto set.</li>
                    <li>level: how many level to expend the tree for initialize. Default is 2</li>
                    <li>limit: how many record to show on sidebar. Default is 200</li>
                    <li>order: the field name to order by</li>
                    <li>domain: set the domain for data, eg: [[('is_company', '=', 1)]]</li>
                    <li>--</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883 (App user would not get QQ or any other IM support. Only for odoo project customize.)</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <h4>
                Visit our website for more support.</h4>
<h4>https://www.sunpop.cn</h4>
            </div>
        </div>
    </div>
</section>

