<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> ALL in one POS Reports(POS BOX Compatible) Odoo Apps </b>
			</h2>
			<p class="oe_slogan">
				Using this Odoo apps you can print many types of reports or receipts like, Sales Summary Report, Ongoing Session Report, Posted Session report from backend and Payment Summary, Category Summary, Product Summary, Order Summary, Session Audit Report, Inventory Audit Report from Point of Sales Screen in Odoo and This odoo apps is POS-BOX Compatible. 
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/x_report.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Ongoing Session Report. </b></h4>
					  <span class="oe_slogan"> Using Ongoing Session Report, you can generate report for opened or ongoing sessions. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/payment.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Payment Summary. </b></h4>
						<span class="oe_slogan"> You can generate receipt from POS Screen for Payment Summary. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/closed.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Posted Session Report. </b></h4>
					  <span class="oe_slogan"> Using Posted Session Report, you can generate report for Closed sessions. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/products.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Products Summary. </b></h4>
						<span class="oe_slogan"> You can generate receipt from POS Screen for Products Summary. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/sale_smry.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Sales Summary Report. </b></h4>
					  <span class="oe_slogan"> All/User wise Sales Summary Report. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/cat.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Category Summary. </b></h4>
						<span class="oe_slogan"> You can generate receipt from POS Screen for Category Summary. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/summary.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Order Summary. </b></h4>
					  <span class="oe_slogan"> You can generate receipt from POS Screen for Order Summary. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/audit.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Inventory/Session Audit Report. </b></h4>
						<span class="oe_slogan"> You can generate receipt from POS Screen for Inventory/Session Audit Report. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/index.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Profit-Loss Report</b></h4>
					  <span class="oe_slogan">User can generate pos profit-loss report between selected dates and for current session.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/index.jpeg"/>
					</div>
					<div class="col-md-9">
						<h4><b>Print Report from POS screen & Menu</b></h4>
						<span class="oe_slogan"> User can print reports form menu and also from pos screen. </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for ALL in one POS Reports(POS BOX Compatible) Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/Y5t_EZJxymY" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">POS Report Menu</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Sale Summary Report</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;">Sale Summary Report of Selected User(s)</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_sale_summary_users.png">
			<p class="oe_slogan">Generated Sale Summary Report of of Selected User(s).</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_report1.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_report2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;">Only sales Summary Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_summary_only.png">
			<p class="oe_slogan">Generated Sales Summary Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_summ_only_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Ongoing Session Report</p>
			<p class="oe_slogan">Using Ongoing Session Report you can generate report of opened sessions.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_ongoing_session.png">
			<p class="oe_slogan"> Generated Ongoing Session Report of opened sessions. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_ongoing_session_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Posted Session Report</p>
			<p class="oe_slogan">Using Posted Session Report you can generate report of closed sessions.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_posted_session.png">
			<p class="oe_slogan">Generated Posted Session Report of closed sessions.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_posted_session_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Top Selling Product Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_top_selling_product.png">
			<p class="oe_slogan">Generated</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_top_selling_product_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Top Selling Customer Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_top_customer.png">
			<p class="oe_slogan">Generated</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_top_customer_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Top Selling Category Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_top_category.png">
			<p class="oe_slogan">Generated</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_top_category_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Pos Profit-Loss Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_profit_loss.png">
			<p class="oe_slogan">Generated</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_profit_loss_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Pos Payment Report</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_payment_report.png">
			<p class="oe_slogan">Generated</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_payment_xls_report.png">
			<p class="oe_slogan">Generated</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_payment_pdf_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">POS Configuration</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="22_pos_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Audit Report</p>
			<p class="oe_slogan">Select Session to get report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_audit_report_popup.png">
			<p class="oe_slogan">Category Summary of Selected Dates.</p>
			<img class="img-border img-responsive center-block thumbnail mb16" style="border: 3px solid black;" src="25_session_audit_report.png">
			<p class="oe_slogan">If you select current session,then only current session report will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="26_audit_session.png">
			<p class="oe_slogan">Current session report.</p>
			<img class="img-border img-responsive center-block thumbnail mb16" style="border: 3px solid black;" src="27_audit_session_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Category Summary</p>
			<p class="oe_slogan">Select Dates to get report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="28_category_date.png">
			<p class="oe_slogan">Category Summary of Selected Dates.</p>
			<img class="img-border img-responsive center-block thumbnail mb16" style="border: 3px solid black;" src="29_category_date_report.png">
			<p class="oe_slogan">If you select current session,then only current session report will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="30_category_session_report.png">
			<p class="oe_slogan">Category Summary of Selected Dates.</p>
			<img class="img-border img-responsive center-block thumbnail mb16" style="border: 3px solid black;" src="32_category_session_report.png">
		</div>
	</div>
</section>
  
<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Product Summary</p>
			<p class="oe_slogan">Select Dates to get report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="33_product_summary.png">
			<p class="oe_slogan">Select Dates to get report.</p>
			<img class="img-border img-responsive center-block thumbnail mb16" style="border: 3px solid black;" src="34_product_summary_report.png">
			<p class="oe_slogan">If you select current session,then only current session report will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="35_product_summary_session.png">
			<p class="oe_slogan">Current session report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="36_product_summary_session_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Order Summary</p>
			<p class="oe_slogan">Select Dates and state to get report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="38_order_summary_reprt.png">
			<p class="oe_slogan">Order Summary of Selected Dates and state.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="38_order_summary_reprt.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">If you don't select any state then,all states data will be printed.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="39_order_summary_states.png">
			<p class="oe_slogan">Order Summary of all states between selected dates.</p>
			<img class="img-border img-responsive center-block thumbnail mb16" style="border: 3px solid black;" src="40_order_summary_states_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">If you select current session, then only current session report will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="41_order_summary_current_session.png">
			<p class="oe_slogan">If you select current session, then only current session report will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="42_order_summary_current_session.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Payment Summary</p>
			<p class="oe_slogan">Select Dates and Summary (salesperson/Journal) to get report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="43_salesperson.png">
			<p class="oe_slogan">Payment Summary of Selected Dates and current POS salesperson.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="44_sales_person_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">Select Journals in Summary.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="45_sales_journal.png">
			<p class="oe_slogan">Select Journals in Summary.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="46_sales_journal_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">If you select current session,then only current session report will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="47_sales_session.png">
			<p class="oe_slogan">Current session report.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="48_seles_session_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"><strong>Installation Guide</strong></p>
			<p class="oe_slogan"><strong>Before installing this module you have to install following packages in your system.</strong></p>
			<p class="oe_slogan">1.sudo pip3 install deep_translator</p>
			<p class="oe_slogan">OR</p>
			<p class="oe_slogan">1.sudo pip install deep_translator</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch_accounting_report/">
					<img class="img img-responsive" src="related/branch_accounting_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_accounting_report_excel/">
					<img class="img img-responsive" src="related/bi_accounting_report_excel.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_advance_cash_payment/">
					<img class="img img-responsive" src="related/pos_advance_cash_payment.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_pos_workflow/">
					<img class="img img-responsive" src="related/bi_pos_workflow.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_pos_lock/">
					<img class="img img-responsive" src="related/bi_pos_lock.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_wallet_odoo/">
					<img class="img img-responsive" src="related/pos_wallet_odoo.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for ALL in one POS Reports(POS BOX Compatible) Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for ALL in one POS Reports(POS BOX Compatible) Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>