<section class="oe_container">
    <div class="oe_row oe_spaced" >
        <div class="oe_span12">
            <h2 class="oe_slogan"> Number no negative Configurable, equal to zero or Greater than zero</h2>
            <h3 class="oe_slogan">Configurable Number no negative. Easy apply to all list, one2may list. </h3>
            <div class="oe_row">
                <h3>Lastest update: v 14.20.11.18</h3>
                <div class="oe_span12">
                    <img class="oe_demo  oe_screenshot"  style="max-height: 100%;" src="banner.png">
                </div>
                <div class="oe_span12 oe_spaced">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                1. Configurable Number no negative.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                2. Apply for integer, float, money field
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                3. Default apply for all number, easy config with global param 'app_negative_allow'
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                4. Easy config for prefer view with option 'negative_allow'
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                5. Show null when zero with options 'nozero'
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                11. Support Odoo 14，13, 12 Enterprise and Community Edition
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                12. Multi-language Support.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">1. Configurable Number no negative.</h1>
        <h4 class="oe_slogan"> 2. Apply for integer, float, money field, Raise error if input negative number, </h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo1.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">3. Default apply for all number, easy config with global param 'app_negative_allow'</h1>
        <h4 class="oe_slogan"> System Parameters config, set to False: Must >=0, set to True: no limit</h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo2.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">4. Easy config for prefer view with option 'negative_allow'</h1>
        <h4 class="oe_slogan"> you can config global to not negative allow， and prefer some views to all negative follow this</h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo3.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">5. Show null when zero with options 'nozero'</h1>
        <h4 class="oe_slogan"> you can config global to not negative allow， and prefer some views to all negative follow this</h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo5.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">Multi-language Support..</h1>
        <h4 class="oe_slogan"> </h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="cnreadme.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883 (App user would not get QQ or any other IM support. Only for odoo project customize.)</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <p><h4>
                Visit our website for more support.</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="https://www.sunpop.cn" target="_blank"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-web"></i>https://www.sunpop.cn</a>
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced text-center">
        <h1>More Powerful addons, Make your odoo very easy to use, easy customize:
            <a class="btn btn-primary mb16" href="http://www.odoo.com/apps/modules/browse?author=Sunpop.cn">Supop.cn Odoo Addons</a>
        </h1>
    </div>
</section>

