.product_usage_expiry{
    div {
        input {
            width: 10% !important;
        }
        select {
            width: 16% !important;
        }
    }
}

.o_replenish_buttons {
    display: none;
}

.o_field_active_period {
    font-size: 20px;
}

.active_period_modal {
    width: 15%;
    position: absolute;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    z-index: 1000;
    right: 140px;
    padding: 10px;
    .period_text {
    }
    .start_date {
        .start {
            font-weight:600;
        }
    }
    .end_date {
        .end {
            font-weight:600;
        }
    }
    .period_text {
        span.text-muted {
            font-size: 10px;
        }
    }
}