.o_simulation_material_tab table.o_list_table {
    font-weight: bold !important;
}

.o_simulation_material_tab .o_list_view .o_list_table thead > tr > th, .o_simulation_material_tab .o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector) {
    background-color: #e9ecef;
    font-weight: bold !important;
}

.o_simulation_material_tab table.o_list_table th[data-name="name"] {
    color: transparent !important;
}

.o_simulation_material_tab table.o_list_table tr.o_data_row td {
    padding: 0.75rem !important;
    background-color: white;
    border-top: 1px solid #dee2e6 !important;
}

.o_simulation_material_tab table.o_list_table tr.o_data_row td:first-child {
    background-color: #e9ecef !important;
}

.o_simulation_material_tab table.o_list_table tr.o_data_row.o_is_line_section {
    color: red !important;
}