<section class="oe_container container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Auto-Reversing Journal Entries</h2>
        <h3 class="oe_slogan">Scheduled auto-reversing for journal entries</h3>
    </div>
</section>

<section class="oe_container container">
    <div class="oe_row oe_spaced">
        <div class="text-justify">
            <h3 class="oe_slogan">Auto Reverse Posted General Journals in Odoo</h3>
            <p class="oe_mt32">
                This module helps to schedule auto reverse for posted journal entries.
            </p>
            <p>
                Utilizing Auto-Reversing Journal Entries is quite easy to forget to manually
                reverse out certain entries at the beginning of new account period.
            </p>
            <p>
                Auto-reversing journal entries are used to avoid errors in reporting
                in situations where some accrued revenue or expenses from one accounting period
                should not remain on the books in the next account period.
            </p>
        </div>
    </div>
</section>

<section class="oe_container container">
    <div class="oe_row oe_spaced">
        <div class="text-justify">
            <h3 class="oe_slogan">How it works</h3>
            <div class="row">
                <div class="mb16">
                    <p>After installation of the module, the new tab appears:</p>
                    <div class="oe_demo oe_screenshot">
                        <img src="misc_account_move_form.png" alt="Account Move Form" title="Account Move Form"/>
                    </div>
                    <p>In this tab accountant can select whether the system should reverse this entry automatically at the selected date.</p>
                    <p>Auto-Reversal Date is the date when particular entry will be reversed.</p>
                    <p>Accountant can specify specific accounting date for reversal entry to be posted.</p>
                    <p>Also user can select the option "Journal Entry Date", so that reversal entry will be posted using origin journal entry date.</p>
                    <p>In addition, there is the option to post reversal entry in a different accounting journal.</p>
                </div>
                <div class="mb16">
                    <p>The system administrator can configure the execution time of the scheduled action or run it manually if needed:</p>
                    <div class="oe_demo oe_screenshot">
                        <img src="cron_form.png" alt="Cron Form" title="Cron Form"/>
                    </div>
                </div>
                <div class="mb16">
                    <p>When scheduled action is executed the system reverses entries:</p>
                    <div class="oe_demo oe_screenshot">
                        <img src="reversal_misc_account_move_form.png" alt="Reversal Account Move" title="Reversal Account Move"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb16">
                    <p>
                        As you know in Odoo v14 the data model for invoices and account moves is the same.
                        So automatic reverse/refund functionality is available in the invoice form too.
                    </p>
                    <div class="oe_demo oe_screenshot">
                        <img src="auto_reverse_settings.png" alt="Auto Reverse/Refund Settings" title="Auto Reverse/Refund Settings"/>
                    </div>
                    <div class="oe_demo oe_screenshot">
                        <img src="account_move_reversed.png" alt="Auto Reversed" title="Auto Reversed"/>
                    </div>
                    <div class="oe_demo oe_screenshot">
                        <img src="auto_credit_node.png" alt="Auto Credit Note" title="Auto Credit Note"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb16">
                    If you use free accounting module by Odoo Mates,
                    please note that this module is fully compatible and works correctly.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container container">
    <!-- Contacts -->
    <div class="row">
        <div class="col-12 oe_spaced">
            <div class="oe_slogan text-center">
                Contact me for Support, Customization, Implementation:<br/>
                Email: <a href="mailto:odoo@xfanis.dev">odoo@xfanis.dev</a><br/>
                Telegram: <a href="https://t.me/xfanis">https://t.me/xfanis</a>
            </div>
        </div>
    </div>
</section>