body{
    background-position: center;
    font-family: sans-serif;

}

.progress{
    margin: 50px auto;
}

.progress t{
    margin-bottom: 20px;
}

ul{
    text-align: center;
}

ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}

ul li .fa{
    background: #ccc;
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}

ul li .fa::after{
    content: '';
    background: #ccc;
    height: 5px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
//     top: 50px;
    z-index: -1;
}

ul li:first-child .fa::after{
    width: 105px;
    left: 100px;
}

ul li:last-child .fa::after{
    width: 105px;
}