
        
        
        
        <section class="container" style="font-size:18px;">
            <div class="col-lg-12 col-md-12">
                
                    <div class="row">
                        
                
        <div class="col-lg-12 col-md-12 mt16" style="padding:0;">
            <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                <div class="panel-heading collapsed mb0 mt0" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;border:none;">
                    <strong>
                        
        <div style="background-color:#21B799 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
            <strong title="Click to observe details">
                <i class="fa fa-tags ml4"> </i>
                
                <span class="ml4">
                    198
                    <i class="fa fa-euro" style="font-size:14px;"> </i>
                </span>
                <i class="fa fa-angle-down ml4"> </i>
            </strong>
        </div>
    
                        
        
            
            
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Enterprise version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Enterprise
                </strong>
                
            </div>           
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Community version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Community
                </strong>
                
            </div>
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;;">
                <strong title="The tool might be installed to Odoo.sh if you have a linked private git repository" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Odoo.sh
                </strong>
            </div>
        
    
                    </strong>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="priceAccordeon_area" aria-expanded="false" style="padding:0;border:1px dotted #ddd;">
                    <div class="panel-body">
                        
        
    
                        
        <div class="col-12 mt8">
            <span>
                The tool does not require extra dependencies beside standard Odoo apps
            </span>
        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
                    </div>
                    <div class="row">
                        
        <div class="col-lg-12 col-md-12 mt8" style="padding:0;">
            <ul role="tablist" class="nav nav-tabs mb16 mt16 justify-content-center" data-tabs="tabs" style="background:unset !important;">
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#features" data-toggle="tab" class="nav-link active" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                        Features
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#config" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Guidelines
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#faq" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       FAQ
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#screenshots" data-toggle="tab" class="nav-link" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Screenshots
                    </a>
                </li>
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#support_info" data-toggle="tab" class="nav-link" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Support
                       <span>
                       & Demo <sup><small style="color:#BA3C3D !important;"><i>free</i></small></sup>
                       </span>
                    </a>
                </li>
            </ul>
        </div>
    
                    </div>
                    <div class="row">
                        <div class="tab-content w-100">
                            <div id="features" class="tab-pane active">
                                
        
    
                                
        <div class="row">
            <div class="row col-lg-12 col-md-12 mt8 mb8">
                <div class="text-left mb16 col-lg-12 col-md-12">
                    <div><p>If you knew stock demand trends per warehouses, you would have a clue to decrease keeping costs and to have a flawless supply chain. Regretfully, you can't know the future. However, you can predict it with a certain reliability. This is an Odoo tool for that goal. The app let you construct stock demand per periods and forecast further demand. </p></div>
                    
                       
                </div>
                
            </div>
            
        </div>
    
                                
                                
                                

                                
        <div class="mt8">
            
                <div class="row mt8 mb16">
                    
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb8" style="line-height:1.5"><div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Scientific approach for forecasting</h4>
        <p>The app assumes applying statistical methods to calculate historical trends and make a forecast. Make a few experiments with suggested solutions and coefficients to achieve the most accurate prediction</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Focused analysis</h4>
        <p>Shrink considered stock operations for a definite warehouse location (with or without child locations) or analyze global company stocks demand</p>       
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Topical data</h4>
        <p>Apply time frames for historical data to check statistical reliability through 'predicting' actually passed intervals. Stock demand is calculated as all done stock moves for this period which source location is one of internal locations under consideration and which destination location is not of this range</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Trends interfaces</h4>
        <p>Work with stock demands forecasts in a way you like: as an Odoo chart, as an Odoo report (pivot), as an Excel table</p>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:8px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Widely applicable solutions</h4>
        <p>Analyze trends for both a product template in general (e.g. all iPads) or a specific product variant (iPad 32Gb). The app might be of especial use for markets experiencing <b>seasonal changes</b>: try to define statistical factors in your industry to make reliable forecasts</p>     
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt8 mb16">
    <div class="row h-100 shadow" style="margin:0;border-radius:20px; padding:16px 0; box-shadow:-40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <i class="fa fa-5x fa-check-square-o text-primary"> </i>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Inventory trends analysts</h4>
        <p>Grant the right for forecast tools for any WMS user (the group Other > Stock Demand Forecast). To start analysis it is needed to push the button 'Stock Trends' on a product template, variant, or stock location form. Be cautious: all stock operations of a current company would be under consideration.</p>        
      </div>
    </div>
  </div>
</div>

</div>
                        
                        
        <div class="col-lg-12 col-md-12 row mb16 mt16">
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Demand trends and forecast button" src="demand_trends_button.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Analyse stock demand per location or company" src="stock_demand_trend_wizard.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Different statistical methods for Odoo inventory forecast" src="stock_demand_forecast_methods.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Chart of forecasts and historical moves" src="stock_trends_chart.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo report for stocks prediction" src="stock_demand_forecast_report.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Odoo forecast stock moves" src="stock_report_prediction_only.png"/>
                </div>
            
                <div class="col-lg-12 col-md-12 mb16 mt8">
                    <img class="img img-fluid mx-auto" alt="Excel table of stock moves per periods" src="stock_demand_forecast_xlsx.png"/>
                </div>
            
        </div>
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Statistical methods to forecast stock demand</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb16" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>The tool allows to calculate inventory demand trends based on a number of statistical methods. They have different complexity and might be suitable for a definite market or a specific business. The final choice of the method and related statistical parameters is up to end users</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Autoregression (AR)</b> is the simplest but still widely used statistical method for time series forecast. Using the method you consider stock trends being linear without seasonal effects, without a purely defined trend, and without smoothing abnormal observation</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Moving Average (MA)</b> takes into account 'errors' in previous observations, and in comparison to the AR method smooths abnormal data</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Autoregressive Moving Average (ARMA)</b>  is a combination of both AR and MA methods. To apply the ARMA method use the MA method with auto regression coefficient (P coefficient) as 2</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Autoregressive Integrated Moving Average (ARIMA)</b> combines the methods AR and MA, but beside that it tries to make data stationary. It is appropriate to use for historical data with pure trend but without seasonal changes</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Seasonal Autoregressive Integrated Moving-Average (SARIMA)</b> enriches the ARIMA method with considering seasonal changes. It is one of the most complex and wide spread methods utilized for forecasting time series now</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Simple Exponential Smoothing (SES)</b> is similar to the AR method, but instead of relying upon linear function, it exploits exponential one</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div><b>Holt Winter's Exponential Smoothing (HWES)</b> enriches the SES method to work with time series trends and seasonal effects</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>To start with have look at the articles which inspired us to introduce the app: <a href='https://machinelearningmastery.com/time-series-forecasting-methods-in-python-cheat-sheet/'>https://machinelearningmastery.com/time-series-forecasting-methods-in-python-cheat-sheet</a>, <a href='https://www.digitalocean.com/community/tutorials/a-guide-to-time-series-forecasting-with-arima-in-python-3'>https://www.digitalocean.com/community/tutorials/a-guide-to-time-series-forecasting-with-arima-in-python-3</a>,  and <a href='https://people.duke.edu/~rnau/411arim.htm'>https://people.duke.edu/~rnau/411arim.htm</a></div> 
        </li>        
      </ul>
    </div>
  </div>
</div></div>
                        
                        
        
    
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>Usage requirements</h2>
                    </div>
                    <section class="w-100">
                        <div class="col-lg-12 col-md-12 mb16" style="line-height:1.5"><div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="h-100" style="margin:0">
      <ul class="list-unstyled" style="padding-left:0;list-style:none;">
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>You have enough historical stock moves data (per location or a company), since it is senseless to make forecast based on last 5 days of operations</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>Stock demand is regular and is not chaotic, meaning that your decisions do not have 100% impact and there is at least some correlation between market demand and your WMS operations.</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>You consider seasonal changes and/or trends, which you noticed but can't fully analyze. You understand which assumptions you try to check.</div> 
        </li>
        <li class="mb16" style="display: flex !important; align-items: baseline !important">
          <div class="mr8"><i class="fa fa-check-square-o text-primary"></i></div>
          <div>You have clear understanding of how statistics works.</div> 
        </li>        
      </ul>
    </div>
  </div>
  <div class="alert alert-info">
        <span>
             <i class="fa fa-info-circle"> </i> Based on applied statistical methods and parameters (especially P, D, Q, and seasonal coefficients) sometimes the app would not be able to reveal a trend. In such a case, make sure you have enough historical data and try to experiment with forecast settings
        </span>
  </div>
</div></div>
                        
                        
        
    
                         
                    </section>
                </div>
            
        </div>
    
                            </div>
                            <div id="config" class="tab-pane">
                                    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row ml0 mr0">
                    <div class="col-lg-12 col-md-12 mb16">
                        <section>
                            <div class="s_faq">
                                <div id="app_conf_accordion" class="panel-group" role="tablist">
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_conf_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_343_conf">
                                                        <span>Python dependencies</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_343_conf">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p>To guarantee tool correct work you would need a number of Python libraries: pandas, numpy, statsmodels, scipy, xlsxwriter. To install those packages execute the command:</p>
<code>pip3 install pandas numpy statsmodels scipy xlsxwriter</code></div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    
                            </div>
                            <div id="faq" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                <div class="row ml0 mr0">                   
                    
                    <div class="col-lg-12 col-md-12">
                        <section>
                            <div class="s_faq">
                                <div id="app_faq_accordion" class="panel-group" role="tablist">
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_128_faq">
                                                        <span>What are the update policies of your tools?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_128_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0 1rem 0;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">According to the current Odoo Apps Store policies:</p><ul style="padding:0 0 0 40px;margin:0px 0 1rem 0;list-style-type:disc;"><li>every module bought for the version 12.0 and prior gives you an access to the all versions up to 12.0.</li><li>starting from the version 13.0, every version of the module should be purchased separately.</li><li>disregarding the version, purchasing a tool grants you a right for all updates and bug fixes within a major version.</li></ul><p style="margin:0px 0 1rem 0;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Take into account that Odoo Tools team does not control those policies. By all questions please contact the Odoo Apps Store representatives<a href="https://www.odoo.com/contactus" style="text-decoration-thickness:initial;text-decoration:none;background-color:transparent;color:rgb(13, 103, 89);" contenteditable="true" data-original-title="" title="" aria-describedby="tooltip864258">&nbsp;directly</a>.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_125_faq">
                                                        <span>How should I install your app on my own server?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_125_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>    <ol style="padding:0 0 0 40px;list-style-type:decimal;margin:0px 0 10px 0;"><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Unzip source code of purchased tools in one of your Odoo add-ons directory</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Re-start the Odoo server</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Turn on the developer mode (technical settings)</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Update the apps' list (the apps' menu)</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Find the app and push the button 'Install'</p></li><li><p style="margin:0px;line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;">Follow the guidelines on the app's page if those exist.</p></li></ol></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_123_faq">
                                                        <span>May I buy your app from your company directly?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_123_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">No, we distribute the tools only through the<a href="https://apps.odoo.com/apps" style="text-decoration-thickness:initial;text-decoration:none;background-color:transparent;color:rgb(13, 103, 89);" data-original-title="" title="" aria-describedby="tooltip276944">&nbsp;official Odoo apps store</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_127_faq">
                                                        <span>I noticed that your app has extra add-ons. May I purchase them afterwards?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_127_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>    <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Yes, sure. Take into account that Odoo automatically adds all dependencies to a cart. You should exclude previously purchased tools.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_129_faq">
                                                        <span>I would like to get a discount</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_129_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>        <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Regretfully, we do not have a technical possibility to provide individual prices.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_126_faq">
                                                        <span>Your tool has dependencies on other app(s). Should I purchase those?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_126_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 0.25cm 0px;">Yes, all modules marked in dependencies are absolutely required for a correct work of our tool. Take into account that price marked on the app page already includes all necessary dependencies.&nbsp;&nbsp;</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_124_faq">
                                                        <span>How can I install your app on Odoo.sh?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_124_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div>  <p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">As soon as you purchased the app, the button 'Deploy on Odoo.sh' will appear on the app's page in the Odoo store. Push this button and follow the instructions.</p><p style="line-height:120%;font-family:-apple-system, HelveticaNeue, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;color:inherit;margin:0px 0px 10px 0px;">Take into account that for paid tools you need to have a private GIT repository linked to your Odoo.sh projects</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_153_faq">
                                                        <span>May I install the app on my Odoo Online (SaaS) database?</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_153_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0px 10px 0px;">No, third party apps can not be used on Odoo Online.</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="panel panel-default bg-white">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a href="#" role="tab" data-toggle="collapse" class="card-header collapsed" data-parent="#app_faq_accordion" aria-expanded="false" style="color:black;" data-target="#noteAccordeon_218_faq">
                                                        <span>I deployed your app on Odoo.sh and see warning / error in tests</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="noteAccordeon_218_faq">
                                                <div class="col-lg-12 col-md-12 mt8">
                                                    <div>
                                                        <div><p style="margin:0px 0px 10px 0px;">Red / orange warning itself does not influence features of the app. Regretfully, sometimes our modules do not pass standard automatic tests, since the latter assumes behavior which is in conflict with our apps goals. For example, we change price calculation, while standard Odoo module tests compare final price to standard algorithm.</p><p style="margin:0px 0px 10px 0px;">So, first of all, please check deployed database features. Does everything work correctly?</p><p style="margin:0px 0px 10px 0px;">If you still assume that warning influences real features, please contact us and forward full installation logs and the full lists of deployed modules (including core and third party ones).</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    
                            </div>
                            <div id="screenshots" class="tab-pane">
                                
        <div class="row ">
            <div class="col-lg-12 col-md-12 mb16">
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Stock demand forecast in a few clicks from template, variant, and location</h4>
            <img class="img img-fluid mx-auto" alt="Demand trends and forecast button" src="demand_trends_button.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Calculate stock trends globally or by Odoo location</h4>
            <img class="img img-fluid mx-auto" alt="Analyse stock demand per location or company" src="stock_demand_trend_wizard.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Experiment with various statistical models</h4>
            <img class="img img-fluid mx-auto" alt="Different statistical methods for Odoo inventory forecast" src="stock_demand_forecast_methods.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Stock demand trends and forecast chart</h4>
            <img class="img img-fluid mx-auto" alt="Chart of forecasts and historical moves" src="stock_trends_chart.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Odoo pivot view of stock trends and forecast</h4>
            <img class="img img-fluid mx-auto" alt="Odoo report for stocks prediction" src="stock_demand_forecast_report.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Predicted stock oeprations</h4>
            <img class="img img-fluid mx-auto" alt="Odoo forecast stock moves" src="stock_report_prediction_only.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Stock demand trends and forecast as an xlsx table</h4>
            <img class="img img-fluid mx-auto" alt="Excel table of stock moves per periods" src="stock_demand_forecast_xlsx.png"/>
        </div>
    
                    </div>
                
                    <div class="col-lg-12 col-md-12">
                        
        <div class="mb32">
            <h4 style="background-color:rgba(33, 183, 153, 0.3);padding:4px;">Demand trends and forecast configuration: default values</h4>
            <img class="img img-fluid mx-auto" alt="Default values to generate a report" src="stock_trends_conf.png"/>
        </div>
    
                    </div>
                
            </div>
        </div>
    
                            </div>
                            <div id="support_info" class="tab-pane">
                                
        <div class="row mt8">
            <div class="col-md-12">
                <div class="mb32">
                    <h3>Odoo demonstration databases (live previews)</h3>
                    <p>For this app we might provide a <i>free</i> personalized demo database.</p>
                    <p>To demand such database: press the button "Live Preview" on the top of this page or copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/37ttfc</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>By your request we will prepare an individual live preview database, where you would be able to apply any tests and to check assumptions during 14 days.</p>
                </div>
                <div class="mb16">
                    <h3>Bug reporting</h3>
                    <p>In case you have faced any bugs or inconsistent behavior, do not hesitate to contact us. We guarantee to provide fixes during 60 days after a purchase, while even after this period we are strongly interested to improve our tools.</p>
                    <p>To send us a bug report: press the "Website" link on the top of this page and push the button "Bug Report" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/bdsowm</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>Please include in your request as many details as possible: screen shots, Odoo server logs, full description of how to re-produce your problem, and so on. Usually it takes a few business days to prepare a working plan by an issue (if a bug is confirmed) or provide you with guidelines what should be done (otherwise).</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Public features request and module ideas (free development)</h3>
                    <p>We are strongly motivated to improve our tools and would be grateful for any sort of feedback. In case your requirements are of public use and might be efficiently implemented, the team would include those into our to-do list.</p>
                    <p>Such to-do list is processed on a regular basis and does not assume extra fees. Altough we cannot promise deadlines and final design, it might be a good way to get desired features without investments and risks.</p>
                    <p>To share ideas: press the "Website" link on the top of this page and push the button "Share Features Ideas" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/y0ap2w</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>New features and extra Odoo services (individual development)</h3>
                    <p>Each of our apps might be customized and extended to suit your specific requirements.</p>
                    <p>Our customization team (itlibertas.com) fulfills not only such jobs but it also provides a full range of Odoo services. From simple modifications and consultations to complex enterprise projects. The team has completed over 100 implementations since 2012, and might help with any technical or business needs.</p>
                    <p>To contact us for details and conditions: press the "Website" link on the top of this page and push the button "Request Individual Customization" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/u66m3a</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Questions and misc issues</h3>
                    <p>Feel free to contact us by any other concerns, doubts, or questions: press the "Website" link on the top of this page and push the button "Raise Question" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/p28pdq</span></p>
                </div>
                <div class="mt16 mb16">
                    <h3>About the team</h3>
                    <p>faOtools (faotools.com, former odootools.com) is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed. We are open for new ideas and challenges to create the best Odoo apps for business needs all over the world.</p>
                </div>
                
            </div>
        </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
        
        <div class="col-md-12 col-lg-12 mt16 mb16">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb8">
                    <h3>You may like the tools</h3>
                </div>
            </div>
            <div class="row">            
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/stock_limitation">
                                    <img class="img img-fluid" src="app_icon_1.png" alt="Stocks Access Rules"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/stock_limitation">
                                    Stocks Access Rules
                                </a>
                                <p class="mb0">The tool to restrict users' access to stocks, locations and warehouse operations</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            28<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/vendor_product_management">
                                    <img class="img img-fluid" src="app_icon_2.png" alt="Vendor Product Management"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/vendor_product_management">
                                    Vendor Product Management
                                </a>
                                <p class="mb0">The tool to administrate vendor data about products, prices and available stocks</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            86<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/vendor_portal_management">
                                    <img class="img img-fluid" src="app_icon_3.png" alt="Vendor Products Portal"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/vendor_portal_management">
                                    Vendor Products Portal
                                </a>
                                <p class="mb0">The tool to motivate vendors to prepare product catalog in Odoo</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            186<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/product_stock_balance">
                                    <img class="img img-fluid" src="app_icon_4.png" alt="Stocks by Locations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/product_stock_balance">
                                    Stocks by Locations
                                </a>
                                <p class="mb0">The tool to make inventory data essential and comfortable for elaboration</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            36<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/product_management">
                                    <img class="img img-fluid" src="app_icon_5.png" alt="Product Management Interface"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/product_management">
                                    Product Management Interface
                                </a>
                                <p class="mb0">The tool to search, select and mass update product templates</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                149<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            134<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/variant_price_system">
                                    <img class="img img-fluid" src="app_icon_6.png" alt="Advanced Variant Prices"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/variant_price_system">
                                    Advanced Variant Prices
                                </a>
                                <p class="mb0">The tool to configure variant prices based on attributes coefficients and surpluses</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            96<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    <img class="img img-fluid" src="app_icon_7.png" alt="KnowSystem: Knowledge Base System"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/knowsystem">
                                    KnowSystem: Knowledge Base System
                                </a>
                                <p class="mb0">The tool to build deep and structured knowledge base for internal and external use. Knowledge System. KMS</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            298<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    <img class="img img-fluid" src="app_icon_8.png" alt="Universal Appointments and Time Reservations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/business_appointment">
                                    Universal Appointments and Time Reservations
                                </a>
                                <p class="mb0">The tool for time-based service management from booking appointment to sale and reviews</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                399<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            359<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    <img class="img img-fluid" src="app_icon_9.png" alt="Google Drive Odoo Integration"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/14.0/google_drive_odoo">
                                    Google Drive Odoo Integration
                                </a>
                                <p class="mb0">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            394<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <div style="background-color:#0D6759 !important;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=faOtools" style="color:white !important;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More Apps by faOtools
                </a>
            </div>
        </div>
    
                    </div>
                
            </div>
        </section>
    