.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  background-color: #efefef;
  padding: 35px 0 24px 0;
}
.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid #93999f;
  border-radius: 50%;
  background-color: #93999f;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #000;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: #000;
  border-color: #000;
}
.multisteps-form__form {
  position: relative;
}
.multisteps-form__panel {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.step_contents {
  padding: 30px;
}
.location_box, .services_box {
  border: 2px solid #343a40;
  padding: 10px;
}
.step_contents_body h4 {
  color: #333;
}
.step_contents_body address {
  font-size: 16px;
  color: #333;
  line-height: normal;
}
.select_location_btn {
  top: 0;
  right: 0;
  background-color: #343a40;
  color: #fff !important;
  line-height: 20px;
  padding-bottom: 10px;
  z-index: 123;
}
.appointment_list {
  border: 1px solid #000;
  padding: 12px 5px;
}
.step_contents_body .price_cut {
  text-decoration: line-through;
}
.read_more_btn {
  top: 70px;
  right: 0;
  color: #000;
  line-height: 20px;
  z-index: 123;
}
.read_more_btn .less_text,
.read_more_btn.active .more_text {
  display: none;
}
.read_more_btn.active .less_text {
  display: inline-block;
}
.read_more_btn i {
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.read_more_btn.active i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.read_more_btn:focus {
  outline: none;
  box-shadow: none;
}
.services_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.appointment_main_title {
  color: #fff;
  background-color: #323232;
  padding: 10px;
  text-align: center;
}
.bg_light_grey {
  background-color: #e2e2e2;
}
.appointment_information > .row {
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}
.rounded_avtar_bg {
  background-size:cover !important;
  width:130px;
  height:130px;
}

/* Calendar CSS */
.o_calendar_days .o_day .o_slots_dropdown {
    padding: 8px;
    line-height: 28px;
}
.o_calendar_days .o_day {
    background-color: #343a40;
    color: #FFF;
    cursor: pointer;
}
.o_calendar_days .o_day.dropdown {
    padding: 0px;
}
._slider {
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  padding-top: 3rem;
  height: 450px !important;
}
._slider:hover ._slider_next,
._slider:hover ._slider_prev {
  display: block;
}
._slider_next, ._slider_prev {
  position: absolute;
  top: 51px;
  z-index: 999;
  display: block;
  width: auto;
  height: auto;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  cursor: pointer;
}
._slider_next:hover, ._slider_prev:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
._slider_next {
  right: 0;
}
._slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 0 !important;
}
._slider ul li {
  float: left;
  position: relative;
  display: block;
  width: 540px;
  text-align: center;
}


@media only screen and (max-width: 1199px) {
    .calendar_row .calendar_1 {
        margin:  0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    .calendar_1 ._slider {
        margin-left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .calendar_row .calendar_1 {
        width: 510px;
    }
    ._slider ul li {
        width: 480px !important;
    }
    .slider_next, .slider_prev {
        top: 49px;
    }
}
@media only screen and (max-width: 575px){
    .custom_snippet .row{
        margin-left: 0;
        margin-right: 0;
    }
    .calendar_row ._slider {
        height: 380px !important;
    }
}
@media only screen and (max-width: 480px) {
    .calendar_row .calendar_1 {
        width: 470px;
    }
    ._slider ul li {
        width: 440px !important;
    }
    .input-group-append .fa-plus, .input-group-prepend .fa-minus {
        font-size: 11px;
    }
}

@media only screen and (max-width: 425px) {
    .calendar_row .calendar_1 {
        width: 410px;
    }
    ._slider ul li {
        width: 380px !important;
    }
}

@media only screen and (max-width: 375px) {
    ._slider ul li {
        width: 350px !important;
    }
    ._slider ul li .table th, .table td {
        font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {
    ._slider ul li {
        width: 340px !important;
    }
    ._slider ul li .table th, .table td {
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    .calendar_row ._slider {
        height: 350px !important;
    }
    ._slider ul li {
        width: 300px !important;
    }
    ._slider ul li .table th, .table td {
        font-size: 11px;
        padding: 0.3rem !important;
    }
    ._slider li td .o_slots_dropdown {
        padding: 0 !important;
    }
    ._slider ul li .table th, .table td {
        vertical-align: middle !important;
    }
    ._slider_next, ._slider_prev{
        top: 50px;
        padding: 4px 6px;
    }
}