.o_wslides_body section:nth-child(1).s_banner[data-snippet="s_banner"][data-oe-model="ir.ui.view"] {
    background: #262628 !important;
}

.o_wslides_body .o_wslides_gradient {
	background-image: linear-gradient(120deg, #5f5f5f, #262628) !important;
}