.o_purchase_order_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="button_group_0"]{
                            width: 0% !important;
                        }
                        th[data-name="product_template_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="name"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="agreement_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="tick"]{
                            width: 45px !important;
                            max-width: 45px !important;
                        }
                        th[data-name="date_planned"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="picking_type_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        } 
                        th[data-name="destination_location_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="destination_warehouse_id"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="analytic_tag_ids"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }   
                        th[data-name="discount_method"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="multi_discount"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="destination_location"]{
                            width: 160px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="sh_tender_note"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="product_qty"]{
                            width: 100px !important;
                            max-width: 150px !important;
                        }
                        th[data-name="product_uom"]{
                            width: 120px !important;
                            max-width: 170px !important;
                        }
                        th[data-name="price_unit"]{
                            width: 100px !important;
                            max-width: 150px !important;
                        }
                        th[data-name="taxes_id"]{
                            width: 85px !important;
                            max-width: 85px !important;
                        }
                        th[data-name="last_purchased_price"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="last_customer_purchase_price"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="price_subtotal"]{
                            width: 100px !important;
                            max-width: 150px !important;
                        }    
                        th[data-name="button_group_1"]{
                            width: 0% !important;
                        }                
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}