$font_10: 10px;
$font_13: 13px;
$font_16: 16px;

$font_family_pos: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
$background_pos_image: url(/pos_retail/static/src/imgs/pos_home.svg), linear-gradient(to right bottom, #ffffff, #aaaaaa);

$background: #999999;
$primary_color: #6EC89B;
$secondary_color: #cdd2ec;
$three_color: #eee;
$border_color : #999999;

$base_color: #aaaaaa;
$border-radius:10px;
$border-radius-seachbox: 10px;

$box_shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box_shadow_low: 0 0px 1px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);


div.pos .control-button {
    font-size: 16px !important;
}

div.pos .product {
    height: 200px !important;
    border-radius: 5px !important;
    flex: 0 0 20% !important;
}

div.pos .product .price-tag {
    font-size: 15px !important;
}

div.pos .filter>span {
    white-space: nowrap;
}

div.pos .rightpane {
    height: 100%;
}

div.pos .rightpane-header-extend {
    display: flex !important;
    width: 100% !important;
    justify-content: space-around;
}

div.pos .pos-search-bar .search input {
    height: 42px;
}

div.pos_new_sec_btn button.button {
    padding: 40px 0px !important;
    line-height: 0px!important;
    transition: 0.5s !important;
    max-width: 100% !important;
    width: 90% !important;
    margin: 0 0 1rem 0 !important;
}

div.pos_new_section .show-feature-buttons {
    line-height: 0px!important;
    background: transparent !important;
    color: black;
    transition: 0.3s !important;
    margin:0 !important;
    padding: 27px 0px !important;
    width: 90% !important;
}

.pos_new_section .show-feature-buttons:hover {
    background-color: transparent;
    color: black;
}

.order-container {
    border-bottom: 1px solid black;
    margin: unset !important;
    width: 100% !important;
    overflow: hidden !important;
}

.order-container .order {
    width: unset;
    height: 100% !important;
}

.cart_order_title {
    height: 10%;
}

.cart_order_title span {
    font-size: 32px !important;
}

table.summary-table {
    overflow: hidden !important;
}

div.order-container .summary.clearfix {
    margin: unset !important;
    width: 100%;
    max-width: 100%;
}

div.order-container .order{
    overflow-y: auto;
    overflow-x: hidden;
}

button.order-total-btn {
    margin: 1vw auto;
    width: 75% !important;
}

.summary.clearfix {
    padding: 0 !important;
}

.pos_new_section{
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
}

.pos_new_sec_btn{
    display:flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.pos_new_section .numpad {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    width: 100% !important;
    padding:0 !important;
}

div.pos .numpad button{
    height: 80px !important;
    margin: 5px !important;
    padding: 0 !important;
    // flex: 1 1 25% !important;
}

div.pos .pos-search-bar{
 flex: unset !important;
}

div.pos_new_section .feature-btn-sec{
    margin: unset !important;
    max-width: 100% !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

div.subpads {
    margin-top: auto !important;
    margin-bottom:0px !important;
}

@media (max-height:800px){
    div.pos .numpad button {
    height: 50px !important;
    margin: 5px !important;
        font-size: 1vw !important;
    }
}

div.pos-button-list{
    display: flex !important;
    flex-wrap: wrap !important;
}


div.pos-button-list .control-button:not(.oe_hidden){
    display: flex !important;
    align-items:center !important;
    justify-content:center !important;
    word-break: break-word !important;
}

div.pos .product .product-img{
    width: 100% !important;
}

.ticket-button.orders-header-button{
    position:relative !important;
}
.ticket-button.orders-header-button .with-badge{
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
}

.ticket-button div{
    margin:0 !important;
}

.pos .product-list{
    padding:unset !important;
    display :flex !important;
    justify-content:center !important;
}

div.pos .product .product-line-name, span.price-tag{
    text-align: left !important;
    font-size: 16px !important;
    margin-left: unset !important;
}

@media (max-width: 1200px){
    div.pos .product{
        height: 200px !important; 
        flex: 0 0 29% !important;
    }
}

.order_screen_clear_cart .clear_cart_btn {
    color: transparent !important;
}

.order_screen_clear_cart .clear_cart_btn::before {
    content: "\2716";
    color: white;
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}

div.cart_order_title {
    padding-left: unset;
    padding-right: unset;
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items:center !important;
    flex-wrap: nowrap !important;
}

div.cart_order_title>span {
    margin-left: 22px !important;
    font-size: 26px !important;
}

div.pos .leftpane {
    width: 0 !important;
}

div.cart_order_title span.order_screen_clear_cart {
    margin-right: 17px !important;
}

div.search span {
    top: unset !important;
}

div.pos .pos-search-bar .search {
    align-items: center !important;
}

div.pos .filter {
    max-height: 100% !important;
}

div.pos .product .product-img img {
    min-width: 100% !important;
    min-height: 100% !important;
}

div.pos_new_sec_btn button.button {
    padding: 15px 0px !important;
    line-height: unset !important;
}

div.pos_new_section .add-customer, div.pos_new_section .set-customer {
    height: unset !important;
}

div.pos_new_section {
    max-width: 20% !important;
}

div.pos .green-border-bottom {
    padding: 0 !important; 
}

div.pos .order .orderline .price {
    white-space: nowrap !important;
}

div.pos .rightpane-header {
    justify-content: space-between !important;
    flex-wrap: unset !important;
}

div.prod-price-qty-list{
    margin-top: 4px;
}

div.prod-price-qty-list .ord_qty{
    width: 100%;
    margin-top: 10px;
}

div.pos .quickly-search-customer {
    display: flex !important;
    justify-content: center !important;
    margin: unset !important;
}

div.control-button span:nth-child(2){
 display: none;
}

div.pos .order .orderline.selected{
 border-left: unset !important;
}