.order-display-pager {
    margin-bottom: 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.accordion > .card .card-header {
    margin-bottom: -1px;
    cursor: pointer;
}

.order-display h5.background {
    position: relative;
	z-index: 1; text-align: center; font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.order-display h5 span {
    background:#fff;
    padding: 0 15px;
}

.order-display h5:before {
    border-top: 3px solid #000;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width:85%;
    z-index: -1;
}

#display-order-items{
    width: 50%;
}

#display-order-items th{
    padding:5px;
	/*padding-left: 13px;*/
	vertical-align: middle;
	background-color: #ccc;
	color: #000;
	padding-top:11px;
	padding-bottom:11px;
	font-size: 13px;
	font-weight:bold;
}

#display-order-items th:last-child{
    text-align: center;
}

#display-order-items td{
    padding:5px;
	/*padding-left: 13px;*/
	vertical-align: middle;
	/*background-color: #ccc;*/
	/*color: #000;*/
	padding-top:11px;
	padding-bottom:11px;
	font-size: 13px;
	/*font-weight:bold;*/
}

#display-order-items td:last-child{
    text-align: center;
}

.done{
/*
    display: inline-block;
    padding: 0.375rem 0.75rem;
*/
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}