
ul.o_dropdown_menu .o_search_menu {
  min-width: 300px !important;
  overflow-x: -moz-hidden-unscrollable;
}
.o_search_menu .dropdown-item-text {
  min-width: 300px !important;
}
.o_search_menu .o_input_range  {
  display: flex;
}
.o_search_menu .o_input  {
  min-width: 300px !important;
}
.o_search_menu .o_input1,  .o_search_menu .o_input2 {
  max-width: 150px !important;
}
.o_search_menu .o_input1 div {
  max-width: 150px !important;
}
.o_search_menu .o_input2 div {
  max-width: 150px !important;
}
.o_search_advance_table {
	width:  100%;
	margin-bottom:  1rem;
	background-color:  transparent;
} 
.o_search_advance_table th,  .o_search_advance_table td {
    padding:  0.75rem;
    vertical-align:  top;
}
.o_search_advance_table .o_input  {
  width: 100% !important;
}
.o_search_advance_table .o_input .o_field_widget  {
  width: 100% !important;
}
.o_search_advance_table .o_input_range  {
  display: flex;
}
.o_search_advance_table .o_input1,  .o_search_advance_table .o_input2 {
  width: 50% !important;
}
.o_search_advance_table .o_input1 .o_field_widget,  .o_search_advance_table .o_input2 .o_field_widget {
  width: 100%;
}
.o_search_label_is_set .o_search_label_string {
	font-weight:  700 !important;
}
.o_search_label_is_not_set .o_search_label_string {
	text-decoration: line-through !important;
}
.o_search_menu_advace_dialog .o_input {
	height: max-content;
}
.o_search_menu_advace_dialog .field_row {
  margin-top: 5px;
}