<div style="padding-top: 4%;">
    <h2 class="oe_slogan" style="font-size: 32px;font-weight: 900;margin-bottom:18px;">Review User Access Rights in a Single View !</h2>
    <section class="oe_container ">
        <div class="oe_row oe_spaced">
            <div class="oe_picture">
                <h3 class="oe_slogan" style="font-size: 34px;">Overview</h3>
                <p class="oe_mt32 text-justify text-center" style="text-align: center;font-size: 16px;">
                    This module allows you to see all users access rights in a single view.
                    This is visible for users whose have activated developer mode. And you can categorize users with Tag.
                </p>
            </div>
        </div>
    </section>


    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-1.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-1.png">
                    </a>
                    Added new field tag in the user form to categorize users.
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-7.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-7.png">
                    </a>
                    Filter by User Tag
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-2.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-2.png">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-3.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-3.png">
                    </a>
                    Group By User Tag
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-4.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-4.png">
                    </a>
                    <a href="https://www.odoo.com/documentation/user/14.0/general/developer_mode/activate.html" target="_blank">Activate the Developer Mode</a> to access the menus.
                </div>
            </div>
        </div>
    </section>


    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-5.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-5.png">
                    </a>
                    Here you can select the groups as columns. Your configurations will be saved and that will be default at next time.
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered text-center">
                    <a href="Odoo-Users-Access-Rights-Report-6.png" target="_blank">
                        <img class="oe_picture oe_screenshot" src="Odoo-Users-Access-Rights-Report-6.png">
                    </a>
                    Report view with the selected columns
                </div>
            </div>
        </div>
    </section>


    <p style="display:none">
     Odoo Access Rights Report, Odoo User access Rights, OpenERP access rights report, Odoo Users Categorize
    </p>

    <section class="oe_container oe_dark">
        <h2 class="oe_slogan" style="margin-top:20px;" >Need Support ?</h2>
        <div class="oe_slogan" style="margin-top:10px !important;">
            <div>
                Please contact to <a href="mailto:kreative.odoo@gmail.com">kreative.odoo@gmail.com</a> for support, query and further customizations.
            </div>
            <br>
            <a href="https://apps.odoo.com/apps/browse?repo_maintainer_id=233426" target="_blank">
                <img src="logo-Kreative.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
            </a>
        </div>
    </section>

</div>