.main_content {
    text-align: center;
    position: relative;
    margin: 100px 0px;
}

.btn-feedback {
    height: 55px;
    width: 180px;
    background:#55c18e;
    border:none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}
.btn-feedback h3{
    font-size: x-large;
}

.o_start_feedback {
    font-size: 20px;
    padding: 0px 10px;
    color: white;
}

.question_content {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.answer_content {
    padding: 10px;
    font-size: 1.08333333rem;
    margin-bottom: 10px;
    font-weight: 100;
}

.number {
    font-size: 20px;
}

.feedback_question{
    margin: 10px 90px;
}

.feedback_option {
    margin: 15px 30px;
}

.btn-submit {
    padding: 5px 20px 6px !important;
    font-size: 14px !important;
    background-color: #7c7bad;
    font-weight: bold;
    text-shadow: 1px 1px #7c7bad;
    color: #ffffff;
    border-radius: 25px;
    border: 1px solid #7c7bad;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
    left: 30%;
}

.btn_primary {
    color: #FFFFFF;
    background-color: #007a77;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    width: 70px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    position: relative;
    right: 80%;
}
.rate:not(:checked) > input {
    position:absolute;
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rating {
	font-size: 55px;
	height: 70px;
}
.rating_12:checked + .rating1 {
  font-weight: bold;
}

.rating1:hover:before {
   content: "😠";
   position: absolute;
}
.rating2:hover:before {
   content: "😦";
   position: absolute;
}
.rating3:hover:before {
   content: "😐";
   position: absolute;
}
.rating4:hover:before {
   content: "😀";
   position: absolute;
}
.rating5:hover:before {
   content: "😍";
   position: absolute;
}

.vehical_order_line td,
.vehical_order_line_heading th{
    vertical-align: middle;
}

.btn-disable{
    cursor: not-allowed;
    pointer-events: none;
}
