.search-box{width:70%;max-width:800px;background:rgba(0,0,0,.8);border-radius:30px;margin:0 auto;margin-top:50px;margin-bottom:50px;padding:10px;font-size:16px;color:#fff}
.top-deals{padding:40px 0;background:#ededed}
.top-deals .col-xs-12{font-family:'Roboto',sans-serif;font-weight:700;font-size:40px;line-height:60px;color:#191919}
.top-deals .rline{width:100px;display:block;height:5px;background:#d42316;margin:0 auto;margin-top:20px}
.top-deals .box{background:#4ebab1;padding-bottom:150px;margin:0 auto;max-width:450px;margin-top:40px;-moz-box-shadow:1px 1px 5px #ccc;-webkit-box-shadow:1px 1px 5px #ccc;box-shadow:1px 1px 5px #ccc}
.top-deals .box .box-town-image{background:#4ebab1;width:50%;height:20px;}
.top-deals .box img{height:50%;width:50%;object-fit:cover}
.image{overflow:hidden;position:relative}
.heading-font{color:#fff;font-size:12px;line-height:18px;text-transform:uppercase;margin-top:65px;}
.heading-font{letter-spacing:0 !important}.text-transform{text-transform:uppercase}
.heading-font{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}ul{padding-left:20px}ul li{margin-bottom:8px}ol{padding-left:20px}ol li{margin-bottom:8px}ul.header-menu ul{margin-top:0}ul ol,ol ol,ol ul,ul ul{margin-top:8px}img{max-width:100%;height:auto}a{color:#6c98e1}a:hover{color:#6c98e1}a:focus{color:#6c98e1}a:active{color:#6c98e1}}
.image{overflow:hidden;position:relative}.rmv_txt_drctn:hover .image:before{opacity:1}
.special-offers .title{position:relative;padding:0 130px;margin-bottom:16px;text-align:center;font-weight:700;font-size:36px;line-height:normal;color:#fff}
.listing-car-items-units{margin:0 -15px}.listing-car-items .listing-car-item{padding:10px 15px}
.listing-car-items .listing-car-item .listing-car-item-inner{max-width:350px;width:auto;margin-bottom:30px;}
.listing-car-items .listing-car-item .car-title{margin-top:42px;color:#fff;overflow:hidden;text-transform:uppercase;font-size:13px;line-height:18px;font-weight:700;text-decoration:none;text-align:left}
.listing-car-items .listing-car-item .car-title .colored{color:#cc6119}
.listing-car-items .listing-car-item .price{position:relative;float:right;padding:6px 15px 5px 18px;margin-left:23px;background-color:#6c98e1;text-align:right}
.listing-car-items .listing-car-item .price .regular-price,.listing-car-items .listing-car-item .price .sale-price,
.listing-car-items .listing-car-item .price .normal-price{position:relative;z-index:6}.listing-car-items .listing-car-item .price .regular-price{font-size:13px;line-height:normal;text-decoration:line-through}
.listing-car-items .listing-car-item .price .normal-price,.listing-car-items .listing-car-item .price .sale-price{color:#fff;font-size:16px;line-height:20px;font-weight:700}.car-listing-row 
.listing-car-item-meta .price .normal-price,.car-listing-row 
.listing-car-item-meta .price .sale-price{color:#fff;font-size:16px;line-height:20px;font-weight:700}
.listing-car-items .listing-car-item .price .normal-price{line-height:36px}.listing-car-items .listing-car-item .price:before{position:absolute;content:'';display:block;top:0;left:-14px;height:100%;width:32px;background-color:#6c98e1;-webkit-transform:skew(-18deg,0deg);transform:skew(-18deg,0deg);z-index:5}
.listing-car-items .listing-car-item .listing-car-item-meta{border-radius: 15px;padding:3px 0px 19px 1px;width: 900px;background-color:#373c3f;text-align:left;vertical-align: middle;}
.title{margin-bottom:10px;font-weight:700;text-transform:uppercase;font-size:14px;line-height:10px}
.title{text-transform:uppercase;border-bottom:1px solid #ddd}
.title{font-size:16px;font-weight:400;color:#232628}
.title{position:relative;min-height:42px;text-transform:uppercase}
.car-meta-top{min-height:9px;padding-bottom:9px;border-bottom:1px solid #4e5254}.listing-car-items .listing-car-item
.listing-car-item-meta .car-meta-bottom ul{list-style:none;padding:0;margin:0;border-radius:37px}
.listing-car-items .listing-car-item .listing-car-item-meta .car-meta-bottom ul li{display:inline-block;margin-top:18px;margin-right:27px;margin-bottom:0;color:#c9c9c9;vertical-align:middle;line-height:13px}
.dp-in{display:inline-block;vertical-align:top;max-width:100%}.car-listing-tabs-unit .stm-listing-tabs{margin-top:20px}.car-listing-tabs-unit .car-listing-top-part{position:relative;}.car-listing-tabs-unit .car-listing-top-part:before{position:absolute;content:'';display:block;top:0;bottom:0;left:-2000px;right:-2000px;z-index:-1}
.stm-base-background-color{background-color:#cc6119 !important}.stm-base-color{color:#cc6119 !important}
.stm-image-links .stm-image-link .inner img{filter:grayscale(0%) !important;-webkit-filter:grayscale(0%) !important}img{-webkit-transform:translateZ(0)}.testimonials-carousel .owl-controls{display:none}.testimonial-unit 
.image{margin-right:20px !important}.wpb_column .
.widget_car_location #stm-dealer-gmap{width:100%;height:253px}@media(max-width:440px){}
.vc_custom_1448532088457{margin-bottom: 0px !important;padding-top: 51px !important;padding-bottom: 40px    !important;background-position: 0 0 !important;background-repeat: repeat !important;}
.car-listing-tabs-unit .car-listing-top-part:before {background-color: #232628}
.font-color{font-size:16px;font-weight:400;color:#000000}
.select{max-width:205px;}
.css_quantity {
  max-width: 125px;
}.css_quantity input[name="add_qty"] {
  text-align: center;
}
.kilometer{max-width:70px;}
.search_vehicle{margin-top:8px; padding: 0 7px;}
.scroll_down {
    width: 100%;
    height: 300px;
}


