.table-responsive {
  table {
    tbody {
      .bg-success {
        background-color: theme-color('success');
      }

      .bg-info {
        background-color: theme-color('info');
      }

      .bg-warning {
        background-color: theme-color('warning');
      }

      .bg-danger {
        background-color: theme-color('danger');
      }
    }
  }
}
