.o_stock_per_wh_container {
	display: flex;
	width: 50%;
}

.o_stock_per_warehouse_table {
	width: 100%;
	display: inline-table;
	margin: 10px;
}

.o_form_stock_per_warehouse_label {
	font-weight: bold;
	margin-right: 15px;
}

.o_stock_per_warehouse_input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 4px;
	width: 100%;
}

.o_stock_per_warehouse_input:focus {
	outline: none;
}
.expire_days{
	font-weight: bold;
}