.o_contract_history_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="contract_history"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="contract_category"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="job_reference"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="date_order"]{
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_cost_material_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="product_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="price_unit"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="material_amount_total"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="purchased_qty"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_amt"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_qty"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_amt"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }       
                        th[data-name="budgeted_qty_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="budgeted_amt_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_qty"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_amt"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }    
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_cost_labour_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="product_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="price_unit"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="labour_amount_total"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="purchased_qty"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_amt"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_qty"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_amt"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }          
                        th[data-name="budgeted_qty_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="budgeted_amt_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_qty"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_amt"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }    
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}


.o_cost_subcon_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="product_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="price_unit"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="subcon_amount_total"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="purchased_qty"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_amt"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_qty"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_amt"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }          
                        th[data-name="budgeted_qty_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="budgeted_amt_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_qty"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_amt"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }    
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_cost_overhead_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="product_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="price_unit"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="overhead_amount_total"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="purchased_qty"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_amt"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_qty"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_amt"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }          
                        th[data-name="budgeted_qty_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="budgeted_amt_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_qty"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_amt"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }    
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_cost_equipment_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="product_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="price_unit"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="equipment_amount_total"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        } 
                        th[data-name="purchased_qty"]{
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_qty"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }     
                        th[data-name="billed_amt"]{
                            width: 170px !important;
                            max-width: 170px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_qty"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="reserved_amt"]{
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }        
                        th[data-name="budgeted_qty_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="budgeted_amt_left"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_qty"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }     
                        th[data-name="actual_used_amt"]{
                            width: 190px !important;
                            max-width: 190px !important;
                            text-align: center;
                        }    
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_consumed_material_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="section_name"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="variable_ref"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            min-width: 165px !important;
                            width: 165px !important;
                            max-width: 165px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="quantity"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }       
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_subtasks_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="assigned_to"]{
                            min-width: 110px !important;
                            width: 110px !important;
                            max-width: 110px !important;
                            text-align: center;
                        }
                        th[data-name="assigned_date"]{
                            min-width: 135px !important;
                            width: 135px !important;
                            max-width: 135px !important;
                            text-align: center;
                        }
                        th[data-name="planned_hour"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="actual_hour"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="remaining_hour"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="progress_completion"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_subtasks_wiz {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="name"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                            text-align: center;
                        }
                        th[data-name="assigned_to"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="assigned_date"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="planned_hour"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}