<div class="row" style="margin: 0;position: relative;color: #000;background-position: center;background: #ffffff;border-bottom: 1px solid #e4e4e4;text-align: center; margin: auto; display: flex;justify-content: center;">  <a  href="#"><img src="images/AnyBusiness.png" style=" width: 293px; padding: 1rem 0rem; margin: auto" alt="cybrosys-logo"></a> </div>
<div class="row" style="margin:75px 0;position: relative;color: #000;background-position: center;background: #ffffff;border-bottom: 1px solid #e4e4e4; padding-bottom: 30px;">
   <div class="col-md-7 col-sm-12 col-xs-12" style="padding: 0px">
     <div style=" margin: 0 0 0px;padding: 20px 0 10;font-size: 23px;line-height: 35px;font-weight: 400;color: #000;border-top: 1px solid rgba(255,255,255,0.1);border-bottom: 1px solid rgba(255,255,255,0.11);text-align: left;">
        <h1 align="center" style="font-size: 39px;font-weight: 600;margin: 0px !important;"><span class="oe_slogan" style="color:#ffb717; font-weight: 700;">order Line Description  <br />
        <span style="color:#0782a0;">to Pickings(Shipment/Delivery)</span></span></h1>
       <h3 align="center" style="font-size: 21px;margin-top: 8px;position: relative;"><span class="oe_slogan" style="font-size: 19px;color: gray;">This Module allows user to add product description on delivery and shipment order from sales and purchase and print moves description in picking reports or picking operation report.</h3>
      </div>
      <div class="oe_slogan oe_spaced text-center">
			
			<div align="center"><a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/pLfTKlvIzNo" target="_blank"> Video Tutorial</a></div>
		</div>
  </div>
	
</div>
<div align="center">
  
</div>
<div class="tab-content" id="pills-tabContent"
               style="padding-top: 30px; padding-bottom: 30px; padding: 30px;">
<div class="px-3 pt-1 tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="
                  pills-home-tab">
                 
     <h2 style="font-weight: 600;text-align: center;width: 100%;color:#ffb717;"> Features  </h2>
                  <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
               <ul>
                  <p class="mb8" style="font-family: Roboto;color: #000;list-style-type: square;font-size: 19px;line-height: 50px; background-color: #fff;padding-left: 20px;border-radius: 7px;list-style: none;">
                     <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>
                    Description on the purchase order.<br />
                    Description on the sale order.<br />
                    Works with sales and purchas.<br />
                    print moves description in picking reports or picking operation report</p>
               </ul>
  </div>
               <!-- Screenshot tab-->
               <div>
                  <div>
                     <h2 style="font-weight: 600;text-align: center;width: 100%;color:#ffb717;">Screenshots</h2>
                     <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
                     <div>
                        
                           <div>
                              <div >
                                 <di style="min-height: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 mb16 mt16" style="float: left;">
                                       <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;"> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i>Add product description to order Lines : Go To <b>Sales-->Orders -->Quotations</b> </h3>
                                       <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/1.png"> </div>
                                    </div>
                                </div> 

                                  <div style="min-height: 0px;">
                                    <div style="float: left;">
                                       <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;"> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i><b>Description product added in  of delivery order</b> </h3>
                                       <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/2.png"> </div>
                                    </div>
                                  </div>   

                                  <div style="min-height: 0px;">
                                    <div style="float: left;">
                                       <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;"> <i class="fa fa-check-circle-o" style="width:40px; color:#07B700"></i><b>Description added in Picking Report</b></h3>
                                        <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/3.png"> </div>  
                                        <div style="min-height: 0px;">
                                    <div style="float: left;">
                                       <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;"> <strong>Add product description to order Lines : Go To <b>Purchase-->Orders -->Requests for Quotation</strong></h3>
                                        <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/4.png"> </div>
                                        <div style="float: left;">
                                       <h3 class="alert" style="font-weight:400;color: #091E42;background: #fff;text-align: left;border-radius: 0; font-size: 18px;"> <strong>Description product added in of Receipt order</strong></h3>
                                        <div style=""> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="images/5.png"> </div>
                                      </div>
</div>
   
   
         <!-- Left and right controls --> 
         
      </div>
   
   
            
</div>
<div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
  <div  ></div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12" style=" margin-bottom: 10px; ">
   <div  ></div>
</div>
<div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
   <h2 align="center" style="font-weight: 600;text-align: center;width: 100%;"> Need Any Help? </h2>
   <hr align="center" style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
   <h4 align="center" style="font-size:16px;"> If you have anything to share or to update with us based on your use of this module, please let us know. We are ready to offer our support. </h4>
   <div >
     <h4 align="center"><i class="fa fa-envelope"></i> Email us </h4>
      <p align="center">ratib2@gmail.com</p>
   </div>
         
</div>



   <div class="oe_slogan" style="margin-bottom: 0px;">
      
      
      <div align="center"><img src="images/AnyBusiness.png" style="width: 190px; margin-bottom: 25px;margin-top: 30px;" class="center-block">
        
     </div>
</div>

</div>