.o_purchase_order_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="sale_order_ref"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="project_category"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="job_type"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="contract_amount"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="down_payment"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_1"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_1_date"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        } 
                        th[data-name="retention_2"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_2_date"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="type_ppc"]{
                            width: 300px !important;
                            max-width: 500px !important;
                        }   
                        th[data-name="start_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="end_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }               
                        th[data-name="payment_term"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="status_progress"]{
                            width: 200px !important;
                            max-width: 250px !important;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_project_scope {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 500px !important;
                            width: 500px !important;
                            max-width: 500px !important;
                            text-align: center;
                        }
                        th[data-name="scope_description"]{
                            min-width: 650px !important;
                            width: 650px !important;
                            max-width: 650px !important;
                            text-align: center; 
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_section_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 40px !important;
                            width: 40px !important;
                            max-width: 40px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="project_scope"]{
                            min-width: 350px !important;
                            width: 350px !important;
                            max-width: 350px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 350px !important;
                            width: 350px !important;
                            max-width: 350px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width: 400px !important;
                            text-align: center; 
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_project_stage {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 50px !important;
                            width: 50px !important;
                            max-width: 50px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 600px !important;
                            width: 600px !important;
                            max-width: 600px !important;
                            text-align: center;
                        }
                        th[data-name="stage_weightage"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width: 400px !important;
                            text-align: center; 
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_variable_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            min-width: 165px !important;
                            width: 165px !important;
                            max-width: 165px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        } 
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        } 
                        th[data-name="unit_price"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_variable_subcon {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 30px !important;
                            width: 30px !important;
                            max-width: 30px !important;
                            text-align: center;
                        }
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        } 
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="uom_id"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        } 
                        th[data-name="unit_price"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="subtotal"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }               
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}