.o_monthly_periods_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{ 
                        th[data-name="year"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="month"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="start_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="end_date"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}