
<section class="oe_container">
   <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson"><b>Asset MRO Equipment Maintenance Management App</b></h2>
        <p class="oe_slogan" style="color:blue; font-size: 28px;"><b>Maintenance, Repair, and Overhaul (MRO)</b></p>
        <p class="oe_slogan" style="color:green;  font-size: 28px;"><b>Maintenance, Repair, and Operations (MRO)</b></p>
        <p class="oe_slogan" style="color:red;  font-size: 30px;"><b>MRO Equipment and Maintenance Request Management Odoo</b></p>
        <p class="oe_slogan" style="color:purple;  font-size: 30px;"><b>Material Requisition for Equipment Maintenance Request </b></p>
        <p class="oe_slogan" style="color:blue;  font-size: 30px;"><b>Job Order for Equipment Maintenance Request </b></p>
            <p  style="color:green; font-size:20px;" class="oe_mt32"> <b>This app allows you to create "Material Requisition" and "Job Order / Work Order" from the maintenance request form.</b></p>

            <p  style="color:green; font-size:20px;" class="oe_mt32"><b>It also allows you to configure planning of materials and checklists on equipment form which are going to be used while creating "Maintenance Requests" for Equipment.</p><br>

            <h2  style="color:CRIMSON;">Main Features:</h2>
            <p>
                <ul style="color:olive; font-size:20px;">
                    <li style="color:olive">Allow Equipment/Maintenance Manager to create a checklist(s) in equipment configuration and checklists will be used during maintenance requests and processes.<br/>
                    <li style="color:olive">Allow you to configure materials/items which are going to be consumed during maintenance requests for equipment.<br/>
                    <li style="color:olive">Allow you to configure the checklist(s) which will be used in maintenance requests on the equipment form.<br/>
                    <li style="color:olive">Auto populate checklist(s) and planned material(s) on maintenance request.<br/>
                    <li style="color:olive">Allow you to create a job order from maintenance requests. Please see the <a href="https://apps.odoo.com/apps/modules/14.0/website_job_workorder_request" target="_blank">https://apps.odoo.com/apps/modules/14.0/website_job_workorder_request</a> dependent app for more details.<br/>
                    <li style="color:olive">Allow you to create material requisition requests. For more details about <a href="https://apps.odoo.com/apps/modules/14.0/material_purchase_requisitions" target="_blank">https://apps.odoo.com/apps/modules/14.0/material_purchase_requisitions</a>  dependent app for more details. <br/>
                    <li style="color:olive">Modified Odoo Standard maintenance PDF report to show checklist(s) and planned material(s).<br/>
                    <li style="color:olive">For more details please watch the video and check below screenshots.<br/>
                    <!-- <li style="color:olive;">Old Version Video Link : <a href='https://youtu.be/lxZ8XApXqHg' target="_blank">https://youtu.be/lxZ8XApXqHg</a></li>
                    <li style="color:olive;">New Version Video Link : <a href='https://youtu.be/_igMWOu1haA' target="_blank">https://youtu.be/_igMWOu1haA</a></li> -->
                </ul>
            </p>
   </div>
</section>
<section class="oe_container">
   <div class="row">
          <div class="col-12">
              <center>
                  <p style="font-size:25px; border-width:0px; border-style:solid;background-color: #4BB0A2;width:450px;color:white; " class="px-sm-4 p-2 pt-4">
                        <b>Edition Compatibility:</b>
                  </p><br/>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Enterprise</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Odoo.sh</span>
                  <span class="btn btn-primary fa fa-check-circle" style="width:auto; font-weight:bold; font-size:21px; padding-top:12px; padding-bottom:12px; padding-left:60px; padding-right:60px; border-radius:28px; color:white; border:none;background-color: purple;">    Community</span>
              </center>
              <br/>
       </div>
   </div>
</section>


<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Checklists List Configuration</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="1.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Checklist Form View</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="2.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Equipment Form [Odoo Standard]</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="3.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Equipment Form with Maintenance Plan Materials Tab</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="4.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Equipment Form with Maitenance Checklists Tab</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="5.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>View Maintenance Request from Equipment Form</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="6.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
       <div class="oe_demo oe_screenshot">
           <img src="7.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
    <p style="color:Tomato; font-size:20px;"><b>
When you select equipment on the maintenance request form system will default set all planned materials you have configured on equipment form.
        </p>
       <div class="oe_demo oe_screenshot">
           <img src="8.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request Form with Checklists</b></h2>
<p style="color:Tomato; font-size:20px;"><b>When you select equipment on maintenance request form the system will default set all checklists you have configured on equipment form.
       <div class="oe_demo oe_screenshot">
           <img src="9.1.png">
           <img src="9.2.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request Form with Job Order Create Button</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="10.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
       <div class="oe_demo oe_screenshot">
           <img src="11.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Job Orders Menu</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="001.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Job Orders Kanban View</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="12.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Job Order / Work Order Form View (Sample 1)</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="13.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Job Order / Work Order Form View (Sample 2)</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="003.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request Form with Material Requisition Create Button</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="14.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson"><b>Create Material Requisition List View</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="15.png">
       </div>
   </div>
   <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:crimson"><b>Material Requisition Form View Showng Maitenance Request and Job Order Reference</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="16.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Material Requisition Menu</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="002.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Material Requisitions List view</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="17.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Showing Material Requisition Form View</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="18.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Print Maintenance Request PDF Report</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="19.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:crimson"><b>Maintenance Request PDF Report Sample</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="20.png">
           <img src="21.png">
       </div>
   </div>
</section>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <!--<a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>-->
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 oe_span6">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>
