




<section>
<h2 style="font-family: Montserrat;font-size: 24px;color: #333333;line-height: 39px;text-align: center">Doku payment Gateway</h2>
<br/>
<p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #333333;line-height: 22px;text-align: center">Nurture the untapped potential eCommerce in Indonesia!!

</p>

  <div class="row mt16 mb16 mp-features">


	<div class="col-md-6 mt16 mb16" style="border-right:1px solid #C4C4C4">
      Doku Commerce website Plugin Module lets you integrate the Doku Payment systems feature with your Odoo website. It is a hassle-free and safe to use payment method that lets your customers pay for their purchase conveniently for a better shopping experience.


     </div>

	<div class="col-md-6 mt16 mb16">
      <h5>Information</h5>
	<span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
	<span>User Guide</span>
	<p><a href="https://webkul.com/blog/odoo-doku-payment-acquirer">https://webkul.com/blog/odoo-doku-payment-acquirer</a></p>
     </div>

    <div class="shadow p-3 bg-white rounded" style="background: #FFFFFF;margin-top:2%;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%;">
	<div class="container " style="color:#555555;font-size:16px;">
	 <img src="banner1.png" style="width:inherit"></img>
     </div>
	</div>


 <div class="shadow p-3 bg-white rounded" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%;margin-top:2%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">
    <div class="position-absolute"> <img src= "icon-1.png" style="position:absolute;margin-top:-0.9%;width: 40.14px;height:40.14px;background: rgba(255, 255, 255, 0.7);"></div>
<div style="margin-left:6%;">Why Doku eCommerce?

</div>
     </div>
	</br>
     <div class="container " style="color:#555555;font-size:16px;">
	<p style="font-weight:400;margin-top:16px;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Being one of the first online payment acquirers in Indonesia, it gave a chance to bring out the potential of e-commerce platforms in Indonesia.



<p style="font-weight:400;margin-top:16px;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;"> Odoo Doku Payment Acquirer Module highly simplifies the problems faced by the Indonesian clients/customers while purchasing online from your Odoo website store.

</p>

     </div>
    </div>

    <div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">
      How can you make the most out of this plugin?


     </div>
     <div class="container " style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">A secure and trustworthy payment gateway for Indonesian eCommerce.

</p>
       </li>

       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Customers will save their hard-earned money from cyber-frauds.


</p>
       </li>

       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Get your Odoo store a large number of customer traffic.






</p>
       </li>

       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Redirects to the Doku checkout page while making secure payments


</p>
       </li>

       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Lets you build trust and leads towards more sales.


</p>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">Use Odoo & Instamojo -

     </div>
     <div class="container" style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Doku is one of the first online payment acquirers in Indonesia which is safe and trustworthy.

</p>
       </li>
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">The smooth payment method attracts new users resulting in increased sales

</p>

       </li>
	<li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Generates a sense of security in your valuable customers and helps to retain them


</p>

       </li>
	<li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">It  redirects back to the original website after successful payment.





</p>

       </li>
	<li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Increases customers trust thus, generate more traffic on your Odoo website



</p>

       </li>

      </ul>
     </div>
    </div>
   </div>



<section>
  <h3 style="font-family: Montserrat;font-size: 26px;color: #333333;line-height: 39px;text-align: center">Highlighted-features</h3>


  <div class="row pt-2 pb-2">
    <div class="col-md-4">
      <div style="margin-bottom:10px; margin-top: 10px; background: #FFFFFF; box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);;height:120px;">
        <div class="pl-4 pt-2">
            <img src="icon-solution.png" style=" margin-bottom: 10px; margin-top: 10px;"><br/>
            <p class="justify-content" style="font-size: 16px;color: #333333;line-height: 22px;">Safe and fraud-free payment process on Odoo website
</p>
        </div>
      </div>

    </div>
    <div class="col-md-4" >
      <div style="margin-bottom: 10px; margin-top: 10px; background: #FFFFFF; box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);;height:120px;">
          <div class="pl-4 pt-2">
            <img src="icon-integration.png" style=" margin-bottom: 10px; margin-top: 10px;"><br/>
            <p class="justify-content" style="font-size: 16px;color: #333333;line-height: 22px;">One step integration process of Doku with Odoo
</p>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div style="margin-bottom: 10px; margin-top: 10px; background: #FFFFFF; box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);;height:120px;">
        <div class="pl-4 pt-2">
           <img src="icon-manage.png" style=" margin-bottom: 10px; margin-top: 10px;"><br/>
           <p class="justify-content" style="font-size: 16px;color: #333333;line-height: 22px;">Manages and process all the crucial information
</p>
        </div>
      </div>
    </div>


  </div>



  <div class="row pt-2 pb-2">
    <div class="col-md-4">
      <div style="margin-bottom:10px; margin-top: 10px; background: #FFFFFF; box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);;height:120px;">
            <div class="pl-1 pt-2">
              <img src="icon-5.png" style=" margin-bottom: 10px; margin-top: 10px;"><br/>
              <p class="justify-content" style="font-size: 16px;color: #333333;line-height: 22px;">Redirects to Doku checkout page for secure payments
</p>
            </div>
      </div>

    </div>
    <div class="col-md-4" >
      <div style="margin-bottom: 10px; margin-top: 10px; background: #FFFFFF; box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);;height:120px;">
          <div class="pl-4 pt-2">
            <img src="icon-6.png" style=" margin-bottom: 10px; margin-top: 10px;"><br/>
            <p class="justify-content" style="font-size: 16px;color: #333333;line-height: 22px;">Doku does not reveal the credit card details.
</p>
          </div>
        </div>
    </div>
  </div>
</section>


<div style ="margin:2%;width:98%;">;
<h2 style="font-family: Montserrat;font-size: 24px;color: #333333;line-height: 39px;">Detailed Features List
</h2>
<br/>
<p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #333333;line-height: 22px;">Below is the detailed list of Feature for Odoo Doku Payment Acquirer
</p>
</div>
 <div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">
      Integrate the Doku Method to your Odoo website.

     </div>
     <div class="container " style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Facilitates you to integrate Doku Payment Method for their customers.

</p>
       </li>
       <br/>
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Allows your customers to pay with the secured and safe payment process without any hassle.



</p>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">Configure the payment method easily

     </div>
     <div class="container" style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">You can retrieve the client and the secret key for configuring the payment method




</p>
       </li>
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">The secret key and Client ID is to be added to the module for complete integration of Doku with your Odoo website




</p> </li>
      </ul>
     </div>
    </div>
   </div>


 <div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">
      Supports all major credit and debit cards

     </div>
     <div class="container " style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Doku payment method supports all kind of credit and debit cards



</p>
       </li>

       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">The debit and credit card details are kept safe and shared with anyone.




</p>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">Manage the Commision as per your Requirement
     </div>
     <div class="container" style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">Redirects to the Doku checkout page for secure payment

</p>
       </li>
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">It  redirects back to the original website after successful payment.





</p>

       </li>

      </ul>
     </div>
    </div>
   </div>

<div class="col-md-6 mt16 mb16">
    <div class="" style="background: #FFFFFF;box-shadow: 0px 0px 6px 0  rgba(0, 0, 0, 0.1);padding:4% 4% 1% 4%;height:100%">
     <div class="container" style="color:#333333;font-size:18px;font-weight:bold;">
     Maintain the details of transactions at backend

     </div>
     <div class="container " style="color:#555555;font-size:16px;">
      <ul style="padding:16px;">
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">The module lets you Maintain the details of each transaction at backend.




</p>
       </li>
       <br/>
       <li>
          <p style="font-weight:400;font-family: Montserrat;font-size: 16px;color: #555555;line-height: 22px;">This helps you to keep a track on all the transactions done by your platform.

</p>
       </li>
      </ul>
     </div>
    </div>
   </div>
   </div>

  </div>
</section>

<section class="oe_container">
    <div class="oe_spaced">
        <!--<div class="oe_span12">
            <h2 class="oe_slogan">Odoo website</h2>
        </div>-->
        <div >
            <div class="col-md-12">
            <h4 class="oe_slogan"><b>
                Admin side Payment configuration .</b>
            </h4>
            <a href="1.jpg">
                <img class="img-border img-responsive thumbnail" src="1.jpg" style="width:100%;">
            </a>
            </div>
            <div class="col-md-12">
            <h4 class="oe_slogan"><b>
                View of the Doku payment button in the website.</b>
            </h4>
            <a href="2.jpg">
              <img class="img-border img-responsive thumbnail" src="2.jpg" style="width:100%;">
            </a>

            </div>
            <div class="col-md-12">
            <h4 class="oe_slogan">
                <b>Redirect to Doku gateway .</b>
            </h4>
            <a href="3.jpg">
                <img class="img-border img-responsive thumbnail" src="3.jpg" style="width:100%;">
            </a>

            </div>


            <div class="col-md-12">
            <h4 class="oe_slogan">
                <b>Invoice status in Doku gateway .</b>
            </h4>
            <a href="4.jpg">
                <img class="img-border img-responsive thumbnail" src="4.jpg" style="width:100%;">
            </a>

            </div>

            <div class="col-md-12">
            <h4 class="oe_slogan">
                <b>After completion of Payment  .</b>
            </h4>
            <a href="5.jpg">
                <img class="img-border img-responsive thumbnail" src="5.jpg" style="width:100%;">
            </a>

            </div>


            <div class="col-md-12">
            <h4 class="oe_slogan">
              <b>Status of your payment after redirecting to the website from the gateway.</b>
            </h4>
            <a href="6.jpg">
                <img class="img-border img-responsive thumbnail" src="6.jpg" style="width:100%;">
            </a>

            </div>
        </div>
        <!--<div class="oe_span12">

        </div>-->
    </div>
</section>

<br/><br/>
<section class="oe_container mb32">
    <div class="row mt16 mb16 pb32">
        <div class="container text-center d-none d-xl-block" style="color:#333333;font-size:26px;font-weight:bold;">
            <p>Our Other Apps</p>
        </div>
        <div class=" d-none d-xl-block container text-center" style="color:#555555;font-size:18px;">
            Make your eCommerce Experience more better with our other Apps.
        </div>
        <div class="container ml0 mr0">
            <div class="offset-md-2 col-md-8">
                <div class="row ml0 mr0">
                    <div id="mp_addons_carousel" class="container carousel slide mt64 mb32 d-none d-xl-block" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="min-height: 0px;">
                                <div class="row">
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_membership" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_membership/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Marketplace <br/> Membership
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_advance_barcode_labels" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_advance_barcode_labels/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Advance Barcode <br/> Labels For Product
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_booking_system" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_booking_system/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Booking & Reservation <br/> Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_preorder" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_preorder/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Marketplace <br/> Pre-Order
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_favourite_seller" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_favourite_seller/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Favourite <br/> Seller
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_shipping_per_product" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_shipping_per_product/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Shipping <br/> Per Product
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_hyperlocal_system" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_hyperlocal_system/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Marketplace <br/> Hyperlocal System
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_sms_notification" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_sms_notification/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    SMS <br/> Notifications
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="min-height: 0px;">
                                <div class="row">
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_slider" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_slider/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> Slider
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_daily_deals" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_daily_deals/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Daily Deals <br/> And Flash Sales
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_buyer_seller_communication" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_buyer_seller_communication/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Buyer Seller <br/> Communication
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_advance_commission" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_advance_commission/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Advance <br/> Commission
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_qna_and_faq" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_qna_and_faq/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Marketplace <br/> Q&A & FAQ
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_voucher" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_voucher/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    MarketPlace <br/> Voucher
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_ajax_login" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_ajax_login/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Marketplace <br/> Ajax Login
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_collection_page" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_collection_page/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> collections
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="min-height: 0px;">
                                <div class="row">
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_auction" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_auction/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> Auction
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_blogs" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_blogs/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> Blogs
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_quote_system" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_quote_system/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Quote <br/> System
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_product_size_chart" target="_blank">
                                            <div>
                                                <img class="img img-responsive" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_product_size_chart/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller Product <br/> Size Chart
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_locator" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_locator/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> Locator
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_vacation" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_vacation/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> Vacation
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_product_pack" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_product_pack/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Marketplace <br/> Product Pack
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center col-xs-12 col-sm-3 col-md-3 mb16 mt16" style="float: left;">
                                        <a href="https://apps.odoo.com/apps/modules/13.0/marketplace_seller_badges" target="_blank">
                                            <div>
                                                <img class="img img-responsive" alt="not found" width="100" height="100" style="border-radius: 16px;" src="https://apps.odoocdn.com/apps/assets/13.0/marketplace_seller_badges/icon.png">
                                                <div class="mt8" style="font-size: 16px;color: #333333;text-align: center;line-height: 21px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                    Seller <br/> Badges
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#mp_addons_carousel" data-slide="prev" style="left:-50px;width: 35px;color: #000;">
                            <span class="carousel-control-prev-icon" style="font-size:35px;opacity: 0.2;color:#000000;margin-top: -50px;">
                                    <i class="fa fa-chevron-left" aria-hidden="false"></i>
                                </span>
                        </a>
                        <a class="carousel-control-next" href="#mp_addons_carousel" data-slide="next" style="right:-40px;width: 35px;color: #000;">
                            <span class="carousel-control-next-icon" style="font-size:35px;opacity: 0.2;color:#000000;margin-top: -50px;">
                                    <i class="fa fa-chevron-right" aria-hidden="false"></i>
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Help and Support</h3>
            <p class="mb-2 text-center">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center">
                    <img src="//apps.odoocdn.com/apps/assets/13.0/odoo_marketplace/mail.png?77fdd07" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 pl-0 pr-2">
                    <p class="my-2" style="font-weight:bold;color:#555555;">Write a mail to us:</p>
                    <a style="font-size:18px;" href="mailto:support@webkul.com">support@webkul.com</a>
                    <p class="my-2" style="font-weight: normal;font-size: 14px;color:#777777;">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 col-lg-4 text-center">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px;background-color:#2335D7;font-size:14px;color:#ffffff;"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 text-center">
                    <img src="//apps.odoocdn.com/apps/assets/13.0/odoo_marketplace/support-icon.png?77fdd07" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 pl-0">
                    <p class="my-2" style="font-weight:bold;color:#555555;">Get in touch with our Expert:</p>
                    <a class="text-break" style="font-size:18px;" href="mailto:https://webkul.uvdesk.com/en/customer/create-ticket/">https://webkul.uvdesk.com/en/customer/create-ticket/</a>
                    <p class="my-2" style="font-weight:normal;font-size:14px;color:#777777;">Any technical queries, want extra features, or anything else, our team is ready to answer all your questions, just raise a support ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
<div class="oe_span12">
<!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=PAYMENT-DOKU&url=https://apps.openerp.com/apps/modules/11.0/payment_doku&uid=payment_doku" style="border:0" alt="" />
<!-- End Piwik -->
</div>
</section>
