<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Interest/Penalty on Overdue Invoice Odoo Apps</b>
				<p class="oe_slogan">
					This Odoo apps is helps to calculate daily,monthly or yearly Interest Penalty on Overdue Invoices based on payment term configuration.Payment term is something that accountant emphasis on most , delay payment can cost as late payment fee , so when payment get over due , interest needs to be charges in order to get payment sooner, this odoo module does perfect job this payment over due method , automatically calculate interest on overdue payments this odoo apps apply financial charges on overdue invoices. When your invoice is validated and overdue than everyday/monthly it automatically updates the interest/penalty of invoice based on interest rate assinged on payment terms configuration.calculation of invoice will be done based on invoice due date.
				</p>
			</h2>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/interest_calculation.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Automatic interest calculation. </b></h4>
					  <span class="oe_slogan">User can calculate the interest on invoice based on the payment term(monthly or daily).</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/schedular.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Schedular for automatic calculation.</b></h4>
						<span class="oe_slogan">  Activate schedular for automatic interest calcultion.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/dynamic_interest.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Dynamic interest calculation. </b></h4>
					  <span class="oe_slogan"> User can calculate interest with two configuration i.e., monthly and daily.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/reset.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Reset button in the invoice.</b></h4>
						<span class="oe_slogan">Officer get the facility of reset the interest in the invoice.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Interest/Penalty on Overdue Invoice Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/DhDf16VTlck" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Set Payment Term</p>
			<p class="oe_slogan">This is the details example for monthly payment term.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="monthly_payment.png">
			<p class="oe_slogan">This is the details example for daily payment term.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="daily_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> User with officer rights configuration</p>
			<p class="oe_slogan">This is the user with sales officer rights. User with this rights can reset the details of interest rate.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="office.png">
			<p class="oe_slogan">Montly interest example for the officer</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="monthly_invoice_demo.png">
			<p class="oe_slogan">Daily interest example for the officer</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="daily_invoice_demo.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> User without officer rights configuration </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="demo_own.png">
			<p class="oe_slogan">User with no sale office right will not able to see reset button in the invoice.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="daily_demo_user.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Warnings</p>
			<p class="oe_slogan"> Warning on updating montly invoice twice or more a month.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="warning.png">
			<p class="oe_slogan"> Warning on updating daily invoice twice or more a day.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="daily_warning.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> After validate invoice user can only see update button.</p>
			<p class="oe_slogan"> As the invoice moved to the open state user can only able to see update button,reset button will become invisible.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="after_validate.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Here you can get updated value of interest and amount.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="after_register_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> You can also enable this automatic script for automatic interest updation.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="schedular.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/account_invoice_line_tax/">
					<img class="img img-responsive" src="related/account_invoice_line_tax.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/account_statement/">
					<img class="img img-responsive" src="related/account_statement.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_invoice_tripple_approval/">
					<img class="img img-responsive" src="related/bi_invoice_tripple_approval.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/outstanding_report/">
					<img class="img img-responsive" src="related/outstanding_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_create_single_invoice/">
					<img class="img img-responsive" src="related/bi_create_single_invoice.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_custom_proforma_invoice/">
					<img class="img img-responsive" src="related/bi_custom_proforma_invoice.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/14.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Interest/Penalty on Overdue Invoice Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Interest/Penalty on Overdue Invoice Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>
