<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width:90%">
            <h2 class="oe_slogan">Odoo 14 Product Expiry Alert Dashboard (Community)</h2>
            <h3 class="oe_slogan">This module allows to product alert to going expire.</h3>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <h3>
                Features
            </h3>
            <ul>
                <li style="color:#30054D;font-weight:bold;">This module allow to view all the product that are going to expire by location and warehouse.</li>
                <li style="color:#30054D;font-weight:bold;">you can search the location and warehouse that display all the products for that location or warehouse.</li>
                <li style="color:#30054D;font-weight:bold;">Also allow the show near expiry product graph to select custome date.</li>
                <li style="color:#30054D;font-weight:bold;">Allow to add near expire product blocks with configuration.</li>
                <li style="color:#30054D;font-weight:bold;">Send email of near expire product detail based on configuration.</li>
            </ul>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">In Inventory configuration setting, enable option "Variants", "Lots & Serial Numbers", "Expiration Dates", "Storage Locations" and "Send Mail".</li>
                </ul>
                <img style="max-width: 100%;" src="01_res_inventory_setting.png"/><br/>
                <img style="max-width: 100%;" src="02_res_inventory_setting.png"/><br/>
                
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After Enable all of this setting you need product that have enable lot or serial and mack sure Expiry date boolean is enable and if you want then give default Expiry day and default alert day.</li>
                </ul>
                <img style="max-width: 100%;" src="03_product_setting_lot.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After Configure product setting you need to do "Product Expiry Configuration" give number of day and box color and font color.</li>
                </ul>
                <img style="max-width: 100%;" src="04_expiry_date_configuration.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After configure all data and process if expiry date and alert date is available in lot or serial number it will display like this.</li>
                </ul>
                <img style="max-width: 100%;" src="05_expiry_dashboard_image.png"><br/><br/>
                <img style="max-width: 100%;" src="06_expiry_dashboard_image.png"><br/><br/>
                <img style="max-width: 100%;" src="09_expiry_dashboard_image.png"><br/><br/>
                <img style="max-width: 100%;" src="07_expiry_dashboard_image.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">We add some color of line in tree view like yellow line is alert lot/serial and red line is expired lot/serial.</li>
                </ul>
                <img style="max-width: 100%;" src="08_lot_serial_tree_view.png"><br/><br/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="release_note_container">
        <div class="release_note_details" style="border-bottom: 1px solid #c4c4c4;padding-top: 5px;">
            <div class="release_note_header" style="background: #c4c4c4;height: 47px;line-height: 20px;padding: 5px;border-radius: 3px;font-weight: bold;">
                <span>Release Update - Aug 2, 2021</span>
                <br/>
                <span>Version - 14.0.1.0.0</span>
            </div>
            <div class="release_note_body">
                <ul>
                    <li>Initial Release</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #1f567d;width: 49%;float: left;height: 160px;border-radius: 10px;">
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12" style="width:100%">
               <h3 class="text-center" style="color:#FFFFFF; font-size:18px;text-align: left !important;"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
    <div class="oe_row" style="background-color: #1f567d; width: 49%;float: right;height: 160px;border-radius: 10px;">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12" style="width:100%">
                <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
            </div>
            <span style="padding:0 15px; float:left;width:100%;">
                <a style="color: #FFFFFF;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Website:</b> https://acespritech.com/</a>
                <a style="color: #FFFFFF;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Blog:</b> https://acespritech.com/blog/ </a><br/>
                <a href="mailto:info@acespritech.com" style="color: #FFFFFF;font-weight:bold;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Email:</b> info@acespritech.com</a>
                <a style="color: #FFFFFF;font-weight:bold;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Skype: </b>acespritech</a><br/>
            </span>
        </div>
    </div>
</section>
