<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-12">
            <div class="oe_slogan">
                <h2 class="oe_slogan">Purchase Dashboard</h2>
                <div>
                    User-friendly, detailed and flexible dashboard for the purchase module
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>Key Features:</h4>
            <ul>
                <li>
                    <i class="fa fa-check-circle"></i>
                    Purchase dashboard by users, vendors and products
                </li>
                <li>
                    <i class="fa fa-check-circle"></i>
                    Each dashboard line is clickable and associated orders are opened
                </li>
                <li>
                    <i class="fa fa-check-circle"></i>
                    Dashboard results are grouped by year
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Purchase Dashboard by Users:</h3>
            <p>
                <img class="oe_screenshot" src="dashboard_by_users.png" alt="PO Dashboard by Users" width="100%"/>
            </p>
            <hr>

            <h3>Purchase Dashboard by Vendors:</h3>
            <p>
                <img class="oe_screenshot" src="dashboard_by_vendors.png" alt="PO Dashboard by Vendors" width="100%"/>
            </p>
            <hr>

            <h3>Purchase Dashboard by Products:</h3>
            <p>
                <img class="oe_screenshot" src="dashboard_by_products.png" alt="PO Dashboard by Products" width="100%"/>
            </p>
            <hr>
            <p>
                Also dashboard statistics results are grouped by year.
                You can switch years and dashboard types using buttons.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-12 oe_spaced">
            <p>
                If you want to implement flexible multi-level approval process for your purchase orders
                please look that module:
                <a href="https://apps.odoo.com/apps/modules/14.0/purchase_approval_route/">
                    PO Flexible Approval Process
                </a>
            </p>
        </div>
    </div>

    <!-- Contacts -->
    <div class="row">
        <div class="col-12 oe_spaced">
            <div class="oe_slogan text-center">
                Contact me for Support, Customization, Implementation:<br/>
                Email: <a href="mailto:odoo@xfanis.dev">odoo@xfanis.dev</a><br/>
                Telegram: <a href="https://t.me/xfanis">https://t.me/xfanis</a>
            </div>
        </div>
    </div>
</div>