

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
    	<div class="row">
	        <div class="sh_span12 col-12" style="padding: 40px">
	            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>Global Custom Fields</b></center>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
	            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Currently, in odoo, you can't create dynamic custom fields and tabs. This module is useful to create and add a dynamic field & dynamic tab in any form view without any technical knowledge. 
</p> 
	        </div> 
        </div>
    </div>   
</section>






<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
  <div class="container">
    <div class="sh_spaced">

      <h2 align="center">
        <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/RN8oRhrrYvw" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? click here to watch video</a>
      </h2>
    <h2 align="center">
        <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/fChp98Ypwd4" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>Global Custom Fields - Custom Tab video</a>
      </h2>
     

      </div>
        </div>
</section>


<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
	<div class="container">
		<div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
           <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                        <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can delete the mass custom fields from a list view. <span class="badge badge-danger" style="background-color: #f44336 !important;
padding: 5px 14px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span>

                    </p>
<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
This module fluently work with multiple company.



</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to add global custom tabs and fields in any Form View.

</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
 Easy to specify the position of fields & tabs.


</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
 Easy to update any fields & tabs from the "Update" button.
</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can filter custom fields & tabs from <b> Required Fields, Copied Fields, Char Fields, Boolean Fields, Binary Fields, Float Fields, Date Fields, DateTime Fields, Integer Fields, Many2One Fields, Selection Fields, Many2Many Fields, HTML Fields & Text Fields. </b> 


</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can group by custom fields & tabs from <b> Model & Field Type. </b> 

</p>

<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
You can easily add custom filters/groups of custom fields/tabs.
</p>



	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 No special configuration required, install it, use it.

			</p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 This module saves your important time.

			</p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

It reduces human efforts.

			</p>


      
			</div>
        </div>
    </div>
    </div>
</section>


<!-- version -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">
        <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;"> 
  <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                    v14.0.3 (15<sup>th</sup> May 2021)
                    <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                        <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right" style="color: #1678b9;"></i>
                            <span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Multi-Action For Delete Custom Fields
                        </li>
                    </ul>
<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

              v14.0.2 (25<sup>th</sup> December 2020)
              

<ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
<span class="badge badge-info" style="background: #2196F3;
padding: 5px 15px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Fixed</span> Minor Bug Fixed.
</li>

                </ul>
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

            	v14.0.1 (10<sup>th</sup> October 2020)
            	

<ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
	            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
Initial Release.
</li>

                </ul>

			</div>
			</div>
			</div>
        </div>
</section>
<h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.3</b>
            </h2>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
          <center>Select custom fields from the list view and delete using action.</center>

        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div  style="margin:5px auto;">
            <center><img class="img-responsive" src="n.png"></center>
        </div>
    </div>
</section>
<h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 14.0.1</b>
            </h2>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">

 User setting: Tick 'Global Custom Field' option.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div  style="margin:5px auto;;">
            <img src="1.png" style="width:100%;">
        </div>
    </div>
</section>

      <section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
           Go to action and select the "create custom field" option for create global custom fields and select the "create custom tab" option for create global custom tabs.


      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="2.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         

 Assign Field Id, Label, Type, Position Field Name, Tab List, Position, Field Help, Set Required or not, field copy or not, and Set Field Access Rights group-wise into Pop Up and click on "Create Field" button. 
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="3.png" style="width:100%;">
      </div>
   </div>
</section>

<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
      
You can set tab name, label, groups, tab, and position and click 'Create Tab'.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="4.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
      
You can update fields & tabs from the "Update" button.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="5.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         You can update "Required or not, field copy or not" option when you update field & tab.


      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="6.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         
 You can filter custom fields & tabs using any of the provided custom filter list.


      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="7.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         
You can group by custom fields & tabs using any of the provided custom group by list.

      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="8.png" style="width:100%;">
      </div>
   </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
         

You can see custom fields & custom tabs from the menu.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div  style="margin:5px auto;">
         <img src="9.png" style="width:100%;">
      </div>
   </div>
</section>
       
<!--Multi Language -->
<section id="sh_multi_language" style="margin: 50px 0;">
<div class="container">
<div class="sh_center text-center">
<h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">Multi-Languages</h4>
<hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />

We have added predefined some languages(English, German / Deutsch, Arabic, Spanish / Español) in module, If you want to add other language you can contact us on <a href="mailto:support@softhealer.com">support@softhealer.com</a>. We use google translator tools for multi-languages so possible translations can be not accurate. we accept suggest to make more accurate translations also on <a href="mailto:support@softhealer.com">support@softhealer.com</a>.
<br/><br/>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="img" style="text-align: center;">
<img src="eng.png" title="English" alt="english" style="object-fit: cover;margin: 10px 10px;" />
<img src="german.png" title="Germany" alt="germany" style="object-fit: cover;margin: 10px 10px;" />
<img src="aarab.png" title="Arab" alt="arab" style="object-fit: cover;margin: 10px 10px;" />
<img src="spanish.jpg" title="Spanish" alt="spanish" style="object-fit: cover;margin: 10px 10px;" />
</div>
</div>
</div>
</div>
</section>

<!--you may also like-->

<section class="oe_container oe_dark" style="background: #efefef00;">
<div class="oe_row oe_spaced">
<h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px; margin-bottom: 10px;"/>
<div class="row">
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_contract_custom_fields/">
<img src="image1.png" alt="Contract Custom Fields
" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_crm_custom_fields/">
<img src="image2.png" alt="CRM Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_mrp_custom_fields/">
<img src="mrp.png" alt="MRP Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_dynamic_product_fields/">
<img src="image3.png" alt="Products Custom Fields - Website Sale" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_product_custom_fields/">
<img src="image4.png" alt="Product Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_project_custom_fields/">
<img src="image5.png" alt="Project Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_partner_custom_fields/">
<img src="image6.png" alt="Partner Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_employee_custom_fields/">
<img src="image7.png" alt="Employee Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_purchase_order_custom_fields/">
<img src="image8.png" alt="Purchase Order Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_sale_order_custom_fields/">
<img src="image9.png" alt="Sale Order Custom Fields" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_task_custom_fields/">
<img src="image10.png" alt="Task Custom Fields" width="100%">
</a>

</div>

</div>
</div>
</section>
<br>
<section class="oe_container oe_dark">
<div class="oe_row oe_spaced">
<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
<h3 class="oe_slogan">You will get free support for 90 days and assistance in case of any issues

</h3>
<br/>
<div class="text-center">
<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>

</div>
</div>
</section>
