<section style="padding: 20px 6%;margin: 20px 0;">
   <h2 class="text-center">
      <font>
         <p class="text-primary text-center">
            <h2>
               <b style="color: rebeccapurple;">
                  Odoo Xendit Integration
               </b>
            </h2>
         </p>
      </font>
   </h2>
</section>
<section style="padding: 20px 6%;margin: 20px 0;">
   <div class="" style="margin-left:20px;">
      <h3>
         <font color='#00695C'>Highlighted Features
      </h3>
   </div>
   <div class="row">
      <div class="col-lg-4 mt-4">
         <div class="px-3 pt-3 my-2 d-flex align-itmes-center"
            style="background-color:#fff; border:1px solid #d5d5d5; border-radius:5px">
            <i class="fa fa-check-circle mt-1 mr-2 deep-1" style="color:#27ae60; font-size:1.3rem"></i>
            <p class="mb-2" style="color:#102e42; font-weight:500;">Integration online payment with xendit</p>
         </div>
      </div>
      <div class="col-lg-4 mt-4">
         <div class="px-3 pt-3 my-2 d-flex align-itmes-center"
            style="background-color:#fff; border:1px solid #d5d5d5; border-radius:5px">
            <i class="fa fa-check-circle mt-1 mr-2 deep-1" style="color:#27ae60; font-size:1.3rem"></i>
            <p class="mb-2" style="color:#102e42; font-weight:500;">Automatic generate invoice</p>
         </div>
      </div>
      <div class="col-lg-4 mt-4">
         <div class="px-3 pt-3 my-2 d-flex align-itmes-center"
            style="background-color:#fff; border:1px solid #d5d5d5; border-radius:5px">
            <i class="fa fa-check-circle mt-1 mr-2 deep-1" style="color:#27ae60; font-size:1.3rem"></i>
            <p class="mb-2" style="color:#102e42; font-weight:500;">Automatic Reconcile payment</p>
         </div>
      </div>
   </div>
</section>
<section style="padding: 20px 6%;margin: 20px 0;">
   <div class="" style="margin-left:20px;">
      <h3>
         <font color='#00695C'>Accept Payment
      </h3>
   </div>
   <div class="row mt-5">
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/bca-logo.svg" style="display:block;margin: auto;" alt="BCA">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/bri-logo.svg" style="display:block;margin: auto;" alt="BRI">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/bni-logo.svg" style="display:block;margin: auto;" alt="BNI">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/mandiri-logo.svg" style="display:block;margin: auto;"
            alt="MANDIRI">
      </div>
   </div>
   <div class="row mt-5">
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/permata-logo.svg" style="display:block;margin: auto;"
            alt="PERMATA">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/bss-logo.png" style="display:block;margin: auto;" alt="BSS"
            width='127px'>
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/ovo-logo.svg" style="display:block;margin: auto;" alt="OVO">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/shopeepay-logo.svg" style="display:block;margin: auto;"
            alt="SHOPEE">
      </div>
   </div>
   <div class="row mt-5">
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/card-brands-logos/VISA-settings.svg"
            style="display:block;margin: auto;" alt="VISA">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/card-brands-logos/MASTERCARD-settings.svg"
            style="display:block;margin: auto;" alt="MASTER CARD">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/card-brands-logos/JCB-settings.svg"
            style="display:block;margin: auto;" alt="JCB">
      </div>
      <div class="col-3 flex-column justify-content-center align-item-center">
         <img src="https://dashboard.xendit.co/images/qris-logo.svg" style="display:block;margin: auto;" alt="JCB">
      </div>
   </div>
</section>
<section style="padding: 20px 6%;margin: 20px 0;">
   <div class="" style="margin-left:20px;">
      <h3>
         <font color='#00695C'>Requirements
      </h3>
   </div>
   <ul>
      <li>Must have an account in Xendit <a target="blank" href="https://dashboard.xendit.co/register/1">Register
            Here</a></li>
      <li>login to xendit <a target="blank" href="https://dashboard.xendit.co/login">Login Here</a> and go to Setting ->
         API Keys</li>
      <li>If there is no existing Secret Key yet, click on Generate secret key. Enable 'write' access</li>
      <li>Set Callback URL for 'Invoices paid' as below. for example: https://yourcompany.com/xendit/invoice/paid</li>
   </ul>
</section>

<section style="padding: 20px 6%;margin: 20px 0;">
   <div class="" style="margin-left:20px;">
      <h3>
         <font color='#00695C'>Screenshot module
      </h3>
   </div>
   <div class="row mt-5">
      <div class="col-6 flex-column justify-content-center align-item-center">
         <img src="Xendit-Odoo.png" style="display:block;margin: auto;" width="400" alt="payment aquired settings">
      </div>
      <div class="col-6 flex-column justify-content-center align-item-center">
         <img src="Shop-Select-Payment-Acquirer-My-Website.png" style="display:block;margin: auto;" width="400"
            alt="payment aquired settings">
      </div>
   </div>
   <div class="row mt-5">
      <div class="col-6 flex-column justify-content-center align-item-center">
         <img src="Shop-Confirmed-My-Website.png" style="display:block;margin: auto;" width="400"
            alt="payment aquired settings">
      </div>
      <div class="col-6 flex-column justify-content-center align-item-center">
         <img src="INV-2021-0005-Odoo.png" style="display:block;margin: auto;" width="400"
            alt="payment aquired settings">
      </div>
   </div>
</section>
<section class="row" style="padding: 2rem 3rem 1rem;margin:0px">
   <h2 style="font-weight: 600;margin-bottom: 20px;text-align: center;width: 100%;">Our Service</h2>
   <hr
      style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid rebeccapurple;width: 5%;">
   <div class="row" style=" display: flex; justify-content: center; flex-wrap: wrap;width: 100%; ">
      <!-- <div style="display:flex;padding-top: 20px;justify-content: space-between;"> -->
      <div class="col-md-2 col-sm-6 col-xs-12">
         <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
            <img src="odoo-customization.png" style="width: 100%;border-radius: 100%;" /></div>
         <h3 class="oe_slogan"
            style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
            <a href="https://witechenterprise.com/" target="_blank"
               style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Customization </a>
         </h3>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
         <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://witechenterprise.com/" target="_blank"> <img src="odoo-erp-implementation.png"
                  style="width: 100%;border-radius: 100%;" /> </a></div>
         <h3 class="oe_slogan"
            style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
            <a href="https://witechenterprise.com/" target="_blank"
               style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Implementation </a>
         </h3>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
         <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://witechenterprise.com/" target="_blank"> <img src="odoo-erp-integration.png"
                  style="width: 100%;border-radius: 100%;" /> </a></div>
         <h3 class="oe_slogan"
            style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
            <a href="https://witechenterprise.com/" target="_blank"
               style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Integration </a>
         </h3>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
         <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://witechenterprise.com/" target="_blank"> <img src="odoo-erp-support.png"
                  style="width: 100%;border-radius: 100%;" /> </a></div>
         <h3 class="oe_slogan"
            style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
            <a href="https://witechenterprise.com/" target="_blank"
               style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Odoo Support</a>
         </h3>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
         <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;"><a
               href="https://witechenterprise.com/" target="_blank"> <img src="hire-odoo-developer.png"
                  style="width: 100%;border-radius: 100%;" /> </a></div>
         <h3 class="oe_slogan"
            style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
            <a href="https://witechenterprise.com/" target="_blank"
               style="list-style: none; color:#000; text-decoration: none; font-family: 'Montserrat',sans-serif;">
               Hire Odoo Developers</a>
         </h3>
         </a>
      </div>
      <!-- </div> -->
   </div>
</section>

<section class="oe_container" style="padding: 0% 0% 6% 0%;">
   <center>
      <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
         <h2 style="font-weight: 600;text-align: center;width: 100%;">Need Any Help?</h2>
         <hr
            style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
         <h4 style="font-size:16px;"> If you have anything to share with us based on your use of this module, please
            let us know. We are ready to offer our support.
         </h4>
         <div class="col-md-6" style="float:left; padding:20px;">
            <h4><i class="fa fa-envelope"></i>Email us </h4>
            <p>care@kltech-intl.technology</p>
         </div>
         <div class="col-md-6" style="float:left; padding:20px;">
            <h4><i class="fa fa-phone"></i> Contact Us </h4>
            <a href="https://kltech-intl.odoo.com/contactus" target="_blank"> kltech-intl.odoo.com</a>
         </div>
      </div>
   </center>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
      <div class="oe_span12">
         <div class="oe_slogan" style="margin-bottom: 0px;">
            <div style=" display: flex; justify-content: center; flex-wrap: wrap; ">
            </div>
            <br>
            <div style=" display: flex; justify-content: center; flex-wrap: wrap; "><a
                  href="https://twitter.com/ceokelvin12" target="_blank"><i class="fa fa-2x fa-twitter"
                     style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>

               <a href="https://www.linkedin.com/in/kelvin-leonardi-23a5a4174/" target="_blank"><i
                     class="fa fa-2x fa-linkedin"
                     style="color:white;background: #31a3d6;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>

               <a href="https://www.facebook.com/kelvin.leonardi.3" target="_blank"><i class="fa fa-2x fa-facebook"
                     style="color:white;background: #3b5998;width:35px;  height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a>

            </div>
         </div>
      </div>
   </div>
</section>