<section class="oe_container">
    <div class="oe_row oe_spaced" >
        <div class="oe_span12">
            <h2 class="oe_slogan"> Boost Odoo (Make odoo run faster) </h2>
            <h3 class="oe_slogan">Speed up odoo. </h3>
            <div class="oe_row">
                <h3>Lastest update: v14.019.11.26</h3>
                <div class="oe_span12">
                    <img class="oe_demo  oe_screenshot"  style="max-height: 100%;" src="banner.png">
                </div>
                <div class="oe_span12 oe_spaced">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                1. Disable / Enable odoo subscribe / mail notify / follow
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                2. Disable / Enable odoo Discuss.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                3. Disable / Enable odoo poll / polling. Speed up Especially in Windows Development.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                4. Multi-language Support.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                5. Multi-Company Support.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                6. Support Odoo 14, 13,12, Enterprise and Community Edition.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">Easy to set odoo boost option.</h1>
        <h4 class="oe_slogan"> </h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo1.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">1. Disable / Enable odoo subscribe / mail notify / follow</h1>
        <h4 class="oe_slogan"> when Disable subscribe, no need to follow operate.</h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo2.jpg"/>
        </div>
        <h4 class="oe_slogan"> No notify mail.</h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo3.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">2. Disable / Enable odoo Discuss.</h1>
        <h4 class="oe_slogan"></h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo4.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">3. Disable / Enable odoo poll / polling. </h1>
        <h4 class="oe_slogan">Disable polling would faster odoo. Speed up Especially in Windows Development.</h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="demo5.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger text-center">Multi-language Support..</h1>
        <h4 class="oe_slogan"> </h4>
        <div class="oe_demo  oe_screenshot">
            <img  src="cnreadme.jpg"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883 (App user would not get QQ or any other IM support. Only for odoo project customize.)</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <h4>
                Visit our website for more support.</h4>
<h4>https://www.sunpop.cn</h4>
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced text-center">
        <h1>More Powerful addons, Make your odoo very easy to use, easy customize:
            <a class="btn btn-primary mb16" href="http://www.odoo.com/apps/modules/browse?author=Sunpop.cn">Supop.cn Odoo Addons</a>
        </h1>
    </div>
</section>

