<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 95%;">
        <div class="oe_span12">
            <h2 class="oe_slogan">App Stock Location Kanban with Move In and Out</h2>
            <div class="" style=" margin: 30px auto 0; padding: 0 15px 0 0; border:none; width: 96%;">
                <p>This moduld allows user to get more stock report. </p>
                <h3>Lastest update: v12.19.1.6</h3>
                <div class="oe_span12 oe_spaced">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                1. Add kanban view for stock location.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                2. Quick access to current stock product stock dashboard.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                3. Quick access stock move in stock location.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o text-primary"></i>
                                4. Add location group by type,Corridor (X),Shelves (Y),Height (Z)
                            </li>
                        </ul>
                    </div>
                </div>
                <h1>
                </h1>
                <p></p>
            </div>

            <div class="oe_demo oe_screenshot">
                <img src="cnreadme.jpg" style="border:1px solid black"/>
                <p></p>
            </div>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 95%;">
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Quick access stock move in stock dashboard/location, Stock In/Out Qty of certain Location, You can specified time period.</h2>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="demo.jpg" style="border:1px solid black"/>
            <p></p>
            <h2 class='oe_mt32'>UI enhance.</h2>
            <img src="demo21.jpg" style="border:1px solid black"/>
            <p></p>
            <h2 class='oe_mt32'>Easy group by.</h2>
            <img src="demo22.jpg" style="border:1px solid black"/>
            <p></p>
            <h2 class='oe_mt32'>Multi language support.</h2>
            <img src="demo23.jpg" style="border:1px solid black"/>
            <p></p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us
                </h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883
                </h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <p><h4>
                Visit our website for more support.
                </h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="https://www.hashmicro.com" target="_blank"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-web"></i>https://www.hashmicro.com</a>
            </div>
        </div>
    </div>
</section>

