<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width:90%">
            <h2 class="oe_slogan">Odoo 14 Vehicle Rental System (Community)</h2>
            <h3 class="oe_slogan">Vehicle Rental System Provides a services like Take the Vehicle on Rent.</h3><br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
                <h3>
                    Features
                </h3>
            </div>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Register Vehicle</li>
                <li style="color:#30054D;font-weight:bold;">Inquiry Vehicle</li>
                <li style="color:#30054D;font-weight:bold;">Book Vehicle</li>
                <li style="color:#30054D;font-weight:bold;">Contract between Agency and Customer</li>
                <li style="color:#30054D;font-weight:bold;">Auto-station Management</li>
                <li style="color:#30054D;font-weight:bold;">Vehicle Movement (Auto-station Wise)</li>
                <li style="color:#30054D;font-weight:bold;">Recurring Invoice</li>
                <li style="color:#30054D;font-weight:bold;">Inspection</li>
                <li style="color:#30054D;font-weight:bold;">Book Vehicle from Website</li>
            </ul>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Model make of Vehicle, You can configure the Model of Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_2_vehicle_make_model.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Vehicles Model, You can configure the Vehicle Model by Selecting the Appropriate value.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_1_vehicle_model.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Vehicle Class Type, You can configure the Class type of your Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_4_vehicle_class_type.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Vehicle Type, You can configure the type of Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_3_vehicle_type.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Auto Station, You can define Auto Station.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_6_auto_station.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Operations Type, You can configure the different Type of Opertaions.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_5_operation_type.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Tools, You can Configure the tools which are required in Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_7_tools.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Exterior, You can define Exterior part of Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_8_exterior.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Interio, You can define Interior part of Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_9_interior.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Configuration -> Mechanical, You can define Mechanical part of Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_10_mechanical.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Vehicle -> Vehicles, You can Register the Vehicles by Selecting the Appropriate Option like Vehicle Type, Fuel Type, Auto Station, Rate per Day , Rate per KM etc.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_11_register_vehicle.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Vehicle -> Quick Search, You can Search the vehicle by Enter the Appropriate value.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_12_search_vehicle.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After Selecting the Value click on Search button to Search the Vehicle.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_12_search_button_vehicle.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When you Click on Search button It will give the list of available Vehicles between those dates and as per the given parameters.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_13_result_vehicle.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After Selecting the Vehicle from the List of Vehicles Click on Create button, When you click on Create button it will create the retnal order of the vehicle which you Select.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_14_create_rental_order.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After Create the rental order, click on Confirm button to Confirm the Rental Order.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_15_confirm_rental_order.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When you click on Confirm button, Contract of your Rental Order will create.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_16_rental_contract.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into the Contract there is the feature of Electric Signature, When you click on Customer Signature and Contractor Signature button, one popup will be open and then you can do your signature and when you click on Save button, signature will be save.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_17_rental_contract_signature.png"><br/><br/>
                <img style="max-width: 100%;" src="odoo14_18_rental_contract_signature_save.png">
                <img style="max-width: 100%;" src="odoo14_19_rental_contract_signature_save_cust_contract.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When you click on Close Contract button then contract will close, when you click on Send Contract by Email then the Email should go to the Customer With Contract(PDF).</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_20_rental_contract_cancel_invoice_mail.png">
                <img style="max-width: 100%;" src="odoo14_24_rental_contract_send_by_email.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Cancellation Policy is also available in contract, Enter the number of slot that you want to devide the Cancellation charge, After then click on Generate Policy button.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_21_rental_contract_cancellation_policy.png">
                <img style="max-width: 100%;" src="odoo14_22_rental_contract_cancellation_policy_enntry.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When you click on Create Invoice button, Invoice of your Contract will be create.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_20_rental_contract_cancel_invoice_mail.png">
                <img style="max-width: 100%;" src="odoo14_23_rental_contract_invoice.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Now go into the Vehicle Rental -> Dashboard, You will see the Rental Order Which you need to deliver to the Customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_25_rental_contract_move_1_on_rent.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Now Click on Deliveries of Car button into the Dashboard then you can see the list of Vehicle which you need to deliver to the customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_26_rental_contract_move_1_on_rent_tree.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Select the Vehicle and check the Fuel Level into the Vehicle then click on Delivery button to deliver the Vehicle to the Customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_27_rental_contract_move_1_on_deliver_car.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After Deliver the vehicle when it comes from Customer than click on Incoming Cars button, when you click on Incoming Cars, it will display the list of Cars which will come from Customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_28_rental_contract_move_2_return_from_customer.png">
                <img style="max-width: 100%;" src="odoo14_47_vehicle_move_2_tree.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When vehicle come from Customer click on Receive button.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_29_rental_contract_move_2_receive_vehicle.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After that click on Inspection Create button to inspect the Vehicle if it has any damage or missing part.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_30_rental_contract_move_2_inspection_create.png">
                <img style="max-width: 100%;" src="odoo14_31_rental_contract_move_2_inspection_create_tree.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After that make the Inspection of all the parts like tools, mechanical, exteriors, interiors etc, if any parts are not available then you can apply the charge of that parts, and then click on Create Invoice button to create the invoice of the Missing Parts.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_32_rental_contract_move_2_inspection_tools.png">
                <img style="max-width: 100%;" src="odoo14_33_rental_contract_move_2_inspection_exterior.png">
                <img style="max-width: 100%;" src="odoo14_34_rental_contract_move_2_inspection_interior.png">
                <img style="max-width: 100%;" src="odoo14_35_rental_contract_move_2_inspection_mechanical.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When Inspection will done click on Mark as Done button.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_36_rental_contract_move_2_inspection_mark_as_done.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">When Inspection will done vehicle will come into the Internal Moves.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_37_rental_contract_move_3.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After that click on Move to Parking button to make the vehicle Available for other Customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_38_rental_contract_move_3_move_to_parking.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Vehicle -> Rental Order, you can see all the Rental Order.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_39_all_rental_order.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">You can also book the vehicle from the Calendar view, Drag on the calendar view when you want to book the vehicle then fill the option by appropriate value after that click on confirm button to make the rental order and Contract will also create.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_55_calendar_view.png">
                <img style="max-width: 100%;" src="odoo14_56_calendar_cretae_rental_view.png">
                <img style="max-width: 100%;" src="odoo14_57_calendar_rental_view.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Vehicle -> Vehicle Contracts, you can see all the Vehicle Contract.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_40_all_rental_order_contract.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Analysis -> Rental Orders, you can see the Graph view and Pivot view of rental order of all the customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_41_all_rental_order_graph_view.png">
                <img style="max-width: 100%;" src="odoo14_44_rental_log_pivot_view.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Analysis -> Inspections, you can see the Graph view and Pivot view of Inspection.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_42_inspection_graph_view.png">
                <img style="max-width: 100%;" src="odoo14_45_inspection_log_1_pivot_view.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Vehicle Rental -> Analysis -> Vehicles Log, you can see the Graph view and Pivot view of Vehicle Log of all the customer.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_43_inspection_log_graph_view.png">
                <img style="max-width: 100%;" src="odoo14_46_vehicle_log_pivot_view.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Into Website, Click on the Book Vehicle Menu to Book the Vehicle from the website.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_48_website_start.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Enter the From Date, To Date, Vehicle CLass Type, Vehicle Type and Fuel Type etc, after that click on Search button to Search the Vehicle, When you click on Search button it will display the list of Available Vehicle between those dates and as per the given parameters.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_49_website_vehicle_search.png">
                <img style="max-width: 100%;" src="odoo14_50_website_vehicle_add.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After that Click on Add to Cart button Add the Vehicle into the Cart and when you click on Add to Cart Button Rental Order will create.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_51_website_vehicle_add.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After that Click on Proceed to Checkout button to confirm the rental order and Make the Payment.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_52_proceed_checkout.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After that Select the Payment Method and Enter the Card Details, click on Pay now button to make the Payment.</li>
                </ul>
                <img style="max-width: 100%;" src="odoo14_53_payment.png">
                <img style="max-width: 100%;" src="odoo14_54_thankyou.png"><br/><br/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container mt64">
    <h3>
        <center>Release Notes</center>
    </h3>
</section>
<section class="oe_container">
    <div class="release_note_container">
        <div class="release_note_details" style="border-bottom: 1px solid #c4c4c4;padding-top: 5px;">
            <div class="release_note_header" style="background: #c4c4c4;height: 47px;line-height: 20px;padding: 5px;border-radius: 3px;font-weight: bold;">
                <span>Release Update - March 09, 2021</span>
                <br/>
                <span>Version - 14.0.1.0</span>
            </div>
            <div class="release_note_body">
                <ul>
                    <li>Initial Release</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="oe_row" style="background-color: #1f567d;width: 49%;float: left;height: 160px;border-radius: 10px;">
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12" style="width:100%">
               <h3 class="text-center" style="color:#FFFFFF; font-size:18px;text-align: left !important;"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
    <div class="oe_row" style="background-color: #1f567d; width: 49%;float: right;height: 160px;border-radius: 10px;">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12" style="width:100%">
                <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
            </div>
            <span style="padding:0 15px; float:left;width:100%;">
                <a style="color: #FFFFFF;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Website:</b> https://acespritech.com/</a>
                <a style="color: #FFFFFF;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Blog:</b> https://acespritech.com/blog/ </a><br/>
                <a href="mailto:info@acespritech.com" style="color: #FFFFFF;font-weight:bold;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Email:</b> info@acespritech.com</a>
                <a style="color: #FFFFFF;font-weight:bold;float: left;width: 50%;font-weight: 400;text-align: left;"><b style="color: yellow;">Skype: </b>acespritech</a><br/>
            </span>
        </div>
    </div>
</section>
