@charset "UTF-8";

.o_list_view .o_color_picker_cell {
    width: 1px;
}

.o_acrux_chat {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}

.o_acrux_chat .o_sidebar_left {
    float: left;
}

.o_acrux_chat .o_sidebar_right {
    float: right;
}

.o_acrux_chat .o_sidebar_right .o_product_list_head { 
    height: 30%;
    overflow: hidden;
    max-height: 30%;
    min-height: 45px;
}

.o_acrux_chat .o_acrux_chat_sidebar {
    height: 100%;
    overflow: auto;
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 0;
}

.o_acrux_chat .o_acrux_chat_content {
    display: inline-flex;
    flex-flow: column nowrap;
    height: 100%;
    position: relative;
    background-color: #e5ddd5;
    padding: 0;
}

.o_acrux_chat .o_acrux_chat_notification {
    height: 40px;
    background-color: #DFA941;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    border-bottom: 1px solid #a8a8a8;
}

.o_acrux_chat .o_acrux_chat_notification .o_acrux_chat_request_permission {
    flex: 1 1 auto;
    padding-left: 1em;
}

.o_acrux_chat .o_acrux_chat_notification > span {
    font-size: 16px;
    line-height: 40px;
}

.o_acrux_chat .o_acrux_chat_notification > span.fa-close {
    margin-right: 10px;
    cursor: pointer;
}

.o_acrux_chat .o_acrux_chat_notification > span {
    font-size: 16px;
    line-height: 40px;
}

.o_acrux_chat .o_acrux_chat_notification > span > a {
    color: rgb(238, 234, 228);
    text-decoration: underline;
    text-decoration-color: initial;
}

.o_acrux_chat .o_acrux_chat_sidebar.o_sidebar_left .o_acrux_group:not(:last-child),
.o_acrux_chat .o_acrux_chat_sidebar.o_sidebar_right .o_acrux_group:not(:last-child) {
    border-bottom: 1px solid;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_sidebar_title {
    display: flex;
    padding: 6px 16px 0 16px;
    height: 3em;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_sidebar_title.o_acrux_status {
    justify-content: space-between;
    padding: 0 6px 0 6px;
    align-items: center;
}
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_sidebar_title.o_acrux_status > * {
    position: relative;
    top: 25%;
}

.o_acrux_chat_sidebar_title .btn-group-toggle .btn{
    padding: 5px 5px;
}

.o_acrux_chat_sidebar_title .btn-group-toggle .btn:not(.active){
    opacity: 0.6;
}

.o_acrux_chat .o_acrux_chat_sidebar > hr {
    border-top-color: rgb(97, 95, 93);
    border-right-color: rgb(97, 95, 93);
    border-bottom-color: rgb(97, 95, 93);
    border-left-color: rgb(97, 95, 93);
}

.o_acrux_chat .o_chat_toolbox {
    padding: 1.1em;
    min-height: 62px;
    order: 3;
    position: relative;
    width: 100%;
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    flex: 0 0 auto;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_main {
    grid-area: core-main;
    min-width: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex: 1 1 auto;
}

.o_acrux_chat .o_chat_toolbox .o_toolbox_file_uploader {
    grid-area: core-footer;
    overflow-x: hidden;
    padding-top: 0.5em;
    max-height: 100px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_container {
    flex: 1 1 auto;
    position: relative;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_container .o_chat_toolbox_comp {
    padding: 10px 10px 0 10px;
    border-radius: 2px 0 0 2px;
    border-right-width: 0;
    position: relative;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_container .o_chat_toolbox_comp .o_chat_toolbox_input {
    display: flex;
    flex-flow: row wrap;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_send {
    border-radius: 0 3px 3px 0;
    padding: 10px 12px;
    border: 1px solid #6c6ba3;
    border-left-width: 0;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_write,
.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_done {
    border-radius: 3px 0px 0px 3px;
    padding: 10px 12px;
    border-right-width: 0;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_write{
    border: 1px solid #5cb85c;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_done{
    border: 1px solid #d9534f;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_container .o_chat_toolbox_comp .o_chat_toolbox_input .o_chat_toolbox_text_field {
    flex: 1 1 50%;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    resize: none;
}

.o_acrux_chat .o_chat_toolbox .o_chat_toolbox_container .o_chat_toolbox_comp .o_chat_toolbox_input .o_chat_tools {
    border: none;
    border-left: 1px solid #e5e5e5;
    padding-left: 5px;
    transform: translateY(-5px);
    flex: 0 1 auto;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_title {
    font-size: 17px;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    background: #f9f9f9;
    padding-left: 1em;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_title .navbar-toggler {
    margin-right: 0.5em;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_title .navbar-toggle,
.o_acrux_chat .o_acrux_chat_content .o_chat_title .navbar-toggle span,
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_sidebar_title .navbar-toggle,
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_sidebar_title .navbar-toggle span {
    border: 1px solid black;
    
}

.o_chat_toolbox .o_chat_toolbox_comp .btn-icon {
    opacity: 0.8;
    border: none;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread {
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    background-image: url(/acrux_chat/static/src/img/fondo0.jpg);
    background-size: cover;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_acrux_date,
.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_acrux_msg_info {
    padding: 5px 9px;
    display: block;
    clear: both;
    text-align: center;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_acrux_date > div,
.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_acrux_msg_info > div {
    line-height: 21px;
    border-radius: 7.5px;
    padding: 5px 12px 6px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    width: fit-content;
    display: inline-block;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_acrux_date > div {
    background-color: #E1F2FB;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_acrux_msg_info > div {
    background-color: #FEF3C5;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message {
    background-color: white;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 7.5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    max-width: 70%;
    width: fit-content;
    font-size: 13px;
    margin: 3px 10px;
    line-height: 19px;
    color: #333333;
    display: block;
    clear: both;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message.o_message_error {
    border: 2px solid red;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message.o_message_error .o_message_error_text {
    float: left;
    position: relative;
    width: 100%;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message .o_chat_space {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message .o_chat_msg_hour {
    float: right;
    margin: -15px 0 -5px 4px;
    position: relative;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    color: #8E8E8E;
    vertical-align: top;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_msg_content .o_acrux_location_img {
    height: 150px;
    width: 250px;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_msg_content .o_acrux_location_img > a > img {
    height: 100%;
    width: 100%;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message_out {
    background-color: #dcf8c6;
    float: right;
}

.o_acrux_chat .o_acrux_chat_content .o_chat_thread .o_chat_message_in {
    float: left;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items {
    height: 70%;
    overflow: auto;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item:hover {
    background-color: #b8b8b8;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item.active {
    background-color: #dcf8c6;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item {
    display: flex;
    width: 100%;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item .acrux_image_perfil {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item .acrux_image_perfil > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item .acrux_chat_conversation_info {
    padding-left: 5px;
    overflow: hidden;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_chat_item .o_conversation_name {
    flex: 1;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin-right: 5px;
}

.o_acrux_chat .o_acrux_chat_sidebar .product_search,
.o_acrux_chat .o_acrux_chat_sidebar .conv_search {
    height: 2.4em;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 25em;
    width: 11em;
    display: inline-block;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_parent_product_search,
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_chat_conv_search {
    display: flex;
    align-items: center;
    width: 100%;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_parent_product_search .form-group,
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_chat_conv_search .form-group {
    align-items: center;
    display: inline-flex;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_parent_product_search .form-group > label,
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_chat_conv_search .form-group > label {
    margin-bottom: 0;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_chat_conv_search > .form-group:not(:first-child) {
    padding-left: 1em;
}

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_product_items,
.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_conv_items {
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5px 5px 5px 5px;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 16px;
}

.o_acrux_chat .o_product_record,
.o_acrux_chat .o_conv_record,
.o_action .o_product_record {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-color: #d9d7d7;
    border: 1px solid #e5e5e5;
    background-color: white;
    flex: 1 1 auto;
    width: 250px;
    margin-bottom: 4px;
    color: black;
}

.o_acrux_chat .o_conv_record {
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.1);
}

.o_acrux_chat .o_conv_record:active {
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.7);
}

.o_acrux_chat .o_conv_record:hover {
    border: 1px solid rgba(0,0,0,0.3);
}

.o_acrux_chat .o_product_record .o_product_image,
.o_action .o_product_record .o_product_image,
.o_acrux_chat .o_conv_record .o_conv_image {
    text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
}

.o_acrux_chat .o_product_record .o_product_image img,
.o_action .o_product_record .o_product_image img,
.o_acrux_chat .o_conv_record .o_conv_image img {
    max-width: 100%;
    max-height: 100%;
    margin: 3px 0 0 3px;
}

.o_acrux_chat .o_conv_record .o_conv_image img{
    border-radius: 50%;
}

.o_acrux_chat .o_product_record .oe_product_details,
.o_action .o_product_record .oe_product_details,
.o_acrux_chat .o_conv_record .o_conv_details {
    padding: 6px 6px 0 60px;
    width: 100%;
}

.o_acrux_chat .o_product_record .oe_product_details .o_product_name,
.o_action .o_product_record .oe_product_details .o_product_name,
.o_acrux_chat .o_conv_record .o_conv_details .o_conv_name {
    color: inherit;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.o_acrux_chat .o_product_record .oe_product_details .o_product_name span,
.o_action .o_product_record .oe_product_details .o_product_name span,
.o_acrux_chat .o_conv_record .o_conv_details .o_conv_name span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.o_acrux_chat .o_product_record .oe_product_details ul,
.o_action .o_product_record .oe_product_details ul,
.o_acrux_chat .o_conv_record .o_conv_details ul {
    margin-bottom: 2.5px;
    padding-left: 0;
    list-style: none;
    font-size: 12px;
}

.drop-active {
    border: 5px solid #ebf201;
    background: #f1f2bb;
    font-weight: normal;
    color: #2b2b2b;
}

.drop-hover {
    border: 5px solid #00dc70;
    background: #94ecc1;
    font-weight: normal;
    color: #2b2b2b;
}

.o_acrux_chat table#default_answers tr th,
.o_acrux_chat table#default_answers tr td {
    padding: 5px;
}

.o_acrux_chat .o_acrux_group > .o_notebook {
    height: calc(100% - 3em);
}
.o_acrux_chat .o_acrux_group > .o_notebook > .main-tabs {
    height: 3em;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content {
    height: calc(100% - 3em);
    border-bottom: 0px;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_default_answer,
.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_init_chat {
    height: 100%;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_default_answer .o_group,
.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_init_chat .o_group {
    padding: 3px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.o_acrux_chat .o_number_new_msg {
    background: #00A09D;
    color: white;
    vertical-align: super;
    font-size: 0.76em;
}

.o_acrux_chat .o_chat_message .o_attachment {
    min-width: 55px;
}

.o_acrux_chat .o_chat_toolbox_container .o_attachment {
    min-width: 150px;
}

.o_acrux_chat .o_chat_toolbox_container .o_attachments {
    display: inline-grid;
}
