
.loyalty-points{
    margin-left: 20px;
    float: left;
    padding: 10px;
    max-width: 216px;
    text-align: left !important;
    color: black !important;
}
.pos .order .summary .loyalty-points.negative{
    color: #e04040;
    background: white;
}
.pos .order .summary .loyalty-points-total {
    text-align: left !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-weight: 400;
}

.loyalty .subtitle{
    text-align: center;
}

.loyalty .title {
    font-size: 1vw;
    text-align: left;
}

.pos .summary .loyalty-points-total, .loyalty-points-title{
    border: 1px solid #e8e8e8;
    padding: 5px;
}
.pos .loyalty-border{
    display: flex;
}