navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    position: relative;
    /*z-index: 500;*/
    float: left;
}

.navigation ul li {
    float: left;
    min-height: 0.05em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
}

.navigation ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 520;
    width: 13em;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.navigation ul ul li {
    float: none;
}

.navigation ul ul ul {
    top: 0;
    right: 0;
}

.navigation ul li:hover > ul {
    visibility: visible;
}

.navigation ul ul {
    top: 0;
    left: 99%;
}

.navigation ul li {
    float: none;
}

.navigation ul ul {
    margin-top: 0.05em;
}

.navigation {
    zoom: 1;
    max-height: 52px;
    border-radius: 3px;
    margin: 5px;
    height: 44px;
    width: 10%;
    min-width: 140px;
    margin-left: 10px;
    color: black;
    background: #fff;
    border: solid 1px rgb(209, 209, 209);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navigation .notification {
    float: right;
    margin-right: 20px;
}
.navigation:before {
    content: '';
    display: block;
}

.navigation:after {
    content: '';
    display: table;
    clear: both;
}

.navigation a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    line-height: 25px;
    font-size: 13px
}

.navigation > ul > li > a {
    color: black;
    font-weight: 900;
    text-align: center;
    min-width: 30px;
}

.navigation > ul > li > a:hover {
    color: black;
}

.navigation > ul > li a:hover,
.navigation > ul > li:hover a {
    background: #e04040;
    color: black;
    border: solid 1px rgb(209, 209, 209);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.navigation li {
    position: relative;
}

.navigation ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}

.navigation ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/*.navigation ul ul {*/
/*    border: 1px solid #6EC89B;*/
/*}*/

.navigation ul ul a {
    color: #ffffff;
}

.navigation ul ul a:hover {
    color: #ffffff;
}

.navigation ul ul li {
    border-bottom: dotted 1px gray;
}

.navigation ul ul li:hover > a {
    background: #e04040;
    color: #fff;
}

.navigation.align-right > ul > li > a {
    border-left: dotted 1px gray;
    border-right: none;
}

.navigation.align-right {
    float: right;
}

.navigation.align-right li {
    text-align: right;
}

.navigation.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after {
    content: none;
}

.navigation.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}

.navigation.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
