.table_info_popover{
	width: 170px;
}
.table_info_popover.bs-popover-bottom > .arrow, .table_info_popover.bs-popover-auto[x-placement^="bottom"] > .arrow {
    top: calc((0.5rem + 1px) * -1);
}
.table_info_popover.popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.table_info_popover.popover .arrow::before, .table_info_popover.popover .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.table_info_popover.bs-popover-top, .table_info_popover.bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}

.table_info_popover.bs-popover-top > .arrow, .table_info_popover.bs-popover-auto[x-placement^="top"] > .arrow {
  bottom: calc((0.5rem + 1px) * -1);
}

.table_info_popover.bs-popover-top > .arrow::before, .table_info_popover.bs-popover-auto[x-placement^="top"] > .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.table_info_popover.bs-popover-top > .arrow::after, .table_info_popover.bs-popover-auto[x-placement^="top"] > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: inherit;
}

.table_info_popover.bs-popover-right, .table_info_popover.bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}

.table_info_popover.bs-popover-right > .arrow, .table_info_popover.bs-popover-auto[x-placement^="right"] > .arrow {
  left: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.table_info_popover.bs-popover-right > .arrow::before, .table_info_popover.bs-popover-auto[x-placement^="right"] > .arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.table_info_popover.bs-popover-right > .arrow::after, .table_info_popover.bs-popover-auto[x-placement^="right"] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: inherit;
}

.table_info_popover.bs-popover-bottom, .table_info_popover.bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}

.table_info_popover.bs-popover-bottom > .arrow, .table_info_popover.bs-popover-auto[x-placement^="bottom"] > .arrow {
  top: calc((0.5rem + 1px) * -1);
}

.table_info_popover.bs-popover-bottom > .arrow::before, .table_info_popover.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.table_info_popover.bs-popover-bottom > .arrow::after, .table_info_popover.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: inherit;
}

.table_info_popover.bs-popover-bottom .popover-header::before, .table_info_popover.bs-popover-auto[x-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.table_info_popover.bs-popover-left, .table_info_popover.bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}

.table_info_popover.bs-popover-left > .arrow, .table_info_popover.bs-popover-auto[x-placement^="left"] > .arrow {
  right: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.table_info_popover.bs-popover-left > .arrow::before, .table_info_popover.bs-popover-auto[x-placement^="left"] > .arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.table_info_popover.bs-popover-left > .arrow::after, .table_info_popover.bs-popover-auto[x-placement^="left"] > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: inherit;
}
.table_info_popover .table_popup_cl{
	border: 8px solid;
    border-top: 13px solid;
    border-bottom: 13px solid;
    padding: 8px;
    padding-top: 36px;
    font-size: 18px;
}
.table_info_popover .table_in_list{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.table_info_popover span.table_info_name{
	font-weight: bold;
    color: white;
    padding: 6px 8px;
    background: black;
    border-radius: 5px;
    position: absolute;
    top: 0px;
}