.oe_website_rating_team .oe_rate{
    clear: both;
}
.oe_website_rating_team .oe_rate img {
    margin-right: 6px;
}

.oe_website_rating_team .thumbnail{
    height: 355px;
}

html .o_web_client > .o_action_manager{
    overflow: auto !important;
}


