/ Start: Default CSS /
a:hover {
text-decoration: none;
}
input:focus, button:focus, select:focus, .custom-select:focus {
outline: none;
box-shadow: none;

}
/*End: Default CSS */
.oe_background_grey.o_helpdesk_kanban {
	background-color: #f3f6f9;
}

.ticket-dashboard {
background-color: #f3f6f9;
}
.ticket-title {
	font-size: 32px;
}
.ticket-filter select.custom-select {
background: #fff url("https://i.ibb.co/bdX5cfb/baseline-arrow-drop-down-black-18dp.png") no-repeat right .59rem;
}
.mb-30 {
margin-bottom: 30px;
}
.open-tickets {
background: #23bdb8;
background: -moz-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
background: -webkit-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23bdb8', endColorstr='#43e794',GradientType=1 );
overflow: hidden;
}
.pending-tickets{
background: #f48665;
background: -moz-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
background: -webkit-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48665', endColorstr='#fda23f',GradientType=1 );
overflow: hidden;
}
.close-tickets {
background: #f0466b;
background: -moz-linear-gradient(-45deg, #f0466b 0%, #ef6784 100%);
background: -webkit-linear-gradient(-45deg, #f0466b 0%, #ef6784 100%);
background: linear-gradient(135deg, #f0466b 0%, #ef6784 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0466b', endColorstr='#ef6784',GradientType=1 );
overflow: hidden;
}
.success-tickets {
background: #e36cd9;
background: -moz-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
background: -webkit-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
background: linear-gradient(135deg, #e36cd9 0%, #fe60ae 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e36cd9', endColorstr='#fe60ae',GradientType=1 );
overflow: hidden;
}
.overdue-tickets {
background: #fff;
/*background: -moz-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
background: -webkit-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a56ff', endColorstr='#e36cd9',GradientType=1 );*/
overflow: hidden;
}
.priority-tickets {
background: #fff;
/*background: -moz-linear-gradient(-45deg, #2fa9e0 0%, #73c9ef 100%);
background: -webkit-linear-gradient(-45deg, #2fa9e0 0%, #73c9ef 100%);
background: linear-gradient(135deg, #2fa9e0 0%, #73c9ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa9e0', endColorstr='#73c9ef',GradientType=1 );*/
overflow: hidden;
}
.sourcewise-tickets {
background: #ff5959;
background: -moz-linear-gradient(-45deg, #ff5959 0%, #ff7272 100%);
background: -webkit-linear-gradient(-45deg, #ff5959 0%, #ff7272 100%);
background: linear-gradient(135deg, #ff5959 0%, #ff7272 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5959', endColorstr='#ff7272',GradientType=1 );
overflow: hidden;
}
.ticket-cards .card .card-body {
background-color: inherit !important;
}
.ticket-cards .card .card-body:after, .ticket-cards .card .card-body:before {
content: "";
position: absolute;
background: rgba(255,255,255,0.2);
border-radius: 50%;
right: -50px;
}
.ticket-cards .card .card-body:before {
width: 130px;
height: 130px;
bottom: -50px;
}
.ticket-cards .card .card-body:after {
width: 85px;
height: 85px;
bottom: 50px;
}
.overdue-tickets.card .card-body:after, .overdue-tickets.card .card-body:before, .priority-tickets.card .card-body:after, .priority-tickets.card .card-body:before {
    background: rgba(169, 169, 169, 0.3);
}
.ticket-cards .card {
-webkit-transition: all 0.5s;
transition: all 0.5s;
}
.ticket-cards .card:hover {
cursor: pointer;
    box-shadow: 0 14px 20px rgb(0 0 0 / 15%), 0 4px 5px rgb(144 144 144 / 22%);
}
.badges-col {
z-index: 9;
}
.priority-count {
width: 64px;
height: 64px;
}
.priority-count .count {
top: 50%;
transform: translateY(-50%);
right: 0;
left: 0;
margin: 0 auto;
}
.bg-high {
background-color: #ff5959;
}
.bg-urgent {
background-color: #f0476c;
}
.bg-medium {
background-color: #f39e0f;
}

.o_form_view {
background-color: #F6F8F9;
}
.o_dashboard .oe_dashboard_column:after {
content: "";
display: table;
clear: both;
}
.o_dashboard .oe_dashboard .oe_action {
margin: 0 0 30px 0 !important;
float: left;
width: 50%;
border: none !important;
background-color:transparent !important;
padding: 0 15px;
}
.o_dashboard .oe_dashboard .oe_action .oe_header{
	background-color: #7c7bad;
	color: #fff;
}
.o_dashboard .oe_dashboard .oe_action .oe_header .o_dashboard .oe_dashboard .oe_action .oe_content {
background-color: #fff;
margin: 0 15px !important;
}
.o_dashboard .oe_dashboard_column.ui-sortable {
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.o_dashboard .oe_dashboard .oe_action .oe_content {
	padding: 12px;
	background-color: #fff;
}
.o_dashboard .oe_dashboard .oe_action .oe_content .o_graph_canvas_container {
	padding-top: 0;
}




button.button.oe_dashboard_link_change_layout.btn.btn-secondary {
display: none;
}	



/*New Csss Coad Start*/
.appointment_card1{
    background-image: linear-gradient(
45deg, #cf3f3f 0%, #f12f2f 100%);
}
.appointment_card2{
    background-image: linear-gradient(
45deg, #4e5aa4 0%, #263593 100%);
}
.appointment_card3{
    background-image: linear-gradient(
45deg, #56953e 0%, #276f24 100%);
}
.appointment_card4{
    background-image: linear-gradient(
45deg, #ea791c 0%, #da650a 100%);
}
.appointment_cards .opacity_icon{
	font-size: 64px;
    color: #fff;
    top: 50%;
    right: 20px;
    opacity: 0.2;
    max-width: 80px;
    transform: translateY(-50%) scale(1);
    transition: all 0.35s ease-in-out;
}
.appointment_cards .card_number_text{
	font-size: 3rem;
}
.appointment_cards .card_up_title {
    font-size: 1.5rem;
}
.appointment_cards .card_main_title {
    font-size: 2rem;
}
.appointment_cards:hover {
    box-shadow: 0 10px 15px rgb(0 0 0 / 50%);
    transform: translateY(-2px);
}
.helpdesk-top-cous{
	font-size: 2rem;
}
.border-coustome{
	border: 1px solid #dee2e6 !important;
}
.helpdesk-cous-text{
	padding: 5px 0;
	background: #e6eaed;
	border-radius: 3px;
}
.appointment_cards{
	    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}
.mb-30 {
    margin-bottom: 15px !important;
}
.helpdesk-count-text{
	font-size: 12px;
}
.helpdesk-cou-p{
	padding: 10px !important;
}
/*Filter Tickets*/
.box-shadow-cou{
	box-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
	border: 1px solid #27c2b4;
	margin-top: 15px;
}
.coustome-header-color tbody tr th{
	background-color: #deeaff;
	border-right: 1px solid #dbd3d3;
}
.top-header-cou{
	background: #27c2b4;
    padding: 3px 5px 3px 9px;
    color: white;
}
.top-header-cou strong{
	font-size: 18px;
}
.card-cou-p{
	padding: 10px !important;
}

/*Filter Tickets*/
/*New Csss Coad End*/

/*media quary*/
@media only screen and (max-width: 1024px) {
	.appointment_cards .card_main_title {
    font-size: 22px;
}
}
/*media quary*/

