    <div id="wrap" class="oe_structure oe_empty">
      <section class="pb32 pt0">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt0 pb8" style="text-align: center;">
              <h2 class="oe_slogan" style="margin-top: 32px; margin-bottom: 32px;">
                <b style="font-size: 36px;">
                  <font class="text-beta" style="font-size: 62px;">POS Product Sales by Month Report<br/></font>
                  <font class="text-beta" style="font-size: 62px;">in MS Excel format (XLSX)</font>
                  <br/>
                </b>
              </h2>
              <h2 class="oe_slogan" style="margin-top: 32px; margin-bottom: 32px;">
                <span style="font-size: 36px;">
                </span>
              </h2>
            </div>
          </div>
        </div>
      </section>

      <section class="oe_container oe_separator"/>
      <h3 class="alert text-center" style="font-family: Roboto; color: #875A7B; font-size: 1.625rem; border-radius: 10px; background: rgb(240, 244, 247);">
        <font style="font-size: 24px;">REPORT CONTENT</font>
      </h3>
      <section class="s_picture bg-200 pb24 pt0">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 pb32 pt24">
              <div style="text-align: left;"/>
              <ul style="">
                <li class="mb8" style="list-style-type: square;">
                  <span style="font-size: 18px;">
                    <b>Report Parameters: Start Date, End Date, Partners.</b>
                  </span>
                </li>
                <li class="mb8" style="list-style-type: square;">
                  <span style="font-size: 18px;">
                    <b>Header Fields: Start Date, End Date, Print Date, The User who printed the report.<br/></b>
                  </span>
                </li>
                <li class="mb8" style="list-style-type: square;">
                  <span style="font-size: 18px;">
                    <span style="font-weight: bolder;">
                      <b>Document Body:</b>
                    </span>
                  </span>
                  <br/>
                  <span style="font-size: 18px;">
                    <span style="font-weight: bolder;">
                      &#160;&#160;&#160;&#160;<b>Fields: Month, Order Ref, Order Date,  Customer, Product, Quantity, Unit Price, Subtotal</b>
                    </span>
                  </span>
                  <br/>
                  <span style="font-size: 18px;">
                    <span style="font-weight: bolder;">
                      &#160;&#160;&#160;&#160;<b>Group By: Month</b>
                    </span>
                  </span>
                  <br/>
                  <span style="font-size: 18px; font-weight: bolder;">
                    &#160;&#160;&#160;&#160;<b>Aggregate: Sum Quantity, Sum Subtotal</b>
                  </span>
                  <br/>
                  <span style="font-size: 18px; font-weight: bolder;">
                    &#160;&#160;&#160;&#160;<b>Sort: Ascending Product, Ascending Order Ref</b>
                  </span>
                  <br/>
                </li>
                <li class="mb8" style="list-style-type: square;">
                  <b style="font-size: 18px;">Report footer fields: Total Quantity, Total Subtotal</b>
                  <br/>
                </li>
                <li class="mb8" style="list-style-type: square;">
                  <span style="font-size: 18px;">
                    <b>Menu Full Path: Point of Sale/Reporting/Product Sales by Month (XLSX)</b>
                  </span>
                </li>
              </ul>
            </div>
            <div class="pb24 col-lg-12">
              <figure class="figure" style="text-align: center;">
                <img src="Report_POS.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo • A picture with a caption" data-original-title="" title="" aria-describedby="tooltip735291"/>
<!--                <a class="btn mt8 ml8" title="Demo" style="background-color: rgb(40, 117, 170); font-size: 20px; font-weight: bold; border-radius: 7px; color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="Report_POS_19-12-2019.xlsx"><span class="o_ripple" style="height: 178px; width: 178px; top: -73px; left: 13.4531px;"/> View Example File
                                </a>
-->				
              </figure>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="s_text_block pb24 pt24" data-name="Text block">
        <div class="oe_row oe_spaced">

          <h3 class="oe_span12 text-center">
		THIS MODULE REQUIRES THE INSTALLATION OF A MODULE:
          </h3>
            <h3 class="oe_span12 text-center">
              <font size="5" face="Arial"><b><a href="https://apps.odoo.com/apps/modules/14.0/report_excel/" target="_blank" data-original-title="" title="" aria-describedby="tooltip506481">"REPORT DESIGNER (XLSX, XLSM)"</a></b></font>
            </h3>

<!--	  
          <section class="oe_container oe_separator"/>
          <h3 class="oe_span12 text-center">
            <font size="5" face="Arial">
              <b style="color: red;">ATTENTION! </b>
              <br/>
            </font>
             <font color="#ff0000" face="Arial" size="5"> 
               <b>THIS MODULE DOES NOT STAND ALONE! <br/>IT CONTAINS THE REPORT CONFIGURATION FOR THE <br/>"REPORT DESIGNER (XLSX, XLSM)" MODULE.</b> 
             </font> 
          </h3>
          <h3 class="oe_span12 text-center">
            <font color="#ff0000" face="Arial" size="5">
              <b>THIS MODULE REQUIRES AN INSTALLED MODULE:</b>
            </font>
            <b style="color: rgb(255, 0, 0); font-family: Arial; font-size: x-large;"/>
          </h3>
            <h3 class="oe_span12 text-center">
              <font size="5" face="Arial"><b><a href="https://apps.odoo.com/apps/modules/14.0/report_excel/" target="_blank" data-original-title="" title="" aria-describedby="tooltip506481">"REPORT DESIGNER (XLSX, XLSM)"</a></b></font>
            </h3>
-->	    

	</div>
      </section>

      <div class="s_hr text-left pt32 pb32">
        <hr class="s_hr_1px s_hr_solid border-600 w-100 mx-auto"/>
      </div>
<!--       <section class="s_text_block pt0 pb0"> -->
<!--         <div class="container"> -->
<!--           <div class="row"> -->
<!--             <div class="col-lg-12 pt0 pb0"> -->
<!--               <h2 class="oe_slogan" style="text-align:  center"> -->
<!--                <strong>More Report Examples you can look at <br/><a class="btn ml8 mt8" title="Demo" style="background-color: rgb(40, 117, 170); font-size: 20px; font-weight: bold; border-radius: 7px; color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="http://68.183.4.193:8069" target="_blank"><span class="o_ripple" style="height: 178px; width: 178px; top: -73px; left: 13.4531px;"/> Demo Live Preview</a></strong> -->
<!--                 <strong>More Report Examples you can look at Demo Live Preview</strong> -->
<!--                 <br/> -->
<!--               </h2> -->
<!--             </div> -->
<!--             <div style="text-align:  left" class="pb0 pt8"> -->
<!--               <h4 class="oe_mt32"> N.B. To create or edit a report configuration, you must log in as Administrator and Activate the Developer Mode!</h4> -->
<!--               <h4 class="oe_mt32" style="color: rgb(33, 37, 41);">Reports Configuration Menu:  Settings -> Technical -> Reporting -> Reports Excel</h4> -->
<!--               <h4 class="oe_mt32"><br/> Administrator: <br/> Login: admin <br/>Password: admin<br/><br/> Demo User:<br/> Login: demo <br/>Password: demo<br/></h4> -->
<!--               <h4 class="oe_mt32"> You can view a step-by-step guide to creating reports on the module page on the "QUICK START GUIDE" tab:</h4> -->
<!--               <h3 class="oe_mt32 text-center"><font size="5" face="Arial"><b><a href="https://apps.odoo.com/apps/modules/14.0/report_excel/" target="_blank" data-original-title="" title="" aria-describedby="tooltip506481">"REPORT DESIGNER (XLSX, XLSM)"</a></b></font></h3> -->
<!--             </div> -->
<!--           </div> -->
<!--           <section class="oe_container oe_separator"/> -->
<!--         </div> -->
<!--       </section> -->
      <section class="s_three_columns bg-200 pt32 pb32">
        <div class="container">
          <h2 class="display-4 mt48" style="text-align:  center">
            <font style="font-size: 36px;">SUGGESTED PRODUCTS</font>
          </h2>
          <div class="row d-flex align-items-stretch">
            <div class="s_col_no_bgcolor pt16 pb16   col-lg-4">
              <a href="https://apps.odoo.com/apps/modules/14.0/report_excel/" target="_blank">
                <div class="card bg-white" data-original-title="" title="" aria-describedby="tooltip687690">
                  <img class="card-img-top" src="banner_re.png" alt="Odoo - Sample 1 for three columns" data-original-title="" title="" aria-describedby="tooltip292551"/>
                  <div class="card-body" data-original-title="" title="" aria-describedby="tooltip360452">
                    <h3 class="card-title" data-original-title="" title="" aria-describedby="tooltip538825">Report Designer (XLSX, XLSM)</h3>
                    <p class="card-text" data-original-title="" title="" aria-describedby="tooltip140627">This module provides the functionality for Create and Print various Financial and Analytical reports in MS Excel format (XLSX, XLSM).</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="s_col_no_bgcolor pt16 pb16   col-lg-4">
              <a href="https://apps.odoo.com/apps/modules/browse?order=Lowest+Price&amp;author=GRIMMETTE" target="_blank">
                <div class="card bg-white">
                  <img class="card-img-top" src="banner_rep.png" alt="Odoo - Sample 2 for three columns" data-original-title="" title="" aria-describedby="tooltip539818"/>
                  <div class="card-body">
                    <h3 class="card-title" data-original-title="" title="" aria-describedby="tooltip676948">Reports in MS Excel format (XLSX, XLSM)</h3>
                    <p class="card-text" data-original-title="" title="" aria-describedby="tooltip616800">Reports for "Report Designer (XLSX, XLSM)" module.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="s_col_no_bgcolor pt16 pb16   col-lg-4">
              <a href="https://apps.odoo.com/apps/modules/13.0/pricelist_excel/" target="_blank">
                <div class="card bg-white">
                  <img class="card-img-top" src="pricelists.png" alt="Odoo - Sample 2 for three columns" data-original-title="" title="" aria-describedby="tooltip539818"/>
                  <div class="card-body" data-original-title="" title="" aria-describedby="tooltip292685">
                    <h3 class="card-title" data-original-title="" title="" aria-describedby="tooltip538825" style="display: inline !important;">Professional Pricelists Excel (XLSX,XLSM)</h3>
                    <p class="card-text" data-original-title="" title="" aria-describedby="tooltip324502">This module provides the functionality for generating Pricelists in MS Excel format (XLSX, XLSM).</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="s_text_block pb0 pt32">
        <div class="container">
          <h2 class="oe_slogan" style="text-align: center; ">Contact / Support</h2>
          <div class="oe_span6" style="width: 100%; text-align: center;">
            <h3 class="oe_mt32"> If you need any help or want more additional features,<br/> you may contact us through e-mail at <br/> Email:<a href="mailto:info@grimmette.com" target="new">info@grimmette.com</a><br/></h3>
          </div>
        </div>
      </section>
      <section class="oe_container oe_separator"/>
    </div>
