<section class="oe_container" style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans; font-weight: normal; max-width: 900px; margin: auto;">
    <div class="row">
        <div class="col-md-12 col-sm-12" style="color:#343a40; border-bottom:1px solid #e4e4e4; padding: 0px;">
            <div class="row">
                <div class="col-md-4 text-center" style="margin-top: 38px;">
                    <img src="acruxlab_50x180.png" title="AcruxLab-logo" alt="AcruxLab-logo">
                </div>
                <div class="col-md-8" style="padding: 16px;">
                    <p style="margin: 22px 0 0 16px;">
                        <span style="font-size: 18px;">ChatRoom</span><br/>
                        <span style="font-size: 14px;">Base module</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 mt0 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-success mb0 text-center" style="padding: 16px; display: flow-root;">
                  <a class="btn btn-lg btn-success" href="https://www.odoo.com/apps/modules/browse?author=AcruxLab&search=ChatRoom+2.0">
                      Free download version, click here
                  </a>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <h2 class="oe_slogan mb16" style="color:#875A7B">Connector <b>base module</b></h2>
            <h4 class="oe_slogan mt0">It only contains the communication structure</h4>
        </div>

        <div class="col-md-12 col-sm-12 mt32 mb0" style="padding:8px; font-size:18px; line-height: initial;">
            <div class="container alert alert-danger mb0" style="padding: 16px; display: flow-root;">
                <div class="pull-left">
                  <b>To use this module you must to buy a connector</b><br/>
                    <span style="font-size: 90%;">Chat-Api and GupShup connector available</span>
                </div>
                <div class="pull-right">
                  <a class="btn-lg btn-danger" style="vertical-align: middle; display: inline-block; font-size: 90%; color: #f1ffeb;"
                    href="https://www.odoo.com/apps/modules/browse?author=AcruxLab&search=ChatRoom" target="_blank">
                      See Connectors
                  </a>
                </div>
            </div>
        </div>

    </div>
</section>
