.o_mrp_mps, .o_mrp_mps_wizard {
    background-color: white;

    button {
        &.o_mrp_mps_procurement {
            background-color: $gray-200;
            border: none;
        }
        &.o_no_padding {
            padding: 0 0 0 0;
        }
        &.o_5_line_height {
            line-height: .5em;
        }
    }

    input {
        border-style: groove;
        height: 100%;
        padding-top: 0;
    }

    select.o_mrp_mps_warehouse {
        border-radius: 10px;
        padding: 5px 10px;
        text-transform: uppercase;
        margin-left: 10px;
        width: auto;
    }

    table {
        thead th {
            @include o-position-sticky($top: 0px, $left: 0px);
            z-index: 10;
            border-top: none;
            &:first-child {
                z-index: 11;
            }
        }
        tbody th {
            @include o-position-sticky($left: 0px);
            &:first-child {
                z-index: 1;
                background-color: $gray-200;
            }
        }
        th {
            vertical-align: middle;
            min-width: 110px;
        }
        .o_mps_inline {
            display: inline-flex;
            max-width: 38%;
        }
        .o_mps_select_inline {
            display: inline-flex;
            width: auto;
            background-color: transparent;
            border: 0;
        }
        .o_mps_input_inline {
            display: inline-flex;
            max-width: 70%;
            margin-left: auto;
        }
        .o_mps_input_inline_full {
            display: inline-flex;
            max-width: 100%;
            margin-left: auto;
        }
        .o_mrp_mps_reset {
            margin: auto;
            margin-left: 0;
        }
    }

    tr {
        line-height: 1em;
        min-height: 1em;
        height: 1em;
    }

    .btn {
        line-height: 1em;
    }

    .form-control {
        padding: 0em 0em;
        color: $black;
    }

    .o_input {
        line-height: 1em;
    }

    .o_mrp_mps_hover {
        background-color: #d6d8d9;

        &.alert-success {
            background-color: darken(#dff0d8, 10%);
        }

        &.alert-warning {
            background-color: darken(#fcf8e3, 10%);
        }
    }

}